<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Thanh toán</div></div>
<div class="block_center" style="min-height: 1470px; background-color: #ffffff">
    <div style="padding: 45px">
        
        <div class="ColRight">
            <h3 class="SUPPORT_TITLE">Thanh toán</h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
		<div class="BOX_DETAIL_CS">    	
      <ol style="text-align: justify;" class="padd_list_priva">
        <li>Hướng dẫn thanh toán qua Visa, MasterCard
            <p>
            	Với thẻ mang thương hiệu <b>Visa</b> hoặc <b>MasterCard</b>, Quý Khách hoàn toàn có thể thanh toán trực tuyến bất cứ lúc nào. Toàn bộ thông tin thẻ được xử lý qua giao thức SSL, đảm bảo tính toàn vẹn và an ninh dữ liệu, đảm bảo không lưu giữ thông tin thẻ của Quý Khách.
            </p>
            <p>
            	<b style="color:#3182B5;">Bước 1:</b> Ở phần "Thông tin thanh toán", Quý Khách chọn biểu tượng thẻ Visa hoặc MasterCard
            </p>
            <p>Nhấn nút <b>"Bước kế tiếp"</b> để chuyển sang bước tiếp theo.</p>
            <img src="http://shop-static.123.vn/images/v3/thanhtoan/master_0.PNG">
            <p>
            	<b style="color:#3182B5;">Bước 2:</b> <b>Chọn loại thẻ.</b>
            </p>
            <p>
            	Giao diện cổng thanh toán xuất hiện để Quý Khách chọn loại thẻ thanh toán.
            </p>
            <p>
            	<b>Lưu ý:</b>  địa chỉ URL (đường link của website) lúc này bắt đầu bằng <b>https://123pay.vn/</b>. Tuyệt đối không nên nhập thông tin nếu không bắt đầu từ bước 1 để tránh việc các website giả mạo để đánh cắp thông tin thẻ trên mạng.
            </p>
            <img src="http://shop-static.123.vn/images/v3/thanhtoan/master_1.PNG">
             <p>
            	<b style="color:#3182B5;">Bước 3:</b> <b>Nhập thông tin thanh toán.</b>
            	</p><p style="padding-left: 20px;">
            		- Số thẻ <i>(gồm 16 số in trên thẻ, không nhập khoảng trắng)</i>
	        		<br>
	        		- Ngày hết hạn <i>(in trên thẻ)</i>
	        		<br>
	        		- CVV, CVC <i>(mã số bảo mật, gồm 3 chữ số in dạng nghiêng ngược trên mặt sau của thẻ)</i>
            	</p>           	            	            		            	       		
            <p></p>
            <p>Nhấn nút <b>"Pay"</b> để thanh toán.</p>
            <img src="http://shop-static.123.vn/images/v3/thanhtoan/master_2.PNG">
            <p>Nếu thẻ của Quý Khách đã tham gia chương trình Verified by Visa hoặc MasterCard Secure Code, J-Secure của Ngân hàng phát hành, Quý Khách sẽ được yêu cầu nhập thêm Mật khẩu giao dịch trực tuyến. </p>
            <p>Trong trường hợp Quý Khách quên hoặc không biết Mật khẩu này, vui lòng liên hệ với Ngân hàng phát hành thẻ của Quý Khách</p>
            <p>Nếu không cần nhập thêm mật khẩu, Quý Khách đã hoàn thành quá trình thanh toán.</p>
            <p>
            	<b style="color:#3182B5;">Bước 4:</b> <b>Hoàn thành việc thanh toán.</b>
            </p>
            <p>Hệ thống thông báo hoàn thành quá trình thanh toán bằng thẻ tín dụng quốc tế Visa hoặc Master.</p>
        </li>        
      </ol>
    </div>
	</div>
            <br/>
            <br/>
            <br/>
            <img src="<?=STATIC_DOMAIN?>/images/thoitrang3_1.jpg" style="padding-left: 40px"/>
            
</div>
        
    </div>    
</div>