<link type="text/css" rel="stylesheet" media="screen" href="<?= STATIC_DOMAIN ?>/css/detail_base-p9mWZ8C7.css"/>
<link type="text/css" rel="stylesheet" media="screen" href="<?= STATIC_DOMAIN ?>/css/deal_page-KPaRSj8S.css"/>
<?php
$deal = $this->deal;
$save = $deal['old_price'] - $deal['new_price'];
$perSave = ($save / $deal['old_price']) * 100;
?>
<div id="main" class="clearfix">
    <div id="content">



        <div class="ajax_spinner"></div>
        <div data-bhc-path="FeaturedDeal|deal:bulls-on-wall-street-12" data-bhw-path="FeaturedDeal" data-bhw="FeaturedDeal" data-bhc="deal:bulls-on-wall-street-12" class="deals hproduct multideal ">

            <div itemtype="schema.org/Offer" itemscope="itemscope" itemprop="offers" class="clearfix deal with_tags">
                <div class="deal_title">
                    <h2>
                        <a itemprop="itemOffered" href="./Bulls On Wall Street Deal of the Day   Groupon St John's_files/Bulls On Wall Street Deal of the Day   Groupon St John's.html"><?= $deal['short_title'] . " - " . $deal['type'] ?>
                        </a></h2>
                    <h3 class="subtitle">
                        <span class="title descriptor"><?= $deal[title] ?></span>
                    </h3>
                </div>
                <div data-geg="false" class="primary">
                    <div id="price_tag" class="multideal">
                        <div id="price_tag_inner">
                            <div id="amount"><span class="price_label">Giá</span><span itemprop="price"><?= Common::numberFormat($deal['new_price']) ?></span></div>
                            <a data-bhw-path="FeaturedDeal|deal:bulls-on-wall-street-12|BuyButtonMulti" id="buy_btn_campaign" data-bhw="BuyButtonMulti" class="buy_btn button_style_experiment control multideal" href="<?=BASE_URL?>/don-hang/a.html">Mua</a>
                            <div data-bhw="DealUnavailableExpired" class="unavailable_deal_message expired">No Longer Available</div>
                            <div id="gsm_microtag">
                                <span itemprop="priceValidUntil">Thu Dec 20 03:29:59 UTC 2012</span>
                                <link itemprop="availability" href="schema.org/InStock" class="availability">
                            </div>
                        </div>
                    </div>
                    <div id="deal_discount" class="clearfix">
                        <dl>
                            <dt>Giá gốc</dt>
                            <dd id="discount_details_value"><?= Common::numberFormat($deal['old_price']) ?></dd>
                        </dl>
                        <dl class="discount">
                            <dt>Giảm</dt>
                            <dd id="discount_details_discount"><?= $perSave ?>%</dd>
                        </dl>
                        <dl class="save">
                            <dt>Tiết kiệm</dt>
                            <dd id="discount_details_you_save"><?= Common::numberFormat($save) ?></dd>
                        </dl>
                    </div>

                    <span style="display:none;" id="deal_permalink" data-value="bulls-on-wall-street-12" class="js_attribute"></span>
                    <div class="status_wrapper">  <div id="remaining_time_container">
                            <img src="<?= STATIC_DOMAIN ?>/images/hourglass002.gif" class="hourglass" alt="Hourglass002">

                            <div class="countdown_container clearfix">
                                <ul id="counter">
                                    <li class="countdown_label">Thời gian còn lại</li>
                                    <li data-options="{&quot;template&quot;:{&quot;days&quot;:&quot;{days} [day|days] &quot;,&quot;minutes&quot;:&quot;{minutes}:&quot;,&quot;hours&quot;:&quot;{hours}:&quot;,&quot;seconds&quot;:&quot;{seconds}&quot;},&quot;layout&quot;:&quot;{time}&quot;,&quot;zero_pad&quot;:[&quot;minutes&quot;,&quot;seconds&quot;],&quot;hide_if_zero&quot;:[&quot;days&quot;]}" data-deadline="1355974199" class="groupon_countdown">4 ngày 14:13:11</li></ul>
                            </div>


                        </div>


                        <div id="number_sold_container" class="status_block">


                            <div class="messaging">
                                <div class="bought_message level_1">10 người đã mua</div>
                                <div class="tipped_check_mark">
                                    <span style="font-size: 16px;padding-top: 5px">Vẫn còn mua được</span>
                                </div>
                            </div>
                        </div>

                        <div id="vip_container"></div></div>
                    <span style="display:none;" id="share_links" data-value="{&quot;pin_it&quot;:&quot;Pin it!&quot;,&quot;url_for_facebook_share&quot;:&quot;facebook.com/share.php?u=www.groupon.com/deals/bulls-on-wall-street-12?utm_campaign=VisitorReferral&amp;utm_medium=facebook&amp;utm_source=anonymous&quot;,&quot;share_with_twitter&quot;:&quot;Share with twitter.&quot;,&quot;visitor_tracking_code&quot;:&quot;anonymous&quot;,&quot;email&quot;:&quot;Email!&quot;,&quot;pinit_button_layout&quot;:&quot;none&quot;,&quot;share_with_email&quot;:&quot;Share with email.&quot;,&quot;url_for_twitter_share&quot;:&quot;twitter.com/share?url=http%3A%2F%2Fwww.groupon.com%2Fdeals%2Fbulls-on-wall-street-12%3Futm_campaign%3DVisitorReferral%26amp%3Butm_medium%3Dtwitter%26amp%3Butm_source%3Danonymous&amp;text=Four%20Online%20Stock-Trading%20Classes%20or%20Four-Day%20Live%20Online%20Stock-Trading%20Course%20from%20Bulls...&quot;,&quot;url_for_mail_share&quot;:&quot;mailto:?subject=I%20think%20you%27d%20like%20this%20Groupon%20deal%3A%20Up%20to%2097%25%20Off%20Online%20Stock-Trading%20Classes&amp;body=Check%20out%20this%20awesome%20Groupon%20deal.%20If%20you%20sign%20up%20and%20buy%20it%2C%20you%20might%20earn%20me%20some%20Groupon%20credit%2C%20which%20will%20earn%20you%20my%20undying%20appreciation.%0A%0A%20Four%20Online%20Stock-Trading%20Classes%20or%20Four-Day%20Live%20Online%20Stock-Trading%20Course%20from%20Bulls%20On%20Wall%20Street%20%28Up%20to%2097%25%20Off%29%0Ahttp%3A%2F%2Fwww.groupon.com%2Fdeals%2Fbulls-on-wall-street-12%3Futm_campaign%3DVisitorReferral%26amp%3Butm_medium%3Demail%26amp%3Butm_source%3Danonymous&quot;,&quot;page_site&quot;:&quot;dealPage&quot;,&quot;tweet&quot;:&quot;Tweet!&quot;,&quot;like_it&quot;:&quot;Like it!&quot;,&quot;campaign_share_url&quot;:&quot;www.groupon.com/deals/bulls-on-wall-street-12?utm_campaign=VisitorReferral&amp;utm_medium%5Bdl%5D=&amp;utm_source=anonymous&quot;,&quot;url_for_pinterest_share&quot;:&quot;pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.groupon.com%2Fdeals%2Fbulls-on-wall-street-12%3Futm_campaign%3DVisitorReferral%26amp%3Butm_medium%3Dpinterest%26amp%3Butm_source%3Danonymous&amp;media=http%3A%2F%2Fs3.grouponcdn.com%2Fimages%2Fsite_images%2F2853%2F3677%2FRackMultipart20121211-29519-a5of34_grid_4.jpg&amp;description=Groupon%20-%20Four%20Online%20Stock-Trading%20Classes%20or%20Four-Day%20Live%20Online%20Stock-Trading%20Course%20from%20Bulls%20On%20Wall%20Street%20%28Up%20to%2097%25%20Off%29%20in%20Online%20Deal.%20Groupon%20deal%20price%3A%20%2425.0.00&quot;,&quot;share_it&quot;:&quot;Share it!&quot;}" class="js_attribute"></span>
                    <div style="display: none; " class="sharing">
                        <div class="share">
                            <ul data-bhw-path="FeaturedDeal|deal:bulls-on-wall-street-12|ShareLinks" data-bhw="ShareLinks" class="share_links horizontal_list no_bullets clearfix">

                                <li class="twitter_share" title="Share with twitter.">
                                    <a data-google-analytics-tags="" class="sprite tw G_event E-Share_Twitter_deal" href="twitter.com/share?url=http%3A%2F%2Fwww.groupon.com%2Fdeals%2Fbulls-on-wall-street-12%3Futm_campaign%3DVisitorReferral%26amp%3Butm_medium%3Dtwitter%26amp%3Butm_source%3Danonymous&amp;text=Four%20Online%20Stock-Trading%20Classes%20or%20Four-Day%20Live%20Online%20Stock-Trading%20Course%20from%20Bulls...">
                                        Tweet!
                                    </a>
                                </li>

                                <li class="email_share" title="Share with email.">
                                    <a data-google-analytics-tags="" class="sprite email G_event E-Share_Email_deal" href="mailto:?subject=I%20think%20you%27d%20like%20this%20Groupon%20deal%3A%20Up%20to%2097%25%20Off%20Online%20Stock-Trading%20Classes&amp;body=Check%20out%20this%20awesome%20Groupon%20deal.%20If%20you%20sign%20up%20and%20buy%20it%2C%20you%20might%20earn%20me%20some%20Groupon%20credit%2C%20which%20will%20earn%20you%20my%20undying%20appreciation.%0A%0A%20Four%20Online%20Stock-Trading%20Classes%20or%20Four-Day%20Live%20Online%20Stock-Trading%20Course%20from%20Bulls%20On%20Wall%20Street%20%28Up%20to%2097%25%20Off%29%0Ahttp%3A%2F%2Fwww.groupon.com%2Fdeals%2Fbulls-on-wall-street-12%3Futm_campaign%3DVisitorReferral%26amp%3Butm_medium%3Demail%26amp%3Butm_source%3Danonymous">
                                        Email!
                                    </a>
                                </li>

                                <li class="pinterest_share" title="Pin it!">
                                    <a count-layout="none" class="pin-it-button" href="pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.groupon.com%2Fdeals%2Fbulls-on-wall-street-12%3Futm_campaign%3DVisitorReferral%26amp%3Butm_medium%3Dpinterest%26amp%3Butm_source%3Danonymous&amp;media=http%3A%2F%2Fs3.grouponcdn.com%2Fimages%2Fsite_images%2F2853%2F3677%2FRackMultipart20121211-29519-a5of34_grid_4.jpg&amp;description=Groupon%20-%20Four%20Online%20Stock-Trading%20Classes%20or%20Four-Day%20Live%20Online%20Stock-Trading%20Course%20from%20Bulls%20On%20Wall%20Street%20%28Up%20to%2097%25%20Off%29%20in%20Online%20Deal.%20Groupon%20deal%20price%3A%20%2425.0.00"><img border="0" title="Pin It" src="<?= STATIC_DOMAIN ?>/images/PinExt.png"></a>
                                </li>

                                <li class="facebook_send" title="Share it!">
                                <fb:send font="" class="fb_send" grp="dealPage" ref="anonymous" href="www.groupon.com/deals/bulls-on-wall-street-12?utm_campaign=VisitorReferral&amp;amp;utm_medium%5Bdl%5D=&amp;amp;utm_source=anonymous"></fb:send>
                                </li>

                                <li class="facebook_like next_line" title="Like it!">
                                <fb:like grp="dealPage" data-google-analytics-tags="" class="fb_like G_event" show_faces="false" layout="button_count" ref="anonymous" href="www.groupon.com/deals/bulls-on-wall-street-12?utm_campaign=VisitorReferral&amp;amp;utm_medium%5Bdl%5D=&amp;amp;utm_source=anonymous"></fb:like>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="secondary">
                    <span id="everyscapeId" data-value="" class="js_attribute">
                        <div data-bhw-path="FeaturedDeal|deal:bulls-on-wall-street-12|ImageGallery" id="everyscape" data-bhw="ImageGallery" class="photos">
                            <div id="galleria"><div class="galleria-container notouch" style="width: 440px; height: 300px;"><div class="galleria-stage"><div class="galleria-images" style="position: relative; top: 0px; left: 0px; width: 100%; height: 100%; "><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; -webkit-transition: none; -webkit-transform: translate3d(0px, 0px, 0px); z-index: 0; opacity: 0; left: 0px; "></div><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; width: 440px; height: 236px; -webkit-transition: none; -webkit-transform: translate3d(0px, 0px, 0px); z-index: 1; opacity: 1; left: 0px; "><img height="267" width="440" style="display: block; width: 440px; height: 267px; position: relative; top: -15px; left: 0px; opacity: 1; " src="./Bulls On Wall Street Deal of the Day   Groupon St John's_files/RackMultipart20121211-29519-a5of34_grid_6.jpg"></div></div><div class="galleria-loader" style="display: none; "></div><div class="galleria-image-nav"><div class="galleria-image-nav-right" style="right: -68px; -webkit-transition: none; -webkit-transform: translate3d(0px, 0px, 0px); "></div><div class="galleria-image-nav-left" style="left: -68px; -webkit-transition: none; -webkit-transform: translate3d(0px, 0px, 0px); "></div></div><div class="galleria-progress" style="width: 0px; "></div></div></div></div>

                        </div>

                    </span>
                </div>
            </div>

            <div class="clearfix deal with_tags" style="font-size: 13px;">
                <div style="padding-right: 10px; position: relative;width: 340px;float: left;padding-bottom: 10px">
                    <span style="font-size: medium; color: #80b04f;">Điểm nổi bật:<br/></span>
                    <?= $deal['special'] ?>
                </div>
                <div style="width: 320px;padding-left: 10px;border-left: 1px solid #CCCCCC;position: relative;float: left;padding-bottom: 10px">
                    <span style="font-size: medium; color: #80b04f;">Điều kiện:<br/></span>
                    <?= $deal['condition'] ?>
                </div>
            </div>

            <div itemtype="schema.org/LocalBusiness" itemscope="itemscope" id="write_up" class="write_up">
                <div class="module">
                    <div class="module_content clearfix">
                        <div class="write_up_content">
                            <div itemprop="description" class="article description">
                                <?= $deal['full_desc'] ?>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 0 auto;font-size: 15px;font-weight: bold;text-align: center">
                        BẢN ĐỒ
                    </div>
                    <div style="padding: 30px;text-align: center">
                        <iframe width="640" height="440" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=489a+Hu%E1%BB%B3nh+V%C4%83n+B%C3%A1nh,+Ho+Chi+Minh+City,+Vietnam&amp;aq=0&amp;oq=489a+huynh+van&amp;sll=10.793366,106.660874&amp;sspn=0.009907,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=489+Hu%E1%BB%B3nh+V%C4%83n+B%C3%A1nh,+13,+Ph%C3%BA+Nhu%E1%BA%ADn,+Ho+Chi+Minh+City,+Vietnam&amp;t=m&amp;ll=10.793345,106.660852&amp;spn=0.037097,0.054846&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=489a+Hu%E1%BB%B3nh+V%C4%83n+B%C3%A1nh,+Ho+Chi+Minh+City,+Vietnam&amp;aq=0&amp;oq=489a+huynh+van&amp;sll=10.793366,106.660874&amp;sspn=0.009907,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=489+Hu%E1%BB%B3nh+V%C4%83n+B%C3%A1nh,+13,+Ph%C3%BA+Nhu%E1%BA%ADn,+Ho+Chi+Minh+City,+Vietnam&amp;t=m&amp;ll=10.793345,106.660852&amp;spn=0.037097,0.054846&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:center;font-size: 13px;">Xem Bản đồ cỡ lớn hơn</a></small>
                    </div>
                </div>
                <div class="clearfix deal with_tags" style="font-size: 13px;">
                    <ul>
                        <li style="padding: 0pt 6px 0pt 0pt; float: left;"><img src="http://localhost/qax/images/pas_price.png"></li>
                        <li style="text-align: left; float: left; padding: 0pt 8px;">
                            <p style="font-size: 24px; color: rgb(194, 34, 39); font-weight: 700; margin-bottom: 0px; padding: 5px 0pt 0px;">6.300.000&nbsp;VNĐ</p>
                            <p style="font-size: 15px;">Giá gốc: 11.540.000&nbsp;VNĐ</p>
                        </li>
                        <li style="float: left; padding: 0pt 8px; border-left: 1px dotted rgb(153, 153, 153);">
                            <p style="margin-bottom: 0px; line-height: 18px; font-size: 12px; padding: 10px 0pt 0pt;">Tiết kiệm</p>
                            <p style="font-size: 24px; font-weight: 700;">45%</p>
                        </li>
                        <li style="float: left; padding: 0pt 8px; border-left: 1px dotted rgb(153, 153, 153);">
                            <p style="margin-bottom: 0px; line-height: 18px; font-size: 12px; padding: 10px 0pt 0pt;">Số người đã mua</p>
                            <p style="font-size: 24px; font-weight: bold; color: rgb(194, 34, 39); text-align: center;">27</p>
                        </li>
                        <li style="float: left; padding: 0pt 8px; border-left: 1px dotted rgb(153, 153, 153);">
                            <p style="margin-bottom: 0px; line-height: 18px; font-size: 12px; padding: 10px 0pt 0pt;">Thời gian còn lại</p>
                            <p style="font-size: 24px; font-weight: 700;"><span class="key hasCountdown" rel="1356973140">364:46:28</span></p>
                        </li>
                        <li style="float: right;">
                            <div class="cm-reload-13848" id="add_to_cart_update_13848">
                                <input type="hidden" name="appearance[show_add_to_cart]" value="1">
                                <input type="hidden" name="appearance[separate_buttons]" value="">
                                <input type="hidden" name="appearance[show_list_buttons]" value="1">
                                <input type="hidden" name="appearance[but_role]" value="action">
                                <span id="cart_add_block_13848">
                                    <span id="wrap_button_cart_13848" class="button-submit-action"><input class="btn_mua_bottom" type="submit" id="button_cart_13848" name="dispatch[checkout.add..13848]" value="Mua"></span>
                                </span>
                                <span id="cart_buttons_block_13848">
                                </span>
                                <!--add_to_cart_update_13848--></div>
                        </li>
                    </ul>
                    <div class="cb"></div>
                </div>
                <div class="clearfix deal with_tags" style="font-size: 13px;padding-top: 14px">
                    <div class="text_info_detail">
                        <h3 style="padding-bottom: 10px; color: rgb(83, 151, 48); font-size: 24px; font-weight: bold;margin: 10px;">Nhận xét &amp; Thảo luận</h3>
                        <div id="content_discussion">
                            <h2 style="color: rgb(45, 46, 46); font: bold 127% Arial,Helvetica,sans-serif; margin-bottom: 10px; padding: 15px 0pt 5px; background: url(&quot;../images/bg_line.gif&quot;) repeat-x scroll center bottom transparent;">
                                Ý kiến của bạn
                            </h2>
                            <p style="background-color: rgb(241, 244, 246); font-weight: bold; margin: 8px 9px; padding: 15px 0pt; text-align: center; font-size: 13px;width: 664px;">Bạn phải <a href="/index.php?dispatch=auth.login_form&amp;return_url=index.php%3Fdispatch%3Dproducts.view%26product_id%3D13848">đăng nhập</a> để gửi bình luận.</p>
                            <hr style="width: 663px;margin:  auto;margin-top: 32px;">
                            <h2 style="color: rgb(45, 46, 46); font: bold 127% Arial,Helvetica,sans-serif; margin-bottom: 10px; padding: 15px 0pt 5px; background: url(&quot;../images/bg_line.gif&quot;) repeat-x scroll center bottom transparent;margin-top: 18px;"> Danh sách thảo luận </h2>	
                            
                            <!--comment-->
                            
                         <div class="posts">
              
              <div id="common_question_container" class="question_container">
                
                <div class="question_answer_set">
                  <div class="question collapsible_panel">
                    <div class="question_inner toggle_handle open">
                      <p class="question">
                        <span class="question_content">
                          whats the expiry date on this groupon?
                        </span>
                      </p>
                      <p class="item_details">
                        <span class="author">Darlene G.</span>
                        <span class="timestamp">asked 2 hours and 47 minutes ago</span>
                        -
                        <span class="answers_count">1 answer</span>
                      </p>
                    </div>
                    <div class="answers">
                      <div class="top"></div>
                      <div class="answers_list">
                        <div class="answer">
                          <div class="avatar">
                            <img title="Tara" src="<?=STATIC_DOMAIN?>/images/user.png" alt="Tara"/>
                          </div>
                          <div class="avatar_ribbon merchant_ribbon"></div>
                          <div class="answer_inner">
                            <p class="answer_body">
                              The expiry date on the golf deal is August 31, 2013, which will appear on the Groupon once you purchase and print it.
                            </p>
                            <p class="item_details">
                              <span class="author">Tara</span>
                              <span class="timestamp">answered 2 hours and 38 minutes ago</span>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="help_answer_link">
                        <a style="display: none; " class="help_answer" href="http://www.groupon.com/deals/bally-haly-golf-1/discussion#">Help answer this question</a>
                      </div>
                      <div style="display: block; " class="answer_form_wrapper clearfix">
                        <form method="post" class="default answer_form" action="http://www.groupon.com/deals/bally-haly-golf-1/discussion/answers"><div style="margin:0;padding:0"><input type="hidden" value="pA07oWpXR9Yo8R2wIUeENevTpPKorxxmcLAXqDlfaX0=" name="authenticity_token"></div>
                          <div class="top"></div>
                          <div class="bottom">
                            <div class="avatar"><img title="companymsoft" src="<?=STATIC_DOMAIN?>/images/user.png" alt="companymsoft"></div>
                            <div class="form" style="float: left">
                                <div  class="field answer_body clearfix"><label for="answer_body" class="medium" style="display: none">Help answer this question</label><textarea title="Write your answer here" rows="3" name="answer[body]" id="answer_body" cols="40" class="prompting_field answer_form"></textarea></div>
                              <input type="hidden" value="548001" name="discussion_id" id="discussion_id">
                              <input type="hidden" value="3743943" name="question_id" id="question_id">
                              <span class="errors">
                            
                              </span>
                            </div>
                            <div class="actions">
                              <a class="cancel_answer" href="http://www.groupon.com/deals/bally-haly-golf-1/discussion">Cancel</a>
                              <div class="buttons"><input type="submit" value="Submit" name="commit" id="answer_submit" class="button post_answer form_btn post_comment button"></div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            
              
              
            </div>
                            
                           <div class="question_box" style="
    margin-left: 30px;
    margin-right: 5px;
">
                      <span class="question_header">
                        Didn't see an answer to your question? Submit a new one -
                      </span>
                      <span class="guidelines">
                        <a href="#" class="user_guidelines">User guidelines</a>
                      </span>
                      <div class="form">
                        <form action="/deals/bally-haly-golf-1/discussion/questions" class="default" id="question_form" method="post"><div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value="pA07oWpXR9Yo8R2wIUeENevTpPKorxxmcLAXqDlfaX0="></div>
                          <div class="field question_body clearfix"><label class="medium" for="question_body">Ask a question</label><textarea class="prompting_field" cols="40" id="question_body" name="question[body]" rows="6" title="Write your question here"></textarea></div>
                          <input id="discussion_id" name="discussion_id" type="hidden" value="548001">
                      
                          <span class="errors">
                        
                          </span>
                          <div class="buttons"><input class="button post_question post_comment button" id="question_submit" name="commit" type="submit" value="Submit"></div>
                        </form>
                      </div>
                      <div class="success">
                        <span class="message">
                          Thanks for your question! A member of our team will review it before it is posted.
                        </span>
                        <span class="close question">
                          <a href="#" class="close_message">close</a>
                        </span>
                      </div>
                    </div>
                            
                            
                            <!--end comment-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="free_shipping_modal" class="modal_window free_shipping_modal">
            <div class="module">
                <a title="Close" id="close" class="modal_close"></a>
                <div class="banner">
                    <a title="Learn More" href="www.groupon.com/pages/goods-faq#1" class="learn_more">
                        Learn More
                    </a>
                </div>
            </div>
        </div>

        <div class="facebook_promotion"></div>

        <span style="display:none;" id="browse_subcategories_per_column" data-value="8" class="js_attribute"></span>
    </div>

    <div id="rail">
        <div id="admin_panel_placeholder"></div>
        <div class="ajax_spinner"></div>
        <ul id="rail_list">
            <li class="integrated_side_deals">
                <ul data-bhw-path="SideDeals" data-bhw="SideDeals" class="E-DealsNearBy_Displayed_DealPage G_event control more_great_deals more_great_deals_experiment trackNow">
                    <li class="header">
                        <h3>
                            More Great Deals
                            <a data-bhw-path="SideDeals|MoreLink" data-bhw="MoreLink" class="see-all G_event E-DealsNearBy_ClickViewDeal_DealPage" href="www.groupon.com/browse/st-johns">See All</a>
                        </h3>
                    </li>
                    <li data-bhc-path="SideDeals|deal:nail-secret" data-bhc="deal:nail-secret" class="side_deal clearfix">
                        <h4>
                            <a href="www.groupon.com/deals/nail-secret?c=dnb&amp;p=1"><span class="finch_short_descriptor_hide">
                                    Full LCN Nail Set or Manicure with Shellac or Basic Polish at Nail Secret (Up to 55% Off)
                                    <br>
                                </span>
                                <span class="finch_short_descriptor_show">
                                    Nail Services
                                </span>
                                <span class="location finch_short_descriptor_show finch_short_descriptor_gray">
                                    •
                                </span>
                                <span class="location finch_short_descriptor_gray">Paradise</span>
                            </a>      <span class="number_sold check_mark">
                                <span class="number">Over 90</span> bought
                            </span>
                        </h4>
                        <a class="sidedeal G_event E-DealsNearBy_ClickViewDeal_DealPage" alt="Full LCN Nail Set or Manicure with Shellac or Basic Polish at Nail Secret (Up to 55% Off) " href="www.groupon.com/deals/nail-secret?c=dnb&amp;p=1"><img src="./Bulls On Wall Street Deal of the Day   Groupon St John's_files/RackMultipart20121130-27448-pqpkmh_sidedeal.jpg" alt="Rackmultipart20121130-27448-pqpkmh_sidedeal"></a>
                        <div class="price_value">
                            <div class="price_tag">
                                <h6>C$20</h6>
                            </div>
                            <div class="campaign_value">C$40 value</div>
                            <div class="view_it">
                                <a class="small button buy_btn G_event E-DealsNearBy_ClickViewDeal_DealPage" href="www.groupon.com/deals/nail-secret?c=dnb&amp;p=1">View It!</a>
                            </div>
                        </div>
                    </li>
                    <li data-bhc-path="SideDeals|deal:heads-up-puzzle-llc-7" data-bhc="deal:heads-up-puzzle-llc-7" class="area_deal">
                        <a class="deal_click_event_tracking_classes title deal_title" href="www.groupon.com/deals/heads-up-puzzle-llc-7?c=dnb&amp;p=2"><span class="location">Online Deal</span>
                            <br>
                            <span class="finch_short_descriptor_hide">$20 for $40 Worth of Customizable Magnetic Puzzles from Heads Up Puzzles</span>
                            <span class="finch_short_descriptor_show">Customizable Magnetic Puzzles</span>
                        </a>    <a class="deal_click_event_tracking_classes title announcement_subject" href="www.groupon.com/deals/heads-up-puzzle-llc-7?c=dnb&amp;p=2"><span>Online Deal</span><br>Half Off Custom Magnetic Puzzles </a>
                        <span class="number_sold check_mark">
                            <span class="number">Over 10</span> bought
                        </span>
                    </li>
                    <li data-bhc-path="SideDeals|deal:ga-oasis-sens" data-bhc="deal:ga-oasis-sens" class="area_deal">
                        <a class="deal_click_event_tracking_classes title deal_title" href="www.groupon.com/deals/ga-oasis-sens?c=dnb&amp;p=3"><span class="location">Cancún, Mexico</span>
                            <br>
                            <span class="finch_short_descriptor_hide">Three- or Four-Night All-Inclusive Stay at Oasis Sens in Cancún, Mexico</span>
                            <span class="finch_short_descriptor_show">All-Inclusive Cancún Resort</span>
                        </a>    <a class="deal_click_event_tracking_classes title announcement_subject" href="www.groupon.com/deals/ga-oasis-sens?c=dnb&amp;p=3"><span>Cancún, Mexico</span><br>All-Inclusive Adults-Only Cancún Resort</a>

                    </li>
                    <li data-bhc-path="SideDeals|deal:ga-hartstone-inn-1" data-bhc="deal:ga-hartstone-inn-1" class="area_deal">
                        <a class="deal_click_event_tracking_classes title deal_title" href="www.groupon.com/deals/ga-hartstone-inn-1?c=dnb&amp;p=4"><span class="location">Camden, ME</span>
                            <br>
                            <span class="finch_short_descriptor_hide">Two-Night Stay with Fine-Dining Credit at Hartstone Inn in Camden, ME</span>
                            <span class="finch_short_descriptor_show">Four-Diamond Coastal Maine B &amp; B</span>
                        </a>    <a class="deal_click_event_tracking_classes title announcement_subject" href="www.groupon.com/deals/ga-hartstone-inn-1?c=dnb&amp;p=4"><span>Camden, ME</span><br>Fine Dining at 4-Diamond B &amp; B near Maine Coast</a>

                    </li>
                    <li data-bhc-path="SideDeals|deal:ga-sata-air-acores" data-bhc="deal:ga-sata-air-acores" class="area_deal">
                        <a class="deal_click_event_tracking_classes title deal_title" href="www.groupon.com/deals/ga-sata-air-acores?c=dnb&amp;p=5"><span class="location">The Azores, Portuguese Coast</span>
                            <br>
                            <span class="finch_short_descriptor_hide">Six-Night Azores Vacation with Roundtrip Airfare and Hotel Accommodations from SATA International</span>
                            <span class="finch_short_descriptor_show">Azores Island Vacation with Air</span>
                        </a>    <a class="deal_click_event_tracking_classes title announcement_subject" href="www.groupon.com/deals/ga-sata-air-acores?c=dnb&amp;p=5"><span>The Azores, Portuguese Coast</span><br>Azores Island Vacation with Airfare</a>

                    </li>
                    <li data-bhc-path="SideDeals|deal:ecomom" data-bhc="deal:ecomom" class="area_deal">
                        <a class="deal_click_event_tracking_classes title deal_title" href="www.groupon.com/deals/ecomom?c=dnb&amp;p=6"><span class="location">Online Deal</span>
                            <br>
                            <span class="finch_short_descriptor_hide">Eco-Friendly Baby, Toddler, and Kids Products from ecomom (Up to US$75 Value). Two Options Available.</span>
                            <span class="finch_short_descriptor_show">Baby and Kids Products</span>
                        </a>    <a class="deal_click_event_tracking_classes title announcement_subject" href="www.groupon.com/deals/ecomom?c=dnb&amp;p=6"><span>Online Deal</span><br>Baby and Kids Products from ecomom</a>
                        <span class="number_sold check_mark">
                            <span class="number">Over 120</span> bought
                        </span>
                    </li>
                    <li data-bhc-path="SideDeals|deal:fashion-playtes-1" data-bhc="deal:fashion-playtes-1" class="area_deal">
                        <a class="deal_click_event_tracking_classes title deal_title" href="www.groupon.com/deals/fashion-playtes-1?c=dnb&amp;p=7"><span class="location">Online Deal</span>
                            <br>
                            <span class="finch_short_descriptor_hide">Custom-Designed Clothes, Jewellry, and Accessories from FPgirl (53% Off). Two Options Available.</span>
                            <span class="finch_short_descriptor_show">Custom-Designed Clothes</span>
                        </a>    <a class="deal_click_event_tracking_classes title announcement_subject" href="www.groupon.com/deals/fashion-playtes-1?c=dnb&amp;p=7"><span>Online Deal</span><br>53% Off Customized Clothes and Accessories from FPgirl</a>
                        <span class="number_sold check_mark">
                            <span class="number">Over 70</span> bought
                        </span>
                    </li>
                </ul>
            </li>
            <li id="similar_deals_widget" class="side_rail_deals">
            </li>
            <li>
                <div data-bhw-path="FacebookFriends" data-bhw="FacebookFriends" class="callout facebook_widget">
                    <div class="module"><div class="module_top"><h3>Enjoy Groupon with Friends</h3></div><div class="module_content"><div class="callout_content clearfix">
                                <p>Tell your friends about Groupon, plan activities and share recommendations.</p>
                                <div class="facebook_login_button"></div>
                            </div>
                        </div></div></div>
            </li>
            <li>
                <div data-bhw-path="GrouponPromise" id="groupon_promise" data-bhw="GrouponPromise" class="module"><div class="module_top"><h3>Our Promise To You</h3></div><div class="module_content"><a href="www.groupon.com/groupon-promise"><img src="<?= STATIC_DOMAIN ?>/images/groupon-promise.png" alt="The Groupon Promise"></a>
                        <p>If the experience using your Groupon ever lets you down, we’ll make it right or return your purchase. Simple as that.</p>
                    </div></div>
            </li>
        </ul>
    </div>
</div>