<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Quy chế hoạt động</div></div>
<div class="block_center" style="min-height: 1470px; background-color: #ffffff">
    <div style="padding: 45px">
        
        <div class="ColRight">
            <h3 class="SUPPORT_TITLE">Quy chế hoạt động</h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
		<div class="BOX_DETAIL_CS">	
			<ol style="text-align: justify;" class="padd_list_priva">
				<li>I. Nguyên tắc hoạt động 					
					<p style="padding-left: 20px;">- Trung tâm thương mại trực tuyến <a href="http://123.vn/">123.vn</a> do Công ty cổ phần VNG làm chủ sở hữu.</p>
					<p style="padding-left: 20px;">- Tổ chức, cá nhân (Khách Hàng) tham gia giao dịch tại <a href="http://123.vn/">123.vn</a> tự do thỏa thuận trên cơ sở tôn trọng quyền và lợi ích hợp pháp của các bên tham gia hoạt động mua bán hàng hóa, sản phẩm, dịch vụ thông qua hợp đồng, không trái với qui định của pháp luật.</p> 										
					<p style="padding-left: 20px;">- Hoạt động mua bán hàng hóa tại trung tâm thương mại điện tử trực tuyến <a href="http://123.vn/">123.vn</a> phải được thực hiện công khai, minh bạch, đảm bảo quyền lợi của người tiêu dùng. </p>
					<p style="padding-left: 20px;">- Hàng hóa, sản phẩm dịch vụ tham gia giao dịch trên <a href="http://123.vn/">123.vn</a> phải đáp ứng đầy đủ các quy định của pháp luật có liên quan, không thuộc các trường hợp cấm kinh doanh, cấm quảng cáo theo quy định của pháp luật.</p>
					<p style="padding-left: 20px;">- Khách Hàng của <a href="http://123.vn/">123.vn</a> không những được chăm sóc với một chế độ hậu mãi chu đáo mà <a href="http://123.vn/">123.vn</a> còn cam kết các chủng loại hàng hóa giao dịch trên <a href="http://123.vn/">123.vn</a> đều có rõ nguồn gốc xuất xứ và đạt chứng nhận về các tiêu chuẩn đo lường chất lượng.</p>
				</li>							
				<li>II. Quy trình giao dịch					
					<p style="padding-left: 20px;">- <a href="http://123.vn/">123.vn</a> được xây dựng nhằm hỗ trợ tối đa cho khách hàng có nhu cầu mua sắm hàng hoá trực tuyến. Khi có nhu cầu mua hàng trên <a href="http://123.vn/">123.vn</a>, khách hàng thực hiện mua hàng theo các cách sau đây: (Xem chi tiết tại phần Hướng dẫn mua hàng tại website <a href="http://123.vn/">123.vn</a>)</p>					
					<p style="padding-left: 20px;"><b>Cách 1:</b> Thanh toán trước online bằng thẻ ATM nội địa, thẻ thanh toán quốc tế (Visa, Master card..) theo trình tự sau: </p>
					<p style="padding-left: 40px;">+ <b>Bước 1:</b> Khách hàng đặt hàng.</p>
					<p style="padding-left: 40px;">+ <b>Bước 2:</b> Khách hàng thanh toán trước.</p>
					<p style="padding-left: 40px;">+ <b>Bước 3:</b> <a href="http://123.vn/">123.vn</a> xác nhận và chuyển hàng.</p>
					<p style="padding-left: 40px;">+ <b>Bước 4:</b> Khách hàng kiểm tra và nhận hàng.</p>
					<p style="padding-left: 20px;"><b>Cách 2:</b> Thanh toán trước qua hình thức chuyển khoản (internet banking, ngân hàng, ATM): </p>
					<p style="padding-left: 40px;">+ <b>Bước 1:</b> Khách hàng đặt hàng.</p>
					<p style="padding-left: 40px;">+ <b>Bước 2:</b> Khách hàng thanh toán trước thông qua hình thức chuyển khoản.</p>
					<p style="padding-left: 40px;">+ <b>Bước 3:</b> <a href="http://123.vn/">123.vn</a> nhận tiền, thông báo.</p>
					<p style="padding-left: 40px;">+ <b>Bước 4:</b> <a href="http://123.vn/">123.vn</a> chuyển hàng.</p>
					<p style="padding-left: 40px;">+ <b>Bước 5:</b> Khách hàng kiểm tra và nhận hàng.</p>
					<p style="padding-left: 20px;"><b>Cách 3:</b> Thanh toán sau (COD):  </p>
					<p style="padding-left: 40px;">+ <b>Bước 1:</b> Khách hàng đặt hàng.</p>
					<p style="padding-left: 40px;">+ <b>Bước 2:</b> <a href="http://123.vn/">123.vn</a> gọi cho khách hàng xác thực đơn hàng (điện thoại, tin nhắn, email).</p>
					<p style="padding-left: 40px;">+ <b>Bước 3:</b> <a href="http://123.vn/">123.vn</a> chuyển hàng.</p>
					<p style="padding-left: 40px;">+ <b>Bước 4:</b> Khách hàng nhận hàng và thanh toán.</p>					
				</li>
				<li>III. Bảo đảm an toàn giao dịch
					<p style="padding-left: 20px;">- Sàn giao dịch thương mại điện tử <a href="http://123.vn/">123.vn</a> xây dựng cơ chế bảo đảm an toàn giao dịch như sau:</p>
					<p style="padding-left: 40px;">+ Các sản phẩm hàng hóa và dịch vụ được đăng bán trên <a href="http://123.vn/">123.vn</a> là các sản phẩm hàng hóa, dịch vụ đã được <a href="http://123.vn/">123.vn</a>  ký Hợp đồng hợp tác với các đối tác là các nhà phân phối, nhà sản xuất. Vì vậy <a href="http://123.vn/">123.vn</a> đảm bảo cung cấp cho khách hàng những thông tin trung thực nhất khi lựa chọn hàng hóa được giao dịch trên <a href="http://123.vn/">123.vn</a>.</p>
					<p style="padding-left: 40px;">+ Bên cạnh đó, <a href="http://123.vn/">123.vn</a> còn thực hiện chương trình chăm sóc khách hàng sau khi sử dụng dịch vụ. Sau khi nhận được hàng hóa, hoặc sử dụng dịch vụ nếu khách hàng phát hiện hàng hóa không đúng như các thông tin mô tả trên website, khách hàng có thể  phản ánh qua hotline hoặc email. <a href="http://123.vn/">123.vn</a> sẽ giải quyết mọi khiếu nại của khách hàng và có chính sách bồi thường thỏa đáng (nếu lỗi đến từ <a href="http://123.vn/">123.vn</a>). Trong những trường hợp nhất định, <a href="http://123.vn/">123.vn</a> sẽ tiến hành hoàn tiền cho khách hàng nếu khách hàng không hài lòng về chất lượng hàng hóa hoặc dịch vụ của <a href="http://123.vn/">123.vn</a></p>
					<p style="padding-left: 40px;">+ <a href="http://123.vn/">123.vn</a> đã xây dựng hệ thống thanh toán trực tuyến tích hợp nhiều tính năng thông minh (PAY.123.VN), có thể giúp giao dịch thực hiện an toàn với chế độ bảo mật cao, giúp tiết kiệm thời gian và chi phí cho các bên</p>					
				</li>
				<li>IV. Bảo vệ quyền lợi của người tiêu dùng       
					<p style="padding-left: 20px;">- <b>Bảo vệ quyền lợi</b> của người tiêu dùng là mục tiêu mà <a href="http://123.vn/">123.vn</a> hướng tới, vì vậy chúng tôi luôn nỗ lực mang lại cho người tiêu dùng một môi trường mua bán minh bạch và an toàn thông qua việc công bố công khai, chi tiết thông tin về <a href="http://123.vn/">123.vn</a> và Công ty cổ phần VNG, công bố các cách thức liên hệ để khách hàng có thể dễ dàng được hỗ trợ và giải đáp khi sử dụng các dịch vụ được cung cấp bởi <a href="http://123.vn/">123.vn</a>:</p>
					<p style="padding-left: 40px;">+ <b style="padding-left: 20px;" class="icon-contact1">Hotline:</b> 1800 585 888</p>										
					<p style="padding-left: 40px;">+ <b>Online Support 24/7:</b> <a href="/ho-tro/loai-yeu-cau.html">http://123.vn/ho-tro/loai-yeu-cau.html</a></p>
					<p style="padding-left: 40px;">+ <b>chat:</b> </p>
					<p style="padding-left: 60px;">- <b>Yahoo:</b> shop123vn01</p>
					<p style="padding-left: 60px;">- <b>Zingchat:</b> shop123vn01</p>
					<p style="padding-left: 40px;">+ <b>Email:</b> customer_care@123.vn</p>
					<p style="padding-left: 40px;">+ <b>Thời gian làm việc:</b></p><b>
					<p style="padding-left: 60px;">
						- Thứ 2 &ndash; Thứ 6: 08:00 AM &ndash; 07:00 PM.<br>
						- Thứ 7 : 8:00AM đến 12:00 PM
					</p>	
					<p style="padding-left: 20px;">- <b>Bảo mật thông tin</b> khách hàng là một trong những ưu tiên nhằm tạo điều kiện mua sắm tốt nhất cho Quý khách tại <a href="http://123.vn/">123.vn</a>. Vì thế, <a href="http://123.vn/">123.vn</a> cam kết việc sử dụng thông tin cá nhân của khách hàng chỉ nhằm mục đích nâng cao chất lượng dịch vụ, thể hiện sự quan tâm của chúng tôi dành cho Quý khách và tạo môi trường mua sắm an toàn, tiện lợi tại <a href="http://123.vn/">123.vn</a>. Cụ thể, thông tin của Quý khách hàng chỉ dùng để:</p>
					<p style="padding-left: 40px;">+ Cung cấp một số tiện ích, nâng cao chất lượng hỗ trợ khách hàng </p>
					<p style="padding-left: 40px;">+ Làm cơ sở giải quyết các vấn đề khiếu nại, tranh chấp phát sinh liên quan đến việc sử dụng sản phẩm, dịch vụ tại website <a href="http://123.vn/">123.vn</a></p>
					<p style="padding-left: 40px;">+ Ngăn chặn những hoạt động vi phạm pháp luật Việt Nam</p>
					<p style="padding-left: 20px;">- <a href="http://123.vn/">123.vn</a>  cam đoan sẽ không bán, chia sẻ dẫn đến làm lộ thông tin cá nhân của bạn vì mục đích thương mại vi phạm cam kết của chúng tôi ghi trong chính sách bảo mật này. Tất cả thông tin giao dịch giữa bạn và <a href="http://123.vn/">123.vn</a> sẽ được bảo mật.</p>
					<p style="padding-left: 20px;">- <b>Giao dịch an toàn:</b> An toàn khi mua bán trực tuyến là một trong những mối quan tâm hàng đầu của người dùng. Vì vậy, chúng tôi cam kết không ngừng nỗ lực xây dựng một môi trường giao dịch thật sự an toàn, tiện ích và bình đẳng đối với mọi thành viên.</p>
				</b></li><b>
				<li>V. Quản lý thông tin xấu
					<p style="padding-left: 20px;">- Khách hàng sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình. Người mua có trách nhiệm thông báo kịp thời cho <a href="http://123.vn/">123.vn</a> về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.</p>
					<p style="padding-left: 20px;">- Thành viên không sử dụng dịch vụ của <a href="http://123.vn/">123.vn</a> vào những mục đích bất hợp pháp, không hợp lý, lừa đảo, đe doạ, thăm dò thông tin bất hợp pháp, phá hoại, tạo ra và phát tán virus gây hư hại tới hệ thống, cấu hình, truyền tải thông tin của <a href="http://123.vn/">123.vn</a>. Trong trường hợp vi phạm thì thành viên phải chịu trách nhiệm về các hành vi của mình trước pháp luật.</p>
					<p style="padding-left: 20px;">- Thành viên không được thay đổi, chỉnh sửa, gán gép, copy, truyền bá, phân phối, cung cấp và tạo những công cụ tương tự của dịch vụ do <a href="http://123.vn/">123.vn</a> cung cấp cho một bên thứ ba nếu không được sự đồng ý của <a href="http://123.vn/">123.vn</a> trong bản Quy chế này.</p>
				</li>
				<li>VI. Giới hạn trách nhiệm trong các trường hợp phát sinh lỗi kỹ thuật của Sàn giao dịch
					<p style="padding-left: 20px;">- Trung tâm thương mại trực tuyến đảm bảo <a href="http://123.vn/">123.vn</a> cam kết nỗ lực đảm bảo sự an toàn và ổn định của toàn bộ hệ thống kỹ thuật. Tuy nhiên, trong trường hợp xảy ra sự cố do lỗi của <a href="http://123.vn/">123.vn</a>, <a href="http://123.vn/">123.vn</a> sẽ ngay lập tức áp dụng các biện pháp để đảm bảo quyền lợi cho người mua hàng.</p>
					<p style="padding-left: 20px;"><b>- Thời gian hoàn tiền:</b></p>
					<p style="padding-left: 40px;">+ Trường hợp giao dịch bằng thẻ tín dụng, thẻ ghi nợ Visa hoặc MasterCard, bạn sẽ được cộng hạn mức tín dụng (ghi có tài khoản) trong vòng từ 5 đến 10 ngày nếu thẻ do Ngân hàng tại Việt Nam phát hành. Còn nếu thẻ do Ngân hàng quốc tế phát hành, thời gian có thể lên tới 30 ngày </p>
					<p style="padding-left: 40px;">+ Các trường hợp khách: bạn sẽ được hoàn tiền trong vòng 3 ngày làm việc </p>
				</li>
				<li>VII. Quyền và nghĩa vụ của thành viên
					<p style="padding-left: 20px;">- <b>Quyền của thành viên:</b> Khi đăng ký trở thành thành viên của <a href="http://123.vn/">123.vn</a> và được <a href="http://123.vn/">123.vn</a> đồng ý, thành viên  sẽ được <a href="http://123.vn/">123.vn</a> tư vấn, hỗ trợ trong suốt quá trình mua sắm qua các tính năng ưu việt và chính sách ưu đãi cho khách hàng. Các chính sách ưu đãi này được đăng tải trên <a href="http://123.vn/">123.vn</a> hoặc qua email đăng ký của quý khách</p>
					<p style="padding-left: 20px;">- <b>Nghĩa vụ của thành viên:</b> </p>
					<p style="padding-left: 40px;">+ Khi sử dụng dịch vụ tại <a href="http://123.vn/">123.vn</a>, thông qua việc đăng ký tài khoản, khách hàng sẽ cung cấp cho chúng tôi chính xác thông tin cá nhân của bạn, bao gồm: Họ tên, số điện thoại, địa chỉ email, số giấy tờ tùy thân (CMND, Passport). Ngoài ra, những thông tin khác trong tài khoản của khách hàng như: ngày sinh, địa chỉ, nghề nghiệp,….sẽ giúp <a href="http://123.vn/">123.vn</a>  phục vụ bạn tốt nhất </p>
					<p style="padding-left: 40px;">+ Việc sử dụng và bảo mật thông tin tài khoản là trách nhiệm và quyền lợi của khách hàng khi mua sắm tại  <a href="http://123.vn/">123.vn</a>: khách hàng phải giữ kín mật khẩu, thông tin tài khoản và hoàn  toàn chịu trách nhiệm đối với tất cả các hoạt động diễn ra thông qua việc sử dụng mật khẩu hoặc tài khoản của mình. Vì vậy, bạn nên đảm bảo thoát khỏi tài khoản tại <a href="http://123.vn/">123.vn</a> sau mỗi lần sử dụng </p>
					<p style="padding-left: 40px;">+ Khi có bất kỳ thay đổi nào về thông tin cá nhân, khách hàng vui lòng cập nhật lại thông tin trong tài khoản tại <a href="http://123.vn/">123.vn</a>. Trong trường hợp thông tin do khách hàng cung cấp không đầy đủ hoặc không chính xác dẫn đến việc không thể giao hàng đến khách hàng, chúng tôi có quyền từ chối phục vụ, giao hàng mà không phải chịu bất cứ trách nhiệm nào đối với khách hàng </p>
				</li>
				<li>VIII. Quyền và nghĩa vụ của Sàn giao dịch thương mại điện tử 
					<p style="padding-left: 20px;">- <b>Quyền của trung tâm thương mại trực tuyến <a href="http://123.vn/">123.vn</a>:</b></p>
					<p style="padding-left: 40px;">+ <a href="http://123.vn/">123.vn</a> sẽ tiến hành cung cấp các dịch vụ cho những thành viên tham gia sau khi đã hoàn thành các thủ tục và các điều kiện bắt buộc mà <a href="http://123.vn/">123.vn</a> nêu ra.</p>
					<p style="padding-left: 40px;">+ <a href="http://123.vn/">123.vn</a> sẽ tiến hành xây dựng các chính sách dịch vụ áp dụng cho từng đối tượng trên <a href="http://123.vn/">123.vn</a>. Các chính sách này sẽ được công bố trên website </p>
					<p style="padding-left: 40px;">+ Trong trường hợp có cơ sở để chứng minh thành viên cung cấp thông tin cho <a href="http://123.vn/">123.vn</a>  không chính xác, sai lệch, không đầy đủ hoặc vi phạm pháp luật hay thuần phong mỹ tục Việt Nam thì <a href="http://123.vn/">123.vn</a> có quyền từ chối, tạm ngừng hoặc chấm dứt quyền sử dụng dịch vụ của thành viên.</p>
					<p style="padding-left: 40px;">+ <a href="http://123.vn/">123.vn</a> có thể chấm dứt quyền thành viên và quyền sử dụng một hoặc tất cả các dịch vụ của thành viên và sẽ thông báo cho thành viên trong thời hạn ít nhất là một (01) tháng trong trường hợp thành viên vi phạm các quy chế của <a href="http://123.vn/">123.vn</a> hoặc có những hành vi ảnh hưởng đến hoạt động kinh doanh trên <a href="http://123.vn/">123.vn</a></p>
					<p style="padding-left: 40px;">+ <a href="http://123.vn/">123.vn</a> giữ bản quyền sử dụng dịch vụ và các nội dung trên <a href="http://123.vn/">123.vn</a> theo các quy dịnh pháp luật về bảo hộ sở hữu trí tuệ tại Việt Nam. Tất cả các biểu tượng, nội dung theo các ngôn ngữ khác nhau đều thuộc quyền sở hữu của <a href="http://123.vn/">123.vn</a>. Nghiêm cấm mọi hành vi sao chép, sử dụng và phổ biến bất hợp pháp các quyền sở hữu trên</p>
					<p style="padding-left: 40px;">+ <a href="http://123.vn/">123.vn</a> giữ quyền được thay đổi bảng, biểu giá dịch vụ và phương thức thanh toán trong thời gian cung cấp dịch vụ cho thành viên theo nhu cầu và điều kiện khả năng của <a href="http://123.vn/">123.vn</a></p>
					<p style="padding-left: 20px;">- <b>Nghĩa vụ của <a href="http://123.vn/">123.vn</a>:</b></p>
					<p style="padding-left: 40px;">+ <a href="http://123.vn/">123.vn</a> sẽ tiến hành triển khai và hợp tác với các đối tác trong việc xây dựng hệ thống các dịch vụ, các công cụ tiện ích phục vụ cho việc giao dịch của các thành viên tham gia và người sử dụng trên <a href="http://123.vn/">123.vn</a>.</p>
					<p style="padding-left: 40px;">+ <a href="http://123.vn/">123.vn</a> chịu trách nhiệm xây dựng, bổ sung hệ thống các kiến thức, thông tin về: thương mại điện tử, hệ thống văn bản pháp luật thương mại trong nước và quốc tế, thị trường nước ngoài, cũng như các tin tức có liên quan đến hoạt động của <a href="http://123.vn/">123.vn</a></p>
					<p style="padding-left: 40px;">+ <a href="http://123.vn/">123.vn</a> sẽ cố gắng đến mức cao nhất trong phạm vi và điều kiện có thể để duy trì hoạt động bình thường của <a href="http://123.vn/">123.vn</a> và khắc phục các sự cố như: sự cố kỹ thuật về máy móc, lỗi phần mềm, hệ thống đường truyền internet, nhân sự, các biến động xã hội, thiên tai, mất điện, các quyết định của cơ quan nhà nước hay một tổ chức liên quan thứ ba. Tuy nhiên nếu những sự cố trên xẩy ra nằm ngoài khả năng kiểm soát, là những trường hợp bất khả kháng mà gây thiệt hại cho thành viên thì <a href="http://123.vn/">123.vn</a> không phải chịu trách nhiệm liên đới.</p>
				</li>
				<li>IX. Điều khoản áp dụng
					<p style="padding-left: 20px;">- Mọi tranh chấp phát sinh giữa <a href="http://123.vn/">123.vn</a> và thành viên sẽ được giải quyết trên cơ sở thương lượng. Trường hợp không đạt được thỏa thuận như mong muốn, một trong hai bên có quyền đưa vụ việc ra Tòa án nhân dân có thẩm quyền tại Hồ Chí Minh để giải quyết</p>
					<p>Quy chế của trung tân thương mại trực tuyến <a href="http://123.vn/">123.vn</a> chính thức có hiệu lực thi hành kể từ ngày ký quyết định ban hành kèm theo quy chế này. <a href="http://123.vn/">123.vn</a> có quyền và có thể thay đổi quy chế này bằng cách thông báo lên <a href="http://123.vn/">123.vn</a> cho các thành viên biết. Quy chế sửa đổi có hiệu lực kể từ ngày quyết định về việc sửa đổi quy chế có hiệu lực. Việc thành viên tiếp tục sử dụng dịch vụ sau khi quy chế sửa đổi được công bố và thực thi đồng nghĩa với việc họ đã chấp nhận quy chế sửa đổi này.</p>
				</li>
				<li>X. Liên hệ
					<p style="padding-left: 20px;">Quý khách hàng có bất kỳ thắc mắc nào xin vui lòng liên hệ bộ phận chăm sóc khách hàng của <a href="http://123.vn/">123.vn</a>:</p>
					<p style="padding-left: 40px;">+ <b style="padding-left: 20px;" class="icon-contact1">Hotline:</b> 1800 585 888</p>										
					<p style="padding-left: 40px;">+ <b>Online Support 24/7:</b> <a href="/ho-tro/loai-yeu-cau.html">http://123.vn//ho-tro/loai-yeu-cau.html</a></p>
					<p style="padding-left: 40px;">+ <b>Chat:</b> </p>
					<p style="padding-left: 60px;">- <b>Yahoo:</b> shop123vn01</p>
					<p style="padding-left: 60px;">- <b>Zingchat:</b> shop123vn01</p>
					<p style="padding-left: 40px;">+ <b>Email:</b> customer_care@123.vn</p>
					<p style="padding-left: 40px;">+ Thời gian làm việc:</p>					
					<p style="padding-left: 60px;">
						- Thứ 2 &ndash; Thứ 6: 08:00 AM &ndash; 07:00 PM.<br>
						- Thứ 7 : 8:00AM đến 12:00 PM
					</p>					
				</li>
			</b></ol><b>	
		</b></div>
	</div>
            <br/>
            <br/>
            <br/>
            <img src="<?=STATIC_DOMAIN?>/images/thoitrang3_1.jpg" style="padding-left: 40px"/>
            
</div>
        
    </div>    
</div>