<link href="<?=STATIC_DOMAIN?>/css/lsui-2feb9aa.css" media="screen" rel="stylesheet" type="text/css" />
<link href="<?=STATIC_DOMAIN?>/css/application.css" media="screen" rel="stylesheet" type="text/css" />

<div class="container">


      <div class="row">
        <div class="span12 content">

          <div class="auth-header">
  <h1 id="brand">
    <a class="ir livingsocial-logo logo-wt" href="https://www.livingsocial.com/">LivingSocial</a>
  </h1>
</div>

<div class="auth-content">
    <h2>Email sent</h2>

    <p>Check your inbox for your password reset email.</p>
  <a id="login" class="btn btn-medium" href="/login?return_to=http%3A%2F%2Flivingsocial.com%2Fmalaysia%2Fcities%2F1968-kedah%2Fdeals%2F551132-donate-rm10-to-world-vision-malaysia-gifts-of-hope">log in</a>
</div>

        </div>
      </div>
      <div class="row">
        <div class="span12">
          
        </div>
      </div>
    </div>