<link href="<?=STATIC_DOMAIN?>/css/lsui-2feb9aa.css" media="screen" rel="stylesheet" type="text/css" />
<link href="<?=STATIC_DOMAIN?>/css/application.css" media="screen" rel="stylesheet" type="text/css" />

<div class="container">


      <div class="row">
        <div class="span12 content">

          
<div class="auth-header">
  <h1 id="brand">
      <a class="ir livingsocial-logo logo-wt" href="<?=BASE_URL?>">Trustdeal.vn</a>
  </h1>
</div>

<div class="auth-content">
  <h2>Lấy lại mật khẩu</h2>

  <form method="post" id="forgot-password" action="/forgot" novalidate="novalidate">
    <input type="hidden" value="http://livingsocial.com/malaysia/cities/1968-kedah/deals/551132-donate-rm10-to-world-vision-malaysia-gifts-of-hope" name="return_to" id="return_to">
    <input type="hidden" value="ek8rnIQevbyYoYQNJRBA3m7FShzC+M3WhckuMaEpP/A=" name="authenticity_token" id="authenticity_token">
    <fieldset id="forgot-password">
      <hr>
      <p>Nhập địa chỉ email của bạn, sau đó nhấn vào nút khôi phục mật khẩu, chúng tôi sẽ gởi cho bạn mật khẩu mới tới địa chỉ email bạn vừa nhập vào</p>
      <hr>
      <div class="control-group email append-bottom">
        <label for="email">Địa chỉ email:</label>
        <input type="text" value="" name="email" id="email">
      </div>
      <button class="btn" type="submit">Khôi phục mật khẩu</button>
    </fieldset>
  </form>

</div>



        </div>
      </div>
      <div class="row">
        <div class="span12">
          
        </div>
      </div>
    </div>