<link href="<?=STATIC_DOMAIN?>/css/lsui-2feb9aa.css" media="screen" rel="stylesheet" type="text/css" />
<link href="<?=STATIC_DOMAIN?>/css/application.css" media="screen" rel="stylesheet" type="text/css" />

<div class="container">


      <div class="row">
        <div class="span12 content">

          <div id="notifications">

</div>

<div class="auth-header">
  <h1 id="brand">
      <a class="ir livingsocial-logo logo-wt" href="<?=BASE_URL?>">Trustdeal.vn</a>
  </h1>
</div>



<div class="auth-content login">

  <div class="unauth">

    <div id="registration">
      <form method="post" id="login" action="https://accounts.livingsocial.com/accounts/authenticate" novalidate="novalidate">
        <fieldset>
          <input type="hidden" value="https://login.livingsocial.com/login_callback" name="callback_url" id="callback_url">
          <h3>Đăng nhập hoặc <a href="<?=BASE_URL?>/auth/signup.html">Đăng ký</a></h3>
          <div class="control-group email">
            <label for="login_email">Địa chỉ email:
            </label>
            <input type="email" name="email" id="login_email">
          </div>

          <div class="control-group password">
            <label for="login_password">Mật khẩu:</label>
            <input type="password" size="30" name="password" id="login_password" autocomplete="OFF">
          </div>

          <div class="form-actions">
            <button id="login" class="btn btn-medium" type="submit">Đăng nhập</button>
            <ul class="unstyled forgot-password">
              <li><a href="<?=BASE_URL?>/auth/forgotpass.html">Quên mật khẩu</a></li>
              <li><a href="<?=BASE_URL?>/auth/signup.html">Không có mật khẩu</a></li>
            </ul>
          </div>

        </fieldset>
      </form>
    </div>

    <div class="facebook-connect">
      <h3>Đăng nhập với Facebook</h3>
      <div class="facebook">
        <a id="facebook-auth-login" href="#">
          <img class="" alt="Đăng nhập với Facebook" src="<?=STATIC_DOMAIN?>/images/fb_connect_v1.png"/>
        </a>
      </div>
      <ul>
        <li>Chúng tôi sẽ không đănng status lên tường nhà bạn</li>
      </ul>
    </div>

  </div>

</div>



        </div>
      </div>
      <div class="row">
        <div class="span12">
          
        </div>
      </div>
    </div>