<?php 
	$msg=$this->msg; 
	if(isset($msg) && strlen($msg)>0){
		echo "<div style='text-align:center;padding-top:30px'>".                
			$msg."</div>";
	}
?>
<script type="text/javascript" lang="javascript">
    $(document).ready(function() {
    	setTimeout(function(){
			window.location="<?=BASE_URL?>";
		},5000);	       
    });
</script>
