<div class="center">
    <div class="menu">
        <a href="<?= BASE_URL ?>" title="Trang chủ">Trang chủ </a> » Thoát
    </div>
</div>
<div style="background-color: #ffffff" class="block_center">
    <div style="padding: 20px; text-align: center; font-weight: bold; color: red;padding-top: 50px">
        Bạn đã đăng xuất thành công. Click vào <a href="<?=BASE_URL?>" title="Về trang chủ" style="text-decoration: underline">đây</a> để về trang chủ.
    </div>
    
    <br/>
            <br/>
            <br/>
            <img src="<?=STATIC_DOMAIN?>/images/thoitrang3_1.jpg" style="padding-left: 40px"/>
            
</div>

<script type="text/javascript" lang="javascript">
    $(document).ready(function() {
    	setTimeout(function(){
			window.location="<?=BASE_URL?>";
		},5000);	       
    });
</script>