<?php
	$msg=$this->msg;
	if(isset($msg) && strlen($msg)>0){
		echo "<div style='text-align:center;padding-top:30px'>".                
			$msg."</div>";
?>
<script type="text/javascript" lang="javascript">
    $(document).ready(function() {
    	setTimeout(function(){
			window.location="<?=BASE_URL?>";
		},5000);	       
    });
</script>
<?php
	}else{
?>
<div id="container">
                <div id="main" >

<form id="ghregister" action="<?=BASE_URL?>/auth/register" method="post" enctype="application/x-www-form-urlencoded" >
   <input type="hidden" name="hcode" id="hcode">
	<input type="hidden" name="htime" id="htime">
	<input type="hidden" name="hhash" id="hhash">
    <div class="regis">
        <div class="regis_title" style="padding-bottom:10px;">
            <div class="regis-tit">Đăng ký</div>
            <div class="fl"> 
				<p class="green"><b class="green">Hàng ngàn game hay, hấp dẫn đang chờ đón bạn!</b></p>               
                <p class="font12">Nếu bạn đã có tài khoản <span class="blue">GameHay99.com</span>, vui lòng <a title="Đăng nhập" href="javascript:void(0);" onclick="$('#txtAcc').focus();"><b>Đăng nhập</b></a></p>
            </div>
            <div class="clr"></div>
        </div>
        <div class="box-cor">
            <div class="regis-form">
                <div class="row">
                    <span class="col-l"><span class="abbr">*</span>Họ &amp; Tên: </span>
                    <span class="col-r">
                        <input class="input_regis" type="text" tabindex="1" maxlength="40" minlength="4" name="txtLastname" class="input" id="txtLastname" ></span>
                   
                    <div class="clr"></div>
                </div>
                <div class="rownote">
                    <span class="colnote">Chiều dài từ 4-40 ký tự </span>
                    <br class="clr">
                </div>               
                
                <div class="row">
                    <span class="col-l"><span class="abbr">*</span>Tài khoản:</span>
                    <span class="col-r">
                        <input class="input_regis" type="text" tabindex="3" name="txtAccountName" id="txtAccountName" class="input" maxlength="24">
                    </span>                   
                    <div class="clr"></div>
                </div>
                <div class="rownote">
                    <span class="colnote">Chiều dài từ 6-24 ký tự</span>
                    <br class="clr">
                </div>
               
                
                <div class="row">
                    <span class="col-l"><span class="abbr">*</span>Mật khẩu:</span>
                    <span class="col-r">
                        <input class="input_regis" type="password" tabindex="4" name="txtPassword" id="txtPassword" minlength="6" class="input" maxlength="32" value="">
                    </span>
                    <span class="checkok" id="chk_password_ok" style="display: none"><img height="1" width="1" src="register_files/space.gif"></span>
                    <div class="clr"></div>
                </div>
                <div class="rownote">
                    <span class="colnote">Chiều dài từ 6-32 ký tự</span>
                    <br class="clr">
                </div>
                <p class="textErr" id="error_password" style="display: none"></p>
                
                <div class="row">
                    <span class="col-l"><span class="abbr">*</span>Nhập lại mật khẩu:</span>
                    <span class="col-r"><input class="input_regis" type="password" tabindex="5" name="comfirmPassword" id="comfirmPassword" value="" maxlength="32" minlength="6" class="input"></span>                    
                    <div class="clr"></div>
                </div>
                <div class="rownote">
                    <span class="colnote">Bạn hãy nhập lại mật khẩu phía trên vừa nhập</span>
                    <br class="clr">
                </div>
               
                
				 <div class="row">
                    <span class="col-l"><span class="abbr">*</span>Email:</span>
                    <span class="col-r"><input class="input_regis" type="text" tabindex="5" name="txtEmail" id="txtEmail" value="" maxlength="32" minlength="8" class="input"></span>
                   
                    <div class="clr"></div>
                </div>
                <div class="rownote">
                    <span class="colnote">Địa chỉ email dùng để kích hoạt tài khoản (8-32 ký tự)</span>
                    <br class="clr">
                </div>

                <div class="row">
                    <span class="col-l"><span class="abbr">*</span>Giới tính:</span>
                    <span class="col-r">
                        <label><input type="radio" tabindex="6" name="cbGender" id="cbGenderMan" value="1" checked="checked" class="checkBR"> Nam </label><label>
                            <input type="radio" tabindex="7" name="cbGender" id="cbGenderWoman" value="0"  class="marl5 checkBR"> Nữ</label>
                    </span>
                    <div class="clr"></div>
                </div>
                    
                <div class="row">
                    <span class="col-l"><span class="abbr">*</span>Ngày sinh:</span>
                    <span class="col-r">
                        <select tabindex="8" name="cbDay" id="cbDay" class="select" style="width: 70px;">
                            <option value="0" selected="selected">Ngày</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                        <select tabindex="9" name="cbMonth" id="cbMonth" class="select" style="width: 80px;">
                            <option value="0" selected="selected">Tháng</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <select tabindex="10" name="cbYear" id="cbYear" class="select" style="width: 70px;">
                            <option value="0" selected="selected">Năm</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="0">------</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="0">------</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="0">------</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                            <option value="1970">1970</option>
                            <option value="0">------</option>
                            <option value="1969">1969</option>
                            <option value="1968">1968</option>
                            <option value="1967">1967</option>
                            <option value="1966">1966</option>
                            <option value="1965">1965</option>
                            <option value="1964">1964</option>
                            <option value="1963">1963</option>
                            <option value="1962">1962</option>
                            <option value="1961">1961</option>
                            <option value="1960">1960</option>
                            <option value="0">------</option>
                            <option value="1959">1959</option>
                            <option value="1958">1958</option>
                            <option value="1957">1957</option>
                            <option value="1956">1956</option>
                            <option value="1955">1955</option>
                            <option value="1954">1954</option>
                            <option value="1953">1953</option>
                            <option value="1952">1952</option>
                            <option value="1951">1951</option>
                        </select>
                            
                    </span>
                    <span class="checkok" id="chk_dob_ok" style="display: none"><img height="1" width="1" src="register_files/space.gif"></span>
                    <div class="clr"></div>
                </div>
                <p class="textErr" id="error_dob" style="display: none"></p>
                <div class="row">
                    <span class="col-l">Mã xác nhận:</span>
                    <span class="col-r"><img height="32px" width="164px" alt="Tải lại mã xác nhận " title="tải lại mã xác nhận" id="img_captcha" src=""></span>
                    <a href="javascript:void(0);" id="newcaptcha" onclick="GHApi.getCapchar();" >
						<span class="capcha">
							
						</span></a>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div class="row">
                    <span class="col-l"><span class="abbr">*</span>Nhập mã xác nhận:</span>
                    <span class="col-r"><input class="input_regis" type="text" tabindex="11" maxlength="6" minlength="6" name="verifycode" id="verifycode" class="input"></span>
                    
                    <div class="clr"></div>
                </div>             
                    
                <div class="row">
                    <span class="col-l">&nbsp;</span>
                    <span class="col-r btn_regis" onclick="GHApi.submitRegister();"></span>
                    <br class="clr">
                </div>
               <div class='clr'></div>
            </div>
           
                
        </div>
    </div>
</form>
                </div>
                <div class="clr"></div>
            </div>  

<script type="text/javascript" lang="javascript">
    $(document).ready(function() {
		$("#txtAccountName").blur(function(){ 
			var taikhoan=$("#txtAccountName").val();
			if(taikhoan.length<6 || taikhoan.length>24){				
					return;
			}		
			var url=baseUrl+"/auth/checkacc?acc="+taikhoan+"&callback=?";	
			$.getJSON(url, function (res) { 
	        	if(res.err==0 && res.data==1){					
			        GHApi.alert("Tài khoản này đã tồi tại");  
	        	}
	    	}); 			
		});
		 $("#txtEmail").blur(function(){
			var email=$("#txtEmail").val();
			var arr=email.split("@");
			if(email.length==0 || email.indexOf("@")<0 || arr.length<2 || (arr.length==2 && arr[1].length==0)){			
				return ;
			}
			var url=baseUrl+"/auth/checkemail?email="+email+"&callback=?";	
			$.getJSON(url, function (res) { 
	        	if(res.err==0 && res.data==1){ 					                 
			         GHApi.alert("Email này đã tồi tại");  
	        	}
	    	}); 			
		});     
		     
    	 GHApi.getCapchar();        
    });
</script>
<?}?>
