<link href="<?=STATIC_DOMAIN?>/css/lsui-2feb9aa.css" media="screen" rel="stylesheet" type="text/css" />
<link href="<?=STATIC_DOMAIN?>/css/application.css" media="screen" rel="stylesheet" type="text/css" />
<div class="container">


      <div class="row">
        <div class="span12 content">

          
<div class="auth-header">
  <h1 id="brand">
      <a class="ir livingsocial-logo logo-wt" href="<?=BASE_URL?>">LivingSocial</a>
  </h1>
</div>


<div class="auth-content">

  <div class="unauth">

    <div id="registration">
      <form method="post" id="register" action="https://accounts.livingsocial.com/accounts" novalidate="novalidate">
        <fieldset>
            <input type="hidden" value="https://login.livingsocial.com/signup_callback" name="redirect_url" id="redirect_url">
            <input type="hidden" value="en" name="locale" id="locale">
            <input type="hidden" value="broader_roadblock_dm_none_qt_none" name="ref" id="ref">

            <h3>Đăng ký hoặc <a href="<?=BASE_URL?>/auth/login.html">Đăng nhập</a></h3>

            <div class="control-group">
              <label for="first_name"><span title="translation missing: en.signup.label.first_name" class="translation_missing">Họ, tên đệm</span></label>
              <input type="text" name="first_name" id="first_name">
              <div class="error"></div>
            </div>

            <div class="control-group">
              <label for="last_name"><span title="translation missing: en.signup.label.last_name" class="translation_missing">Tên</span></label>
              <input type="text" name="last_name" id="last_name">
              <div class="error"></div>
            </div>

            <div class="control-group">
              <label for="email"><span title="translation missing: en.signup.label.email_address" class="translation_missing">Địa chỉ email</span></label>
              <input type="email" size="30" name="email" id="email">
              <div class="error"></div>
            </div>

            <div class="control-group">
              <label for="email_confirmation"><span title="translation missing: en.signup.label.email_confirmation" class="translation_missing">Nhập lại email</span></label>
              <input type="email" size="30" name="email_confirmation" id="email_confirmation" class="confirmation">
              <div class="error"></div>
            </div>

            <div class="control-group">
              <label for="password"><span title="translation missing: en.signup.label.password" class="translation_missing">Mật khẩu</span></label>
              <input type="password" size="30" name="password" id="password" autocomplete="OFF">
              <div class="error"></div>
            </div>

            <div class="control-group">
              <label for="password_confirmation"><span title="translation missing: en.signup.label.password_confirmation" class="translation_missing">Nhập lại mật khẩu</span></label>
              <input type="password" size="30" class="confirmation" name="password_confirmation" id="password_confirmation" autocomplete="OFF">
              <div class="error"></div>
            </div>

            <div class="form-actions">
              <button class="btn btn-medium" type="submit">Đăng ký</button>
              <ul style="margin-top: 20px;" class="unstyled terms">
                <li>
                  Bạn đăng ký thông tin là đã chấp nhận <a target="_blank" href="<?=BASE_URL?>/support/term.html">Quy chế hoạt động</a> và <a target="_blank" href="<?=BASE_URL?>/support/privacy.html">Chính sách quyền riêng tư</a>
                </li>
              </ul>
            </div>

        </fieldset>
      </form>
    </div>

    <div class="facebook-connect">
      <h3>Đăng nhập với Facebook</h3>
      <div class="facebook">
        <a id="facebook-auth-login" href="#">
          <img class="" alt="Đăng nhập với Facebook" src="<?=STATIC_DOMAIN?>/images/fb_connect_v1.png"/>
        </a>
      </div>
      <ul>
        <li>Chúng tôi sẽ không đănng status lên tường nhà bạn</li>
      </ul>
    </div>
  </div>

</div>



        </div>
      </div>
      <div class="row">
        <div class="span12">
          
        </div>
      </div>
    </div>