<?php
$cart = $this->cart;
$quantity = $this->quantity;
?>
<div id="row row-none">
   <div class="container">
      <div id="middle">
         <div id="page-name">
             <ul id="sys_pagename">
               <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<?=BASE_URL?>" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                   </div>
               </li>
               <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<?=BASE_URL?>/san-pham.html" itemprop="url"><span itemprop="title">Sản Phẩm</span></a>
                   </div>
               </li>
                <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<?=BASE_URL?>/gio-hang" itemprop="url"><span itemprop="title">Giỏ hàng</span></a>
                   </div>
               </li>
                <li>
                  Thanh toán đơn hàng
               </li>
            </ul>
         </div>
         <div id="layout_content" class="row row-10">
            <div class="col-sm-18 col-10">
               <div id="content">
               		<?php if(count($cart)>0) {?>
                  <div id="show-cart" ng-controller="paymentCtrl" class="ng-scope">
                     <form action="<?=BASE_URL?>/gio-hang/thanh-toan" method="post" accept-charset="utf-8" id="frm_savecart" name="frm_savecart" class="form-horizontal ng-pristine ng-valid" ng-submit="submit($event)">
                        <div id="sysmessages"></div>
                        <div style="display:none"><input name="saler" id="saler" value="16627" type="hidden"><input name="action" id="action" value="add-cart" type="hidden"></div>
                        <input name="use_cache" id="use_cache" value="0" type="hidden"><input name="frm_token" value="a516246d72c365a070de75df5c55c935d5fd485e570278ab217169e840aaa48b" type="hidden"> 
                        <div class="row" style="margin-left: 0;margin-right: 0;">
                           <h3>Thông tin người đặt hàng</h3>
                           <div class="col-sm-12" style="margin-left: 0;margin-right: 0;" ng-init="formData = {&quot;phoneBuy&quot;:&quot;&quot;,&quot;fullnameBuy&quot;:&quot;&quot;,&quot;emailBuy&quot;:&quot;&quot;,&quot;provinceBuy&quot;:&quot;&quot;,&quot;districtBuy&quot;:null,&quot;addressBuy&quot;:&quot;&quot;,&quot;phoneConsignee&quot;:&quot;&quot;,&quot;fullnameConsignee&quot;:&quot;&quot;,&quot;emailConsignee&quot;:&quot;&quot;,&quot;provinceConsignee&quot;:&quot;&quot;,&quot;addressConsignee&quot;:&quot;&quot;,&quot;districtConsignee&quot;:null};">
                              <div class="form-group" style="margin-left: 0;margin-right: 0;">
                                 <label class="control-label col-sm-8" for="ho_t_buyer_phone">Điện thoại</label> 
                                 <div class="col-sm-16"><input name="buyer_phone" id="buyer_phone" class="phone form-control ng-pristine ng-valid ng-empty ng-touched" tabindex="2" ng-model="formData.phoneBuy" ng-change="formData.phoneConsignee = formData.phoneBuy" type="text"></div>
                              </div>
                              <div class="form-group" style="margin-left: 0;margin-right: 0;">
                                 <label class="control-label col-sm-8" for="ho_t_buyer_fullname">Họ tên</label> 
                                 <div class="col-sm-16"><input name="buyer_fullname" id="buyer_fullname" class="fullname form-control ng-pristine ng-untouched ng-valid ng-empty" tabindex="1" ng-model="formData.fullnameBuy" ng-change="formData.fullnameConsignee = formData.fullnameBuy" type="text"></div>
                              </div>
                              <div class="form-group" style="margin-left: 0;margin-right: 0;">
                                 <label class="control-label col-sm-8" for="ho_t_buyer_email">Email</label> 
                                 <div class="col-sm-16"><input name="buyer_email" id="buyer_email" class="fullname form-control ng-pristine ng-untouched ng-valid ng-empty" tabindex="1" ng-model="formData.emailBuy" ng-change="formData.emailConsignee = formData.emailBuy" type="text"></div>
                              </div>
                           </div>
                           <div class="col-sm-12" style="margin-left: 0;margin-right: 0;">
                              <div class="form-group" style="margin-left: 0;margin-right: 0;">
                                 <label class="control-label col-sm-8" for="buyer_address">Địa chỉ</label> 
                                 <div class="col-sm-16"><input name="buyer_address" id="buyer_address" class="phone form-control ng-pristine ng-untouched ng-valid ng-empty" tabindex="2" ng-model="formData.addressBuy" ng-change="formData.addressConsignee = formData.addressBuy" type="text"></div>
                              </div>
                              <div class="form-group" style="margin-left: 0;margin-right: 0;">
                                 <label class="control-label col-sm-8" for="buyer_province">Tỉnh/TP</label> 
                                 <div class="col-sm-16">
                                    <select name="buyer_province" id="buyer_province" tabindex="4" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="formData.provinceBuy">
                                       <option value="" selected="selected"></option>
                                       <option value="8">TP Hồ Chí Minh</option>
                                       <option value="3">Bà Rịa - Vũng Tàu</option>
                                       <option value="4">Bạc Liêu</option>
                                       <option value="5">Bắc Cạn</option>
                                       <option value="6">Bắc Giang</option>
                                       <option value="7">Cà Mau</option>
                                       <option value="9">Bình Dương</option>
                                       <option value="10">Bình Định</option>
                                       <option value="11">Bình Phước</option>
                                       <option value="12">Bình Thuận</option>
                                       <option value="13">Bến Tre</option>
                                       <option value="14">Cao Bằng</option>
                                       <option value="15">TP Cần Thơ</option>
                                       <option value="16">TP Đà Nẳng</option>
                                       <option value="17">Đắc Lắk</option>
                                       <option value="18">Đắc Nông</option>
                                       <option value="19">Điện Biên</option>
                                       <option value="20">Đồng Nai</option>
                                       <option value="21">Đồng Tháp</option>
                                       <option value="22">Gia Lai</option>
                                       <option value="23">Hà Giang</option>
                                       <option value="24">Hà Nam</option>
                                       <option value="25">TP Hà Nội</option>
                                       <option value="27">Hà Tỉnh</option>
                                       <option value="28">Hải Dương</option>
                                       <option value="29">TP Hải Phòng</option>
                                       <option value="30">Hậu Giang</option>
                                       <option value="31">Hòa Bình</option>
                                       <option value="32">Hưng Yên</option>
                                       <option value="33">Khánh Hòa</option>
                                       <option value="34">Kiên Giang</option>
                                       <option value="35">Kon Tum</option>
                                       <option value="36">Lai Châu</option>
                                       <option value="37">Lâm Đồng</option>
                                       <option value="38">Lạng Sơn</option>
                                       <option value="39">Lào Cai</option>
                                       <option value="40">Long An</option>
                                       <option value="41">Nam Định</option>
                                       <option value="42">Nghệ An</option>
                                       <option value="43">Ninh Bình</option>
                                       <option value="44">Ninh Thuận</option>
                                       <option value="45">Phú Thọ</option>
                                       <option value="46">Phú Yên</option>
                                       <option value="47">Quảng Bình</option>
                                       <option value="48">Quảng Nam</option>
                                       <option value="49">Quảng Ngãi</option>
                                       <option value="50">Quảng Ninh</option>
                                       <option value="51">Quảng Trị</option>
                                       <option value="52">Sóc Trăng</option>
                                       <option value="53">Sơn La</option>
                                       <option value="54">Tây Ninh</option>
                                       <option value="55">Thái Bình</option>
                                       <option value="2">Thừa Thiên Huế</option>
                                       <option value="56">Thái Nguyên</option>
                                       <option value="57">Thanh Hóa</option>
                                       <option value="58">An Giang</option>
                                       <option value="59">Tiền Giang</option>
                                       <option value="60">Bắc Ninh</option>
                                       <option value="61">Trà Vinh</option>
                                       <option value="62">Tuyên Quang</option>
                                       <option value="63">Vĩnh Long</option>
                                       <option value="64">Vĩnh Phúc</option>
                                       <option value="65">Yên Bái</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="block_shc" style="display: none;">
                           <h3>Thông tin người nhận hàng</h3>
                           <div class="p-block"><label for="ho_t_consignee_phone">Điện thoại</label><input name="ho_t_consignee_phone" id="ho_t_consignee_phone" class="phone ng-pristine ng-untouched ng-valid ng-empty" tabindex="9" ng-model="formData.phoneConsignee" type="text"></div>
                           <div class="p-block"><label for="ho_t_consignee_fullname">Họ tên</label><input name="ho_t_consignee_fullname" id="ho_t_consignee_fullname" class="fullname ng-pristine ng-untouched ng-valid ng-empty" tabindex="8" ng-model="formData.fullnameConsignee" type="text"></div>
                           <div class="p-block"><label for="ho_t_consignee_email">Email</label><input name="ho_t_consignee_email" id="ho_t_consignee_email" class="email ng-pristine ng-untouched ng-valid ng-empty" tabindex="10" ng-model="formData.emailConsignee" type="text"></div>
                           <div class="p-block">
                              <label for="ho_t_consignee_province">Tỉnh/TP</label>
                              <select name="ho_t_consignee_province" id="ho_t_consignee_province" tabindex="11" ng-model="formData.provinceConsignee" class="ng-pristine ng-untouched ng-valid ng-empty">
                                 <option value="" selected="selected"></option>
                                 <option value="8">TP Hồ Chí Minh</option>
                                 <option value="3">Bà Rịa - Vũng Tàu</option>
                                 <option value="4">Bạc Liêu</option>
                                 <option value="5">Bắc Cạn</option>
                                 <option value="6">Bắc Giang</option>
                                 <option value="7">Cà Mau</option>
                                 <option value="9">Bình Dương</option>
                                 <option value="10">Bình Định</option>
                                 <option value="11">Bình Phước</option>
                                 <option value="12">Bình Thuận</option>
                                 <option value="13">Bến Tre</option>
                                 <option value="14">Cao Bằng</option>
                                 <option value="15">TP Cần Thơ</option>
                                 <option value="16">TP Đà Nẳng</option>
                                 <option value="17">Đắc Lắk</option>
                                 <option value="18">Đắc Nông</option>
                                 <option value="19">Điện Biên</option>
                                 <option value="20">Đồng Nai</option>
                                 <option value="21">Đồng Tháp</option>
                                 <option value="22">Gia Lai</option>
                                 <option value="23">Hà Giang</option>
                                 <option value="24">Hà Nam</option>
                                 <option value="25">TP Hà Nội</option>
                                 <option value="27">Hà Tỉnh</option>
                                 <option value="28">Hải Dương</option>
                                 <option value="29">TP Hải Phòng</option>
                                 <option value="30">Hậu Giang</option>
                                 <option value="31">Hòa Bình</option>
                                 <option value="32">Hưng Yên</option>
                                 <option value="33">Khánh Hòa</option>
                                 <option value="34">Kiên Giang</option>
                                 <option value="35">Kon Tum</option>
                                 <option value="36">Lai Châu</option>
                                 <option value="37">Lâm Đồng</option>
                                 <option value="38">Lạng Sơn</option>
                                 <option value="39">Lào Cai</option>
                                 <option value="40">Long An</option>
                                 <option value="41">Nam Định</option>
                                 <option value="42">Nghệ An</option>
                                 <option value="43">Ninh Bình</option>
                                 <option value="44">Ninh Thuận</option>
                                 <option value="45">Phú Thọ</option>
                                 <option value="46">Phú Yên</option>
                                 <option value="47">Quảng Bình</option>
                                 <option value="48">Quảng Nam</option>
                                 <option value="49">Quảng Ngãi</option>
                                 <option value="50">Quảng Ninh</option>
                                 <option value="51">Quảng Trị</option>
                                 <option value="52">Sóc Trăng</option>
                                 <option value="53">Sơn La</option>
                                 <option value="54">Tây Ninh</option>
                                 <option value="55">Thái Bình</option>
                                 <option value="2">Thừa Thiên Huế</option>
                                 <option value="56">Thái Nguyên</option>
                                 <option value="57">Thanh Hóa</option>
                                 <option value="58">An Giang</option>
                                 <option value="59">Tiền Giang</option>
                                 <option value="60">Bắc Ninh</option>
                                 <option value="61">Trà Vinh</option>
                                 <option value="62">Tuyên Quang</option>
                                 <option value="63">Vĩnh Long</option>
                                 <option value="64">Vĩnh Phúc</option>
                                 <option value="65">Yên Bái</option>
                              </select>
                           </div>
                           <div class="p-block"><label for="ho_t_consignee_address">Địa chỉ</label><input name="ho_t_consignee_address" id="ho_t_consignee_address" class="address ng-pristine ng-untouched ng-valid ng-empty" tabindex="13" ng-model="formData.addressConsignee" type="text"></div>
                           <div class="form-group" style="margin-left: 0;margin-right: 0;">
                              <label class="control-label col-sm-8" for="ho_t_consignee_province_dis">Quận/Huyện:</label> 
                              <div class="col-sm-16">
                                 <select id="ho_t_consignee_province_dis" name="ho_t_consignee_province_dis" tabindex="4" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="formData.districtConsignee">
                                    <option value="? object:null ?"></option>
                                    <option value="? object:null ?" selected="selected"></option>
                                    <!-- ngRepeat: (id, val) in districtConsigneeObj --> 
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="form-group" style="margin-left: 0;margin-right: 0;">
                           <label class="control-label col-sm-4" for="ho_t_note">Ghi chú</label> 
                           <div class="col-sm-20"> <textarea name="buyer_note" cols="40" rows="10" id="ho_t_note" tabindex="7" class="form-control"></textarea> </div>
                        </div>
                        <div class="form-group" style="margin-left: 0;margin-right: 0;">
                           <div class="col-sm-10 col-sm-offset-2"> <input name="submit-cart" value="Gửi thông tin đặt hàng tới Đặc Sản Đây" class="btn btn-primary" type="button" onclick="cart.sendCart();"> </div>
                        </div>
                     </form>
                     <table class="ho_showcart" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                           <tr>
                              <td class="th th-1"></td>
                              <td class="th th-2">STT</td>
                              <td class="th th-3">Sản phẩm</td>
                              <td class="th th-4">Đơn giá<small>(VNĐ)</small></td>
                              <td class="th th-5">Số lượng</td>
                              <td class="th th-6">Thành tiền<small>(VNĐ)</small></td>
                           </tr>
                           <?php 
                           		$order =1;
                           		$totalBill = 0;
                           		foreach ($cart as $key => $value) {
                           			$productId = $value['id'];
                           			$subBill = $quantity[$productId] * $value['new_price'];
                           			$totalBill += $subBill;
                           ?>
                           <tr id="pd_<?=$order?>">
                              <td><a class="del-cart" onclick="cart.deleteProduct(<?=$value['id']?>,<?=$order?>)">Xóa</a></td>
                              <td><?=$order?></td>
                              <td style="text-align: left;">
                                 <a href="<?=BASE_URL?>/chi-tiet/san-pham/<?=$productId?>/" title="<?=$value['name']?>"><img src="<?=IMAGE_URL."/product/".$value['image']?>150x150.jpg" width="150px"></a>
                                 <a href="<?=BASE_URL?>/chi-tiet/san-pham/<?=$productId?>/" title="<?=$value['name']?>"><h3 style="margin: 0;padding: 0;"><?=$value['name']?></h3></a>
                              </td>
                              <td><span class="cost"><b><span id="cost_<?=$order?>" relcost="<?=$value['new_price']?>"><?=Common::numberFormat($value['new_price'])?></span></b></span></td>
                              <td><input id="quantity_<?=$order?>" order="<?=$order?>" class="cart-qty" value="<?=$quantity[$productId]?>" pdid="<?=$productId?>" type="text"><span data-type="down" class="qty qty-down" onclick="cart.downQuantity(<?=$order?>)"></span><span data-type="up" class="qty qty-up"onclick="cart.upQuantity(<?=$order?>)"></span></td>
                              <td class="subtotal"><span class="subtotal" data-val="20000"><b><span id="subTotal_<?=$order?>"><?=Common::numberFormat($subBill)?></span></b></span></td>
                           </tr>
                           <? $order++; } ?>
                           <tr>
                              <td class="total" colspan="6">
                                 <lable>Tổng thành tiền<small>(VNĐ)</small>: <span class="total" data-val="52000"><b><span id="totalBill"><?=Common::numberFormat($totalBill)?></span></b></span></lable>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               <? } else {?>
               <div class="col-sm-18 col-10"> <div id="content"> <div id="sys-messages"><h4>Hiện tại giỏ hàng của bạn chưa có sản phẩm nào.</h4></div> </div> </div>
               <?} ?>
               </div>
            </div>
            <?= $this->boxright ?>
         </div>
      </div>
   </div>
</div>
<input type="hidden" id="originTotalProduct" value ="<?=count($cart)?>"/>
<script type="text/javascript">
	dacsandayInit.initPageCartPage();
</script>