

<div id="row row-none">
   <div class="container">
      <div id="middle">
         <div id="page-name">
            <ul id="sys_pagename">
               <li><span><a href="<?=BASE_URL?>?ref=checkout">Trang chủ</a></span></li>
               <li><span><a href="<?=BASE_URL?>/san-pham.html?ref=checkout">Sản Phẩm</a></span></li>
               <li><span><a href="<?=BASE_URL?>/gio-hang.html?">Giỏ hàng</a></span></li>
               <li><span>Thanh toán đơn hàng</span></li>
            </ul>
         </div>
         <div id="layout_content" class="row row-10">
            <div class="col-sm-18 col-10">
               <div id="content">
                  <div id="sys-messages">Gửi đơn hàng thành công. <b><?=SHOP_NAME?></b> sẽ liên hệ với bạn để tiến hàng giao sản phẩm.<a href="<?=BASE_URL?>?ref=checkout">Quay về trang chủ.</a></div>
               </div>
            </div>
            <?= $this->boxright ?>
         </div>
      </div>
   </div>
</div>