
<div id="wrapper">
    	<h1><a href=""><span>MP3 Admin</span></a></h1>
        <div id="containerHolder">
			<div id="containerLogin">
                <div id="main" style="float:left !important; padding-left:120px">
                			<form name="frmLogin" id="frmLogin" class="jNice" method="post" action="http://admin.mp3.zing.vn/auth/login">
		<h3>Đăng Nhập</h3>
		<fieldset>
			<p id="errMsg" class="none"></p>
			<p><label>Tài Khỏan:</label><input type="text" class="text-long" id="txtAcc" name="username"></p>
			<p><label>Mập Khẩu:</label><input type="password" class="text-long" id="txtPass" name="password"></p>
			<button id="btnLogin" name="" type="submit" class=""><span><span>Đăng Nhập</span></span></button>
			<button id="" name="" type="reset" class=""><span><span>Nhập Lại</span></span></button>
		</fieldset>
		</form>
		<br>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <p id="footer">© Zing Home</p>
    </div>