<h2 class="ptitle"><a class="fr lk_back" href="<?= BASE_URL ?>/admin/content/category">Trở về</a><?=$this->enableItemsCates["category_name"]?></h2>

<?php

$listsubcate = $this->enableItemsCates["subcates"];
if(!empty($listsubcate))
{
	?>

	 <div class="category_detail">
	 <ul class="excerpt_list clearfix sitelist" id="itemList_<?=$this->enableItemsCates["uid"]?>">	
                	
	<?php
	$itrs = 0; 
	$itemsInCate="";
	foreach ($listsubcate as $subcate)
	{
		
		?>
<!--                <p><b><?=$subcate["category_name"]?></b></p>-->
                <?php if(!empty($subcate))
                {
                	$listlink = $subcate["items"];
                	
                	foreach ($listlink as $item)
                	{
                		if($itrs==0)
                		{
          					$itemsInCate.=$item["uid"];      			
                		}
                		else
                		{
                			$itemsInCate.=":".$item["uid"];
                		}
              			$itrs++;  		
                		?>
                		<li>
	                		<div>
	                			<span class="drag2_icn fl"></span>
	                			<input id="chkItem_<?php echo $this->enableItemsCates["uid"] . "_" . $item['uid']; ?>" type="checkbox" class="checkbox fl" <?php if ($item["enable"])
                    echo "checked"; ?>/>
	                			<a target="_blank" href="<?=$item["url"]?>" ><img class="favicon" border="0" src="<?=DOMAIN_FAVICO?>/favico/aitms/<?=$item["icon"]?>" alt="" width="16" height="16"><?=$item["title"]?></a>
	                		</div>
                		</li>
                		<?php 
                	}	
                	?>
                	
                	
                	<?php
                }
                else
                {
                	echo "Empty!";
                }
                ?>
               
        	
		<?php 
	}
	?>
	</ul>
	
	<div class="clear"></div>	
	<input value="<?=$itemsInCate?>" type="hidden" id="hidItemsList_<?=$this->enableItemsCates["uid"]?>" />
	 </div>	
		
	<p class="right">
	    <a onclick="saveItemsAdminOrder('<?=$this->enableItemsCates["uid"]?>')" class="btn2 margin0">
	        <span>Lưu </span>
	    </a>
	</p>
	<?php 
}
else
{
	echo "Empty!";
}
?>
<script type="text/javascript">
var tmpId = "#itemList_<?=$this->enableItemsCates["uid"]?>";
zm(tmpId).startDragDrop();

</script>




