<h2 class="ptitle">Set up trang chủ</h2>
<p>Chọn các danh mục chính bên dưới click nút "Thêm" để hiển thị danh mục đó trên trang chủ</p>
<div class="dragable_sect">
    <ul class="list_order" id="cateList" name="cateList">
        <?php $strCateId = "";
        	for ($i = 0; $i < count($this->allBmaCate); $i++) { $strCateId .= $this->allBmaCate[$i]['uid']; if($i<count($this->allBmaCate)-1) $strCateId .= ":";?>
            <li id="liCate_<?=$this->allBmaCate[$i]['uid']?>" <?php if ($i % 2 == 0)
            echo "class='alt'"; ?>>
                <span class="drag_icn fl"></span>
                <span class="cate_name fl" id="cate_name_<?=$this->allBmaCate[$i]['uid']?>">
                    <a><?php echo $this->allBmaCate[$i]['category_name']; ?></a>
                </span>
                <?php if ($this->allBmaCate[$i]['enable'] == 0) { ?>
                    <a id="enableCate_<?=$this->allBmaCate[$i]['uid']?>" onclick="enableCateAdmin(<?=$this->allBmaCate[$i]['uid']?>)" class="cate_add fr">Thêm</a>
                    <a id="disableCate_<?=$this->allBmaCate[$i]['uid']?>" onclick="disableCateAdmin(<?=$this->allBmaCate[$i]['uid']?>)" class="cate_del fr" style="display: none">Xóa</a>
                    <span id="enableShow_<?=$this->allBmaCate[$i]['uid']?>" class="chkadd_ok fr" style="display: none">Đã thêm</span>
                    <?php
                } else {
                    ?>
                    <a id="enableCate_<?=$this->allBmaCate[$i]['uid']?>" onclick="enableCateAdmin(<?=$this->allBmaCate[$i]['uid']?>)" class="cate_add fr" style="display: none">Thêm</a>
                    <a id="disableCate_<?=$this->allBmaCate[$i]['uid']?>" onclick="disableCateAdmin(<?=$this->allBmaCate[$i]['uid']?>)" class="cate_del fr">Xóa</a>
                    <span id="enableShow_<?=$this->allBmaCate[$i]['uid']?>" class="chkadd_ok fr">Đã thêm</span>
                <?php } ?>
            </li>
            <?php
        }
        ?>
    </ul>
    <input type="hidden" name="strCateId" id="strCateId" value="<?=$strCateId?>">
</div>
<p class="right">

    <a onclick="saveCateAdminOrder()" class="btn2 margin0">
        <span>Lưu và tiếp tục</span>
    </a>
</p>
<script type="text/javascript">
    zm("#cateList").startDragDrop();
</script>