<div class="ptitle">Update Hashtag</div>
<div id="zh_msg" style="text-align:center;color: red;font-weight: bold"><?=$this->msg?></div>
<div class="dragable_sect">
	<?php 
		$current=$this->current;
		if(isset ($current) && strlen(trim($current))>0){
			echo "<div style='padding:2px;max-width:600px'>Current hashtag: <b>".$current."</b></div>";
		}
	?>	
    <form action="<?=BASE_URL?>/admin/content/hashtag" method="post">
		<input type="text" value="" name="txt_hashtag" maxlength="200" style="width: 600px"/>
		<input type="submit" value="Update" style="float: right"/>
	</form>
</div>
<script type="text/javascript">
	zm.ready(function() {
		setTimeout(function(){
			zm('#zh_msg').html('');
		}, 2000);
	});
</script>