<div class="main_page">
	<div class="leftcol">
		
		<div class="box_content">
			<p class="txt_head_box">Có thể <span id="infouser">bạn</span> muốn xem</p>
			<?php
				$objDate = getdate();
				$time=$objDate['year'].$objDate['mon'].$objDate['mday'];
				$bmtoplist=$this->bmtoplist;
				$count=0;
				echo "<ul class='hot_sites'>";
				foreach($bmtoplist as $item){
					$count++;
					if($count<11){
						$href=$item["url"];
						echo
						"<li >".
							"<a  class='' title='".$item["title"]."' target='_blank' href='$href' onclick=\"selectHLinkNScrLog('".$item['url']."',".$item['uid'].")\">".
								"<img border='0' width='16' height='16' alt='".$item['title']."' src='".STATIC_BOOKMARK_URL."/favico/aitms/".$item['icon']."' class='favicon'>".
								$item["title"].
							"</a>".
						"</li>";
					}
				}
				echo "<br class='clr'>";
				echo "</ul>";
			?>
			<div id="hotlink" style="height: 80px"></div>
		</div>
		<div class="banner" id="zh_bn" style="height: 70px"></div>
		<div class="box_content">
			<p class="txt_head_box">Danh mục Web</p>
			<div class="web_link">
					<?php
                    $datas = $this->datas; 
					$i=1;
                    foreach ($datas as $data)
                    {
						$bl="";
						$mar="";
						if($i%4==0)
							$mar="<div class='mar25'></div>";
						if($i%2==0)
							$bl=" bg_line";
						$items=$data['items'];
						$countItem =$data['items_count'];
						if($i>MAX_CATEGORY_SHOWED)
							echo "<div id='bookmarkext' style='display:none'>";
                    ?>
						<div class="group<?php echo $bl;?>">
						  <p><a class="title_cate" href="<?=BASE_URL?>/cate?catid=<?=$data['uid']?>&catname=<?=$data["category_name"]; ?>" title="<?=$data["category_name"]; ?>"><?=$data["category_name"]; ?><span class="num_link"> (<?=$countItem?>)</span></a></p>
						   <ul class="act_link">
							<li>
								<?php
									$n=count($items);
									$j=0;
									foreach($items as $item){
										$end="";
										if($j==4)
											$end=" class='ended'";
										echo
											"<span >".
												"<a $end title='".$item["title"]."'  target='_blank' href='".$item['url']."' onclick=\"selectLinkNScrLog(". $data['uid'].",". $item['category_id'].",'".$item['url']."',1,".$item['uid'].")\">".
														Utils_Common::getShortenedContent($item["title"],MAX_LEN_LINK_INDEX).
													"</a>".
											"</span>";
								
									if($j>$n || $j>4)
										break;
									$j++;
								}
								?>
							</li>
							<br class="clr">
						  </ul>
						  <p class="otherlink fr">
							  <a  href="<?=BASE_URL?>/cate?catid=<?=$data['uid']?>&catname=<?=$data["category_name"]; ?>" title="<?=$data["category_name"]; ?>">Thêm<span class="more_link imsprt"></span></a>
						  </p>
						  <div class="clr"></div>
						</div>
					<?
						echo $mar;
						$i++;
						if($i>MAX_CATEGORY_SHOWED)
							break;
					}
					if(count($datas)>MAX_CATEGORY_SHOWED)
					{
					?>
						<div class="vm_btn">
							<span class="ico imsprt"></span>
							<a href="javascript:void(0);" >Xem thêm</a>
						</div>
				  <?}?>
			</div>
		</div>
	</div>
	<div class="rightcol">
		<?=$this->boxevent?>
		<div class="box_content">
			<p class="ulti_title">Tiện ích</p>
			<ul class="ulti_cate">
				<li>
					<a href="<?=BASE_URL?>/news" title="Đọc tin nhanh" onclick="UtilScrlog('quick_news', '<?=BASE_URL?>/news');">
						<span class="read_icn imsprt"></span>Đọc tin nhanh
						<span class="open_tab imsprt fr"></span>
					</a>
				</li>
				<li>
					<a href="http://mp3.zing.vn/radio" title="Nghe nhạc" target="_blank" onclick="UtilScrlog('mp3_radio', 'http://mp3.zing.vn/radio');" >
						<span class="listen_icn imsprt"></span>Nghe nhạc
						<span class="open_tab imsprt fr"></span>
					</a>
				</li>
				<li class="last">
					<a href="javascript:void(0);" title="Tiện ích khác" style="cursor: default">
						<span class="otherulti_icn imsprt"></span>Tiện ích khác
					</a>
					<ul class="sub_menu">
						<li>
							<a title="Kết quả xổ số" href="javascript:void(0);" onclick="ZHomePopUp.kqxs('<?=DEFAULT_CITY_GET_KQXS?>');">
								<span class="sub_icn imsprt"></span>
								Kết quả xổ số
							</a>
						</li>
						<li>
							<a title="Lịch phát sóng truyền hình" href="javascript:void(0);" onclick="ZHomePopUp.tvschedule('<?=DEFAULT_CHANNEL_GET_TVSCHEDULE?>');" >
								<span class="sub_icn imsprt"></span>
								Lịch phát sóng truyền hình
							</a>
						</li>
						<li>
							<a title="Lịch chiếu phim rạp" href="javascript:void(0);" onclick="ZHomePopUp.cinema('<?=DEFAULT_CITY_GET_CINEMA?>');">
								<span class="sub_icn imsprt"></span>
								Lịch chiếu phim rạp
							</a>
						</li>
						<li class="last">
							<a title="Kết quả bóng đá" href="javascript:void(0);" onclick="ZHomePopUp.soccer('<?=DEFAULT_PRIZE_GET_SOCCER?>');">
								<span class="sub_icn imsprt"></span>
								Kết quả bóng đá
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="other_cate">
			<p class="other_cate_head">Danh mục khác</p>
			<div class="box_content">
				<ul class="morelink">
					<?php
						$cates=Bookmark_Utils_Utils::getBottomCate();
						foreach ($cates as $cate) {
							echo
								"<li>".
									"<a title='".$cate['category_name']."' href='".BASE_URL."/cate?catid=".$cate['uid']."&catname=".$cate['category_name']."'>".
										$cate['category_name'].
										"<span class='num_link'> (".$cate['items_count'].")</span>".
									"</a>".
								"</li>";
						}
					?>
					<br class="clr">
				</ul>
			</div>
		</div>
		<div class="other_cate">
			<p class="other_cate_head">Link vừa chia sẻ</p>
				<div class="box_content">
					<div class="box_cont" id="zmlde">
						<?php
						
							$sharelink=$this->sharelink;
							foreach($sharelink->data as $item){
						?>
						<p class="row_excerpt_link clearfix" >
								<a title="<?=$item->title?>" href="<?=$item->url?>" target="_blank">
								  <img border="0" width="40" height="40" class="imgl" alt="<?=$item->title?>" src="<?=$item->image?>">
								</a>
								<a class="title_link" href="<?=$item->url?>" title="<?=$item->title?>" target="_blank"><?=$item->title?></a>
								<br>
								<span class="grey"><?=$item->newsName?></span>
							</p>
						<?php }?>
						<div class="clr"></div>
					</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	zm.ready(function() {
		ZHomeApi.getHotLink();
		zm("#zmlde p a").click(function(){
			selectBLinkNScrLog();
		});
	});
</script>