<div class="main_page">
	<p class="link_position"><a href="#">Trang chủ</a> / Tin tức báo chí</p>
	<div class="leftcol">
		<div class="box_content">
			<p class="txt_head_box">Tin tức Euro 2012</p>
			<ul class="cxlink">
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Dân trí</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Tuổi trẻ</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Thanh Niên</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Ngôi Sao</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Zing Play</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Mobifone</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Thế giới di động</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">HihiHehe</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Mua chung</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Trò chơi vui</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Dân trí</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Tuổi trẻ</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Thanh Niên</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Ngôi Sao</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Zing Play</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Mobifone</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Thế giới di động</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">HihiHehe</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Mua chung</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Trò chơi vui</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Dân trí</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Tuổi trẻ</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Thanh Niên</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Ngôi Sao</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Zing Play</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Mobifone</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">Thế giới di động</a></li>
				<li><a href="#"><img border="0" width="16" height="16" src="http://stc.home.zdn.vn/favico/aitms/487.png" class="favicon">HihiHehe</a></li>
				<br class="clr">
			</ul>


			<div class="clr"></div>
		</div>


	</div>
	<div class="rightcol">
		<div class="box_content">
			<p class="ulti_title">
				Tham gia bình luận euro 2012 <span><img src="http://static.me.zing.vn/images/app_uploads/newv1.gif"></span>
			</p>
			<ul class="match_detail">
				<li><p><a href="#">Italia - Croatia</a><span class="time">[12/06 23h]</span></p></li>

				<li><p><a href="#">Tây Ban Nha - CH Ireland</a><span class="time">[13/06 01h45]</span></p></li>
				<br class="clr">
			</ul>
		</div>
		<div class="box_content">
			<?=$this->template?>
		</div>

	</div>
</div>