<?php
$item=$this->item;
$cateId=$this->cateId;
$sub=$this->sub;
if(intval($item['checked'])>0) {
	if(intval($item["domain"])==2) {
		$url_ico=STATIC2_BOOKMARK_URL."/ico/".$item["icon"];
		$url_tb=STATIC2_BOOKMARK_URL."/tb/".$item["thumbnail"];
	}else {
		$url_ico=STATIC_BOOKMARK_URL."/favico/aitms/".$item["icon"];
		$url_tb=STATIC_BOOKMARK_URL."/thumbnail/".$item["thumbnail"];
	}
}else {
	$url_ico=BASE_URL."/tmp/ico/".$item['icon'];
	$url_tb=BASE_URL."/tmp/tb/".$item["thumbnail"];
}
?>

<div class="ptitle">Edit link</div>
<div style="text-align:center;color: red;font-weight: bold" id="zh_msg">&nbsp;<?=$this->msg?></div>
<div style="padding-top: 20px">
	<div class="ZMThreadRow" style="min-height: 520px">
		<form id="frm_sualink" action="<?=BASE_URL?>/admin/content/sua" method="post">
			<input type="hidden" name="uid" value="<?=$item['uid']?>" id="uid"/>
			<input type="hidden" name="fromtime" value="<?=$this->fromtime?>"/>
			<input type="hidden" name="totime" value="<?=$this->totime?>"/>
			<input type="hidden" name="keysearch" value="<?=$this->keysearch?>"/>
			<input type="hidden" name="page" value="<?=$this->page?>"/>
			<input type="hidden" name="zh_ico_hidden" value="" id="zh_ico_hidden" />
			<input type="hidden" name="zh_tb_hidden" value="" id="zh_tb_hidden" />
			<table cellspacing="0" cellpadding="0" class="read">
				<tbody>
					<tr>
						<td>Category:</td>
						<td>
							<table style="width: 500px;">
								<tr>

									<td style="padding-left: 0px;">
										<select style="width: 250px" id="rootcate" name="rootcate" onchange="ZHomeAdmin.getSubCate();">
											<?php
											$root=$this->root;
											foreach ($root as $it) {
												$selected="";

												if($it['uid']==$cateId)
													$selected="selected";
												echo "<option $selected value='".$it['uid']."'>".$it['category_name']."</option>";
											}
											?>
										</select>
									</td>
									<td>
										<select  style="width: 250px" id="subcate" name="subcate">
											<?php
											foreach ($sub as $it) {
												$selected="";
												if($it['uid']==$item['category_id'])
													$selected="selected";
												echo "<option $selected value='".$it['uid']."'>".$it['category_name']."</option>";
											}
											?>
										</select>
									</td>
								</tr>
							</table>
						</td>
					</tr>

					<tr>
						<td >
							<div class="Thread_Icon">
							Title
							</div>
						</td>
						<td >
							<div class="Thread_Icon">
								<input style="width: 245px" type="text" name="title" value="<?=$item['title']?>"/>
							</div>
						</td>
					</tr>

					<tr>
						<td >
							<div class="Thread_Icon">
							Url
							</div>
						</td>
						<td >
							<div class="Thread_Icon">
								<input style="width: 245px" type="text" name="url" value="<?=$item['url']?>"/>
							</div>
						</td>
					</tr>


					<tr>
						<td >
							<div class="Thread_Icon">
							Note
							</div>
						</td>
						<td >
							<div class="Thread_Icon">
								<textarea rows="5" cols="30" name="note" style="width: 245px"><?=$item['note']?></textarea>
							</div>
						</td>
					</tr>

					<tr>
						<td >
							<div class="Thread_Icon">
							Add date
							</div>
						</td>
						<td >
							<div class="Thread_Icon">
								<input style="width: 245px;" type="text" name="add_date" value="<?=$item['add_date']?>"/>
							</div>
						</td>
					</tr>


					<tr>
						<td >
							<div class="Thread_Icon">
							Order idx
							</div>
						</td>
						<td >
							<div class="Thread_Icon">
								<input style="width: 245px;" type="text" name="order_idx" value="<?=$item['order_idx']?>"/>
							</div>
						</td>
					</tr>

					<tr>
						<td >
							<div class="Thread_Icon">
							Enable
							</div>
						</td>
						<td >
							<div class="Thread_Icon">
								<input type="checkbox" name="enable" <?php echo $item['enable']>0?"checked":""?> />
							</div>
						</td>
					</tr>
					<tr>
						<td >
							<div class="Thread_Icon">
							Checked
							</div>
						</td>
						<td >
							<div class="Thread_Icon">
								<input type="checkbox" name="checked" <?php echo $item['checked']>0?"checked":""?> />
							</div>
						</td>
					</tr>

					<tr>
						<td >
							<div class="Thread_Icon">
							Total click
							</div>
						</td>
						<td >
							<div class="Thread_Icon">
								<input style="width: 245px;" type="text" name="total_click" value="<?=$item['total_click']?>"/>
							</div>
						</td>
					</tr>


				</tbody>
			</table>

		</form>

		<?php
		if($item['domain']==2) {
			?>

		<iframe width="0" height="0" frameborder="0" id="ifr_uploadicon" name="ifr_uploadicon"> </iframe>
		<form id="frm_uploadicon" action="<?=BASE_URL?>/admin/content/uploadicon" target="ifr_uploadicon" method="post"
			  enctype="multipart/form-data">
			<table cellspacing="0" cellpadding="0" class="read">
				<tbody>
					<tr>
						<td style="width: 68px">
						icon
						</td>
						<td style="width: 237px" >
							<img id="zh_ico" style="max-height: 16px;max-width: 16px" width="16" height="16" src="<?=$url_ico?>"  title="<?=$item['url']?>"/>

						</td>
						<td style="padding-left: 15px">
							<input type="file" id="file_uploadicon" name="uploadFile" onchange="ZHomeAdmin.uploadicon();" />
						</td>
					</tr>

				</tbody>
			</table>
		</form>

		<iframe width="0" height="0" frameborder="0" id="ifr_uploadtb" name="ifr_uploadtb"> </iframe>
		<form id="frm_uploadtb" action="<?=BASE_URL?>/admin/content/uploadtb" target="ifr_uploadtb" method="post"
			  enctype="multipart/form-data">
			<table cellspacing="0" cellpadding="0" class="read">
				<tbody>
					<tr>
						<td style="width: 68px">
							Thumbnail
						</td>
						<td style="width: 237px;" >
							<img  id="zh_tb" style="border:1px solid black;max-width: 237px;max-height: 130px;"  src="<?=$url_tb?>"   title="<?=$item['url']?>"/>


						</td>
						<td style="padding-left: 15px">

							<input type="file" id="file_uploadtb" name="uploadFile" onchange="ZHomeAdmin.uploadtb();" />

						</td>
					</tr>

				</tbody>
			</table>
		</form>
			<?php }?>
		<div style="padding-top: 20px;float: left; padding-bottom: 20px">
			<?php
			if(isset ($this->fromtime) && isset ($this->totime) && isset ($this->keysearch) && isset ($this->page) )
				$back=BASE_URL."/admin/content/sualink?fromtime=$this->fromtime&totime=$this->totime&keysearch=$this->keysearch&page=$this->page";
			else
				$back=BASE_URL."/admin/content/sualink";
			?>
			<a style="color:red;text-decoration: underline" href="<?=$back?>" ><< Back</a>
		</div>
		<div style="padding-top: 20px;float: right; padding-bottom: 20px">
			<input type="button" value="Save" onclick="ZHomeAdmin.submitSuaLink();"/>
		</div>
	</div>
</div>

<script type="text/javascript">
	zm.ready(function() {
		setTimeout(function(){
			zm('#zh_msg').html('&nbsp');
		}, 2000);
	});
</script>