<div class="ptitle">Update tempate <?=$this->template["name"]?></div>
<div style="padding-top: 20px;">
	<form id="frm_UpdateTemplate" class="action-form" action="<?=BASE_URL?>/admin/content/template?id=<?=$this->id?>" method="post">
		<div class="ZMThreadRow" >
			<table cellspacing="0" cellpadding="0" class="read">
				<tbody>

					<tr>
						<td style="vertical-align: middle;width: 10px;padding-right: 30px;font-weight: bold">
							<div class="Thread_Icon" >
									Name
							</div>
						</td>

						<td style="font-weight: bold" >
								Code
						</td>
						
						<td style="vertical-align: middle;font-weight: bold">
								Enable
						</td>
					</tr>

					<tr>
						<td style="vertical-align: middle;width: 10px">
							<div class="Thread_Icon" >
									TP<?=$this->id?>.<br/>(<?=$this->template["name"]?>)
							</div>
						</td>

						<td >
							<textarea COLS="50" ROWS="50" name="txt_tpl"  id="txt_tpl" style="margin-top: 15px; width: 538px; height: 200px;">
								<?php
									$template=$this->template; 
									if(isset ($template) && count($template)>0){
										echo trim($template["content"]);
									}
								?>
							</textarea>
						</td>
						
						<td style="vertical-align: middle;">
							<input type="checkbox"  name="chk_enable" <?php echo $template["enable"]>0? "checked":"";?>  >
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="text-align: center;padding-top: 20px;font-size: 12px;">
			<div style="padding-top: 20px; float: right; padding-bottom: 20px;">
				<input type="button" value="Preview" onclick="ZHomeAdmin.previewTemplate();">
				<input type="button" value="Update" onclick="ZHomeAdmin.updateTemplate();">
			</div>
		</div>
		<input type="hidden" name="id" value="<?=$this->id?>">
		<input type="hidden" name="txt_name" value="<?=$this->template["name"]?>">
	</form>
</div>

<form style="display: none" id="frm_preview" class="action-form" action="<?BASE_URL?>/admin/content/previewtemplate?id=<?=$this->id?>" method="post" target="ifpreview">
	<textarea COLS="50" ROWS="50" name="preview_tpl" id="preview_tpl">
	</textarea>
</form>
<iframe name="ifpreview" id="ifpreview" frameborder="0" height="400px" width="700px" style="display: none"></iframe>
