<div class="ptitle">Thêm sản phẩm</div>
<div style="text-align:center;color: red;font-weight: bold" id="zh_msg">&nbsp;<?= $this->msg ?></div>
<div class="dragable_sect" style="padding-top: 20px;padding-bottom: 20px">
    <form id="frm_themlink" action="<?= BASE_URL ?>/admin/content/themlink" method="post">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
                 <tr>
                    <td>Tên sản phẩm:</td>
                    <td>
                        <input type="text" value="" name="zh_url" id="zh_url" style="width: 250px"/>
                    </td>
                </tr>
                <tr>
                    <td>Thuộc nhóm:</td>
                    <td>
                        <select style="width: 255px" id="rootcate" name="rootcate" >
                            <option>danh muc 1</option>
                            <option>danh muc 2</option>
                        </select>
                    </td>
                </tr>
                 <tr>
                    <td>Giá:</td>
                    <td>
                        <input type="text" value="" name="zh_url" id="zh_url" style="width: 250px"/>
                    </td>
                </tr>
                 <tr>
                    <td>Giảm giá:</td>
                    <td>
                        <input type="checkbox" value="" name="zh_url" id="zh_url" style="width: 250px"/>
                    </td>
                </tr>
                
                <tr>
                    <td>Tổng số:</td>
                    <td>
                        <input type="text" value="" name="zh_url" id="zh_url" style="width: 250px"/>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="=2">Mô tả:</td>
                </tr>

                <tr>
                    <td colspan="=2">
                        <script type="text/javascript">
                                tinyMCE.init({
                                    mode : "textareas",
	

                                    theme_advanced_toolbar_location : "top",
                                    theme_advanced_toolbar_align : "left",
                                    // language 	: "vi",
                                    theme : "advanced",
                                    theme_advanced_resizing : true,

                                    // Skin options
                                    skin : "o2k7",
                                    skin_variant : "silver",
		
                                    theme 		: "advanced",
                                    plugins 	: "paste",
                                    width: "500",
                                    height: "700",
                                    theme_advanced_resizing : true,
                                    theme_advanced_resize_horizontal : false,
                                    theme_advanced_resizing_max_width : 500,
                                    theme_advanced_resizing_min_width : 500,
                                    theme_advanced_resizing_min_height : 700,
		
                                    theme_advanced_buttons1: "bold,italic,underline,forecolor,backcolor,fontselect,fontsizeselect,image_custom,outdent,indent,undo,redo,justifyleft,justifycenter,justifyright,justifyfull,link,unlink",
                                    theme_advanced_buttons1_add : "code",

                                    theme_advanced_buttons2: "image"
                                }
                            );
                            </script>
                            <textarea id="message-body" name="message-body" value=""></textarea>
                        
                    </td>
                </tr>
                
                <tr>
                    <td></td>
                    <td>
                        <input type="button" value="Add" onclick="ZHomeAdmin.submitThemLink();" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

