<div class="ptitle">Thêm sản phẩm</div>
<div style="text-align:center;color: red;font-weight: bold" id="zh_msg">&nbsp;<?= $this->msg ?></div>
<div class="dragable_sect" style="padding-top: 20px;padding-bottom: 20px">
    <form id="frm_themlink" action="<?= BASE_URL ?>/admin/content/themlink" method="post">
        <div>
            <h3 class="n1">Thông tin cơ bản</h3>
            <table>
                <tr>
                    <td class="postLabel">
                        Tên:
                    </td>
                    <td>
                        <input name="tensp" type="text" class="title_text_input"/>
                    </td>
                </tr>
                <tr>
                    <td class="postLabel">
                        Giá:
                    </td>
                    <td>
                        <input name="giasp" type="text" class="title_text_input"/>
                    </td>
                </tr>
                <tr>
                    <td class="postLabel">
                        Số lượng:
                    </td>
                    <td >
                        <input name="soluongsp" type="text" class="title_text_input" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="line"></div>
<h3 class="n2">Thông tin chi tiết sản phẩm</h3>
                          <div class="extra_posting">
                                <div class="table_box_detail" id="product-box">
                                      <div class="first_row clearfix">
                                            <span class="c390 fl">Tên sản phẩm</span>
                                            <span class="c120 fl">Giá sản phẩm</span>
                                            <span class="c150 fl">Chức năng</span>
                                        </div>
                                <div style="display: block;" class="other_row clearfix" id="other_row1"><span class="c390 fl"><div class="pic"><a class="thumb"><span></span><img height="50" width="50" src="http://localhost/amazon/public_html/upload/13538_1266617434760_1509528336_696883_1824986_n.jpg" alt="" id="product_image1"></a></div></span><span class="c120 price fl"><span id="product_price1">3.434</span> VNĐ</span><span class="c150 fl"><a href="javascript:;" onclick="editProduct(1);"><img src="http://localhost/amazon/public_html/images/layout/icon_edit.1.0.1.jpg" alt="Sửa"></a>&nbsp;<a href="javascript:;" onclick="removeProduct(1);"><img src="http://localhost/amazon/public_html/images/layout/icon_del.1.0.1.jpg" alt="Xóa"></a></span></div></div>
                                <div class="box_detail clearfix">
                                    <h4>Thêm sản phẩm</h4>
                                    <div class="pic">
                                        <a class="thumb"><span></span><img height="110px" width="110px" id="photo_thumb" src="http://localhost/amazon/public_html/images/layout/default_110x110.jpg" alt=""></a>
                                        <input type="hidden" id="photo_data" value="">
                                    </div>
                                    <div class="desc">
                                        
                                        <div class="listing_input hgauto">
                                            <div class="post_label_container">
                                                <label class="postLabel">Hình ảnh:</label>
                                            </div>

                                          

                                            <input  type="file" style="width: 100px; padding: 10px; margin: 10px 10px 10px 0px;" value="Browse..." id="btn_upload" class="button_save ">

                                        </div>

                                        <div class="button_listing_input">
                                            <input type="button" id="btn_save" class="button_save" value="" name="Lưu">
                                        </div>

                                        <div class="clear"></div>
                                        
                                    </div>
                                </div>
                            </div>
<div class="line"></div>

                    </td>                    
                </tr>
                <tr>
                    <td colspan="2">
                        <h3 class="n3">Mô tả chi tiết sản phẩm</h3>
                    </td>                    
                </tr>
            </table>
        </div>
        <div>
            <script type="text/javascript">
                                tinyMCE.init({
                                    mode : "textareas",
	

                                    theme_advanced_toolbar_location : "top",
                                    theme_advanced_toolbar_align : "left",
                                    // language 	: "vi",
                                    theme : "advanced",
                                    theme_advanced_resizing : true,

                                    // Skin options
                                    skin : "o2k7",
                                    skin_variant : "silver",
		
                                    theme 		: "advanced",
                                    plugins 	: "paste",
                                    width: "700",
                                    height: "500",
                                    theme_advanced_resizing : true,
                                    theme_advanced_resize_horizontal : false,
                                    theme_advanced_resizing_max_width : 700,
                                    theme_advanced_resizing_min_width : 700,
                                    theme_advanced_resizing_min_height : 500,
		
                                    theme_advanced_buttons1: "bold,italic,underline,forecolor,backcolor,|,fontselect,fontsizeselect,|,image_custom,|,outdent,indent,|,undo,redo,|,justifyleft,justifycenter,justifyright,justifyfull,|,link,unlink",
                                    theme_advanced_buttons1_add : "code",

                                    theme_advanced_buttons2: "image",
                                    theme_advanced_buttons3: ""
                                }
                            );
                            </script>
                            <textarea id="motasp" name="motasp" value=""></textarea>
            
        </div>
        <div>
            <input type="button" id="btn_submit" class="button_posting" value="" name="btn_submit"/>
        </div>
    </form>
</div>

