<div class="ptitle">Update Banner</div>
<div id="zh_msg" style="text-align:center;color: red;font-weight: bold"><?=$this->msg?></div>
<div class="dragable_sect">
	<?php 
		$defid=$this->defid;
		$minid=$this->minid;
		$maxid=$this->maxid;
		if(isset ($defid) && isset ($minid) && isset ($maxid)){
			echo "<div style='max-width: 600px; float: left; padding: 2px 89px 2px 2px;'>Def id: <b>".$defid."</b></div>";
			echo "<div style='padding:2px;max-width:600px;float:left;padding-right:100px'>Min id: <b>".$minid."</b></div>";
			echo "<div style='padding:2px;max-width:600px'>Max id: <b>".$maxid."</b></div><br/>";
		}
	?>	
    <form action="<?=BASE_URL?>/admin/content/updatebanner" method="post">
		Def id: <input type="text" value="" name="defid" maxlength="100" style="width: 100px"/>
		Min id: <input type="text" value="" name="minid" maxlength="100" style="width: 100px"/>
		Max id: <input type="text" value="" name="maxid" maxlength="100" style="width: 100px"/>
		<input type="submit" value="Update" style="float: right"/>
	</form>
</div>
<script type="text/javascript">
	zm.ready(function() {
		setTimeout(function(){
			zm('#zh_msg').html('');
		}, 2000);
	});
</script>