<?php

	try{
	$total=$this->total;
	$page=$this->page;
	$ITEM_PER_PAGE=MAX_ITEM_CHECK_LINK_PER_PAGE;
	$totalPage = intval($total/$ITEM_PER_PAGE);
	if($total % $ITEM_PER_PAGE !=0) {
		$totalPage++;
	}
	$start=1;
	if($page-1 > 0) {
		$start=$page-1;
	}
	$end = $page+6;
	if($end > $totalPage) {
		$end =$totalPage;
	}
	$last= $totalPage;

	$link=BASE_URL."/admin/content/xoalink?fromtime=$this->fromtime&totime=$this->totime&keysearch=$this->keysearch";
}catch (Exception $e) {
	$logger= Zend_Registry::get("logger");
	$logger->log("File: ".$e->getFile()."\tLine: ".$e->getLine()."\t Error: ".$e->getMessage(),Zend_Log::ERR);
}

?>
<div class="ptitle">Delete link</div>
<div style="padding-top: 20px;">
<form id="frm_SearchLink" class="action-form" action="" method="get">
	Key search: <input  type="text" value="<?=$this->keysearch?>" name="keysearch"/>
	From time: <input id="fromtime" style="width: 120px" type="text" value="<?=$this->fromtime?>" name="fromtime"/>
	To time: <input id="totime" style="width: 120px" type="text" value="<?=$this->totime?>" name="totime"/>
	<input type="submit" value="Search" style='float:right'>
<br/>
<br/>

<form id="frm_DuyetLink" class="action-form" action="" method="post">
	<div class="ZMThreadRow" style="min-height: 520px">
			<table cellspacing="0" cellpadding="0" class="read">
				<tbody>
					<?php
						$items=$this->items;
						if(isset ($items)){
						foreach($items as $item){
							$url_ico="";
							$url_tb="";
							if(intval($item['checked'])>0){
								if(intval($item["domain"])==2){
									$url_ico=STATIC2_BOOKMARK_URL."/ico/".$item["icon"];
									$url_tb=STATIC2_BOOKMARK_URL."/tb/".$item["thumbnail"];
								}else{
									$url_ico=STATIC_BOOKMARK_URL."/favico/aitms/".$item["icon"];
									$url_tb=STATIC_BOOKMARK_URL."/thumbnail/".$item["thumbnail"];
								}
							}else{
								$url_ico=BASE_URL."/tmp/ico/".$item['icon'];
								$url_tb=BASE_URL."/tmp/tb/".$item["thumbnail"];
							}
							
					?>
						<tr>
							<td style="vertical-align: middle;">
								<div class="Thread_Icon">
									<img width="16" height="16" src="<?=$url_ico?>"  title="<?=$item['url']?>"/>
								</div>
							</td>
							<td >
								<div style="width: 60px; height: 60px;vertical-align: middle;">
									<img style="padding-top: 5px;border:1px solid black;"  width="50" height="50" src="<?=$url_tb?>"   title="<?=$item['url']?>"/>
								</div>
							</td>
							<td style="vertical-align: middle;">
								<a  href="<?=$item['url']?>"> <?=$item['url']?></a>
							</td>
							<td style="vertical-align: middle;">
								<input type="checkbox"  value="<?=$item['uid']?>" name="zh_selectedlink[]" >
							</td>
						</tr>

					<?php

						}}
					?>

				</tbody>
			</table>
		</div>
	<div style="text-align: center;padding-top: 20px;font-size: 12px;">
		<?php

			if($totalPage > 1) {

		if($page > 1)
		{
			echo "<a style='padding-left: 10px;font-weight:bold' href='$link&page=1'> << First </a>";
			echo "<a style='padding-left: 10px;font-weight:bold' href='$link&page=" .($page-1)."'> < Prev </a>";

		}
		for($i=$start;$i<=$end;$i++) {
			if($page ==$i)
				echo "<span style='padding-left: 10px;font-weight:bold; text-decoration:underline'> ".$i."</span> ";
			else
				echo " <a style='padding-left: 10px;font-weight:bold' class='NotCurpage' href='$link&page=" .$i."'>".$i."</a>";
		}
		if($page < $last)
		{
			echo "<a style='padding-left: 10px;font-weight:bold'  href='$link&page=" .($page+1)."'> Next > </a>";
			echo "<a style='padding-left: 10px;font-weight:bold' href='$link&page=".($totalPage)."'> Last >> </a>";
		}
	}?>
	</div>
	<?php

			if(count($items)>0){
		?>
			<div style="padding-top: 20px;float: right; padding-bottom: 20px">
				<input type="button" value="Delete" onclick="ZHomeAdmin.submitXoaLink();"/>
			</div>
		<?}else
			echo "<div style='color:red;text-align:center;font-weight:bold'>Không có link nào để duyệt, vui lòng quay lại sau.</div>"
			?>
	</form>
</form>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#fromtime').datepick({dateFormat: 'dd/mm/yyyy'});
		$('#totime').datepick({dateFormat: 'dd/mm/yyyy'});
	});
</script>
