<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Chính sách bảo mật & thỏa thuận sử dụng</div></div>
<div class="block_center" style="min-height: 1470px; background-color: #ffffff">
    <div class="div_padding">
        
        <div class="ColRight">
            <h3 class="SUPPORT_TITLE">Chính sách bảo mật & thỏa thuận sử dụng</h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
		<div class="BOX_DETAIL_CS">	
			<ol style="text-align: justify;" class="padd_list_priva">
				<li><a style="text-decoration: none;" name="taikhoan" href="#taikhoan" class="taikhoan">I. Tài khoản của bạn (Account)</a>   
					<p style="padding-left: 20px;">Khi sử dụng dịch vụ tại <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>, thông qua việc đăng ký tài khoản tại đây, <b>bạn sẽ cung cấp cho chúng tôi chính xác thông tin cá nhân của bạn, bao gồm: Họ tên, số điện thoại, địa chỉ email, số giấy tờ tùy thân (CMND, Passport)</b>. Ngoài ra, những thông tin khác trong tài khoản của bạn như: ngày sinh, địa chỉ, nghề nghiệp,….sẽ giúp <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>  phục vụ bạn tốt nhất.</p>
					<p style="padding-left: 20px;">Việc sử dụng và bảo mật thông tin tài khoản là trách nhiệm và quyền lợi của bạn khi sử dụng <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>: <b>Bạn phải giữ kín mật khẩu, thông tin tài khoản và hoàn toàn chịu trách nhiệm đối với tất cả các hoạt động diễn ra thông qua việc sử dụng mật khẩu hoặc tài khoản của mình</b>. Vì vậy, bạn nên đảm bảo thoát khỏi tài khoản tại <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> sau mỗi lần sử dụng</p>
					<p style="padding-left: 20px;">Khi có bất kỳ thay đổi nào về thông tin cá nhân, bạn vui lòng cập nhật lại thông tin trong tài khoản tại <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>. <b>Trong trường hợp thông tin do bạn cung cấp không đầy đủ hoặc không chính xác dẫn đến việc không thể giao hàng đến bạn, chúng tôi có quyền từ chối phục vụ, giao hàng mà không phải chịu bất cứ trách nhiệm nào đối với bạn.</b></p>
				</li>
				<li><a name="baomat" href="#baomat" class="baomat">II. Cam kết bảo mật thông tin khách hàng</a> 
					<p style="padding-left: 20px;">Bảo mật thông tin khách hàng là một trong những ưu tiên nhằm tạo điều kiện mua sắm tốt nhất cho Quý khách tại <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>. Vì thế, <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> cam kết việc sử dụng thông tin cá nhân của khách hàng chỉ nhằm mục đích nâng cao chất lượng dịch vụ, thể hiện sự quan tâm của chúng tôi dành cho Quý khách và tạo môi trường mua sắm an toàn, tiện lợi tại <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> Cụ thể, thông tin của Quý khách hàng chỉ dùng để:</p>
					<p style="font-style:italic;color: red;padding-left: 20px;">
						-	Cung cấp một số tiện ích, nâng cao chất lượng hỗ trợ khách hàng.<br>
						-	Làm cơ sở giải quyết các vấn đề khiếu nại, tranh chấp phát sinh liên quan đến việc sử dụng sản phẩm, dịch vụ tại website <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>. <br>
						-	Ngăn chặn những hoạt động vi phạm pháp luật Việt Nam.
					</p>
					<p style="padding-left: 20px;"> <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> cam đoan sẽ không bán, chia sẻ dẫn đến làm lộ thông tin cá nhân của bạn vì mục đích thương mại vi phạm cam kết của chúng tôi ghi trong chính sách bảo mật này. Tất cả thông tin giao dịch giữa bạn và <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> sẽ được bảo mật.
						Tuy nhiên, Quý khách hàng không nên trao đổi những thông tin thanh toán, giao nhận của mình cho 1 bên thứ 3 nào khác để tránh rò rỉ thông tin. Khi sử dụng chung máy tính với nhiều người, vui lòng thoát khỏi tài khoản mỗi khi không sử dụng dịch vụ của <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> nữa để tự bảo vệ thông tin về mật khẩu truy cập của mình.</p>
					<p style="padding-left: 20px;">
						<a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> hiểu rằng quyền lợi của Quý khách trong việc bảo vệ thông tin cá nhân cũng chính là trách nhiệm của chúng tôi nên trong bất kỳ trường hợp có thắc mắc, góp ý nào liên quan đến chính sách bảo mật của <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>, vui lòng liên hệ với chúng tôi qua số điện thoại <b><?=HOT_LINE?></b> hoặc email: <a href="javascript:void()"><?=SHOP_EMAIL?></a>
					</p>	
				</li>
				<li><a name="chatluong" href="#chatluong" class="chatluong">III. Cam kết về chất lượng sản phẩm và dịch vụ khách hàng</a> 
					<p style="padding-left: 20px;">Sau khi bạn hoàn tất việc đặt hàng, xác nhận đơn hàng và thanh toán thành công, <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> <b>cam kết sẽ giao hàng đến Quý khách đúng như mô tả sản phẩm trên website.</b></p>
					<p style="padding-left: 20px;">Trong trường hợp hàng bị vỡ, hư hỏng trong quá trình vận chuyển, giao hàng, chúng tôi cam kết sẽ giao lại hàng mới, <b>đồng thời bù thêm 10% giá trị đơn hàng cho đến 100,000 VNĐ trong lần mua hàng tiếp theo.</b></p>
					<p style="padding-left: 20px;">Trong một số trường ngoại lệ hoặc vì một số lý do ngoài ý muốn (mà nguyên nhân đến từ <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>), <b>chúng tôi sẽ tiến hành thủ tục hoàn lại tiền vào tài khoản của bạn trong vòng 3 ngày làm việc kể từ ngày thông báo việc hoàn tiền</b>. </p>
					<p style="padding-left: 20px;">Mọi thắc mắc, khiếu nại của bạn trong quá trình sử dụng sản phẩm, dịch vụ tại <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>, bạn vui lòng liên hệ ngay với chúng tôi thông qua các kênh liên lạc sau:</p>
					<p style="padding-left: 40px;">
						Email: <b><?=SHOP_EMAIL?></b><br>		
						Hotline:<b><?=HOT_LINE?></b>														
					</p>	
					<p style="padding-left: 40px;"><b>Online Support 24/7:</b> <a href="javascript:void(0);" onclick="api.showBoxy(-1);" title="Gởi yêu cầu support" >Click vào đây</a></p>
					<p style="padding-left: 40px;">
						<b>Chat:</b><br>
						</p><div style="padding-left: 60px;color: black;">
							+ Yahoo: <sb><?=YAHOO1?>, <?=YAHOO2?></b><br>
						</div>											
					<p></p>
					<p style="padding-left: 40px;">Thời gian làm việc:</p> 
					<p style="padding-left: 60px;"> 
						Thứ 2 &ndash; Thứ 7: <b>08:00 AM &ndash; 07:00 PM</b>. <br>
					</p>
					<p style="padding-left: 40px;">Chúng tôi cam kết sẽ liên hệ bạn để tư vấn và hỗ trợ mọi thắc mắc, khiếu nại trong thời gian sớm nhất.</p>
					<p style="padding-left: 20px;">Tùy theo tình hình thực tế và với mong muốn đem đến cho Quý khách hàng một dịch vụ tốt nhất tại <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>, chúng tôi sẽ có những điểu chỉnh hoặc thay đổi các điều khoản, chính sách trên và sẽ công bố chính thức trên website và thông tin đại chúng.</p>
				</li>				
			</ol>	
		</div>
	</div>
            
</div>
        
    </div>    
</div>