<div id="row row-none">
   <div class="container">
      <div id="middle">
          <div id="page-name">
            <ul id="sys_pagename">
               <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<?=BASE_URL?>" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                   </div>
               </li>
               <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<?=BASE_URL?>/ban-do.html" itemprop="url"><span itemprop="title">Địa chỉ Đặc Sản Đây.net</span></a>
                   </div>
               </li>
            </ul>
         </div>
         <div id="layout_content" class="row row-10">
            <div class="col-sm-18 col-10">
               <div id="content">
                  <div class="main-default">
                     <h3 class="mod-name">Bản đồ</h3>
                     <div class="m_c">
                        <div id="c-map">
                          <div id="googleMap" style="width: 100%; height: 600px;">Địa chỉ Đặc Sản Đây.net</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <?= $this->boxright ?>
      </div>
   </div>
</div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe--qsSSHRvTUCbr-Up6qZrNGmC3rAzXY&libraries=places"></script>
<script type="text/javascript">
var gmap = new google.maps.LatLng(10.750002, 106.696541);
var marker;
function initialize()
{
    var mapProp = {
         center:new google.maps.LatLng(10.750002, 106.696541),
         zoom:16,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
 
    var map=new google.maps.Map(document.getElementById("googleMap")
    ,mapProp);
 
  var styles = [
    {
      featureType: 'road.arterial',
      elementType: 'all',
      stylers: [
        { hue: '#fff' },
        { saturation: 100 },
        { lightness: -48 },
        { visibility: 'on' }
      ]
    },{
      featureType: 'road',
      elementType: 'all',
      stylers: [
 
      ]
    },
    {
        featureType: 'water',
        elementType: 'geometry.fill',
        stylers: [
            { color: '#adc9b8' }
        ]
    },{
        featureType: 'landscape.natural',
        elementType: 'all',
        stylers: [
            { hue: '#809f80' },
            { lightness: -35 }
        ]
    }
  ];
 
  var styledMapType = new google.maps.StyledMapType(styles);
  map.mapTypes.set('Styled', styledMapType);
 
  marker = new google.maps.Marker({
    map:map,
    draggable:true,
    animation: google.maps.Animation.DROP,
    position: gmap,
    title: 'dacsanday.net'
  });
  google.maps.event.addListener(marker, 'click', toggleBounce);
  
  var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h6 id="firstHeading" class="firstHeading">DacSanDay.net</h6>'+
            '<div id="bodyContent">'+
            '<p><b>Địa chỉ</b>: 861/48/12 Trần Xuân Soạn, P.Tân Hưng, Quận 7, TP.HCM</p>'+
            '<p><b>Hotline</b>: 0939.014.689 (Ms.Trâm)</p>'+
            '</div>'+
            '</div>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        infowindow.open(map, marker);
  
}
 
function toggleBounce() {
 
  if (marker.getAnimation() !== null) {
    marker.setAnimation(null);
  } else {
    marker.setAnimation(google.maps.Animation.BOUNCE);
  }
}
 
google.maps.event.addDomListener(window, 'load', initialize);
</script>

