<?php
$news = $this->news;
$new = $news[0];
$link = BASE_URL . "/" . Common::getDetailURL($new["title"],$new["id"]);
?>

<div id="content" class="blog-wrapper blog-single page-wrapper">
	

<div class="row row-large row-divided ">
	
	<div class="large-9 col">
		


<article id="post-3416" class="post-3416 post type-post status-publish format-standard has-post-thumbnail hentry category-hoat-dong tag-benet tag-cong-ty-benet tag-ngay-phu-nu-viet-nam-20-thang-10 tag-ngay-quoc-te-phu-nu-8-thang-3 tag-trinh-dinh-ty">
	<div class="article-inner ">
		<header class="entry-header">
	<div class="entry-header-text entry-header-text-top  text-center">
	   	<h6 class="entry-category is-xsmall">
	<a href="<?=BASE_URL?>/hoat-dong/" rel="category tag">Hoạt động</a></h6>

<h1 class="entry-title"><?=$new['title']?></h1>
<div class="entry-divider is-divider small"></div>

<div class="entry-meta uppercase is-xsmall">
    <span class="posted-on">Posted on <a href="http://benet.vn/mung-le-20-10-tai-cong-ty-tnhh-sx-tm-dv-benet/" rel="bookmark"><time class="entry-date published" datetime="2018-10-25T03:12:49+00:00">Tháng Mười 25, 2018</time><time class="updated" datetime="2018-10-25T03:15:24+00:00">Tháng Mười 25, 2018</time></a></span><span class="byline"> by <span class="meta-author vcard"><a class="url fn n" href="http://benet.vn/author/adweb/">adweb</a></span></span></div><!-- .entry-meta -->
	</div><!-- .entry-header -->

    	<div class="entry-image relative">
	   <a href="http://benet.vn/mung-le-20-10-tai-cong-ty-tnhh-sx-tm-dv-benet/">
    <img width="960" height="540" src="http://benet.vn/wp-content/uploads/2018/10/mung-le-20-10-tai-cong-ty-tnhh-sx-tm-dv-benet-11.jpg" class="attachment-large size-large wp-post-image" alt="Benet, Trịnh Đình Tý, Công ty Benet, Ngày quốc tế phụ nữ 8 tháng 3, Ngày phụ nữ Việt Nam 20 tháng 10" srcset="http://benet.vn/wp-content/uploads/2018/10/mung-le-20-10-tai-cong-ty-tnhh-sx-tm-dv-benet-11.jpg 960w, http://benet.vn/wp-content/uploads/2018/10/mung-le-20-10-tai-cong-ty-tnhh-sx-tm-dv-benet-11-300x169.jpg 300w, http://benet.vn/wp-content/uploads/2018/10/mung-le-20-10-tai-cong-ty-tnhh-sx-tm-dv-benet-11-768x432.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"></a>
	   <div class="badge absolute top post-date badge-outline">
	<div class="badge-inner">
		<span class="post-date-day">25</span><br>
		<span class="post-date-month is-small">Th10</span>
	</div>
</div>	</div><!-- .entry-image -->
	</header><!-- post-header -->

		<div class="entry-content single-page">
		    <p>
<?=$new['content']?>
</p>
<div class="wp_rp_wrap  wp_rp_twocolumns" id="wp_rp_first"><div class="wp_rp_content"><h3 class="related_post_title">BÀI VIẾT HAY</h3><ul class="related_post wp_rp"><li data-position="0" data-poid="in-3368" data-post-type="none"><a href="http://benet.vn/thiet-ke-website-cho-cong-ty-cay-xanh-gia-nguyen/" class="wp_rp_thumbnail"><img src="http://benet.vn/wp-content/uploads/2018/10/thiet-ke-website-cho-cong-ty-cay-xanh-gia-nguyen-150x150.jpg" alt="THIẾT KẾ WEBSITE CHO CÔNG TY CÂY XANH GIA NGUYỄN" width="150" height="150"></a><a href="http://benet.vn/thiet-ke-website-cho-cong-ty-cay-xanh-gia-nguyen/" class="wp_rp_title">THIẾT KẾ WEBSITE CHO CÔNG TY CÂY XANH GIA NGUYỄN</a></li><li data-position="1" data-poid="in-3387" data-post-type="none"><a href="http://benet.vn/mung-dai-le-2-9-le-ha-vina-tuong-thuong-nhan-vien-chuyen-du-lich-sapa-4-ngay-4-dem/" class="wp_rp_thumbnail"><img src="http://benet.vn/wp-content/uploads/2018/10/mung-dai-le-2-9-le-ha-vina-tuong-thuong-nhan-vien-chuyen-du-lich-sapa-4-ngay-4-dem-1-150x150.jpg" alt="MỪNG ĐẠI LỄ 2-9, LÊ HÀ VINA TƯỞNG THƯỞNG NHÂN VIÊN CHUYẾN DU LỊCH SAPA 4 NGÀY 4 ĐÊM" width="150" height="150"></a><a href="http://benet.vn/mung-dai-le-2-9-le-ha-vina-tuong-thuong-nhan-vien-chuyen-du-lich-sapa-4-ngay-4-dem/" class="wp_rp_title">MỪNG ĐẠI LỄ 2-9, LÊ HÀ VINA TƯỞNG THƯỞNG NHÂN VIÊN CHUYẾN DU LỊCH SAPA 4 NGÀY 4 ĐÊM</a></li><li data-position="2" data-poid="in-3385" data-post-type="none"><a href="http://benet.vn/gia-thiet-ke-website-website-tron-goi/" class="wp_rp_thumbnail"><img src="http://benet.vn/wp-content/uploads/2018/10/gia-thiet-ke-website-website-trong-goi-150x150.jpg" alt="GIÁ THIẾT KẾ WEBSITE – WEBSITE TRỌN GÓI" width="150" height="150"></a><a href="http://benet.vn/gia-thiet-ke-website-website-tron-goi/" class="wp_rp_title">GIÁ THIẾT KẾ WEBSITE – WEBSITE TRỌN GÓI</a></li><li data-position="3" data-poid="in-3381" data-post-type="none"><a href="http://benet.vn/thiet-ke-website-cho-trung-tam-xet-nghiem-tasscare/" class="wp_rp_thumbnail"><img src="http://benet.vn/wp-content/uploads/2018/10/thiet-ke-website-cho-trung-tam-xet-nghiem-tasscare-1-150x150.jpg" alt="THIẾT KẾ WEBSITE CHO TRUNG TÂM XÉT NGHIỆM TASSCARE" width="150" height="150"></a><a href="http://benet.vn/thiet-ke-website-cho-trung-tam-xet-nghiem-tasscare/" class="wp_rp_title">THIẾT KẾ WEBSITE CHO TRUNG TÂM XÉT NGHIỆM TASSCARE</a></li><li data-position="4" data-poid="in-3350" data-post-type="none"><a href="http://benet.vn/thiet-ke-website-cho-cong-ty-phacomed/" class="wp_rp_thumbnail"><img src="http://benet.vn/wp-content/uploads/2018/10/thiet-ke-website-cho-cong-ty-phacomed-2-150x150.jpg" alt="THIẾT KẾ WEBSITE CHO CÔNG TY PHACOMED" width="150" height="150"></a><a href="http://benet.vn/thiet-ke-website-cho-cong-ty-phacomed/" class="wp_rp_title">THIẾT KẾ WEBSITE CHO CÔNG TY PHACOMED</a></li><li data-position="5" data-poid="in-3372" data-post-type="none"><a href="http://benet.vn/thiet-ke-website-cho-thoi-trang-thanh-lich/" class="wp_rp_thumbnail"><img src="http://benet.vn/wp-content/uploads/2018/10/thiet-ke-website-cho-thoi-trang-thanh-lich-150x150.jpg" alt="THIẾT KẾ WEBSITE CHO THỜI TRANG THANH LỊCH" width="150" height="150"></a><a href="http://benet.vn/thiet-ke-website-cho-thoi-trang-thanh-lich/" class="wp_rp_title">THIẾT KẾ WEBSITE CHO THỜI TRANG THANH LỊCH</a></li><li data-position="6" data-poid="in-3378" data-post-type="none"><a href="http://benet.vn/benet-thiet-ke-web-cho-nha-khoa-thanh-tam/" class="wp_rp_thumbnail"><img src="http://benet.vn/wp-content/uploads/2018/10/benet-thiet-ke-web-cho-nha-khoa-thanh-tam-1-150x150.jpg" alt="BENET THIẾT KẾ WEB CHO NHA KHOA THANH TÂM" width="150" height="150"></a><a href="http://benet.vn/benet-thiet-ke-web-cho-nha-khoa-thanh-tam/" class="wp_rp_title">BENET THIẾT KẾ WEB CHO NHA KHOA THANH TÂM</a></li><li data-position="7" data-poid="in-3362" data-post-type="none"><a href="http://benet.vn/thiet-ke-web-cho-cong-ty-co-phan-stomafun/" class="wp_rp_thumbnail"><img src="http://benet.vn/wp-content/uploads/2018/10/thiet-ke-web-cho-cong-ty-stomafun-300x300-150x150.jpg" alt="THIẾT KẾ WEB CHO CÔNG TY CỔ PHẦN STOMAFUN" width="150" height="150"></a><a href="http://benet.vn/thiet-ke-web-cho-cong-ty-co-phan-stomafun/" class="wp_rp_title">THIẾT KẾ WEB CHO CÔNG TY CỔ PHẦN STOMAFUN</a></li></ul></div></div>
<div class="blog-share text-center"><div class="is-divider medium"></div><h4>Chia sẻ bài viết ngay</h4> 
	<div class="social-icons share-icons share-row relative icon-style-outline ">
		  		  		  <a href="whatsapp://send?text=<?=urlencode($new["title"])?>" data-action="share/whatsapp/share" class="icon button circle is-outline tooltip whatsapp show-for-medium tooltipstered"><i class="icon-phone"></i></a>
		  		  <a href="//www.facebook.com/sharer.php?u=<?=$link?>" data-label="Facebook" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="nofollow" target="_blank" class="icon button circle is-outline tooltip facebook tooltipstered"><i class="icon-facebook"></i></a>
		            <a href="//twitter.com/share?url=<?=$link?>" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="nofollow" target="_blank" class="icon button circle is-outline tooltip twitter tooltipstered"><i class="icon-twitter"></i></a>
                    <a href="mailto:enteryour@addresshere.com?subject=<?=urlencode($new["title"])?>&amp;body=Check%20this%20out:%20<?=$link?>" rel="nofollow" class="icon button circle is-outline tooltip email tooltipstered"><i class="icon-envelop"></i></a>
                    <a href="//pinterest.com/pin/create/button/?url=<?=$link?>&amp;media=<?=$new['image_description']?>&amp;description=<?=urlencode($new["title"])?>" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="nofollow" target="_blank" class="icon button circle is-outline tooltip pinterest tooltipstered"><i class="icon-pinterest"></i></a>
                    <a href="//plus.google.com/share?url=<?=$link?>" target="_blank" class="icon button circle is-outline tooltip google-plus tooltipstered" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="nofollow"><i class="icon-google-plus"></i></a>
                    <a href="//www.linkedin.com/shareArticle?mini=true&amp;url=<?=$link?>&amp;title=<?=urlencode($new["title"])?>" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="nofollow" target="_blank" class="icon button circle is-outline tooltip linkedin tooltipstered"><i class="icon-linkedin"></i></a>
              </div>
    
    </div>
</div><!-- .entry-content2 -->

<footer class="entry-meta text-center">
Từ khoá: <a href="<?=BASE_URL?>" rel="tag">Websiteday.net</a>, <a href="<?=BASE_URL?>" rel="tag">Công ty CÔNG TY TNHH TM-DV-QC THIÊN ĐƯỜNG KÝ GỬI</a>, <a href="<?=BASE_URL?>" rel="tag">Khai Trương</a>, <a href="<?=BASE_URL?>" rel="tag">Website bán hàng uy tín</a>.</footer><!-- .entry-meta -->


<h3>Các bài viết khác</h3><ul class="list-news">                <li>
                	<div class="item-list">
                		<h4><a href="http://benet.vn/mung-dai-le-2-9-le-ha-vina-tuong-thuong-nhan-vien-chuyen-du-lich-sapa-4-ngay-4-dem/" title="MỪNG ĐẠI LỄ 2-9, LÊ HÀ VINA TƯỞNG THƯỞNG NHÂN VIÊN CHUYẾN DU LỊCH SAPA 4 NGÀY 4 ĐÊM">MỪNG ĐẠI LỄ 2-9, LÊ HÀ VINA TƯỞNG THƯỞNG NHÂN VIÊN CHUYẾN DU LỊCH SAPA 4 NGÀY 4 ĐÊM</a></h4>
                	</div>
                </li>
                                <li>
                	<div class="item-list">
                		<h4><a href="http://benet.vn/thiet-ke-website-cho-trung-tam-xet-nghiem-tasscare/" title="THIẾT KẾ WEBSITE CHO TRUNG TÂM XÉT NGHIỆM TASSCARE">THIẾT KẾ WEBSITE CHO TRUNG TÂM XÉT NGHIỆM TASSCARE</a></h4>
                	</div>
                </li>
                                <li>
                	<div class="item-list">
                		<h4><a href="http://benet.vn/benet-thiet-ke-web-cho-nha-khoa-thanh-tam/" title="BENET THIẾT KẾ WEB CHO NHA KHOA THANH TÂM">BENET THIẾT KẾ WEB CHO NHA KHOA THANH TÂM</a></h4>
                	</div>
                </li>
                                <li>
                	<div class="item-list">
                		<h4><a href="http://benet.vn/thiet-ke-website-tien-ich-hoc-duong/" title="THIẾT KẾ WEBSITE TIỆN ÍCH HỌC ĐƯỜNG">THIẾT KẾ WEBSITE TIỆN ÍCH HỌC ĐƯỜNG</a></h4>
                	</div>
                </li>
                                <li>
                	<div class="item-list">
                		<h4><a href="http://benet.vn/thiet-ke-website-cho-thoi-trang-thanh-lich/" title="THIẾT KẾ WEBSITE CHO THỜI TRANG THANH LỊCH">THIẾT KẾ WEBSITE CHO THỜI TRANG THANH LỊCH</a></h4>
                	</div>
                </li>
                </ul>

	</div><!-- .article-inner -->
</article><!-- #-3372 -->




<div id="comments" class="comments-area">
   <div id="respond" class="comment-respond">
      <h3 id="reply-title" class="comment-reply-title">Bình luận <small><a rel="nofollow" id="cancel-comment-reply-link" href="/gioi-thieu/#respond" style="display:none;">Hủy</a></small></h3>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1396765267090480&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-comments" data-href="<?=$link?>" data-width="100%" data-numposts="5" order_by="reverse_time"></div>
   </div>
   <!-- #respond -->
</div>
<!-- #comments -->
<!-- #comments -->
	</div> <!-- .large-9 -->

	<div class="post-sidebar large-3 col">
		<div id="secondary" class="widget-area " role="complementary">
		<aside id="dc_jqaccordion_widget-2" class="widget "><h3 class="widget-title "><span>DỊCH VỤ</span></h3><div class="is-divider small"></div>		
		<div class="dcjq-accordion" id="dc_jqaccordion_widget-2-item">
		
			<ul id="menu-dich-vu" class="menu"><li id="menu-item-658" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-658"><a href="http://benet.vn/thiet-ke-web-wordpress/">Thiết kế web WordPress</a></li>
<li id="menu-item-464" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-464"><a href="http://benet.vn/thiet-ke-web-gia-re/">Thiết Kế Web Giá Rẻ</a></li>
<li id="menu-item-259" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-259"><a href="http://benet.vn/thiet-ke-web-cong-ty/">Thiết kế web công ty</a></li>
<li id="menu-item-258" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-258"><a href="http://benet.vn/thiet-ke-web-ban-hang/">Thiết kế web bán hàng</a></li>
<li id="menu-item-463" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-463"><a href="http://benet.vn/thiet-ke-web-thoi-trang/">Thiết Kế Web Thời Trang</a></li>
<li id="menu-item-612" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-612"><a href="http://benet.vn/thiet-ke-web-cong-ty-du-lich/">Thiết kế web công ty du lịch</a></li>
<li id="menu-item-611" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-611"><a href="http://benet.vn/thiet-ke-web-nha-sach/">Thiết kế web nhà sách</a></li>
<li id="menu-item-610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-610"><a href="http://benet.vn/thiet-ke-web-nha-thuoc/">Thiết kế web nhà thuốc</a></li>
<li id="menu-item-635" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-635"><a href="http://benet.vn/thiet-ke-website-nong-san/">Thiết kế website nông sản</a></li>
<li id="menu-item-636" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-636"><a href="http://benet.vn/thiet-ke-web-shop-trang-suc/">Thiết kế web shop trang sức</a></li>
<li id="menu-item-770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-770"><a href="http://benet.vn/thiet-ke-web-ban-to-yen/">Thiết kế web bán tổ yến</a></li>
<li id="menu-item-771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-771"><a href="http://benet.vn/thiet-ke-web-thiet-bi-thanh/">Thiết kế web thiết bị âm thanh</a></li>
<li id="menu-item-772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-772"><a href="http://benet.vn/thiet-ke-web-khach-san/">Thiết kế web khách sạn</a></li>
<li id="menu-item-773" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-773"><a href="http://benet.vn/thiet-ke-web-ban-hang-noi-that/">Thiết kế web bán hàng nội thất</a></li>
<li id="menu-item-774" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-774"><a href="http://benet.vn/thiet-ke-web-bat-dong-san/">Thiết kế web bất động sản</a></li>
<li id="menu-item-775" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-775"><a href="http://benet.vn/thiet-ke-web-va-be/">Thiết kế web mẹ và bé</a></li>
<li id="menu-item-776" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-776"><a href="http://benet.vn/thiet-ke-web-nha-hang/">Thiết kế web nhà hàng</a></li>
<li id="menu-item-789" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-789"><a href="http://benet.vn/thiet-ke-web-ban-do-dien-tu/">Thiết kế web bán đồ điện tử</a></li>
<li id="menu-item-790" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-790"><a href="http://benet.vn/thiet-ke-web-ban-hang-do-lot/">Thiết kế web bán hàng đồ lót</a></li>
<li id="menu-item-257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-257"><a href="http://benet.vn/quan-tri-web/">Quản trị web</a></li>
<li id="menu-item-256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-256"><a href="http://benet.vn/nang-cap-web-2/">Nâng cấp web</a></li>
<li id="menu-item-255" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-255"><a href="http://benet.vn/quang-ba-web-2/">Quảng bá web</a></li>
<li id="menu-item-254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-254"><a href="http://benet.vn/thiet-ke-salepage/">Thiết kế Salepage</a></li>
</ul>		
		</div>
		</aside></div><!-- #secondary -->
	</div><!-- .post-sidebar -->

</div><!-- .row -->

</div>