<?php
$news = $this->news;
//var_dump($news);exit;
?>

<div id="content" class="blog-wrapper blog-archive page-wrapper">
		<header class="archive-page-header">
	<div class="row">
	<div class="large-12 text-center col">
	<h1 class="page-title is-large uppercase">
		Danh mục: <span>Hoạt động</span>	</h1>
		</div>
	</div>
</header><!-- .page-header -->


<div class="row row-large row-divided ">
	
	<div class="large-9 col">
		
<h1 class="entry-title mb uppercase">Hoạt động</h1>
<hr>

  
    <div class="row large-columns-1 medium-columns- small-columns-1">
        <?php 
            foreach ($news as $new) {?>
                
                <div class="col post-item">
    			<div class="col-inner">
    			<a href="<?=BASE_URL?>/hoat-dong/<?=Common::getDetailURL($new["title"],$new["id"])?>" class="plain">
    				<div class="box box-vertical box-text-bottom box-blog-post has-hover">
                					<div class="box-image" style="width:20%;">
      						<div class="image-cover" style="padding-top:56%;">
      							<img width="300" height="169" src="<?=IMAGE_URL?>/news/<?=$new['image_description']?>" class="attachment-medium size-medium wp-post-image" alt="<?=$new["title"]?>" >  							  							  						</div>
      						  					</div><!-- .box-image -->
              					<div class="box-text text-left">
    					<div class="box-text-inner blog-post-inner">
    
    					
    										<h5 class="post-title is-large "><?=$new["title"]?></h5>
    										<div class="is-divider"></div>
    										<p class="from_the_blog_excerpt "><?=$new["short_desc"]?>				</p>
    										
    					
    					
    					</div><!-- .box-text-inner -->
    					</div><!-- .box-text -->
    																<div class="badge absolute top post-date badge-outline">
    							<div class="badge-inner">
    								<span class="post-date-day"><?php $date = date('d', $row['create_date']); echo $date; ?></span><br>
    								<span class="post-date-month is-xsmall">Th<?php $date = date('m', $row['create_date']); echo $date; ?></span>
    							</div>
    						</div>
    									</div><!-- .box -->
    				</a><!-- .link -->
    			</div><!-- .col-inner -->
    		</div>
                
        <?php }
        ?>
</div>
<ul class="page-numbers nav-pagination links text-center">
    
	</div> 


	<div class="post-sidebar large-3 col">
		<div id="secondary" class="widget-area " role="complementary">
		<aside id="dc_jqaccordion_widget-2" class="widget "><h3 class="widget-title "><span>DỊCH VỤ</span></h3><div class="is-divider small"></div>		
		<div class="dcjq-accordion" id="dc_jqaccordion_widget-2-item">
		
			<ul id="menu-dich-vu" class="menu"><li id="menu-item-658" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-658"><a href="http://benet.vn/thiet-ke-web-wordpress/">Thiết kế web WordPress</a></li>
<li id="menu-item-464" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-464"><a href="http://benet.vn/thiet-ke-web-gia-re/">Thiết Kế Web Giá Rẻ</a></li>
<li id="menu-item-259" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-259"><a href="http://benet.vn/thiet-ke-web-cong-ty/">Thiết kế web công ty</a></li>
<li id="menu-item-258" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-258"><a href="http://benet.vn/thiet-ke-web-ban-hang/">Thiết kế web bán hàng</a></li>
<li id="menu-item-463" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-463"><a href="http://benet.vn/thiet-ke-web-thoi-trang/">Thiết Kế Web Thời Trang</a></li>
<li id="menu-item-612" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-612"><a href="http://benet.vn/thiet-ke-web-cong-ty-du-lich/">Thiết kế web công ty du lịch</a></li>
<li id="menu-item-611" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-611"><a href="http://benet.vn/thiet-ke-web-nha-sach/">Thiết kế web nhà sách</a></li>
<li id="menu-item-610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-610"><a href="http://benet.vn/thiet-ke-web-nha-thuoc/">Thiết kế web nhà thuốc</a></li>
<li id="menu-item-635" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-635"><a href="http://benet.vn/thiet-ke-website-nong-san/">Thiết kế website nông sản</a></li>
<li id="menu-item-636" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-636"><a href="http://benet.vn/thiet-ke-web-shop-trang-suc/">Thiết kế web shop trang sức</a></li>
<li id="menu-item-770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-770"><a href="http://benet.vn/thiet-ke-web-ban-to-yen/">Thiết kế web bán tổ yến</a></li>
<li id="menu-item-771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-771"><a href="http://benet.vn/thiet-ke-web-thiet-bi-thanh/">Thiết kế web thiết bị âm thanh</a></li>
<li id="menu-item-772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-772"><a href="http://benet.vn/thiet-ke-web-khach-san/">Thiết kế web khách sạn</a></li>
<li id="menu-item-773" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-773"><a href="http://benet.vn/thiet-ke-web-ban-hang-noi-that/">Thiết kế web bán hàng nội thất</a></li>
<li id="menu-item-774" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-774"><a href="http://benet.vn/thiet-ke-web-bat-dong-san/">Thiết kế web bất động sản</a></li>
<li id="menu-item-775" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-775"><a href="http://benet.vn/thiet-ke-web-va-be/">Thiết kế web mẹ và bé</a></li>
<li id="menu-item-776" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-776"><a href="http://benet.vn/thiet-ke-web-nha-hang/">Thiết kế web nhà hàng</a></li>
<li id="menu-item-789" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-789"><a href="http://benet.vn/thiet-ke-web-ban-do-dien-tu/">Thiết kế web bán đồ điện tử</a></li>
<li id="menu-item-790" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-790"><a href="http://benet.vn/thiet-ke-web-ban-hang-do-lot/">Thiết kế web bán hàng đồ lót</a></li>
<li id="menu-item-257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-257"><a href="http://benet.vn/quan-tri-web/">Quản trị web</a></li>
<li id="menu-item-256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-256"><a href="http://benet.vn/nang-cap-web-2/">Nâng cấp web</a></li>
<li id="menu-item-255" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-255"><a href="http://benet.vn/quang-ba-web-2/">Quảng bá web</a></li>
<li id="menu-item-254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-254"><a href="http://benet.vn/thiet-ke-salepage/">Thiết kế Salepage</a></li>
</ul>		
		</div>
		</aside></div><!-- #secondary -->
	</div><!-- .post-sidebar -->

</div><!-- .row -->

</div>