<link type="text/css" rel="stylesheet" media="screen" href="<?=STATIC_DOMAIN?>/css/lsui-5b78d60.css">
<div class="container main-content">
      <div class="row">
        <div class="span12 content">
          
  
<script>
  __flash = [];
  __flash.push(['show', '#flash', 'bingy']);
</script>
<div id="flash">
</div>


  

       
  <div class="privacy-title">
    <h1>Privacy Policy</h1>
  </div>


    
    
  <div id="privacy-policy-us" class="privacy">
  <p>The LivingSocial privacy policy (the “Privacy Policy”) is intended to inform you of our policies and practices regarding the collection, use and disclosure of Personal Information and other information you submit to us through LivingSocial. By accessing or otherwise using the LivingSocial websites, e-mails or other services (collectively “LivingSocial”), you agree to the terms and conditions of this Privacy Policy (which is incorporated into and forms a part of the LivingSocial <a href="/terms">Conditions of Use</a>) and consent to the processing of your information according to the Privacy Policy.</p>

  <p>This Privacy Policy is effective August 10, 2012. The Privacy Policy in effect prior to August 10, 2012 can be found <a href="/privacy_policy_previous">here</a>.</p>

  <div class="row">
    
    <ul class="span3 privacy-table-contents">
      <li><a href="#collection_of_information">Collection of Information</a></li>
      <li><a href="#use_and_disclosure_of_information">Use and Disclosure of Information</a></li>
      <li><a href="#choices_about_your_information">Choices About Your Information</a></li>
      <li><a href="#third_party_advertising_and_sites">Third Party Advertising and Sites</a></li>
      <li><a href="#security">Security</a></li>
      <li><a href="#childrens_personal_information">Children’s Personal Information</a></li>
      <li><a href="#access">Access</a></li>
      <li><a href="#enforcement">Enforcement</a></li>
      <li><a href="#changes_to_this_privacy_policy">Changes to this Privacy Policy</a></li>
      <li><a href="#how_to_contact_us">How to Contact Us</a></li>
    </ul>
    <div class="span8">
      <h2 id="collection_of_information">Collection of Information</h2>

      <p>We collect the following types of information:</p>

      <p><i>Personal Information that You Provide</i></p>

      <p>In general, we collect Personal Information that you submit to us voluntarily through LivingSocial. We also collect information that you submit in the process of creating or editing your account and user profile on LivingSocial. For example, our registration and login process requires you to provide us with your name, valid e-mail address and password of your choice. Use of some of our services may require you to save a delivery or shipping address. When you personalize your profile and use the features of LivingSocial, we will collect any information you voluntarily provide, and we may also request optional information to support your use of LivingSocial, such as your year of birth, gender and other demographic information. We collect information in the form of the content that you submit during your use of LivingSocial, such as photos, reviews, ratings and other information you choose to submit.</p>

      <p>We may also collect information about you and your friends who use LivingSocial from any social network you may have connected from, in order to provide you with a more personalized experience. For instance, we may collect your user name or profile information that you have permitted to be displayed through LivingSocial in order to display you as a friend or in association with your profile and connections.</p>

      <p>To enable payment for services purchased through Living Social, we collect and store billing and credit card information. For example, when you purchase a Deal, you submit your credit card or other payment information so that our service providers can process your payment for the Deal. When you sign up for, or win, any contests, sweepstakes or other activities that we make available on LivingSocial, we will collect the information designated along with such activity, which may include contact information such as your address and phone number.</p>

      <p>If you choose to sign up to receive information about products or services that may be of interest to you, we will collect your e-mail address and other related information. Additionally, we collect any information that you voluntarily enter, including Personal Information, into any postings, comments or forums within the LivingSocial community.</p>

      <p><i>Personal Information from Other Sources</i></p>

      <p>We may receive Personal Information about you from other sources with which you have registered or interacted, companies who we have partnered with (collectively, “Partners”) or other third parties. We may associate this information with the other Personal Information we have collected about you.</p>

      <p><i>E-mail and E-mail Addresses</i></p>

      <p>If you send an e-mail to us, or fill out our “Feedback” form through LivingSocial, we will collect your e-mail address and the full content of your e-mail, including attached files, and other information you provide. We may use and display your full name and e-mail address when you send an e-mail notification to a friend through LivingSocial or the social network from which you have connected to LivingSocial (such as in an invitation, or when sharing your content). Additionally, we may use your e-mail address to contact you on behalf of your friends (such as when someone sends you a personal message) or to send notifications from a social network or other website with which you have registered to receive such notifications. We may also use your e-mail address to contact you for things such as notifications of limited-edition shop sales and other related information. You may indicate your preference to stop receiving further promotional communications as further detailed below.</p>

      <p><i>Information Collected Via Technology</i></p>

      <p>As you use LivingSocial, certain information may be passively collected and stored on our or our service providers’ server logs, including your Internet protocol address, browser type and operating system. We also use Cookies and navigational data like Uniform Resource Locators (“URLs”) to gather information regarding the date and time of your visit and the solutions and information for which you searched and viewed, or on which of the advertisements displayed on LivingSocial you clicked. An Internet protocol address, or “IP Address,” is a number that is automatically assigned to your computer when you use the Internet. In some cases your IP Address stays the same from browser session to browser session; but if you use a consumer internet access provider, your IP Address probably varies from session to session. “Cookies” are small pieces of information that a website sends to your computer’s hard drive while you are viewing the site. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them) to provide you with a more personal and interactive experience with LivingSocial. Persistent Cookies can be removed by following your Internet browser help file directions. In order to use our services offered through LivingSocial, your web browser must accept Cookies. If you choose to disable Cookies, some aspects of LivingSocial may not work properly, and you may not be able to receive our services. You can manage your cookie preferences via your browser settings (see <a href="http://www.aboutcookies.org">http://www.aboutcookies.org</a> for more information)</p>

      <p><i>Mobile &amp; Location Information</i></p>

      <p>If you use mobile-enabled services provided by Living Social, such as any LivingSocial mobile application made available by us, we may receive information about your use of our services from your mobile device while you use our applications or services. This may also include information about your precise location if you have enabled location-based services on your mobile device. Certain applications or services may also require addition information collection, such as information to be sent when you are not logged into LivingSocial for alerts services, and the terms of such collection will be identified when you subscribe to or sign up for such services or applications.</p>

      <p><i>Social Media Information</i></p>

      <p>Certain information you post or provide through LivingSocial for public posting, such as your name, profile, comments, collections and reviews, may be shared with other users and posted on publicly available portions of LivingSocial, including without limitation, social media applications and other public fora in which you choose to participate. Please keep in mind that if you choose to disclose Personal Information when posting comments or other information or content through LivingSocial, this information may become publicly available and may be collected and used by others, including people outside the LivingSocial community. Please also be aware that if you choose to share or tweet deals or your purchases, they will become publicly available on the Facebook and Twitter websites. It is up to you to make sure you are comfortable with the information you choose to provide us and the information you choose to publish. We will not have any obligations with respect to any information that you post to parts of LivingSocial available to others, and recommend that you use caution when giving out personal information to others through social media networks or otherwise.</p>

      <p>You may choose to log in or access Living Social using the Facebook Connect feature. By doing this, you are asking Facebook to send us certain information from your Facebook profile, and you authorize us to collect, store and use in accordance with this Privacy Policy any and all information available to us through the Facebook interface.</p>

      <p><i>Feedback Information</i></p>

      <p>If you provide feedback to us, we may use and disclose such feedback for any purpose, provided we do not associate such feedback with your Personal Information. We will collect any information contained in such feedback and will treat the Personal Information in it in accordance with this Privacy Policy. You agree that any such comments and any e-mail we receive becomes our property. We may use feedback for marketing purposes or to add to or modify our services without paying any royalties or other compensation to you.</p>

      <h2 id="use_and_disclosure_of_information">Use and Disclosure of Information</h2>

      <p>In general, Personal Information and other information you submit or share with us is used for the following purposes by LivingSocial:  to enable your access to our services; to provide, maintain, protect, develop and improve LivingSocial; to fulfill your requests for products and services; to customize the content and advertisements you receive from us and our trusted partners; and to offer you additional information, opportunities, promotions and functionality from us or on our behalf, or from our partners or our advertisers at your request.</p>

      <p>Except as otherwise stated in this Privacy Policy, we do not sell, trade, rent or otherwise share for marketing purposes the Personal Information that we collect with third parties, unless you ask or authorize us to do so.</p>

      <p>We may provide your Personal Information to third-party service providers or affiliates who work on behalf of or with us to provide some of the services and features of LivingSocial and to help us communicate with you. Examples of such services include sending e-mail, analyzing data, providing marketing assistance, voucher management services, processing payments (including credit card payments) and providing customer service. We limit information provided to the aforementioned affiliate and third party service providers to the extent necessary for them to provide the services and require such service providers to promise not to use such information except as necessary to provide the relevant services to us. We may share some or all of your Personal Information (other than credit card information) with Merchants whose Deals you have purchased for their commercial purposes and to provide the Deal. If you do not want us to use or disclose Personal Information collected about you in the manner identified in this Privacy Policy, you may not use LivingSocial. Certain Deals may expressly require you to submit information for fulfillment at the point of purchase, and Merchants may separately request information from you as necessary to redeem the Voucher you have purchased, or for their own purposes. A merchant’s collection and use of any information shall be governed by that Merchant’s own privacy policy. Additionally, we do share your content preferences and other information with social networks you have connected with LivingSocial, along with those companies and persons you have asked us to share your information with.</p>

      <p>We may share some or all of your Personal Information with LivingSocial affiliated and group companies that are under a common control, so that they may send daily deal e-mails to you, in which case we will require them to honor this Privacy Policy.</p>

      <p>We use Google Analytics to better understand how visitors interact with our site. This service provides non-personally identifiable data including but not limited to data on where visitors came from, what actions they took on our site and where visitors went when they left our site. If you would like to learn more about this service, or about choices to opt out from it, please click <a href="https://tools.google.com/dlpage/gaoptout/">here</a>.</p>

      <p>We may also develop non-personal information concerning LivingSocial users, using de-identification processes to help ensure that such information cannot reasonably be re-associated or connected with you as an individual. Generally, we aggregate this information and use it in statistical analysis to help us analyze patterns in the use of LivingSocial. This Privacy Policy does not limit our use or disclosure of de-identified information (i.e., that is not connected with you as a user) in any way, and we reserve the right to use and disclose such information to our partners, advertisers and other third parties in our discretion.</p>

      <p>In the event we go through a business transition such as a merger, acquisition by another company or sale of all or a portion of our assets, your Personal Information may be among the assets transferred. You acknowledge that such transfers may occur and are permitted by this Privacy Policy, and that any acquirer of ours or that acquirer’s assets may continue to process your Personal Information as set forth in this Privacy Policy.</p>

      <p>We may disclose your Personal Information if we believe in good faith that such disclosure is necessary to (a) comply with relevant laws or to respond to subpoenas or warrants served on us; or (b) to protect and defend our rights or property, you, or third parties. You hereby consent to us sharing your Personal Information under the circumstances described herein.</p>

      <h2 id="choices_about_your_information">Your Choices Regarding Your Personal Information</h2>

      <p>We offer you choices regarding the collection, use and sharing of your Personal Information. You have a right at any time to stop us from contacting you for marketing purposes. When you receive promotional communications from us, you may indicate a preference to stop receiving further promotional communications from us and you will have the opportunity to “opt-out” by following the unsubscribe instructions provided in the promotional e-mail you receive or by contacting us directly at <a mailto="privacy@livingsocial.com">privacy@livingsocial.com</a>.</p>

      <p>Despite your indicated e-mail marketing preferences, we may send you administrative e-mails regarding LivingSocial, including, for example, administrative and transactional confirmations, and notices of updates to our Privacy Policy if we choose to provide such notices to you in this manner.</p>

      <p>If you use Living Social services provided through mobile devices, you may have additional choices, including over whether location services are enabled. Additionally, if you use other social media services in connection with Living Social, the providers of these services may provide you with additional choices concerning the types of data shared with LivingSocial.</p>

      <h2 id="third_party_advertising_and_sites">Third Party Advertising and Sites</h2>

      <p>We may enable advertisers and ad servers to promote third-party products and/or services by placing advertisements on LivingSocial. These advertisers and ad servers may use Cookies, “Web Beacons” (which are usually small, transparent graphic images) or similar technologies in order to monitor information related to the serving of their advertisements, and may use information gathered over time and across Web sites in order to make the ads you receive more relevant. Clicking on such advertisements will direct you to the website of a third-party and the advertiser.</p>

      <p>We also engage in remarketing to market our sites, products and services or those of our trusted advertising partners across the web: when a user visits our site, a Cookie is dropped on the user, and advertising networks may deliver targeted advertisements to users with this Cookie. We do not share any of your Personal Information with our remarketing ad networks or advertisers.</p>

      <p>You have choices about third-party advertising:  both the <a href="http://www.networkadvertising.org/managing/opt_out.asp">Network Advertising Initiative</a> and the <a href="http://www.aboutads.info/choices/">Digital Advertising Alliance</a> allow you to opt out from online behavioral advertising by their participating companies.</p>

      <p>LivingSocial may contain links to other websites or may make third-party applications available to our users. Please be aware that we are not responsible for the privacy practices or the content of such other websites or applications. We encourage our users to read the privacy statements of each and every website they visit or application they use. This Privacy Policy applies solely to information collected by us through LivingSocial and does not apply to these third-party websites or applications. The ability to access information of third parties from LivingSocial, or links to other websites or locations, is for your convenience and does not signify our endorsement of such third parties, their products, their services, other websites, locations or their content.</p>

      <h2 id="security">Security</h2>

      <p>We are committed to protecting the security of your Personal Information. We use a variety of industry-standard security technologies and procedures to help protect your Personal Information from unauthorized access, use or disclosure. Even though we have taken significant steps to protect your Personal Information, no company, including us, can fully eliminate security risks associated with Personal Information.</p>

      <h2 id="childrens_personal_information">Children’s Personal Information</h2>

      <p>LivingSocial does not direct its websites to children under the age of thirteen. We market families-related products or services for purchase by adults. We require registered users of the site to be at least eighteen years old. Protecting the privacy of children is very important. If we obtain actual knowledge that a registered user is under eighteen, we will promptly delete information associated with such account. By using LivingSocial, you are representing that you are at least eighteen years old.</p>

      <h2 id="access">Access to Personal Information</h2>

      <p>You have the right to request a copy of the Personal Information that we hold about you. If you would like a copy of some or all of your Personal Information, please contact us at <a href="mailto:privacy@livingsocial.com">privacy@livingsocial.com</a>. We may charge a reasonable fee for this service. We want to make sure that your information is accurate and up-to-date. You may ask us to correct or remove information that you think is inaccurate. You may change any of your profile information by editing it in the profile settings page.</p>

      <h2 id="enforcement">Enforcement</h2>

      <p>Personal or other information about you collected on LivingSocial sites and services may be stored and processed in the United States or any other country in which LivingSocial or its affiliates, subsidiaries and services providers maintain facilities. LivingSocial complies with the U.S.-EU Safe Harbor Framework as set forth by the U.S. Department of Commerce regarding the collection, use and retention of information from European Union Member Countries.  To learn more about the Safe Harbor program, please visit the <a href="http://export.gov/safeharbor/">Safe Harbor Website</a>.</p>

      <h2 id="changes_to_this_privacy_policy">Changes To This Privacy Policy</h2>

      <p>This Privacy Policy is subject to occasional revision at our discretion, and if we make any substantial changes in the way we use your Personal Information, we will post an alert on this page or may otherwise post an alert on the LivingSocial website. If you object to any such changes, you must cease using LivingSocial. Continued use of LivingSocial following notice of any such changes shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes.</p>

      <h3>California Residents</h3>
      <p>If you are a California resident, you may request that we provide to you (i) a list of the categories of personal information about you that LivingSocial has disclosed to third parties for the third parties’ direct marketing purposes during the calendar year preceding your request, (ii) the names and addresses of such third parties, and (iii) if the nature of the third parties’ business cannot reasonably be determined from their names, examples of the products or services marketed, if known to LivingSocial, sufficient to give you a reasonable indication of the nature of the third parties’ business. To submit your request, please e-mail <a mailto="privacy@livingsocial.com">privacy@livingsocial.com</a>.</p>

      <h2 id="how_to_contact_us">How to Contact Us</h2>
      
      <p>If you have questions or concerns about our Privacy Policy, please contact us at: <a mailto="privacy@livingsocial.com">privacy@livingsocial.com</a>.</p>
    </div>
    
  </div>
  
  <p class="span12 privacy-after-main">Last updated: July 13, 2012 <br>
    The Privacy Policy in effect prior to August 10, 2012 can be found <a href="/privacy_policy_previous">here</a>.</p>
  
</div>




        </div>
      </div>
    </div>