<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Phương thức thanh toán ATM</div></div>
<div class="block_center" style="background-color: #ffffff">
    <div class="div_padding">
        
        <div class="ColRight">
            <h3 class="SUPPORT_TITLE">THÔNG TIN CHUYỂN KHOẢN CỦA <span style="text-transform: uppercase;"><?=SHOP_URL_SHORT?></span> TẠI CÁC NGÂN HÀNG</h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
		<div class="BOX_DETAIL_CS">
			<ol style="text-align: justify;" class="padd_list_priva">	
				<p>- Để sử dụng dịch vụ này, Quý khách cần đăng ký dịch vụ <b>E-Banking</b> hoặc <b>Internet Banking</b> với ngân hàng, nơi khách hàng mở tài khoản.</p>      
         		<p>- Sau khi thủ tục hoàn tất, ngân hàng sẽ cấp cho Quý khách thông tin bao gồm: <b>tên truy cập</b> và <b>mật khẩu</b> để đăng nhập vào trang web và sử dụng dịch vụ.</p>				
				<li>Thông tin chuyển khoản của <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> tại các Ngân hàng	<br/><br/>													
					<table border="0" cellspacing="1" cellpadding="4" width="100%">
					  <tbody>
					    <tr>
					      <td width="120px" class="listtitle">Ngân hàng phát hành</td>
					      <td width="100px" class="listtitle">&nbsp;</td>
					      <td width="100px" class="listtitle">Tên tài khoản</td>
					      <td width="100px" class="listtitle">Số Tài Khoản</td>
					      <td width="200px" class="listtitle">Chi Nhánh</td>
					    </tr>
					    					    					    
					     <tr>
					      <td class="listcontent" style="text-align:center"><img border="0" align="" src="<?=STATIC_DOMAIN?>/images/upload/support/eximbank.gif"></td>
					      <td class="listcontent">Ngân hàng TMCP Xuất Nhập Khẩu Việt Nam</td>
					      <td class="listcontent">Trương Thị Thu Trâm</td>
					      <td class="listcontent1" style="text-align:center">100714849116561</td>
					      <td class="listcontent1" style="text-align:center"> PGD EXIMBANK Q10, TP.HCM</td>
					    </tr>					    
					     <tr>
					      <td class="listcontent" style="text-align:center"><img border="0" align="" src="<?=STATIC_DOMAIN?>/images/upload/support/techcombank.gif"></td>
					      <td class="listcontent">Ngân hàng TMCP Kỹ Thương Việt Nam</td>
					      <td class="listcontent">Trương Thị Thu Trâm</td>
					      <td class="listcontent1" style="text-align:center">19025675569014</td>
					      <td class="listcontent1" style="text-align:center">CHI NHÁNH PHÚ MỸ HƯNG, Q.7, TPHCM</td>
					    </tr>						    	
					     <tr>
					      <td class="listcontent" style="text-align:center"><img border="0" align="" width="103" src="<?=STATIC_DOMAIN?>/images/upload/support/BIDV.jpg"></td>
					      <td class="listcontent">Ngân hàng Đầu tư và Phát triển Việt Nam</td>
					      <td class="listcontent">Trương Thị Thu Trâm</td>
					      <td class="listcontent1" style="text-align:center">31510000746618</td>
					      <td class="listcontent1" style="text-align:center">CHI NHÁNH HOÀNG VĂN THỤ, Q.PHÚ NHUẬN - TP.HCM</td>
					    </tr>					    
					     <tr>
                             <td class="listcontent" style="text-align:center"><img border="0" align="" width="103px" height="70px" src="<?=STATIC_DOMAIN?>/images/upload/support/ocb-logo.png"></td>
					      <td class="listcontent">Ngân hàng Phương Đông</td>
					      <td class="listcontent">Trương Thị Thu Trâm</td>
					      <td class="listcontent1" style="text-align:center">0111100001514001</td>
					      <td class="listcontent1" style="text-align:center">CHI NHÁNH LÊ DUẨN, Q.1, TPHCM</td>
					    </tr>
					  </tbody>
					</table>										
				</li>
			</ol>
		</div>
	</div>
</div>
        
    </div>    
</div>