<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Hướng dẫn thanh toán trực tiếp</div></div>
<div class="block_center" style="min-height: 1470px; background-color: #ffffff">
    <div class="div_padding">
        
        <div class="ColRight">
  <h3 class="SUPPORT_TITLE">Thanh toán</h3>
  <div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">     
    <div class="BOX_DETAIL_CS">    	
      <ol class="padd_list_priva">
        <li>Hướng dẫn thanh toán trực tiếp khi nhận hàng
          <p>- Bước 1: Sau khi xem thông tin giỏ hàng và nhấn nút "đặt hàng", bạn nhập thông tin nhận hàng. Sau đó chọn "Tiếp tục".</p>
           <p>
               <img src="<?=STATIC_DOMAIN?>/images/upload/intro/intro4.png" width="650px"/>
           </p>
           <p>
           	  <img src="<?=STATIC_DOMAIN?>/images/upload/intro/intro5.png" width="650px"/>
           </p>
           <p>- Bước 2 : Bạn chọn hình thức "tiền mặt trực tiếp" và chọn nút "chấp nhận mua".</p>
           <p>
           	  <img src="<?=STATIC_DOMAIN?>/images/upload/intro/intro6.png" width="650px"/>
           </p>
           <p>
           	  - Bước 3 : Xác nhận đơn hàng.
           	  </p><p>Sau khi nhận được thông tin shop sẽ liên hệ sớm nhất với bạn. Tuy nhiên, để đơn hàng được phục vụ tốt hơn bạn vui lòng check email bạn vừa nhập vào thông tin nhận hàng để kích hoạt đơn hàng. (Bạn lưu ý: Dù kích hoạt hay không chúng tôi vẫn sẽ phục vụ bạn, và ưu tiên cho những đơn hàng đã kích hoạt rồi)</p>
           <p></p>
           <p>
           	  <img src="<?=STATIC_DOMAIN?>/images/upload/support/support1.png" width="650px"/>
           </p>
        </li>        
      </ol>
    </div>      
  </div>
</div>
        
    </div>    
</div>