<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Chính sách bảo mật & thỏa thuận sử dụng</div></div>
<div class="block_center" style="min-height: 1470px; background-color: #ffffff">
    <div style="padding: 45px">
        
        <div class="ColRight">
	<h3 class="SUPPORT_TITLE">Phương thức vận chuyển</h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
		<div class="BOX_DETAIL_CS">
			<ol style="text-align: justify;" class="padd_list_priva">	
				<p>- Miễn phí vận chuyển đối với những đơn hàng trong Quận/Huyện nội thành TPHCM và Hà Nội
<b><i>(Thời gian giao hàng trong vòng 48h, trừ Thứ 7 &ndash; Chủ nhật và các ngày Lễ, Tết)</i></b>. </p>
				<p>- Vận chuyển ngoại thành TPHCM: <b>(Không áp dụng với đơn hàng thanh toán trực tiếp khi nhận hàng)</b></p>
				<p style="padding-left: 20px;">+ Miễn phí vận chuyển với đơn hàng có giá trị từ <b>500.000 VNĐ</b> trở lên</p>
				<p style="padding-left: 20px;">+ Trường hợp đơn hàng của Quý khách dưới <b>500.000 VNĐ</b>, Quý khách sẽ chịu phí <b>20.000 VNĐ</b> với mỗi đơn hàng nếu địa điểm giao hàng thuộc khu vực, quận/huyện dưới đây:</p>
				<p style="padding-left: 20px;text-align: center;"><img src="http://shop-static.123.vn/images/v3/thanhtoan/price_tphcm.png"></p>				
				<p><i style="color: red;">Lưu ý: Không áp dụng vận chuyển nếu địa điểm giao hàng thuộc các Quận/huyện ngoại thành Hà Nội như bên dưới:</i></p><i style="color: red;">									
				<p style="padding-left: 20px;text-align: center;"><img src="http://shop-static.123.vn/images/v3/thanhtoan/price_hn.png"></p>
				<p>- Trong thời gian sắp tới, <a href="http://123.vn/">123.vn</a> sẽ phát triển hệ thống giao nhận hàng tại các khu vực tỉnh thành khác trên phạm vi lãnh thổ Việt Nam.</p>
			</i></ol><i style="color: red;">								
		</i></div><i style="color: red;">
	</i></div><i style="color: red;">
</i></div>
        
    </div>    
</div>