<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Site map</div></div>
<div class="block_center" style="background-color: #ffffff">
    <div class="div_padding">
        
        <div class="ColRight">
            <h3 class="SUPPORT_TITLE">Site map</h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
        
        <div class="BOX_DETAIL_CS">	
        
		<div class="block">
	  <div style="background:#FFFFFF; margin-bottom:10px;" class="box">		
		  <ul class="list_categories2" id="list_categories">	  	
			
              <li>
                        <img align="absmiddle" src="<?=STATIC_DOMAIN?>/images/ARROW_2.gif"/>&nbsp;
                        <a style="color:#006699; text-decoration:none;" title="Sản phẩm khuyến mãi" href="<?=BASE_URL."/product?cat=saleoff&name=khuyến mãi"?>">Sản phẩm khuyến mãi</a>
                    </li>
                   
                    <li>
                        <img align="absmiddle" src="<?=STATIC_DOMAIN?>/images/ARROW_2.gif"/>&nbsp;
                        <a style="color:#006699; text-decoration:none;" title="Sản phẩm ưa chuộng" href="<?=BASE_URL."/product?cat=focus&name=ưa chuộng"?>">Sản phẩm ưa chuộng</a>
                    </li>
                    
              <?php
                    $cat=Product_Business::getInstance()->getCategories(1,1);
                     foreach($cat as $item){
              ?>
                    <li>
                        <img align="absmiddle" src="<?=STATIC_DOMAIN?>/images/ARROW_2.gif"/>&nbsp;
                        <a style="color:#006699; text-decoration:none;" title="<?=$item["name"]?>" href="<?=BASE_URL."/product?cat=".$item["id"]."&name=".$item["name"]?>"><?=$item["name"]?></a>
                    </li>	
             <?php           
                     }
              ?>
                     <li>
                        <img align="absmiddle" src="<?=STATIC_DOMAIN?>/images/ARROW_2.gif"/>&nbsp;
                        <a style="color:#006699; text-decoration:none;" title="Liên hệ" href="<?=BASE_URL."/index/contact"?>">Liên hệ</a>
                    </li>
          </ul>	
		  
		</div>
</div>
        
        </div>
        
	</div>
            <br/>
            <br/>
            <br/>
            <img src="<?=STATIC_DOMAIN?>/images/thoitrang3_1.jpg" style="padding-left: 40px"/>
            
</div>
        
    </div>    
</div>

