<link type="text/css" rel="stylesheet" media="screen" href="<?=STATIC_DOMAIN?>/css/lsui-5b78d60.css">
<div class="container main-content">
      <div class="row">
        <div class="span12 content">
          
  
<script>
  __flash = [];
  __flash.push(['show', '#flash', 'bingy']);
</script>
<div id="flash">
</div>


  

         <div class="terms-title">
    <h1>Terms and Conditions</h1>
  </div>


    
    


  <div id="terms-us" class="terms">
  <p class="term-sub-head">Welcome to LivingSocial!</p>
  <p>LivingSocial, Inc. and/or its affiliates ("LivingSocial") provide LivingSocial.com and its products or services to you subject to the following conditions. If you visit or shop through our Sites, you accept these conditions. Please read them carefully, because they contain important disclosures and information regarding terms of sale, among other terms that may affect your legal rights.</p>

  <div class="row">
    
    <ol class="span3 terms-table-contents">
      <li><a href="#your_acceptance_of_the_terms">Your Acceptance of the Terms</a></li>
      <li><a href="#electronic_communication">Electronic Communication</a></li>
      <li><a href="#your_privacy">Your Privacy</a></li>
      <li><a href="#certain_conditions_placed_on_your_use_of_the_site_and_services">Certain Conditions Placed on Your Use of the Sites and Services</a></li>
      <li><a href="#your_account">Your Account</a></li>
      <li><a href="#deals">Deals</a>
        <ul>
          <li><a href="#additional_deal_terms">Additional Deal Terms</a></li>
          <li><a href="#how_it_works">How it Works</a></li>
          <li><a href="#deal_value_and_the_fine_print">Deal Value and The “Fine Print”</a></li>
          <li><a href="#vouchers">Vouchers</a></li>
          <li><a href="#expiration_dates">Expiration Dates</a></li>
          <li><a href="#date_specific_deals">Date-Specific Deals</a></li>
          <li><a href="#refunds">Refunds</a></li>
          <li><a href="#merchant_is_the_issuer">Merchant is the Issuer</a></li>
          <li><a href="#deal_availability">Deal Availability</a></li>
          <li><a href="#pricing_information">Pricing Information</a></li>
          <li><a href="#getting_your_deal_for_free">Getting Your Deal For Free</a></li>
        </ul>
      </li>
      <li><a href="#other_services">Other Services</a></li>
      <li><a href="#deal_bucks">Deal Bucks</a>
        <ul>
          <li><a href="#types_of_deal_bucks">Types of Deal Bucks</a></li>
          <li><a href="#expiration_of_deal_bucks">Expiration of Deal Bucks</a></li>
        </ul>
      </li>
      <li><a href="#ownership_of_the_sites_and_services">Ownership of the Sites and Services</a></li>
      <li><a href="#copyright_trademarks">Copyright/Trademarks</a></li>
      <li><a href="#your_access_to_the_sites_and_services">Your Access to the Sites and Services</a></li>
      <li><a href="#third_party_links_and_contents">Third-Party Links and Contents</a></li>
      <li><a href="#information_and_content_submitted_by_you">Information and Content Submitted by You</a></li>
      <li><a href="#product_submissions">Product Submissions</a></li>
      <li><a href="#termination">Termination</a></li>
      <li><a href="#exclusion_of_warranties">Exclusion of Warranties</a></li>
      <li><a href="#limitations_of_liability">Limitations of Liability</a></li>
      <li><a href="#arbitration_of_disputes">Arbitration of Disputes</a></li>
      <li><a href="#indemnity_reservation_of_right_release">Indemnity, Reservation of Right, Release</a></li>
      <li><a href="#applicable_law">Applicable Law</a></li>
      <li><a href="#copyright_notice_digital_millenium_copyright_act">Copyright Notice-Digital Millennium Copyright Act</a></li>
      <li><a href="#entire_agreement_changes_to_this_agreement_and_waivers">Entire Agreement, Changes to this Agreement and Waivers</a></li>
      <li><a href="#general_terms">General Terms</a></li>
      <li><a href="#additional_terms">Additional Terms</a></li>
    </ol>
    <div class="span8">
      <h2 id="your_acceptance_of_the_terms">1. Your Acceptance of the Terms</h2>

      <p>The “Terms” consist of these Conditions of Use, the LivingSocial <a href="/privacy_policy">Privacy Policy</a> and any supplemental terms, legal notices and other communications provided to you. These Terms govern your use of the website offered by LivingSocial at <a href="http://www.livingsocial.com">www.livingsocial.com</a> (including any mobile, touch, merchant-specific, city-specific or other area-specific versions or sections) (each a “Site”), <u>and all products or services accessed</u> through the Sites (collectively “Services”). These Terms constitute a binding legal agreement (“Agreement,” though we may use “Terms” interchangeably with “Agreement” herein) in electronic form between you (“you,” “your” and/or “yourself”) and LivingSocial, Inc. and its successors, subsidiaries, affiliates and family of brands (“LivingSocial,” “we,” “us” and/or “our”). By using the Sites and/or Services, you agree to these Terms. IF YOU DO NOT AGREE TO THE TERMS, IMMEDIATELY STOP ACCESSING OR USING ANY OF THE SITES AND/OR SERVICES. BY USING THE SITES AND/OR SERVICES, YOU HAVE ACCEPTED THE TERMS.</p>
      <p>In some instances, both these Terms and separate terms of service or guidelines setting forth additional conditions may apply to a service or product offered via the Sites ("Additional Terms"). The Additional Terms are incorporated by reference into these Terms. The <a href="#additional_terms">Additional Terms</a> are generally intended to be supplemental to these Terms, but to the extent there is an express conflict between these Terms and any Additional Terms, the Additional Terms will control unless the Additional Terms expressly state otherwise and/or unless otherwise prohibited by applicable law.</p>

      <h2 id="electronic_communication">2. Electronic Communication</h2>

      <p>The communications between you and LivingSocial are electronic. You consent to receive communications from LivingSocial in an electronic form. You agree that all terms and conditions, agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications would satisfy if they were in writing.</p>

      <h2 id="your_privacy">3. Your Privacy</h2>

      <p>Your privacy is very important to us. We designed our <a href="/privacy_policy">Privacy Policy</a> to make important disclosures about how we collect, use and protect your personal data. We encourage you to read the Privacy Policy to help make informed decisions when using our Sites and Services. The Privacy Policy is incorporated herein by reference.</p>

      <h2 id="certain_conditions_placed_on_your_use_of_the_site_and_services">4. Certain Conditions Placed on Your Use of the Sites and Services</h2>

      <p>Your permission to use the Sites and/or Services is conditioned upon your agreement that you:</p>
      <ul>
        <li>are 18 years of age or older;</li>
        <li>will comply with these Terms;</li>
        <li>are able to form a binding contract with us;</li>
        <li>are not prohibited by law from accessing our Sites and/or Services or have not previously been banned, terminated or otherwise denied access to our Sites and/or Services by us;</li>
        <li>are not acting on behalf of a person whose access to our Sites and/or Services has been previously terminated or otherwise denied by us;</li>
        <li>will not impersonate another user of the Sites and/or Services.</li>
      </ul>

      <h2 id="your_account">5. Your Account</h2>

      <p>You will need to register by creating an account with LivingSocial (either by registering directly with us or by allowing a LivingSocial application to connect through your Facebook profile) (an “Account”) in order to obtain access to certain Services, including Deals. If you choose to create an Account, you agree to provide only accurate, complete registration information, and you will keep that information up-to-date if it changes. When you register, you will obtain unique log-in credentials (a “User ID”). Access to the LivingSocial Site and Services is not authorized by any other person or entity using your User ID and you are responsible for preventing such unauthorized use. Individuals and entities whose privilege to access the Site or use the Services has previously been terminated by LivingSocial may not register for an Account, nor may you designate any of those individuals to use your Account on your behalf.</p>
      <p>LivingSocial relies on User IDs to know whether users accessing the Site and using our Services are authorized to do so. If someone accesses our Site or Services using a User ID that we have issued to you, we will rely on that User ID and will assume that access has been made by you. You are solely responsible for any and all access to the Site or use of the Services by persons using your User ID. Please notify us immediately if you become aware that your User ID is being used without authorization.</p>

      <h2 id="deals">6. Deals</h2>

      <p>LivingSocial provides consumers with opportunities to purchase certain products and services (each a “Deal,” and collectively, “Deals”) from third-party merchants (each the “Merchant”), except as otherwise expressly identified, using a time-limited promotional voucher exchangeable for Merchant goods and services (a “Voucher”). The promotion of each Deal works as a form of advertisement for the Merchant by LivingSocial.</p>

      <p>By purchasing, printing, accepting, using or attempting to use any Voucher, you agree to these Terms, the fine print identified in the Deal copy (defined below) and/or any additional deal-specific terms related to the Deal at the time of purchase. These Terms apply to all Vouchers, unless the Fine Print on a particular Voucher states otherwise, and except as otherwise required by law. In the event of a conflict between these Terms and the Fine Print on a Voucher, the Fine Print will control, except to the extent prohibited by applicable law.</p>
  
      <h3 id="additional_deal_terms">Additional Deal Terms</h3>
      <p>Some categories of Deals have special terms that vary from the general deal terms stated in this Section 6.  These special terms which are set forth <a href="#additional_terms">here</a>. Any other varying terms for specific Deals will be set forth in the Fine Print.</p>

      <h3 id="how_it_works">How it Works</h3>
      <p>By placing an order for a given Deal, you are agreeing to purchase the Deal you have selected on the terms, restrictions and conditions associated with the Deal. Once you have placed your order, you will receive a confirmation of the Deal and your credit card or other payment mechanism will be charged for the amount of the Deal. We will notify you by email when the Voucher for the Deal is ready to be used. You are required to create an Account in order to purchase any Deal so we can collect information to allow you to pay for your Deals and so we can provide you with easy access to print your Deals, view your past purchases and modify your preferences.</p>

      <h3 id="deal_value_and_the_fine_print">Deal Value and The “Fine Print”</h3>
      <p>In addition to the terms set forth herein, each Deal comes with its own set of restrictions, terms and conditions (collectively, the “Fine Print,” whether or not they are expressly labeled as such on a Voucher). The Fine Print may restrict things such as when or where You can redeem a Voucher, as well as other Deal-specific limitations, so always read carefully.</p>
      <p>Most Vouchers combine two separate portions that make up the Deal: (i) a paid portion equal to the amount you paid for the Deal (the "Paid Portion"); and (ii) at no additional charge to you, a time-sensitive promotional portion for the balance of the value of the Deal if used by the promotional expiration date on the Voucher (the "Promotional Portion").</p>

      <h3 id="vouchers">Vouchers</h3>
      <p>Unless otherwise stated on the Voucher or required by law, the following additional terms apply to all Vouchers:</p>
      <ul>
        <li>Vouchers must be redeemed in their entirety in one visit to a Merchant.</li>
        <li>For vouchers that may be redeemed over several visits, purchases will be allocated first against the Paid Portion until there is a zero balance and then against the Promotional Portion that is remaining.</li>
        <li>Vouchers are not redeemable for cash.</li>
        <li>Use of a Voucher for alcoholic beverages is at the sole discretion of the Merchant in accordance with applicable law.</li>
        <li>Vouchers cannot be combined with any other coupons or promotions.</li>
        <li>Vouchers cannot be used for taxes, tips, prior balances and/or shipping or handling, as applicable.</li>
        <li>Neither LivingSocial nor the Merchant is responsible for lost or stolen Vouchers or Voucher reference numbers.</li>
        <li>Duplicate use, sale or trade of a Voucher is prohibited.</li>
        <li>Unless otherwise stated in the Fine Print, the Voucher price does not include sales, value-added or use taxes, which may be charged to you separately by the Merchant at the time you redeem the Voucher.</li>
      </ul>

      <h3 id="expiration_dates">Expiration Dates</h3>
      <p>The Promotional Portion of the Voucher will always expire on the date printed on the Voucher. If the Merchant is in a state where it is permissible for the Paid Portion to expire, the Paid Portion of the Voucher will expire five (5) years from the date that the Voucher was issued. In some states, the law may require the Merchant to honor the Paid Portion of the Voucher beyond five years, in which case the Paid Portion of the Voucher will expire in accordance with the applicable law.</p>

      <h3 id="date_specific_deals">Date-Specific Deals</h3>
      <p>Sometimes we offer Deals that are date-specific, such as a Deal for a ticketed event or a Deal where you select a specific day to stay at a hotel (“Date-Specific Deal”). Usually this means that the Voucher can only be redeemed on a single date or that you might have to choose from a list of available dates before you buy a Voucher. In either case, the date you select will be identified on the Voucher, and you can only redeem the Voucher on this specified date. Both the Paid Portion and the Promotional Portion expire on the date specified on the Voucher. You may not reschedule a Date-Specific Deal for another date or time for any reason. No full or partial refunds are given to customers who fail to redeem a Date-Specific Deal on the date specified on the Voucher. If for some reason the Date-Specific Deal is canceled or rescheduled by us or the Merchant, we will send you an email notifying you prior to such cancelation or rescheduling. If the Date-Specific Deal is rescheduled, our email to you will include the new date for the Date-Specific Deal. If you cannot make the new date for the Date-Specific Deal, you will be entitled to a refund of the Paid Portion upon request. If, however, the Date-Specific Deal is canceled and will not be rescheduled, we will automatically refund you the Paid Portion.</p>

      <h3 id="refunds">Refunds</h3>
      <p>Except as explicitly stated otherwise in the terms of a specific Deal, if You change your mind about purchasing a Deal, just write us at <a href="http://help.livingsocial.com/contact_us">http://help.livingsocial.com/contact_us</a> within seven (7) days of Your purchase and LivingSocial will refund the Paid Portion of any unredeemed Voucher to Your purchasing credit/debit card or other payment mechanism. In addition, LivingSocial will always honor your request for a refund of the Paid Portion of any unredeemed Voucher if the Merchant goes out of business before the promotional period expires. Please see the <a href="#additional_terms">Additional Terms</a> for refund rules applicable to other LivingSocial products and services.</p>
      <p>We want you to be happy with your LivingSocial experience. If You have trouble redeeming Your Voucher for any reason, please contact us at <a href="http://help.livingsocial.com/contact_us">http://help.livingsocial.com/contact_us</a> so we can work with the Merchant to resolve Your issue.</p>

      <h3 id="merchant_is_the_issuer">Merchant is the Issuer</h3>
      <p>The Merchant is the issuer of the Voucher and is solely responsible for redeeming the Voucher. The Merchant is also solely responsible for all goods and services it provides to you and for any and all injuries, illnesses, damages, claims, liabilities and costs it may cause you to suffer, directly or indirectly, in full or in part, whether related to the use or redemption of a Voucher or not, as well as for any unclaimed property liability arising from unredeemed or partially redeemed Vouchers. Unless otherwise indicated in a Deal or other offer, LivingSocial is solely the marketer of the Merchant’s goods or services, and may from time to time engage third parties or affiliates to administer Voucher management on behalf of Merchants. You hereby irrevocably waive all rights related to, and release LivingSocial and its subsidiaries, affiliates, partners, officers, directors, employees and agents from, any liabilities arising from or related to any act or omission of a Merchant in connection with your use of a Voucher or the products and/or services it provides in connection with it.</p>

      <h3 id="deal_availability">Deal Availability</h3>
      <p>Some Deals are not available for purchase beyond certain geographical and jurisdictional boundaries. LivingSocial reserves the right, in its sole discretion, to exclude or otherwise limit the provision of a Voucher, the Sites, the Services or any other product or service. LivingSocial does not represent or warrant that any product or service promoted on the Site will be available for purchase by any particular person. Some of our Deals are limited in number. Any attempt by you to obtain more than the permitted number of Vouchers specified for a particular Deal, including, without limitation, using multiple or different identities, credit cards, forms, registrations or addresses, will void your purchase and may subject your Account to termination. Whether purchase characteristics constitute an attempt to violate our rules shall be determined at our sole discretion.</p>

      <h3 id="pricing_information">Pricing Information</h3>
      <p>We display discounts on our Sites in connection with each Deal. These discounts are calculated based upon certain pricing information provided to us solely by Merchants, which may include the retail price suggested by the manufacturer, supplier or the Merchant, or an estimated price based on standard industry practice. Since the pricing information on which we base our discounts may vary, any discount information that we display may or may not be representative of the prevailing discount in every area or on any particular day.</p>

      <h3 id="getting_your_deal_for_free">Getting Your Deal For Free</h3>
      <p>After you buy a Deal, you will receive a personalized link which you may choose to share with your friends. If at least three of your friends buy the same Deal using your personalized link, you will receive your Deal for free (“Free Deal”)! If your three friends purchase the Deal after we have charged your credit card or other payment mechanism for the purchase of the Deal, we will refund the price of the Deal to the credit card or other payment mechanism you used to purchase the Deal. The opportunity to get a Free Deal may be time-limited and may be subject to other limitations. Any such limitations will be identified in the email you will receive notifying you of your Free Deal. If after you received a Free Deal your friends receive refunds or cancel their purchases, such that less than three people have purchased the deal using your personalized link, you will no longer be eligible for a Free Deal. In such instances, the credit card or other payment mechanism used for this purchase will be charged for the full purchase price of the Deal. In the event payment cannot be processed or authorized, you will be responsible for paying the full purchase price of the Deal.</p>
      <p><b>You must tell your friends that you are eligible to receive a Free Deal if they buy the applicable Deal using your personalized link.</b> Failure to disclose this information is a violation of this Agreement and may result in the termination of your Account, your disqualification from participating in incentive programs in the future, and/or the forfeiture or the demand for full payment of any Free Deal you received in violation of these Terms.</p>

      <h2 id="other_services">7. Other Services</h2>
      <p>In addition to our great Deals, we may from time to time offer some other products and services. We will set forth any terms specific to those products or services at the point of purchase or subscription, and most will be made available in various addenda which can be found in the <a href="#additional_terms">Additional Terms</a>.</p>

      <h2 id="deal_bucks">8. Deal Bucks</h2>
      <p>“Deal Bucks” are a form of LivingSocial currency that may be applied as a credit only towards the purchase of Deals on the Sites. Deal Bucks do not have a cash value and so they are not refundable for cash, except where required by applicable law. Resale of Deal Bucks is strictly prohibited. Deal Bucks are issued in country-specific currency. You can only use Deal Bucks on Deals that accept the currency of the home account in which your Deal Bucks are issued. If you have purchased Deals or had other interactions with us in different geographic locations, it is possible that you might have Deal Bucks in more than one currency. To help ensure that all of your Deal Bucks land in your account and are available for your purchases when you need them, we assign you a “primary currency.” Your primary currency will be the currency of the country in which you first purchased a Deal. If you have not purchased a Deal, your primacy currency will be the currency of the country in which you first subscribed to a Site. Deal Bucks cannot be used to purchase Takeout &amp; Delivery, additional Deal Bucks or Families and At Home product offers.</p>

      <h3 id="types_of_deal_bucks">Types of Deal Bucks</h3>
      <p>There are two types of Deal Bucks: (1) Paid Deal Bucks, which are purchased or given in exchange for express consideration in certain incremental values; and (2) Promotional Deal Bucks, which are given to certain customers in connection with a specific promotion, contest or sweepstakes. We have merged what were formerly known as “Earned Deal Bucks” into the “Promotional Deal Bucks” category because they, like Promotional Deal Bucks, are given to customers in connection with a specific promotion, contest or sweepstakes. Any “Earned Deal Bucks” that you accrued have not been lost; however, they will expire in accordance with the terms of the particular promotion through which you received them, just like all Promotional Deal Bucks.</p>

      <h3 id="expiration_of_deal_bucks">Expiration of Deal Bucks</h3>
      <p>Promotional Deal Bucks expire based on the terms of the particular promotion. Paid Deal Bucks expire five (5) years after the date of purchase or issuance, except where expiration of Paid Deal Bucks is prohibited by law, in which case they do not expire. Deal Bucks are not returnable or refundable for cash, except where required by law. Resale of Deal Bucks is strictly prohibited.</p>
      <p>Deal Bucks awarded via the LivingSocial Rewards Visa Card points exchange are Promotional Deal Bucks and expire five (5) years after the date of issuance to your Account.</p>
      <p>You may not sell or otherwise distribute access to your Deal Bucks to any other person or entity. Your Deal Bucks cannot be combined, co-mingled or otherwise merged with Deal Bucks in any other Account whether registered to you or not. Unauthorized or fraudulent use, resale, acquisition or distribution of Deal Bucks is prohibited. We may cancel, revoke or otherwise prevent the issuance of Deal Bucks if we suspect any unauthorized or fraudulent use and/or if we mistakenly credit your Account with Deal Bucks. For more information on Deal Bucks, please check out our Deal Bucks FAQ at: <a href="http://help.livingsocial.com/help_topics/deal-bucks">http://help.livingsocial.com/help_topics/deal-bucks</a>.</p>

      <h3>Refer-A-Friend Program</h3>
      <p>We currently offer you (and your friends) the opportunity to obtain Promotional Deal Bucks by referring your friends to the Sites through our Refer-A-Friend program (the “RAF Program”). To participate in the RAF Program, we will ask you to provide us with the email addresses of the friends you wish to refer to us. We will then send your friends an email, the contents of which you will get to see before we send it out. The email will explain the RAF Program, invite them to sign up with LivingSocial and provide them with a personalized link created just for you to use to refer your friends. Every friend you refer that: (i) is not subscribed to receive emails from LivingSocial and (ii) accepts the invitation we send them will automatically get a one-time issuance of 5 Promotional Deal Bucks deposited into a LivingSocial account that we automatically set up for them when they accept the invitation. If your friend purchases a Deal that costs more than five dollars ($5) using your personalized link, you will also get a one-time issuance of five (5) Promotional Deal Bucks!</p>
      <p>Remember that Deal Bucks are currency-specific. So, you (and your friends) can only redeem Deal Bucks on Deals that accept the currency of the home account to which the Deal Bucks are issued. Under the RAF Program, Promotional Deal Bucks are issued in the currency of the referring person’s home account (i.e. the currency of the country where the referring person made their first purchase or first subscribed to LivingSocial). Consequently, any Promotional Deal Bucks issued under the RAF Program can only be used on Deals that accept the currency of the referring person’s home account. LivingSocial reserves the right to change, modify and/or discontinue the RAF Program, in whole or in part, in its sole discretion, at any time and without notice.</p>
  
      <h2 id="ownership_of_the_sites_and_services">9. Ownership of the Sites and Services</h2>
      <p>The Sites and/or Services (including past, present and future versions) and all content that are included in, on or that are otherwise a part of the Sites and/or Services (collectively, the "Content") are owned, controlled or licensed by LivingSocial, its subsidiaries or affiliates.</p>

      <h2 id="copyright_trademarks">10. Copyright/Trademarks</h2>
      <p>The entire contents of the Sites and/or Services (including the Content) are copyrighted under the United States copyright laws and/or similar laws of other jurisdictions. Without limitation, LivingSocial owns a copyright in the selection, coordination, arrangement and enhancement of the Content on the Sites and/or in the Services. Trademarks and service marks, including, without limitation, “LivingSocial,” which appear on the Sites and/or in the Services are the service and trademarks of LivingSocial or affiliated entities. Without LivingSocial’s prior written permission, you agree not to display or use, in any manner, any such marks. Without limitation of the preceding, you may not use any meta tags or any other "hidden text" utilizing our names or trademarks without our express written consent. Notwithstanding the foregoing, any goodwill associated with any use of such marks by you will inure exclusively to LivingSocial or their respective owners. The Content may not be copied, modified, reproduced, downloaded or distributed in any way, in whole or in part, without the express prior written permission of LivingSocial, unless and except as is expressly provided in these Terms. Any unauthorized use of the Content is prohibited. You agree to abide by any and all additional trademark and copyright notices, information or restrictions contained in any part of the Sites and/or Services.</p>

      <h2 id="your_access_to_the_sites_and_services">11. Your Access to the Sites and Services</h2>

      <p>Subject to your compliance with the Terms, we grant you a limited license to access and make personal use of the Sites and/or Services. You are expressly prohibited from:</p>
      <ul>
        <li>any resale or commercial use of the Sites, the Services, the Contents and/or any of the other contents or materials found thereon;</li>
        <li>any collection and use of any product listings, descriptions, prices or any other information posted on the Site for any purpose other than your own personal use, including, without limitation, any purpose competitive to LivingSocial or the Merchants featured hereunder or any commercial purpose, including marketing;</li>
        <li>any downloading or copying of Site or Account information for any reason other than your personal use, or any use of data mining, robots or similar data gathering and extraction tools;</li>
        <li>deep-linking to any portion of the Site;</li>
        <li>framing or utilizing framing techniques to enclose any portion of the Site without express written consent;</li>
        <li>using the Sites and/or the Services to access or collect any personally identifiable information, including account names, email addresses or other such information for any purpose, including, without limitation, commercial purposes;</li>
        <li>attempting to gain access to secured portions of the Sites and/or Services to which you do not possess access rights;</li>
        <li>using the Site and/or Services to generate unsolicited email advertisements or spam; or</li>
        <li>using any automatic or manual process to search or harvest information from the Sites and/or Services, or interfering in any way with the proper functioning of the Site and/or Services.</li>
      </ul>

      <p>Any unauthorized use of the Sites, Services, Content and/or any other contents or materials found thereon shall immediately terminate the permission or license granted by us in these Terms. You are granted a limited, revocable and nonexclusive right to create a hyperlink to the home page of Livingsocial.com so long as the link does not portray us or any of our products or services in a false, misleading, derogatory or otherwise offensive matter. You may not use any of our logos or other proprietary graphics or trademarks as part of the link without express written permission.</p>

      <h2 id="third_party_links_and_contents">12. Third-Party Links and Contents</h2>

      <p>Our Sites and/or Services, or communications you receive from our Sites and/or Services may include third-party content or links to third-party websites that we do not control, maintain or endorse. Accessing those third-party sites requires you to leave the Sites and/or Services. We do not control those third-party sites or any of the content contained therein and you expressly acknowledge and agree that we are in no way responsible or liable for any of those third-party sites, including, without limitation, their content, policies, failures, promotions, products, services, actions and/or any damages, losses, failures or problems caused by, related to or arising from those third parties or their sites. YOUR CORRESPONDENCE AND BUSINESS DEALINGS WITH OTHERS FOUND ON OR THROUGH THE SITES AND/OR SERVICES, INCLUDING, WITHOUT LIMITATION, THE PAYMENT AND DELIVERY OF PRODUCTS AND SERVICES, AND ANY TERMS, CONDITIONS, WARRANTIES AND REPRESENTATIONS ASSOCIATED WITH ANY SUCH DEALINGS, ARE SOLELY BETWEEN YOU AND THE THIRD-PARTY. LIVINGSOCIAL ENCOURAGES YOU TO REVIEW ALL POLICIES, RULES, TERMS AND REGULATIONS, INCLUDING THE PRIVACY POLICIES AND TERMS OF USE OF EACH AND ANY THIRD-PARTY SITE THAT YOU VISIT.</p>

      <h2 id="information_and_content_submitted_by_you">13. Information and Content Submitted by You</h2>

      <p>The Sites and Services may offer you the opportunity to post reviews, comments, photos, questions and other content (“User Content”). You agree not to post any User Content on any of the Sites and/or Services that is illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights or otherwise injurious to third parties. You further agree not to post any User Content that contains software viruses, political campaigning, commercial solicitation, chain letters, mass mailings or any form of "spam." You may not use a false e-mail address, impersonate any person or entity or otherwise mislead as to the origin of User Content. LivingSocial reserves the right (but not the obligation) to remove or edit such User Content, but does not regularly review posted User Content.  Any opinions advice, ratings, discussions, comments and/or other User Content of any kind made by you or any user of the Sites and/or Services are those of the respective author(s) or distributor(s) and not of LivingSocial.</p>
      <p>If you do post User Content or submit material, and unless we indicate otherwise, you grant LivingSocial a non-exclusive, royalty-free, perpetual, irrevocable and fully sub-licensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute and display such User Content throughout the world in any media. You grant LivingSocial and our sublicensees the right to use the name that you submit in connection with such User Content at our discretion. You represent and warrant that you own or otherwise control all of the rights to the User Content that you post, that the User Content is accurate, that use of the User Content you supply does not violate this policy and will not cause injury to any person or entity and that you will indemnify LivingSocial for all claims resulting from User Content you supply. LivingSocial takes no responsibility and assumes no liability for any User Content posted by you or any third party.</p>

      <h2 id="product_submissions">14. Product Submissions</h2>
      <p>LivingSocial does not accept unsolicited submissions for business ideas, web sites, articles or other products or services. It is our intent to avoid the possibility of future misunderstandings when projects developed by or on behalf of LivingSocial (whether internally or by third parties) might seem to others to be similar to their own creative ideas or materials. Therefore, please do not make any such unsolicited submissions to LivingSocial through the Sites, by email, text message or otherwise. However, if you decide to make any such unsolicited submission, they shall be subject to these Terms and you hereby grant to LivingSocial the irrevocable right and license to the submission as if it were User Content as specifically set forth above.</p>

      <h2 id="termination">15. Termination</h2>
      <p>If you want to terminate your legal Agreement with LivingSocial, you may do so by: (A) notifying LivingSocial at <a href="mailto:help@livingsocial.com">help@livingsocial.com</a> or (B) closing your Accounts for all of the Services that you use.</p>
      <p>LivingSocial may, at any time, terminate this Agreement with you if: (i) You have breached any provision of this Agreement or you do not comply with the Agreement; (ii) LivingSocial is required by law to do so; (iii) the partner with whom LivingSocial has offered the Services to you has terminated its relationship with LivingSocial or ceased to offer the Services to you; (iv) LivingSocial no longer provides Services in the country in which you reside; or (v) LivingSocial determines that the provision of Services to you is no longer commercially viable. Notwithstanding anything contrary in these Terms, LivingSocial reserves the right to discontinue any product or service at any time and at its sole discretion.</p>
      <p>Without limiting any of the foregoing, LivingSocial may immediately terminate or suspend any User IDs, Accounts or passwords in the event of any conduct by you which LivingSocial, in its sole discretion, considers to be unacceptable or in the event of any breach by you of this Agreement. In the event of termination, you agree to immediately cease access to our Sites and Services. Any Voucher issued prior to termination will be honored according to its terms and the terms of this Agreement specifically applicable to such Voucher. These Terms will survive termination of this Agreement.</p>

      <h2 id="exclusion_of_warranties">16. Exclusion of Warranties</h2>
      <p>WE PROVIDE THE SITES AND SERVICES “AS IS,” “WITH ALL FAULTS” AND “AS AVAILABLE,” UNLESS OTHERWISE SPECIFIED.  We make no express or implied representations, warranties or guarantees of any kind about the Sites, Services, or any third-party products or services made available to you by us, unless specified in writing.</p>
      <p>YOU HEREBY EXPRESSLY AND IRREVOCABLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR OWN RISK.</p>
      <p>NOTHING IN THESE TERMS SHALL EXCLUDE OR LIMIT LIVINGSOCIAL’S WARRANTY OR LIABILITY FOR LOSSES THAT MAY NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW, IF ANY.</p>
      <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, LIVINGSOCIAL AND OUR OFFICERS, DIRECTORS, AGENTS, VENDORS, AND MERCHANTS DISCLAIM IMPLIED WARRANTIES THAT THE SITE AND SERVICES ARE MERCHANTABLE, OF SATISFACTORY QUALITY, ACCURATE, TIMELY, FIT FOR A PARTICULAR PURPOSE OR NEED, OR NON-INFRINGING. WE DO NOT GUARANTEE THAT: (A) YOUR USE OF THE SITES AND/OR SERVICES WILL MEET YOUR REQUIREMENTS; (B) YOUR USE OF THE SITES AND/OR SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, AVAILABLE, AND FREE FROM ANY ERROR; (C) ANY PRODUCTS OR SERVICES OBTAINED BY YOU AS A RESULT OF YOUR USE OF THE SITES AND/OR SERVICES WILL BE RELIABLE; OR (D) ELECTRONIC COMMUNICATIONS SENT FROM LIVINGSOCIAL WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</p>
      <p>WE MAKE NO WARRANTIES AS TO PRIVACY AND SECURITY OTHER THAN AS EXPRESSLY STATED IN THE <a href="/privacy_policy">PRIVACY POLICY</a>.</p>
      <p>NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY A LIVINGSOCIAL REPRESENTATIVE SHALL CREATE A WARRANTY.</p>

      <h2 id="limitations_of_liability">17. Limitations of Liability</h2>
      <p>SUBJECT TO THE EXCLUSIONS OF WARRANTIES AND ARBITRATION PROVISIONS PROVIDED HEREIN, YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH US IS TO DISCONTINUE YOUR USE OF THE SITES AND SERVICES. YOU EXPRESSLY UNDERSTAND AND AGREE THAT LIVINGSOCIAL, ITS AFFILIATES, OFFICERS, DIRECTORS, AGENTS, VENDORS OR MERCHANTS SHALL NOT BE LIABLE TO YOU FOR ANY OF THE FOLLOWING:  (A) ANY CLAIMS EXCEEDING THE TOTAL AMOUNT OF FEES THAT YOU PAID US DURING THE PREVIOUS ONE-YEAR PERIOD FOR THE SPECIFIC PRODUCT AND/OR SERVICE AT ISSUE OR (B) ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES ARISING FROM YOUR USE OF, INABILITY TO USE OR RELIANCE UPON THE SITES AND SERVICES. THESE EXCLUSIONS APPLY TO, BUT ARE NOT LIMITED TO, ANY CLAIMS FOR LOST PROFITS, LOST DATA, LOSS OF GOODWILL, WORK STOPPAGE, COMPUTER FAILURE OR MALFUNCTION OR ANY OTHER COMMERCIAL DAMAGES OR LOSSES, EVEN IF WE KNEW OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. IF ANY APPLICABLE JURISDICTION DOES NOT ALLOW THE EXCLUSION OR THE LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH JURISDICTION, OUR LIABILITY, AND THE LIABILITY OF OUR AFFILIATES, OFFICERS, DIRECTORS, AGENTS, VENDORS AND MERCHANTS SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW.</p>
      <p>AS SET FORTH ABOVE, YOU AGREE THAT YOU ARE SOLELY RESPONSIBLE FOR INTERACTIONS WITH THIRD-PARTY MERCHANTS. SUBJECT TO THE EXCLUSIONS OF WARRANTIES, LIMITATIONS OF LIABILITY AND ARBITRATION PROVISIONS PROVIDED HEREIN, YOU AGREE TO RELEASE LIVINGSOCIAL FROM ANY AND ALL CLAIMS OR LIABILITY RELATED TO ANY PRODUCT OR SERVICE OF A THIRD-PARTY MERCHANT AND ANY ACTION OR INACTION BY A THIRD-PARTY MERCHANT.</p>

      <h2 id="arbitration_of_disputes">18. Arbitration of Disputes Governed By Arbitration</h2>

      <p>Notwithstanding the foregoing, any dispute or claim arising out of or relating in any way to your visit to the Sites, your purchase or redemption of a Voucher or your use of the Services made available through the Sites, these Terms, this Agreement, the Privacy Policy or the validity or enforceability of this arbitration agreement will be resolved by binding arbitration, rather than in court, except for matters that can be taken to small claims court in your local jurisdiction. This agreement and any arbitration shall be governed by the Federal Arbitration Act.</p>
      <p>There is no judge or jury in arbitration, and court review of an arbitration award is limited. However, an arbitrator can award on an individual basis the same damages and relief (including injunctive and declaratory relief or statutory damages) as a court, and must follow the provisions of these Terms as a court would.</p>
      <p>To begin an arbitration proceeding, you must send a letter requesting arbitration and describing your claim to our registered agent. The arbitration will be conducted before one commercial arbitrator with substantial experience in resolving commercial contract disputes from the American Arbitration Association (AAA) under its rules, including the AAA’s Supplementary Procedures for Consumer-Related Disputes. The AAA’s rules are available at http://www.adr.org or by calling 1-800-778-7879. We will pay all filing, administration and arbitrator fees for claims totaling less than $10,000. For larger claims, payment of those fees will be governed by the AAA’s fee schedule for Consumer Arbitration Costs.   You and LivingSocial may be able to recover attorney’s fees in arbitration as you/we would in court if they are available under applicable law. For any claim that could otherwise be brought in small claims court, the arbitration shall be conducted solely based on written submissions and, if the arbitrator deems it appropriate, a telephonic hearing. If the claim exceeds what can be recovered in a small claims court, and the arbitrator deems a face-to-face hearing is appropriate, the hearing will be conducted in the county where you live or at another mutually agreed location that is convenient to you. A decision by the arbitrator (including any finding of fact and/or conclusion of law) against either you or LivingSocial shall be confidential unless otherwise required to be disclosed by law or by any administrative body and may not be collaterally used by either you or us in existing or subsequent litigation or arbitration involving any other person or LivingSocial customer.</p>
      <p>We both agree that you or we may bring suit in court to enjoin infringement, unauthorized access or trespass to computer networks or any other misuse, misappropriation or theft of intellectual property rights. We also each agree that any dispute resolution proceedings will be conducted only on an individual basis and not in a class, consolidated or representative action. The arbitral tribunal shall have the power to rule on any challenge to its own jurisdiction or to the validity or enforceability of any portion of this agreement to arbitrate. If any part of this arbitration provision is held unenforceable, then the balance of this arbitration provision shall remain in effect and shall be construed in accordance with its terms as if the unenforceable provision were not contained. If, however, the class action waiver is found to be unenforceable, then the entire arbitration provision shall be null and void. If for any reason a claim proceeds in court rather than in arbitration we each waive any right to a jury trial and agree that we shall litigate exclusively in the courts located in Washington, D.C.</p>
      <p>Contact information for LivingSocial’s Registered Agent for Disputes/Arbitration is as follows:</p>
      <p>
        Corporation Service Company<br>
        2711 Centerville Road, Suite 400<br>
        Wilmington, DE 19808-1645
      </p>

      <h2 id="indemnity_reservation_of_right_release">19. Indemnity, Reservation of Right, Release</h2>
      <p>You agree to defend, indemnify and hold harmless LivingSocial and its officers, directors, employees and agents from and against any and all claims, damages, obligations, losses, liabilities, costs or debt and expenses (including but not limited to reasonable attorney's fees) arising from: (i) your use of and access to LivingSocial; (ii) your violation of any term of these Terms or this Agreement; (iii) your violation of any third-party right, including, without limitation, any copyright, property or privacy right; or (iv) any claim that any User Content submitted by you causes damage to a third-party. This defense and indemnification obligation will survive the termination of this Agreement and your use of the Sites and/or Services.</p>
      <p>LivingSocial reserves the right, but has no obligation, to monitor or take action regarding disputes that you may have with other users, customers or any Merchants. To the extent the law permits, you release us from any claims or liability related to any Content and/or User Content posted on the Sites and from any claims related to the conduct of any other customers of ours or any Merchants. You agree to waive California Civil Code Section 1542 (if you are a California resident), and any similar provision in any other jurisdiction (if you are a resident of such jurisdiction), which states: "A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor."</p>

      <h2 id="applicable_law">20. Applicable Law</h2>

      <p>By using our Services, you agree to these Terms and you further agree that any claim or dispute between you and LivingSocial that arises out of this Agreement shall be governed by the laws of the District of Columbia without regard to conflict of law principles, except that the arbitration provisions contained herein shall be governed by the Federal Arbitration Act.</p>

      <h2 id="copyright_notice_digital_millenium_copyright_act">21. Copyright Notice-Digital Millennium Copyright Act</h2>

      <p>We respect the intellectual property of others, and we ask you to do the same. If you are a copyright owner or an owner's agent and find any content on the Sites and/or Services that infringes upon your copyrights, you may submit a notification according to the Digital Millennium Copyright Act (“DMCA”).  To do so, please provide our DMCA/Copyright Agent with the following information in writing: (i) A signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; (ii) Identification of the copyrighted work(s) claimed to have been infringed; (iii) Identification of the material that is claimed to be infringing and information reasonably sufficient to permit the service provider to locate the material; (iv) Your contact information, including an address, telephone number and, if available, an e-mail address; (v) A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent or the law; and (vi) A statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. You acknowledge that if you fail to comply with all of the requirements of this Section, your DMCA notice may not be valid. Contact information for LivingSocial’s Copyright Agent for notice of claims of copyright infringement is as follows:</p>
      <p>
        LivingSocial<br>
        Attn: DMCA/Copyright Agent<br>
        1445 New York Avenue, N.W. Suite 200<br>
        Washington, DC 20005<br>
        <a href="mailto:copyright@livingsocial.com">copyright@livingsocial.com</a>
      </p>

      <h2 id="entire_agreement_changes_to_this_agreement_and_waivers">22. Entire Agreement, Changes to this Agreement and Waivers</h2>

      <p>These Terms, together with the <a href="/privacy_policy">Privacy Policy</a>, and any other legal notices published by LivingSocial on the Sites, Services or any Voucher, shall constitute the entire agreement between you and LivingSocial concerning your use of the Sites and/or Services. We may occasionally change the Terms and the Terms of this Agreement, and any such modifications will become effective once they are posted to the Site. It is your sole responsibility to check the Sites from time to time to view any such changes to the Terms. Your use of the Sites and/or Services after any modifications to the Terms will indicate that you accept and agree to the modified Agreement, provided that these changes will not apply to Vouchers purchased prior to the effective date of such modification. These modifications will however be effective immediately for new users of our Sites and/or Services and for all Vouchers purchased after the effective date of the modification. Any changes to this Agreement (other than as set forth in this paragraph) or waiver of LivingSocial’s rights hereunder shall not be valid or effective except in a written agreement bearing the physical signature of an officer of LivingSocial. No purported waiver or modification of this Agreement by LivingSocial via telephonic or email communications shall be valid.</p>

      <h2 id="general_terms">23. General Terms</h2>

      <p>You and we are independent contractors, and nothing in this Agreement creates a partnership, employment relationship or agency relationship. There are no third-party beneficiaries of this Agreement. We may assign this Agreement at any time without notice to you. You may not assign this Agreement or your rights and obligations hereunder, in whole or in part, to any third-party without our prior written consent, and any attempt by you to do so will be invalid. Should any part of this Agreement be held invalid or unenforceable, that portion will be construed consistent with applicable law and the remaining portions will remain in full force and effect. Our failure to enforce any provision of this Agreement will not be considered a waiver of the right to enforce such provision. Our rights under this Agreement will survive any termination of this Agreement.</p>
      <p>YOU AND LIVINGSOCIAL AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO LIVINGSOCIAL MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.</p>
      <p>You represent that you are legally able to accept these Terms. You affirm that you are either more than 18 years of age, or an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations and warranties set forth in this Agreement, and to abide by and comply with this Agreement. If you are not legally able to accept these terms, or refuse to abide by and comply with this Agreement, you must cease use of the Sites and/or Services immediately.</p>
      <p>The parties hereto confirm their express wish that this Agreement and all documents and agreements directly or indirectly relating thereto be drawn up in the English language.</p>

      <h2 id="additional_terms">24. Additional Terms</h2>

      <p>Below are additional terms applicable to your use of and access to the Sites and certain Services offered by LivingSocial or its third party partners or affiliates through LivingSocial:</p>
      <ol>
        <li><a href="/terms_plus">LivingSocial Plus</a></li>
        <li><a href="/terms_takeout_and_delivery">Takeout and Delivery</a></li>
        <li><a href="/terms_adventures">Adventures</a></li>
        <li><a href="/terms_escapes">Escapes</a></li>
        <li><a href="/terms_products">Shop</a></li>
      </ol>
    </div>
  
  </div>
  <div class="span12 terms-after-main">
    <p>Last updated:  July 17, 2012</p>

    <p>Conditions of Use in effect prior to June 22, 2012 can be found  <a href="/terms_previous">here</a>.</p>
  </div>
</div>



        </div>
      </div>
    </div>