<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Chính sách bảo mật & thỏa thuận sử dụng</div></div>
<div class="block_center" style="min-height: 1470px; background-color: #ffffff">
    <div style="padding: 45px">
        
        <div class="ColRight">
	<h3 class="SUPPORT_TITLE">Tích lũy điểm</h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
		<div class="BOX_DETAIL_CS">
			<ol style="text-align: justify;" class="padd_list_priva">
				<p style="color: #0058AD;">I. Giới thiệu</p>	
				<p style="padding-left: 20px;">- Chương trình Tích Lũy Điểm mang đến cho khách hàng cơ hội mua sắm trực tuyến tại <a href="http://123.vn/">123.vn</a> với chi phí thật tiết kiệm thông qua việc giảm giá trực tiếp trên giá trị đơn hàng đặt mua. </p>
				<p style="padding-left: 20px;">- Đối tượng tham gia: khách hàng thân thiết của <a href="http://123.vn/">123.vn</a>, sử dụng tài khoản ZingID để đặt mua đơn hàng. Để đăng ký tài khoản ZingID, <a href="javascript:openRegister();" id="popup_register_menu">nhấn vào đây</a>. </p>
				<p style="color: #0058AD;">II. Hướng dẫn sử dụng điểm tích lũy</p>
				<p style="padding-left: 20px;">- Khi tham gia mua sắm tại <a href="http://123.vn/">123.vn</a>, Quý khách sẽ được tích lũy điểm. Số điểm tích lũy tương ứng với giá trị của đơn hàng. <b>Với 1.000 VNĐ, Quý khách nhận được 1 điểm tích lũy tương ứng</b>.</p>				
				<p style="padding-left: 20px;">- Số điểm tích lũy cho đơn hàng sẽ hiển thị ngay trong <b>Giỏ hàng</b> khi khách hàng đặt mua.</p>
				<p style="text-align: center;"><img src="http://shop-static.123.vn/images/v3/thanhtoan/hd_tich_luy_diem0.png"></p>
				<p style="padding-left: 20px;">- Có 3 thang cấp độ tích lũy điểm. Quý khách tích lũy điểm để thăng cấp và sẽ nhận được ưu đãi giảm giá tương ứng với từng cấp độ.</p>
				<p style="text-align: center;"><img width="760" src="http://shop-static.123.vn/images/v3/thanhtoan/hd_tich_luy_diem4.png"></p>
				<p style="padding-left: 20px;">- Khi đạt tới 1 trong 3 cấp độ trên, Quý khách sẽ nhận được ưu đãi giảm giá khi mua hàng tại <a href="http://123.vn/">123.vn</a>. Với ưu đãi này, Quý khách sẽ được giảm giá trực tiếp trên giá trị của đơn hàng. Chi tiết phần giảm giá được hiển thị tại phần <b>"Xác nhận thanh toán"</b>.</p>
				<p style="text-align: center;"><img src="http://shop-static.123.vn/images/v3/thanhtoan/hd_tich_luy_diem1.png"></p>
				<p style="padding-left: 20px;">- Ngoài ra, Quý khách có thể sử dụng điểm tích lũy để quy đổi các sản phẩm tương ứng.</p>
				<p style="padding-left: 20px;">- Để theo dõi thông tin chi tiết về điểm tích lũy của tài khoản, Quý khách có thể vào mục <b>"Thông tin điểm tích lũy"</b> trên website <a href="http://123.vn/">123.vn</a> để xem chi tiết.</p>
				<p style="text-align: center;"><img src="http://shop-static.123.vn/images/v3/thanhtoan/hd_tich_luy_diem2.png"></p>
				<p style="text-align: center;"><img src="http://shop-static.123.vn/images/v3/thanhtoan/hd_tich_luy_diem3.png"></p>
				<br>
				<p style="color: #0058AD;">III. Một số quy định về điểm tích lũy</p>
				<p style="padding-left: 20px;">- Điểm tích lũy không được quy đổi thành tiền mặt</p>
				<p style="padding-left: 20px;">- Điểm tích lũy chỉ nhận được khi Quý khách thanh toán đơn hàng trực tuyến bằng thẻ ATM hoặc Credit Card (Visa/MasterCard).</p>
				<p style="padding-left: 20px;">- Trường hợp thanh toán đơn hàng theo hình thức thanh toán trực tiếp hoặc chuyển khoản ngân hàng, Quý khách sẽ nhận được <b>50% trên tổng điểm tích lũy</b>. Vd: Với đơn hàng trị giá 500.000đ, sẽ nhận được 250 điểm tích lũy thay vì 500 điểm.</p>
				<p style="padding-left: 20px;">- Quý khách chỉ nhận được điểm tích lũy trong trường hợp sử dụng tài khoản ZingID để đặt mua và thanh toán đơn hàng. Trong trường hợp Quý khách sử dụng địa chỉ email và số điện thoại để đăng nhập mua hàng sẽ không nhận được điểm tích lũy.</p>
				<p style="padding-left: 20px;">- Điểm tích lũy và cấp độ sao trong tài khoản của Quý khách sẽ trở về mức 0 khi Quý khách không đặt mua và thanh toán bất cứ đơn hàng nào <b>trong vòng 6 tháng gần nhất</b>.</p>
				<p style="padding-left: 20px;">- Trong trường hợp đổi hàng, số điểm tích lũy sẽ được tính dựa trên giá trị của sản phẩm mới được đổi. Trường hợp trả hàng, hủy hàng, số điểm tích lũy của đơn hàng đó sẽ không được tính.</p>
			</ol>								
		</div>
	</div>
</div>
        
    </div>    
</div>