<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Top những câu hỏi giao nhận hàng</div></div>
<div class="block_center" style="background-color: #ffffff">
    <div class="div_padding">
        
        <div class="ColRight">
  <h3 class="SUPPORT_TITLE">Giao nhận hàng</h3>
  <div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid"> 
    <!--  box accor 1-->
    <div class="BOX_DETAIL_CS">      
      <div class="accordion">
        <h3 class="title active">Sau khi đặt hàng, tôi muốn <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> giao hàng sớm cho tôi được không ? </h3>
        <div class="zone" style="display: block;">Trong trường hợp Quý Khách có yêu cầu đặc biệt, <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> sẽ ưu tiên xử lý và giao hàng cho Quý Khách trong thời gian có thể. Tuy nhiên chúng tôi không cam kết thời gian mong đợi giao hàng của Quý Khách sẽ được giao chính xác 100%</div>        
        <h3 class="title">Tôi không ở khu vực TPHCM, vậy <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> có giao hàng tận nhà cho tôi không? Chi phí sẽ được tính như thế nào ? </h3>
        <div class="zone" >Nếu Quý Khách ở các tỉnh thành khác TPHCM, <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> sẽ giao hàng tận nhà.<a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> sẽ cố gắng hết sức có thể để giao hàng đến tận tay Quý Khách trong thời gian sớm nhất.</div>
        <div class="zone" >Khi nhân viên giao hàng, Quý Khách vui lòng kiểm tra hàng ngay lúc giao. Nếu phát hiện hàng giả, hàng nhái, Quý Khách vui lòng không nhận hàng và báo lại cho chúng tôi qua Hotline <?=HOT_LINE?> hoặc gửi yêu cầu tại <a href="/ho-tro/khieu-nai-gop-y.html">đây</a>.
Về phía <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>, chúng tôi cam kết sẽ bồi thường gấp 3 lần giá trị món hàng đó.</div>
        <h3 class="title">Hàng giao không đúng với mô tả trên web, hoặc giao không đúng hàng cần mua, tôi phải làm gì để được đổi hàng ?</h3>
        <div class="zone" >Nếu hàng không đúng mô tả trên web, hoặc nhân viên giao nhầm hàng, Quý Khách vui lòng báo lại cho chúng tôi qua Hotline <?=HOT_LINE?> hoặc gửi yêu cầu tại <a href="javascript:void(0);" onclick="api.showBoxy(-1);">đây</a>. Chúng tôi sẽ thu hồi lại hàng đã giao, bồi thương 10% (không quá 100.000Đ) cho lần mua hàng tiếp theo của Quý Khách. Đồng thời chúng tôi sẽ giao lại hàng đúng chất lượng (nếu Quý Khách vẫn có nhu cầu tiếp tục sử dụng) trong vòng 48h làm việc</div>
        <h3 class="title">Nếu phía <?=SHOP_URL_SHORT?> đến giao hàng nhưng không liên lạc được với tôi, thì hàng của tôi sẽ như thế nào? Làm sao để nhận được hàng ?</h3>
        <div class="zone" >Trước khi giao hàng, bộ phận giao hàng sẽ liên lạc với Quý Khách. Nếu quá 3 lần liên lạc thất bại (hoặc liên lạc thành công nhưng khi giao hàng không có người nhận), hàng của Quý Khách sẽ được chuyển về kho. Quý khách vui lòng đến địa chỉ <u><?=SHOP_STORE?></u> để trực tiếp nhận hàng.</div>        
      </div>
    </div>
    <!--  // ending box 1-->              
  </div>  
</div>
        
    </div>    
</div>