<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Top những câu hỏi hủy đổi hàng</div></div>
<div class="block_center" style=" background-color: #ffffff">
    <div class="div_padding">
        
        <div class="ColRight">
  <h3 class="SUPPORT_TITLE">Hủy đổi hàng</h3>
  <div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid"> 
    <!--  box accor 1-->
    <div class="BOX_DETAIL_CS">      
      <div class="accordion">
        <h3 class="title active">Sau khi đặt hàng, tôi phát hiện ra mua trùng sản phẩm hoặc không đúng sản phẩm muốn mua, tôi có thể đổi hoặc huỷ đơn hàng được không ? </h3>
        <div class="zone" style="display: block;">Trong trường hợp này Quý Khách không thể huỷ đơn hàng. <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> sẽ tiếp nhận yêu cầu đổi hàng của Quý Khách trong vòng 168h kể từ lúc đặt hàng thành công. Vui lòng tham khảo chính sách đổi hàng <a href="<?=BASE_URL?>/support/changeprod#bm" target="_blank">tại đây</a></div>        
        <h3 class="title">Hàng may mặc nếu mua về mặc không vừa, tôi có thể đổi size khác được không ? Thời gian và cách đổi thế nào ?</h3>
        <div class="zone" >Quý Khách vui lòng tham khảo chính sách đổi hàng của <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> <a href="<?=BASE_URL?>/support/changeprod#bm" target="_blank">tại đây</a></div>                
        <h3 class="title">Việc đổi hàng xuất phát từ yêu cầu của tôi thì tôi có cần chi trả thêm khoản chi phí nào để được đổi không ?</h3>
        <div class="zone" >Sau khi yêu cầu đổi hàng được chấp nhận, Quý Khách sẽ không phải chi trả bất cứ chi phí nào cho việc đổi hàng. Vui lòng tham khảo chính sách đổi hàng của <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> <a href="<?=BASE_URL?>/support/changeprod#bm" target="_blank">tại đây</a></div>
        <h3 class="title">Nếu hàng tôi muốn đổi đã hết hàng thì số tiền đã mua hàng của tôi sẽ được xử lý như thế nào ?</h3>
        <div class="zone" >Chúng tôi luôn cố gắng đáp ứng mọi nhu cầu cho khách hàng tại <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>. Nếu trường hợp hàng được đổi đã hết, Quý Khách sẽ có 2 lựa chọn : hoặc yêu cầu nhận lại tiền ( chuyển khoản ATM ) hoặc yêu cầu chờ cho đến khi có hàng.</div>
        <h3 class="title">Hàng được trả lại phải đảm bảo những yêu cầu nào từ shop ?</h3>
        <div class="zone" >Quý Khách vui lòng tham khảo chính sách đổi hàng của <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> <a href="<?=BASE_URL?>/support/changeprod#bm" target="_blank">tại đây</a></div>
      </div>
    </div>
    <!--  // ending box 1-->              
  </div>  
</div>
        
    </div>    
</div>