<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Top những câu hỏi thanh toán</div></div>
<div class="block_center" style="background-color: #ffffff">
    <div class="div_padding">
        
        <div class="ColRight">
  <h3 class="SUPPORT_TITLE">Top những câu hỏi thanh toán</h3>
  <div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid"> 
    <!--  box accor 1-->
    <div class="BOX_DETAIL_CS">      
      <div class="accordion">
        <h3 class="title active">Tôi muốn giao hàng tới tận nơi rồi mới thanh toán tiền thì được không ?</h3>
        <div class="zone" style="display: block;">Quý Khách có thể chọn hình thức thanh toán trực tiếp. Sau khi nhận hàng, Quý Khách vui lòng giao tiền trực tiếp cho nhân viên giao hàng. </div>
        <h3 class="title">Tôi có thể thanh toán cho <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> bằng hình thức chuyển khoản được không ?</h3>
        <div class="zone" >Hiện tại <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> chấp nhận thanh toán bằng 2 hình thức: trả tiền sau khi nhận hàng (COD), chuyển khoản ngân hàng. Vì vậy bạn có thể thanh toán chuyển khoản cho <?=SHOP_URL_SHORT?></div>
        <h3 class="title">Những trường hợp nào chúng tôi sẽ được hoàn tiền ?</h3>
        <div class="zone" >
        		<p>Trong các trường hợp sau, Quý Khách sẽ được chúng tôi hoàn tiền :</p>
        		<p>- Hết hàng</p> 
        		<p>- Hàng mua bị lỗi</p>
        		<p>- Lỗi hệ thống</p>
        	</div>
      </div>
    </div>
    <!--  // ending box 1-->              
  </div> 
    <br/>
            <br/>
            <br/>
            <img src="<?=STATIC_DOMAIN?>/images/thoitrang3_1.jpg" style="padding-left: 40px"/>
</div>
        
    </div>    
</div>