<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Chính sách đổi / trả hàng</div></div>
<div class="block_center" style="min-height: 1470px; background-color: #ffffff">
    <div class="div_padding">
        
        <div class="ColRight">
	<h3 class="SUPPORT_TITLE">Chính sách đổi / trả hàng</h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
		<div class="BOX_DETAIL_CS">	
			 <ol style="text-align: justify;" class="padd_list_priva">
			 	<li>I. Quy định chung
			 		<p style="padding-left: 20px;"> 1. Điều kiện về thời gian đổi trả: trong vòng 7 ngày kể từ khi nhận được hàng.</p>
			 		<p style="padding-left: 20px;"> 2. Điều kiện về hàng hóa: hàng còn nguyên tem, không bị dơ bẩn, hư hỏng, trầy xước, có mùi đã qua sử dụng hoặc đã qua giặt, tẩy. Đầy đủ các phụ kiện hoặc tặng phẩm (nếu có).</p>
			 		<p style="padding-left: 20px;"> 3. Điều kiện về hóa đơn, chứng từ: phiếu giao hàng hoặc hóa đơn đỏ (nếu có).</p>
			 		<p style="padding-left: 20px;"> 4. Trong trường hợp đổi hàng, nếu giá món hàng đổi khác với giá món hàng đã mua, khách hàng sẽ bù thêm tiền mặt hoặc <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> hoàn tiền bằng ATM vào tài khoản khách hàng</p>
			 		<p style="padding-left: 20px;"> 5. Trường hợp đổi hàng không phải do lỗi của <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> mà do nhu cầu của khách hàng: </p>			 		
			 		<p style="padding-left: 40px;">- Khách hàng chỉ được quyền đổi 1 lần cho món hàng đã mua.</p>
					<p style="padding-left: 40px;">- Yêu cầu đổi hàng được đáp ứng chỉ khi kho <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> còn món hàng thay thế.</p>			 					 					 		
					<p style="padding-left: 40px;">- Khách hàng vui lòng đến địa chỉ, hoặc gởi bưu phẩm, bưu kiện đến địa chỉ sau: <b><?=SHOP_STORE?></b> để tiến hành đổi hàng.</p>
			 	</li>
			 	<li>II. Các trường hợp được đổi trả hàng
			 		<p style="padding-left: 20px;">1. Các trường hợp trả hàng</p>
			 		<p style="padding-left: 40px;">- Quý khách được quyền trả hàng nếu sản phẩm bị hư hỏng do nhà sản xuất hoặc trong quá trình vận chuyển giao hàng.</p>
			 		<p style="padding-left: 40px;">- Quý khách được quyền trả hàng khi phát hiện hàng kém chất lượng.</p>
			 		<p style="padding-left: 20px;">2. Các trường hợp đổi hàng</p>
			 		<p style="padding-left: 40px;">- <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> giao nhầm màu, nhầm size, nhầm sản phẩm, hàng hóa bị hư hỏng trong quá trình đi giao.</p>
			 		<p style="padding-left: 40px;">- Hàng hóa không đúng như mô trả trên website (về màu sắc, kiểu dáng, chức năng).</p>
			 		<p style="padding-left: 40px;">- <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> không cung cấp đủ thông tin cần thiết để khách hàng lựa chọn sản phẩm đúng nhu cầu.</p>
			 		<p style="padding-left: 40px;">- Khách hàng không vừa với size đã mua ( trừ đồ lót).</p>			 					 					 		
			 	</li>
			 	<li>III. Các dòng sản phẩm không chấp nhận đổi hàng
			 		<p style="padding-left: 20px;">1. Thời trang: Đồ bơi, Đồ lót (quần lót nữ, quần lót nam).</p>
			 		<p style="padding-left: 20px;">2. Thực phẩm, đồ uống hoặc các thực phẩm tiêu dùng hàng ngày.</p>
			 		<p style="padding-left: 20px;">3. Đồ chơi trẻ em.</p>
			 		<p style="padding-left: 20px;">4. Sách báo, tạp chí.</p>
			 		<p style="padding-left: 20px;">5. Băng đĩa, DVD, Audio, phần mềm hoặc các sản phẩm tương tự không có niêm phong.</p>
                    <p style="padding-left: 20px;">6. Sản phẩm khuyến mãi.</p>
			 	</li>	
			 	<li>IV. Qui trình đổi trả
			 		<p><b>Bước 1:</b> Liên hệ hotline <b><?=HOT_LINE?></b>  hoặc gửi yêu cầu <a href="javascript:void(0);" onclick="api.showBoxy(-1);" title="Gởi yêu cầu support" >Click vào đây</a> để báo với nhân viên <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> về yêu cầu đổi/trả.</p>
			 		<p><b>Bước 2:</b></p>
			 		<p style="padding-left: 20px;">- Nhân viên <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>  hẹn gặp Khách Hàng để kiểm tra &amp; tiếp nhận hàng hóa trả về (chỉ áp dụng đối với các trường hợp đổi / trả do lỗi đến từ <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> )</p>
			 		<p style="padding-left: 20px;">- Trường hợp đổi hàng theo nhu cầu (không vừa size, đổi màu sắc,...), Quý Khách vui lòng mang sản phẩm đến đổi, trả trực tiếp tại địa chỉ :</p>
			 		<p style="padding-left: 40px;">+ <b>Hồ Chí Minh</b>: <?=SHOP_STORE?>. ĐT: <?=HOT_LINE?></p>
			 		<p><b>Bước 3:</b> Nhân viên <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>  sẽ giao món hàng thay thế hoặc tiến hành hoàn tiền (trường hợp trả hàng) trong vòng 1-2 ngày làm việc</p>			 		
			 	</li>
			 	<p><b>Lưu ý</b>: Điều kiện đổi, trả hàng sẽ được áp dụng tùy vào từng chủng loại sản phẩm. Để biết thêm chi tiết về việc đổi trả hàng, các chính sách áp dụng cụ thể cho từng loại sản phẩm, xin vui lòng liên hệ với chúng tôi tại số <b style="color: red;"><?=HOT_LINE?></b> hoặc gởi email về địa chỉ: <a href="mailto:<?=SHOP_EMAIL?>"><?=SHOP_EMAIL?></a> .</p>		 				 		
			 </ol>
		</div>
	</div>
</div>
        
    </div>    
</div>