<div class="center"><div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Liên hệ</div></div>
<div style=" background-color: #ffffff" class="block_center">
    <div style="padding: 10px">
        <table border="0" cellspacing="10" cellpadding="1" align="center" width="100%">
            <tbody><tr>
                    <td>
                        <div align="left">
                            <span style="line-height: 150%"><p><span style="font-family: 'Courier New'; "><span style="font-size: 24pt; "><span style="font-weight: bold; color: rgb(255, 0, 0); font-family: 'Courier New'; font-size: 24pt; "><a name="bmcontact"></a>Welcomes to shop</span>
                                            <span style="font-weight: bold; color: rgb(255, 0, 0); font-family: 'Courier New'; font-size: 24pt; ">
                                               <?=SHOP_NAME?></span></span>
                                                
                                    </span></p><p style="text-align:justify;"><span style="color: rgb(0, 0, 255); "><span style="font-size: large; font-weight: bold;"><span style="text-decoration: underline; "><span style="font-family: 'Courier New'; ">MỌI CHI TIẾT XIN LIÊN HỆ :</span></span></span></span></p>
                                <p style="text-align:justify;"><span style="font-weight: bold; "><span style="font-family: 'Courier New'; "><span style="font-size: 14pt; ">MS TRÂM - TEL :</span> <span style="font-style: italic; font-size: 18pt; color: rgb(255, 0, 0); font-family: 'Courier New'; "><?=HOT_LINE?></span></span></span></p>
                                <p>
                                    <span style="font-size: 14pt; "><span style="font-family: 'Courier New'; "><span style="font-weight: bold; font-size: 14pt; font-family: 'Courier New'; ">YAHOO :&nbsp;</span><span style="font-weight: bold; font-size: 14pt; font-family: 'Courier New'; "><a href="mailto:lovelytram2006@yahoo.com">lovelytram2006</a> OR&nbsp;</span><span style="font-weight: bold; font-size: 14pt; font-family: 'Courier New'; "><a href="mailto:tram.truongthithu@yahoo.com">tram.truongthithu</a>&nbsp;</span></span></span></p>
                                <p><span style="font-weight: bold; "><span style="font-family: 'Courier New'; font-size: 14pt; ">EMAIL :<a href="mailto:lovelytram2006@yahoo.com">lovelytram2006@yahoo.com</a> or <a href="mailto:tram.truongthithu@yahoo.com">tram.truongthithu@yahoo.com</a></span></span></p>
                                <p><span style="font-weight: bold; "><span style="font-family: 'Courier New'; font-size: 14pt; ">ĐỊA CHỈ:&nbsp; 489A/23/245G Huỳnh Văn Bánh, P.13, Q.Phú Nhuận, TPHCM</span></span></p>
                                <p style="text-align: left;"><span style="font-family: 'Courier New'; "><span style="font-weight: bold; font-family: 'Courier New'; "><span style="font-size: 18pt; font-family: 'Courier New'; "></span></span>
                                    </span></p>
                                <p style="text-align: left;"><span style="font-weight: bold; "><a href="<?=SHOP_URL?>" rel="nofollow" target="_blank"><span style="font-family: 'Courier New'; "><span style="font-size: 18pt; "><?=SHOP_URL?></span></span></a></span></p>
                                
                                <p style="text-align: center; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; vertical-align: baseline; color: rgb(51, 51, 51); ">
                                        
                                        <p style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; font-size: 12px; vertical-align: baseline; color: rgb(51, 51, 51); line-height: 18px; "><span style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; font-size: large; vertical-align: baseline; font-weight: bold; ">
                                                <span style="font-family: 'Courier New'; ">EXIMBANK : 100714849116561 - EXIMBANK Q10</span>
                                            </span>
                                        </p>
                                        
                                        <p style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; font-size: 12px; vertical-align: baseline; color: rgb(51, 51, 51); line-height: 18px; "><span style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; font-size: large; vertical-align: baseline; font-weight: bold; ">
                                                <span style="font-family: 'Courier New'; ">BIDV : 31510000746618 - CHI NHÁNH HOÀNG VĂN THỤ, Q.PHÚ NHUẬN</span>
                                            </span>
                                        </p>
                                        <p style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; font-size: 12px; vertical-align: baseline; color: rgb(51, 51, 51); line-height: 18px; "><span style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; font-size: large; vertical-align: baseline; font-weight: bold; "><span style="font-family: 'Courier New'; ">TECHCOMBANK : 19025675569014 - CHI NHÁNH PHÚ MỸ HƯNG, Q.7, TPHCM</span></span></p><p style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; font-size: 12px; vertical-align: baseline; color: rgb(51, 51, 51); line-height: 18px; "><span style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; font-size: large; vertical-align: baseline; font-weight: bold; "><span style="font-family: 'Courier New'; ">PHƯƠNG ĐÔNG: 0111100001514001 - CHI NHÁNH LÊ DUẨN, Q.1, TPHCM</span></span></p><p style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; font-size: 12px; vertical-align: baseline; color: rgb(51, 51, 51); line-height: 18px; text-align: center; "><span style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; font-size: x-large; vertical-align: baseline; line-height: 24px; color: rgb(0, 204, 255); font-weight: bold; "><span style="font-family: 'Courier New'; ">HÂN HẠNH ĐỒNG HÀNH CÙNG CÁC BẠN !!</span></span></p><p style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; font-size: 12px; vertical-align: baseline; color: rgb(51, 51, 51); line-height: 18px; text-align: center; "><span style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; outline-width: 0px; outline-style: initial; outline-color: initial; font-size: x-large; vertical-align: baseline; line-height: 24px; color: rgb(255, 0, 255); font-weight: bold; "></span></p><p></p></span></div>
                    </td>
                </tr>
            </tbody></table>
    </div>
    <div style="height: 32px; background-color: red;"><div class="menu">Form liên hệ</div></div>
    <div style="padding: 10px">
        <table border="0" cellspacing="10" cellpadding="1" align="center" width="100%">
            <tbody><tr>
                    <td>
                        <form action="<?=BASE_URL?>/index/contact" id="formlienhe" style="margin: 0pt; word-spacing: 0pt;" method="post">
                            <table border="0" cellspacing="1" width="">
                                <tbody>
                                    <tr>
                                        <td height="24" class="normalfontbold">
                                            <font face="Tahoma" style="font-size: 8.5pt;">&nbsp;
                                            Tên người đại diện: </font></td>
                                        <td align="right" height="24" width="6" class="normalfontbold">

                                            <font face="Tahoma" color="#ff0000" style="font-size: 8.5pt;"> *</font></td>
                                        <td height="24" colspan="2">
                                            <span style="font-size: 8.5pt;">
                                                <input name="txtHoten" id="txtHoten" size="50" style="border: 1px solid rgb(195, 195, 195);"/>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td height="24" class="normalfontbold">
                                            <font face="Tahoma" style="font-size: 8.5pt;">&nbsp;
                                            Chức vụ:</font></td>
                                        <td align="right" height="24" width="6" class="normalfontbold">
                                            &nbsp;</td>
                                        <td height="24" colspan="2"><span style="font-size: 8.5pt;"><input name="txtChucvu" size="50" style="border: 1px solid rgb(195, 195, 195);">
                                            </span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td height="24" class="normalfontbold">
                                            <font face="Tahoma" style="font-size: 8.5pt;">&nbsp;
                                            Tên công ty:</font></td>
                                        <td align="right" height="24" width="6" class="normalfontbold">
                                            &nbsp;</td>
                                        <td height="24" colspan="2"><span style="font-size: 8.5pt;"><input name="txtCongty" size="50" style="border: 1px solid rgb(195, 195, 195);">

                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="24" class="normalfontbold">
                                            <font face="Tahoma" style="font-size: 8.5pt;">&nbsp;&nbsp;Địa chỉ:</font></td>
                                        <td align="right" height="24" width="6" class="normalfontbold">
                                            &nbsp;</td>

                                        <td height="24" colspan="2"><span style="font-size: 8.5pt;"><input name="txtDiachi" size="50" style="border: 1px solid rgb(195, 195, 195);">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="24" class="normalfontbold">
                                            <font face="Tahoma" style="font-size: 8.5pt;">&nbsp;&nbsp;Địa chỉ email:</font></td>
                                        <td align="right" height="24" width="6" class="normalfontbold">

                                            <font face="Tahoma" color="#ff0000" style="font-size: 8.5pt;">*</font></td>
                                        <td height="24" colspan="2"><span style="font-size: 8.5pt;"><input id="txtEmail" name="txtEmail" size="50" style="border: 1px solid rgb(195, 195, 195);">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="24" class="normalfontbold">
                                            <font face="Tahoma" style="font-size: 8.5pt;">&nbsp;&nbsp;Địa chỉ website:</font></td>

                                        <td align="right" height="24" width="6" class="normalfontbold">
                                            &nbsp;</td>
                                        <td height="24" colspan="2"><span style="font-size: 8.5pt;"><input name="txtWebsite" size="50" style="border: 1px solid rgb(195, 195, 195);">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="24" class="normalfontbold">
                                            <font face="Tahoma" style="font-size: 8.5pt;">&nbsp;&nbsp;Số điện thoại liên lạc:</font></td>

                                        <td align="right" height="24" width="6" class="normalfontbold">
                                            &nbsp;</td>
                                        <td height="24"><span style="font-size: 8.5pt;"><input name="txtDienthoai" size="16" style="border: 1px solid rgb(195, 195, 195);">
                                            </span>
                                        </td>
                                        <td align="left" height="24" class="normalfontbold"><span style="font-size: 8.5pt;">ĐTDĐ: <input name="txtDidong" size="16" style="border: 1px solid rgb(195, 195, 195);">
                                            </span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td height="24" class="normalfontbold">
                                            <font face="Tahoma" style="font-size: 8.5pt;">&nbsp;&nbsp;Số Fax:</font></td>
                                        <td align="right" height="24" width="6" class="normalfontbold">
                                            &nbsp;</td>
                                        <td height="24" colspan="2"><span style="font-size: 8.5pt;"><input name="txtFax" size="10" style="border: 1px solid rgb(195, 195, 195);">
                                            </span>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="24" valign="top" class="normalfontbold">
                                            <font face="Tahoma" style="font-size: 8.5pt;">&nbsp;&nbsp;Nội dung:</font></td>
                                        <td align="right" height="24" width="6" valign="top" class="normalfontbold">
                                            <font face="Tahoma" color="#ff0000" style="font-size: 8.5pt;">*</font><p>&nbsp;</p></td>
                                        <td height="24" colspan="2"><span style="font-size: 8.5pt;"><textarea style="border: 1px solid rgb(195, 195, 195); position: relative; width: 100%;" cols="45" rows="7" id="txtNoidung" name="txtNoidung" class="field"></textarea>

                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" height="24" valign="top" class="normalfontbold" colspan="2" style="font-size: 8.5pt; vertical-align: middle; text-align: left;">
                                            Mã xác nhận</td>
                                        
                                        <td height="24" class="err" colspan="2">
                                            <img src="<?=STATIC_DOMAIN?>/images/capchar/<?=$this->capchar?>.jpeg" style="height: 30px;padding-bottom: 5px;padding-top: 5px;width: 100px;"/>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td height="24" valign="top" class="normalfontbold" style="font-size: 8.5pt">
                                            Xin nhập mã trên</td>
                                        <td align="right" height="24" width="6" class="normalfontbold">
                                            <font face="Tahoma" color="#ff0000" style="font-size: 8.5pt;">*</font></td>
                                        <td height="24" colspan="2">
                                            <input type="text" size="9" id="txtCode" name="txtCode" style="border: 1px solid rgb(195, 195, 195);"></td>

                                    </tr>
                                </tbody></table>

                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tbody><tr>
                                        <td align="center" width="100%" class="normalfont">

                                            <p align="center"><font face="Verdana" size="1">
                                                <input type="button" onclick="contact.smlh();" value="Gởi thông tin" name="butSub">&nbsp;&nbsp;
                                                <input type="reset" value="Nhập lại" onclick="$('#txtHoten').focus();"/></font></p></td>
                                    </tr>
                                </tbody></table>
                        </form>
                    </td>
                </tr>
            </tbody></table>
    </div>
</div>
<input type="hidden" value="<?=$this->capchar?>" id="hdverifycode"/>
<script type="text/javascript" lang="javascript">
 $(document).ready(function() {
       // $("#txtHoten").focus();
    });
   var contact={
	smlh:function(){
		  var ht =$('#txtHoten').val();
            var email =$('#txtEmail').val();
            var nd =$('#txtNoidung').val();
			var verify=$("#txtCode").val();
            var hdverify=$("#hdverifycode").val();
            if(ht.length==0 || email.length==0 || nd.length==0 || verify.length==0 || email.indexOf("@")==-1 ){
            	alert('Nội dung không hợp lệ');
				if(ht.length==0){	
					$('#txtHoten').focus();return
				}
				if(email.length==0 || email.indexOf("@")==-1){
					$('#txtEmail').focus();return
				}			
				if(nd.length==0){	
					$('#txtNoidung').focus();return
				} 
            }
            else
            {   
				if(verify.length==0 || hdverify!=verify){
					$("#txtCode").focus();
                    alert('Nội dung không hợp lệ');
                    return;
				}
                alert("Cám ơn bạn đã liên hệ, chúng tôi sẽ sớm liên lạc lại với bạn.");
                $('#formlienhe').submit();
			}
	}
}
   
</script>