<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Hướng dẫn mua hàng</div></div>
<div class="block_center" style="min-height: 1470px; background-color: #ffffff">
    <div class="div_padding">
        
        <div class="ColRight">
            <h3 class="SUPPORT_TITLE">Hướng dẫn mua hàng</h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
		<div class="BOX_DETAIL_CS">    	
      <ol style="text-align: justify;" class="padd_list_priva">
        <li>Hướng dẫn mua hàng
          <p>
          	- Bước 1: Lướt xem các sản phẩm, muốn xem chi tiết Quý Khách hãy nhấp chuột vào ngay hình sản phẩm để xem thông tin chi tiết và hình ảnh phóng to của sản phẩm.          	
          </p>
          <p>
          	<img src="<?=STATIC_DOMAIN?>/images/upload/intro/intro1.png" class="imgintro"/>
          	<img src="<?=STATIC_DOMAIN?>/images/upload/intro/intro2.png" class="imgintro">
          </p>
          <br>
          <p>
          	- Bước 2: Khi đã chọn được sản phẩm ưng ý, bạn click chuột "Mua hàng". Hàng sẽ được chuyển vào giỏ hàng.
          </p>
          <p>
          	<img src="<?=STATIC_DOMAIN?>/images/upload/intro/intro3.png" class="imgintro"/> 	
          </p>
          <br>
          <p>
          	- Bước 3: Bấm vào biểu tượng giỏ hàng. Quý Khách có thể "tiếp tục mua hàng" hoặc chuyển sang "thanh toán”. Tại đây Quý Khách có thể thay đổi số lượng hoặc có thể hủy bỏ một số món hàng đã chọn để chọn lại món hàng khác. Nếu Quý Khách không thay đổi gì trong giỏ hàng thì  click vào nút "thanh toán" để hoàn tất việc đặt hàng.
          </p>
          <p>
          	<img src="<?=STATIC_DOMAIN?>/images/upload/intro/intro3.png" class="imgintro"/> <br/><br/>
            <img src="<?=STATIC_DOMAIN?>/images/upload/intro/intro4.png" class="imgintro" width="600px" /> <br/><br/>	
            <img src="<?=STATIC_DOMAIN?>/images/upload/intro/intro5.png" class="imgintro" width="600px" /> 	
          </p>
          <br>
          <p>
          	- Bước 4: Chọn hình thức thanh toán, quý khách có thể tự chọn phương thức thanh toán mà mình có thể trả cho hóa đơn mình đã mua.
          </p>
          <p>
            <img src="<?=STATIC_DOMAIN?>/images/upload/intro/intro6.png" class="imgintro" width="600px" /> 	
          </p>
          <p style="color: red;font-size: 15px;"><b>Lưu ý: Để biết thêm thông tin vui lòng xem tại <a href="<?=BASE_URL?>/support/contact#bmcontact" target="_blank">đây.</a></b></p>
          
                   
        </li>        
      </ol>
    </div>
	</div>
            
</div>
        
    </div>    
</div>