<div id="content" class="content-area page-wrapper" role="main">
	<div class="row row-main">
		<div class="large-12 col">
			<div class="col-inner">
				
				
														
						<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="wpb_gmaps_widget wpb_content_element">
		<div class="wpb_wrapper">
		<div class="wpb_map_wraper">
			<div id="googleMap" style="width: 100%; height: 600px;">Địa chỉ Websiteday.net</div>
			</div>
	</div>
</div>
<div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Bạn có&nbsp;điều gì băn khoăn hay thắc mắc xin vui lòng liên hệ ngay với Websiteday.net&nbsp;để được tư vấn hỗ trợ tốt nhất.</p>
<h3><span style="color: #993300;"><strong>CÔNG TY TNHH TM-DV-QC THIÊN ĐƯỜNG KÝ GỬI</strong></span></h3>
<h4><strong>Đ/C: 861/48/12 Trần Xuân Soạn, P.Tân Hưng, Q.7, HCM</strong></h4>
<h4><strong>Hotline: <a href="tel:0939614234">0939 614 234</a></strong></h4>
<h4><strong>Email: <a href="mailto:support@websiteday.net">support@websiteday.net</a></strong></h4>
<h4><strong>Website: <a href="<?=BASE_URL?>"><?=BASE_URL?></a></strong></h4>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "></div></div></div>
<br/>
						

<div id="comments" class="comments-area">

	
	
	
		<div id="respond" class="comment-respond">
		<h3 id="reply-title" class="comment-reply-title">Trả lời <small><a rel="nofollow" id="cancel-comment-reply-link" href="/lien-he/#respond" style="display:none;">Hủy</a></small></h3>			<form action="http://benet.vn/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
				
				<div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1396765267090480&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-comments" data-href="<?=BASE_URL?>/lien-he/" data-width="100%" data-numposts="5" order_by="reverse_time"></div>
				
			</div><!-- #respond -->
	
</div><!-- #comments -->

												</div><!-- .col-inner -->
		</div><!-- .large-12 -->
	</div><!-- .row -->
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe--qsSSHRvTUCbr-Up6qZrNGmC3rAzXY&libraries=places"></script>
<script type="text/javascript">
var gmap = new google.maps.LatLng(10.750002, 106.696541);
var marker;
function initialize()
{
    var mapProp = {
         center:new google.maps.LatLng(10.750002, 106.696541),
         zoom:16,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
 
    var map=new google.maps.Map(document.getElementById("googleMap")
    ,mapProp);
 
  var styles = [
    {
      featureType: 'road.arterial',
      elementType: 'all',
      stylers: [
        { hue: '#fff' },
        { saturation: 100 },
        { lightness: -48 },
        { visibility: 'on' }
      ]
    },{
      featureType: 'road',
      elementType: 'all',
      stylers: [
 
      ]
    },
    {
        featureType: 'water',
        elementType: 'geometry.fill',
        stylers: [
            { color: '#adc9b8' }
        ]
    },{
        featureType: 'landscape.natural',
        elementType: 'all',
        stylers: [
            { hue: '#809f80' },
            { lightness: -35 }
        ]
    }
  ];
 
  var styledMapType = new google.maps.StyledMapType(styles);
  map.mapTypes.set('Styled', styledMapType);
 
  marker = new google.maps.Marker({
    map:map,
    draggable:true,
    animation: google.maps.Animation.DROP,
    position: gmap,
    title: 'dacsanday.net'
  });
  google.maps.event.addListener(marker, 'click', toggleBounce);
  
  var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h6 id="firstHeading" class="firstHeading">WebsiteDay.net</h6>'+
            '<div id="bodyContent">'+
            '<p><b>Địa chỉ</b>: 861/48/12 Trần Xuân Soạn, P.Tân Hưng, Quận 7, TP.HCM</p>'+
            '<p><b>Hotline</b>: 0939 614 234</p>'+
            '</div>'+
            '</div>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        infowindow.open(map, marker);
  
}
 
function toggleBounce() {
 
  if (marker.getAnimation() !== null) {
    marker.setAnimation(null);
  } else {
    marker.setAnimation(google.maps.Animation.BOUNCE);
  }
}
 
google.maps.event.addDomListener(window, 'load', initialize);
</script>