<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Cam kết</div></div>
<div class="block_center" style=" background-color: #ffffff">
    <div class="div_padding">
        
        <div class="ColRight">
	<h3 class="SUPPORT_TITLE">Cam kết của <?=SHOP_URL_SHORT?></h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
		<div class="BOX_DETAIL_CS">
			<ol style="text-align: justify;" class="padd_list_priva">	
				<p> <font style="color: #E47911;;font-weight: bold;">Đổi trả sản phẩm trong vòng 7 ngày:</font> thông tin chi tiết về chính sách đổi, trả hàng <a href="<?=BASE_URL?>/support/changeprod" title="Chính sách đổi, trả hàng" target="_blank">tại đây</a> .</p>
				<p> <font style="color: #E47911;;font-weight: bold;">Giao hàng miễn phí:</font> Sau khi hoàn tất việc đặt hàng, xác nhận đơn hàng và thanh toán thành công, <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> <b>cam kết sẽ giao hàng đúng như mô tả sản phẩm trên website</b>.</p>
				<p>Quý khách có thể tham khảo thêm thông tin về phương thức giao nhận đơn hàng <a href="<?=BASE_URL?>/support/ptgiaonhan" title="Phương thức giao nhận đơn hàng" target="_blank">tại đây</a>.</p>
				<p>Trong trường hợp hàng bị vỡ, hư hỏng trong quá trình vận chuyển, giao hàng, chúng tôi cam kết sẽ giao lại hàng mới, <b>đồng thời bù thêm 10% giá trị đơn hàng cho đến 100,000 VNĐ trong lần mua hàng tiếp theo</b>.</p>
				<p>Trong một số trường ngoại lệ hoặc vì một số lý do ngoài ý muốn (mà nguyên nhân đến từ <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>), <b>chúng tôi sẽ tiến hành thủ tục hoàn lại tiền vào tài khoản của Quý khách trong vòng 3 ngày làm việc kể từ ngày thông báo việc hoàn tiền</b></p>.
				<p>Mọi thắc mắc, khiếu nại của bạn trong quá trình sử dụng sản phẩm, dịch vụ tại <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>, bạn vui lòng liên hệ ngay với chúng tôi thông qua các kênh liên lạc sau:</p>
				<p style="padding-left: 20px;">Email: <b><?=YAHOO1?>, <?=YAHOO2?> </b></p>
				<p style="padding-left: 20px;">Hotline: <b><?=HOT_LINE?></b></p>
                <p style="padding-left: 20px;"><a href="javascript:void(0);" onclick="api.showBoxy(-1);">Online Support 24/7</a></p>
				<p style="padding-left: 20px;">Chat:</p>
				<p style="padding-left: 40px;">+Yahoo: <b><?=YAHOO1?>, <?=YAHOO2?> </b></p>
				<p style="padding-left: 20px;">Thời gian làm việc:</p>
				<p style="padding-left: 40px;">Thứ 2 - Thứ 7 <b>08:00 AM &ndash; 07:00 PM</b></p>
				<p>Chúng tôi cam kết sẽ liên hệ bạn để tư vấn và hỗ trợ mọi thắc mắc, khiếu nại trong thời gian sớm nhất.</p>
			</ol>								
		</div>
	</div>
</div>
        
    </div>    
</div>