<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Phương thức giao nhận hàng</div></div>
<div class="block_center" style=" background-color: #ffffff">
    <div class="div_padding">
        
        <div class="ColRight">
	<h3 class="SUPPORT_TITLE">Phương thức giao nhận</h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
		<div class="BOX_DETAIL_CS">
			<ol style="text-align: justify;" class="padd_list_priva">	
				<p><b>- Bước 1:</b> Sau khi đặt mua đơn hàng thành công, Khách hàng sẽ nhận được thông tin xác nhận đơn hàng của <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a>. </p>
				<p><b>- Bước 2:</b> Nhân viên giao hàng <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> sẽ liên hệ với Khách hàng qua điện thoại để hẹn thời gian trước khi đến giao hàng. </p>
				<p><b>- Bước 3:</b> Tại địa điểm nhận hàng, Khách hàng kiểm tra lại đơn hàng và sản phẩm trước khi ký xác nhận vào Phiếu Giao Hàng. </p>
				<p><i>(Nếu Khách hàng chọn hình thức <b>"Thanh toán trực tiếp khi nhận hàng"</b> thì có thể thanh toán trực tiếp cho nhân viên giao hàng)</i></p>
			</ol>								
		</div>
	</div>
      <br/>
            <br/>
            <br/>
            <img src="<?=STATIC_DOMAIN?>/images/thoitrang3_1.jpg" style="padding-left: 40px"/>
</div>
        
    </div>    
</div>