<?php
$keyValue = $this->keyValueData[0];
?>

<div id="row row-none">
   <div class="container">
      <div id="middle">
         <div id="page-name">
            <ul id="sys_pagename">
               <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<?=BASE_URL?>" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                   </div>
               </li>
               <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<?=BASE_URL?>/quy-dinh-chung.html" itemprop="url"><span itemprop="title">Quy định chung</span></a>
                   </div>
               </li>
            </ul>
         </div>
         <div id="layout_content" class="row row-10">
            <div class="col-sm-18 col-10">
               <div id="content">
                  <div class="main-default">
                     <div class="m_c">
                        <div id="c-detail">
                           <?=$keyValue['value']?>    
                           <p class="share"><label>Chia sẻ</label><a target="_blank" title="Chia sẻ lên Facebook" class="facebook" href="https://www.facebook.com/share.php?u=<?=BASE_URL?>/quy-dinh-chung.html"></a><a title="Chia sẻ lên Google+" target="_blank" class="google" href="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=<?=BASE_URL?>/quy-dinh-chung.html"></a><a title="Chia sẻ lên Twitter" target="_blank" class="twitter" href="http://twitter.com/home?status=<?=BASE_URL?>/quy-dinh-chung.html"></a><a title="Chia sẻ lên Zing Me" target="_blank" class="zing" href="http://link.apps.zing.vn/share?u=<?=BASE_URL?>/quy-dinh-chung.html"></a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <?= $this->boxright ?>
         </div>
      </div>
   </div>
</div>