<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Chính sách bảo mật & thỏa thuận sử dụng</div></div>
<div class="block_center" style="min-height: 1470px; background-color: #ffffff">
    <div style="padding: 45px">
        
        <div class="ColRight">
  <h3 class="SUPPORT_TITLE">Điểm tích lũy</h3>
  <div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid"> 
    <!--  box accor 1-->
    <div class="BOX_DETAIL_CS">      
      <div class="accordion">
        <h3 class="title active">Điểm tích lũy là gì ? Làm sao để nhận được điểm tích lũy ?</h3>         
        <div class="zone" style="display: block;">
        	<p>Điểm tích lũy là điểm cộng dồn khách hàng nhận được khi thanh toán đơn hàng mua tại <a href="http://123.vn/">123.vn</a>.
				Do chương trình này dành cho các khách hàng thân thiết, nên Quý khách chỉ nhận được điểm tích lũy khi sử dụng tài khoản ZingID để thanh toán đơn hàng đặt mua tại <a href="http://123.vn/">123.vn</a>
			</p> 
        </div>
        <h3 class="title">Cách tính điểm tích lũy như thế nào ?</h3>
        <div class="zone" style="display: none;">Điểm tích lũy nhận được sẽ tương ứng với giá trị của đơn hàng mà Quý khách đã thanh toán. Cứ 1.000 VNĐ sẽ nhận được 1 điểm tích lũy.</div>
        <h3 class="title">Có bao nhiêu cấp độ để tích lũy? Tôi sẽ nhận được quyền lợi gì khi tham gia tích lũy điểm ?</h3>
        <div class="zone" style="display: none;">
        		Có 3 thang cấp độ tích lũy điểm. Quý khách tích lũy điểm để thăng cấp và sẽ nhận được ưu đãi giảm giá tương ứng với từng cấp độ.
				Với các ưu đãi này, Quý khách sẽ được giảm giá trực tiếp trên giá trị của đơn hàng đặt mua tại <a href="http://123.vn/">123.vn</a>
				<img src="http://shop-static.123.vn/images/v3/thanhtoan/hd_tich_luy_diem4.png">
		</div>        
		<h3 class="title">Ngoài việc nhận được ưu đãi giảm giá khi mua hàng, tôi còn nhận được quyền lợi gì khác khi tham gia chương trình này ?</h3>
        <div class="zone" style="display: none;">
        		Ngoài việc nhận được ưu đãi giảm giá khi mua hàng, Quý khách còn có thể dùng điểm tích lũy để đổi sản phẩm tương ứng tại mục <b>"Quà tặng"</b>.
				Lưu ý: Việc dùng điểm tích lũy để đổi sản phẩm sẽ không ảnh hưởng đến cấp độ Sao của Quý khách.
		</div>              
		<h3 class="title">Cấp bậc sao và điểm tích lũy của tôi sẽ tồn tại được trong bao lâu ?</h3>
		<div class="zone" style="display: none;">
        	Nếu trong vòng 6 tháng, Quý Khách không thực hiện việc mua và thanh toán bất cứ đơn hàng nào, điểm tích lũy và cấp bậc sao của Quý Khách sẽ trở về mức 0
		</div> 		
		<h3 class="title">Khi đổi hoặc trả hàng, số điểm tích lũy của tôi có bị thay đổi, ảnh hưởng gì không ?</h3>
		<div class="zone" style="display: none;">
        	Trường hợp đổi hàng, số điểm tích lũy sẽ được tính lại dựa trên giá trị của sản phẩm mới được đổi.
			Trường hợp hủy trả hàng, số điểm tích lũy của đơn hàng đó sẽ không được tính.
		</div>  
		<h3 class="title"><a href="http://123.vn/">123.vn</a> có thông báo cho tôi thông tin gì trước khi tiến hành reset lại cấp độ sao và điểm tích lũy hay không?</h3>
		<div class="zone" style="display: none;">
        	Có, hệ thống sẽ gửi tin nhắn SMS và Email thông báo đến Quý khách 3 lần vào 3 thời điểm khác nhau trước khi tiến hành reset lại cấp độ sao và điểm tích lũy.
			Thời điểm hệ thống sẽ gửi thông báo nhắc nhở: <b>trước 1 tháng; trước 1 tuần; và trước 1 ngày so với ngày hết hạn</b>.
		</div>  
		<h3 class="title">Vì sao tôi đã thanh toán đơn hàng, nhưng không nhận được điểm tích lũy ?</h3>
		<div class="zone" style="display: none;">
        	Trong trường hợp Quý khách sử dụng địa chỉ email và số điện thoại để đăng nhập mua hàng sẽ không nhận được điểm tích lũy.
			Nếu Quý khách có sử dụng tài khoản ZingID đăng nhập vào để thanh toán đơn hàng, nhưng không nhận được điểm tích lũy, Quý khách vui lòng liên hệ <b>1800.585.888</b> hoặc gửi email về địa chỉ: <a href="javascript:void(0)">customer_care@123.vn</a> . Chúng tôi sẽ hỗ trợ Quý khách trong thời gian sớm nhất.
		</div>
		<h3 class="title">Tôi có đặt mua hàng và thanh toán trả sau, nhưng vì sao không nhận được điểm tích lũy ?</h3>
		<div class="zone" style="display: none;">
        	Trường hợp Quý khách thanh toán đơn hàng theo hình thức thanh toán trực tiếp hoặc chuyển khoản ngân hàng, Quý khách sẽ nhận được 50% trên tổng điểm tích lũy. Vd: Với đơn hàng trị giá <b>500.000đ</b>, sẽ nhận được <b>250 điểm</b> tích lũy thay vì <b>500 điểm</b> khi đặt hàng theo hình thức COD hoặc chuyển khoản
		</div>
    </div>
    <!--  // ending box 1-->              
  </div>  
</div>
<script type="text/javascript">
$(document).ready(function(){	
	//Set default open/close settings
	$('.zone').hide(); //Hide/close all containers
	$('.title:first').addClass('active').next().show(); //Add "active" class to first trigger, then show/open the immediate next container
	//On Click
	$('.title').click(function(){
		if( $(this).next().is(':hidden') ) { //If immediate next container is closed...
			$('.title').removeClass('active').next().slideUp(); //Remove all .acc_trigger classes and slide up the immediate next container
			$(this).toggleClass('active').next().slideDown(); //Add .acc_trigger class to clicked trigger and slide down the immediate next container
		}
		return false; //Prevent the browser jump to the link anchor
	});
});
</script>
           
  </div>
        
    </div>    
</div>