<?php
$keyValue = $this->keyValueData[0];// var_dump($keyValue);exit;
?>
 
 <div id="content" class="content-area page-wrapper" role="main">
	<div class="row row-main">
		<div class="large-12 col">
			<div class="col-inner">
				
				
														
						<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
		    <p style="color: #95a5a6;"><img class="alignnone size-full wp-image-25" src="<?=IMAGE_URL?>/page-content/banner-service-web.jpg" alt="banner-service-web-websiteday" width="1349" height="350"></p>
		<?php //$keyValue['value']?>
		<p style="color: #95a5a6;"><span style="color: #000000;"><a href="<?=BASE_URL?>"><strong>Thiết kế web chuyên nghiệp&nbsp;</strong></a>chính thức hoạt động mang tên <strong>Thiết kế web chuyên nghiệp</strong>&nbsp;vào đầu năm 2016, là một trong những dịch vụ của công ty TNHH TM-DV-QC Thiên Đường Ký Gửi. <a href="<?=BASE_URL?>"><strong>Thiết kế web chuyên nghiệp</strong></a>&nbsp;hoạt động trên các lĩnh vực:</span></p>
<p style="color: #95a5a6;"><span style="color: #000000;"><span style="font-weight: bold;">+ Thiết kế website wordpress</span></span></p>
<p style="color: #95a5a6;"><span style="color: #000000;"><span style="font-weight: bold;">+ Quản trị website</span></span></p>
<p style="color: #95a5a6;"><span style="color: #000000;"><span style="font-weight: bold;">+ Nâng cấp website</span></span></p>
<p style="color: #95a5a6;"><span style="color: #000000;"><a href="<?=BASE_URL?>"><strong>Thiết kế web chuyên nghiệp</strong></a>&nbsp;nhận thấy thị trường kinh doanh online ngày càng phổ biến và cạnh tranh khốc liệt, các website hàng loạt ra đời nhưng không đem lại hiệu quả nhiều, điều đặc biệt là các doanh nghiệp vừa và nhỏ dần dần suy yếu không còn chỗ đứng trên thị trường online cũng như truyền thống. Để tạo điều kiện cho các doanh nghiệp vừa và nhỏ có vị thế trên thị trường và phát triển, <a href="<?=BASE_URL?>"><strong>Thiết kế web chuyên nghiệp</strong></a>&nbsp;cung cấp dịch vụ thiết kế website WordPress, một trong những mã nguồn được dùng nhiều nhất thế giới, giúp tối ưu hóa bộ máy tìm kiếm và kết hợp với tính năng SEO cực kì tốt của WordPress.</span></p>
<p style="color: #95a5a6;"><span style="color: #000000;">Nhằm tạo niềm tin cũng như sự chuyên nghiệp của mình,<strong>Thiết kế web chuyên nghiệp</strong>&nbsp;có chính sách ưu đãi đối với cá nhân mới tham gia kinh doanh online, và bảo hành vĩnh viễn cho các dự án khách hàng của Websiteday.net.</span></p>
<p style="color: #95a5a6;"><span style="font-weight: bold;"><span style="color: #000000;">Ngoài ra <a href="<?=BASE_URL?>"><strong>Thiết kế web chuyên nghiệp</strong></a>&nbsp;còn cung cấp dịch vụ&nbsp;Quảng bá website bao gồm:</span></span></p>
<p style="color: #95a5a6;"><span style="color: #000000;"><span style="font-weight: bold;">– Dịch vụ SEO website&nbsp;(Search Engine Optimzation):</span>&nbsp;Đây là dịch vụ cải thiện website của bạn thân thiện với các bộ máy tìm kiếm nhằm giúp cho website của bạn có thứ hạng cao trên các trang kết quả tìm kiếm.</span></p>
<p style="color: #95a5a6;"><span style="color: #000000;"><span style="font-weight: bold;">– Dịch vụ quảng cáo Google Adwords:</span>&nbsp;Đặt quảng cáo trên trang kết quả tìm kiếm của Google và nhiều trang web khác có sử dụng bộ tìm kiếm của Google hay có đặt các mã quảng cáo theo ngữ cảnh Google Adsense. Đây là hình thức trả tiền theo click (PPC) hay trả tiền theo số lần xuất hiệm (PPM).</span></p>
<p style="color: #95a5a6;"><span style="color: #000000;"><span style="font-weight: bold;">– Dịch vụ quảng cáo Facebook Ads:</span>&nbsp;hay còn được gọi là Facebook Ads là cách thức quảng cáo cho phép các đơn vị kinh doanh, các Nhà Tài Trợ hoặc các cá nhân quảng cáo, quảng bá sản phẩm – dịch vụ đến đúng đối tượng sử dụng Facebook có nhu cầu liên quan.</span></p>
<p style="color: #95a5a6;"><span style="color: #000000;">Còn nhiều loại dịch vụ&nbsp;khác mà Websiteday.net cung cấp. Hãy liên hệ với <a href="<?=BASE_URL?>"><strong>Thiết kế web chuyên nghiệp</strong></a>&nbsp;để được tư vấn cụ thể phù hợp với nhu cầu của bạn.</span></p>

		</div>

		</div>
	</div>
</div></div></div></div>

						

<div id="comments" class="comments-area">
   <div id="respond" class="comment-respond">
      <h3 id="reply-title" class="comment-reply-title">Bình luận <small><a rel="nofollow" id="cancel-comment-reply-link" href="/gioi-thieu/#respond" style="display:none;">Hủy</a></small></h3>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1396765267090480&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-comments" data-href="https://websiteday.net/ve-chung-toi.html" data-width="100%" data-numposts="5" order_by="reverse_time"></div>
   </div>
   <!-- #respond -->
</div>
<!-- #comments -->


												</div><!-- .col-inner -->
		</div><!-- .large-12 -->
	</div><!-- .row -->
</div>