<div class="popup_block guiloinhan" id="popup_name" style="display: block; width: 600px; margin-top: -218px; margin-left: -340px;">
    <a title="Đóng" class="close" href="javascript:void(0);" onclick="api.bx.hide();">
        <img alt="Đóng" title="Đóng" class="btn_close" src="<?= STATIC_DOMAIN ?>/images/close_pop.png" />
    </a>
    <form action="" method="POST" onsubmit="return validateGuiloinhan(this)" name="frmmess">
        <h2>Để lại lời nhắn</h2>
        <ul>
            <li>
                <label>Họ tên: <span class="sao">*</span></label> 
                <input type="text" name="name" class="ipvl">
            </li>
            <li>
                <label>Số điện thoại: <span class="sao">*</span></label> 
                <input type="text" name="phone" class="ipvl">
            </li>
            <li>
                <label>Địa chỉ mail: </label> 
                <input type="text" name="email" class="ipvl">
            </li>
            <li>
                <label>Nội dung lời nhắn: <span class="sao">*</span></label> 
                <textarea id="content_mes" name="content"></textarea>
                <p class="demkytu">( Còn lại <span id="charLeft"></span> ký tự )</p>  
            </li>
            <li>
                <label>Mã sản phẩm: </label> 
                <input type="text" value="1198" readonly="readonly" name="idprodmes" class="ipvl">
            </li>
        </ul>
        <p style="text-align: center;"><input type="submit" value="Gửi lời nhắn" class="sbmessage" name="guiloinhan"></p>
    </form>
</div>