<?php
$banner_list = $this->banner_list; //var_dump($banner_list);exit;
?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="<?=BASE_URL?>/admin/banner/register" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Thêm mới"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="" class="btn btn-danger" onclick="confirm('Bạn có chắc chắn?') ? $('#form-banner').submit() : false;" data-original-title="Xóa"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>Quản lý Banner</h1>
      <ul class="breadcrumb">
                <li><a href="http://template1.websiteday.net/admin/index.php?route=common/dashboard&amp;user_token=iw2ijiK8Cgv9Z3yHCEMxmScXTN4UrItA">Trang chủ</a></li>
                <li><a href="http://template1.websiteday.net/admin/index.php?route=design/banner&amp;user_token=iw2ijiK8Cgv9Z3yHCEMxmScXTN4UrItA">Quản lý Banner</a></li>
              </ul>
    </div>
  </div>
  <div class="container-fluid">
            <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Danh sách Banner</h3>
      </div>
      <div class="panel-body">
        <form action="http://template1.websiteday.net/admin/index.php?route=design/banner/delete&amp;user_token=iw2ijiK8Cgv9Z3yHCEMxmScXTN4UrItA" method="post" enctype="multipart/form-data" id="form-banner">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"></td>
                  <td class="text-left">                    <a href="javascript:void(0);">Tên Banner</a>
                    </td>
                  <td class="text-left">                    <a href="javascript:void(0);">Trạng thái</a>
                    </td>
                  <td class="text-right">Thao tác</td>
                </tr>
              </thead>
              <tbody>
                  <?php
                    foreach($banner_list as $item_banner) {
                  ?>
                    <tr>
                       <td class="text-center">                    
                       <input type="checkbox" name="selected[]" value="<?=$item_banner['banner_id']?>">
                       </td>
                       <td class="text-left"><?=$item_banner['name']?></td>
                       <td class="text-left"><?php if($item_banner['status'] > 0) { echo "Bật";} else {echo "Tắt";} ?></td>
                       <td class="text-right"><a href="<?=BASE_URL?>/admin/banner/edit?banner_id=<?=$item_banner['banner_id']?>" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                 <?php
                    }
                  ?> 
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left"></div>
          <div class="col-sm-6 text-right">Hiển thị từ 1 đến <?=count($banner_list)?> của <?=count($banner_list)?> (1 Trang)</div>
        </div>
      </div>
    </div>
  </div>
</div>