<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-banner" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Lưu lại"><i class="fa fa-save"></i></button>
        <a href="http://template1.websiteday.net/admin/index.php?route=design/banner&amp;user_token=iw2ijiK8Cgv9Z3yHCEMxmScXTN4UrItA" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="Hủy"><i class="fa fa-reply"></i></a></div>
      <h1>Quản lý Banner</h1>
      <ul class="breadcrumb">
                <li><a href="http://template1.websiteday.net/admin/index.php?route=common/dashboard&amp;user_token=iw2ijiK8Cgv9Z3yHCEMxmScXTN4UrItA">Trang chủ</a></li>
                <li><a href="http://template1.websiteday.net/admin/index.php?route=design/banner&amp;user_token=iw2ijiK8Cgv9Z3yHCEMxmScXTN4UrItA">Quản lý Banner</a></li>
              </ul>
    </div>
  </div>
  <div class="container-fluid">
        <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> Thêm Banner</h3>
      </div>
      <div class="panel-body">
        <iframe style="display:none" name="ifr_upload"></iframe>
        <form action="<?=BASE_URL?>/admin/product/upload" method="post" enctype="multipart/form-data" id="form_upload" class="form-horizontal" target="ifr_upload">
            <input type="file" id="imgupload" name="fileToUpload" style="display:none"/> 
            <input type="hidden" name="upload_type" value="1"/> 
        </form>
        <form action="<?=BASE_URL?>/admin/banner/newcommit" method="post" enctype="multipart/form-data" id="form-banner" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">Tên Banner:</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="" placeholder="Tên Banner:" id="input-name" class="form-control">
                          </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">Trạng thái:</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                                <option value="1" selected="selected">Bật</option>
                <option value="0">Tắt</option>
                              </select>
            </div>
          </div>
          <br>
          <ul class="nav nav-tabs" id="language" style="display:none">
                        <li class="active"><a href="#language2" data-toggle="tab" aria-expanded="true"><img src="language/vi-vn/vi-vn.png" title="Tiếng Việt"> Tiếng Việt</a></li>
                        <li><a href="#language1" data-toggle="tab"><img src="language/en-gb/en-gb.png" title="English"> English</a></li>
                      </ul>
          <div class="tab-content">
                                    <div class="tab-pane active" id="language2">
              <table id="images" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">Tiêu đề:</td>
                    <td class="text-left">Liên kết</td>
                    <td class="text-center">Hình ảnh:</td>
                    <td class="text-right">Sắp thứ tự</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                                  </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4"></td>
                    <td class="text-left"><button type="button" onclick="adminProduct.addImageBanner();" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Thêm Banner"><i class="fa fa-plus-circle"></i></button></td>
                  </tr>
                </tfoot>
              </table>
            </div>
                        <div class="tab-pane" id="language1">
              <table id="images1" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">Tiêu đề:</td>
                    <td class="text-left">Liên kết</td>
                    <td class="text-center">Hình ảnh:</td>
                    <td class="text-right">Sắp thứ tự</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                                  </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4"></td>
                    <td class="text-left"><button type="button" onclick="addImage('1');" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Thêm Banner"><i class="fa fa-plus-circle"></i></button></td>
                  </tr>
                </tfoot>
              </table>
            </div>
                      </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
var image_row = 0;

function addImage(language_id) {
	html  = '<tr id="image-row' + image_row + '">';
    html += '  <td class="text-left"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][title]" value="" placeholder="Tiêu đề:" class="form-control" /></td>';	
	html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][link]" value="" placeholder="Liên kết" class="form-control" /></td>';	
	html += '  <td class="text-center"><a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="http://template1.websiteday.net/image/cache/no_image-100x100.png" alt="" title="" data-placeholder="http://template1.websiteday.net/image/cache/no_image-100x100.png" /></a><input type="hidden" name="banner_image[' + language_id + '][' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
	html += '  <td class="text-right" style="width: 10%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][sort_order]" value="" placeholder="Sắp thứ tự" class="form-control" /></td>';
	html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + ', .tooltip\').remove();" data-toggle="tooltip" title="Loại bỏ" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';
	
	$('#images' + language_id + ' tbody').append(html);
	
	image_row++;
}
//--></script> 
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script>
<script type="text/javascript">
        // A $( document ).ready() block.
        $( document ).ready(function() {
            adminProduct.initImageUploadPath('<?=IMAGE_URL?>');
        });
    </script>
</div>