<?php
$new=$this->new;
$group1=$this->group1;
$group2=$this->group2;
$cnew=count($new);
$cgroup1=count($group1);
$cgroup2=count($group2); //var_dump($group1);exit;
if($cnew>0){
?>

<div class="center">
    <div class="menu">
        <a href="<?=BASE_URL?>/product?cat=new&name=mới" title="Sản phẩm mới">Sản phẩm mới</a>
    </div>
</div>
<div style="background-color: #ffffff" class="block_center">
    <table border="0" cellspacing="5" cellpadding="5" height="100%" width="100%">
        <tbody>
            <tr>
                <?php
                    //$new=$this->new;
                    $i=0;
                    
                    foreach($new as $item){
                        $i++;
                        if($i<=MAX_ITEM_NEW){
                ?>
                        
                        <td align="center" width="25%" valign="top">
                            <div align="center">
                                <div style="height: 5px;"><!-- PETER --></div>
                                <div style="width: 90%; padding: 3px; border: 1px solid #fe0000; background-color: #fff">
                                    <a  href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]?>&cat=new&name=mới" title="<?=$item["name"]?>">
                                        <img align="middle" height="191" width="140" src="<?=STATIC_DOMAIN?>/images/upload/product/<?=$item["image"]?>" alt="<?=$item["name"]?>"/>
                                    </a>
                                </div>
                                <div class="pro_name"><a  href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]?>" title="<?=$item["name"]?>"><?=$item["name"]?></a></div>
                                <div class="pro_price">Giá: <?= Common::numberFormat($item["price"])?> VNĐ<br></div>
                            </div>
                        </td>
                
                
                <?    }else break;}
                ?>
            </tr>
        </tbody>
    </table>
    <?php if($cnew>=MAX_ITEM_NEW){?>
        <div style="text-align: right; padding: 7px 7px 7px; border-top: 1px dashed #ccc;">
            <a href="<?=BASE_URL?>/product?cat=new&name=mới" title="Xem thêm">Xem thêm »</a>&nbsp;&nbsp;
        </div>
    <?}?>

</div>
<?}

if($cgroup1>0){
?>
<div style="height:7px"><!-- PETER --></div>
<div class="center">
    <div class="menu">
        <a href="<?=BASE_URL?>/product?cat=<?=ID_GROUP_MAIN1?>&name=<?=NAME_GROUP_MAIN1?>" title="<?=$this->namegroup1?>"><?=$this->namegroup1?></a>
    </div>
</div>
<div style="background-color: #ffffff" class="block_center">
    <table border="0" cellspacing="5" cellpadding="5" height="100%" width="100%">
        <tbody>
                <?php
                    
                    $i=1;
                    $count=0;
                    foreach($group1 as $item){ 
                        $count++;
                        if($count>MAX_ITEM_GROUP1)
                            break;
                        if($i>4){
                            echo "<tr>";
                            $i=1;
                        }
                ?>
            
                    <td align="center" width="25%" valign="top"><div align="center">
                        <div style="height: 5px;"><!-- PETER --></div>
                            <div style="width: 90%; padding: 3px; border: 1px solid #fe0000; background-color: #fff">
                                <a  href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]?>&cat=<?=ID_GROUP_MAIN1?>&name=<?=NAME_GROUP_MAIN1?>" title="<?=$item["name"]?>">
                                    <img align="middle" height="191" width="140" src="<?=STATIC_DOMAIN?>/images/upload/product/<?=$item["image"]?>" alt="<?=$item["name"]?>"/>
                                </a>
                            </div>
                            <div class="pro_name">
                                <a href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]?>" title="<?=$item["name"]?>"><?=$item["name"]?></a>
                            </div>
                        <?php
                                $cat=$this->cat;
                                if($cat=="saleoff"){
                                ?>
                                <div class="pro_price" style="color: #777"><del><?= Common::numberFormat($item["price"])?> VNĐ</del><br></div>
                                <div class="pro_price">Giá: <?= Common::numberFormat($item["new_price"])?> VNĐ<br></div>
                                <?}else{?>
                                    <div class="pro_price">Giá: <?= Common::numberFormat($item["price"])?> VNĐ<br></div>
                                <?}?>
                        </div>
                    </td>
                
                <? 
                    if($i>4){
                            echo "</tr>";
                            $i=1;
                        }
                     $i++;
                    }
                ?>
        </tbody>
    </table>
    <?php if($cgroup1>=MAX_ITEM_GROUP1){?>
    <div style="text-align: right; padding: 7px 7px 7px; border-top: 1px dashed #ccc;">
        <a href="<?=BASE_URL?>/product?cat=<?=ID_GROUP_MAIN1?>&name=<?=NAME_GROUP_MAIN1?>" title="Xem thêm">Xem thêm »</a>&nbsp;&nbsp;</div>
    <?}?>
</div>
<?php 
}
if($cgroup2>0){
?>
<div style="height:7px"><!-- PETER --></div>
<div class="center"><div class="menu"><a href="<?=BASE_URL?>/product?cat=<?=ID_GROUP_MAIN2?>&name=<?=NAME_GROUP_MAIN2?>" title="<?=$this->namegroup2?>"><?=$this->namegroup2?></a></div></div>
<div style="background-color: #ffffff" class="block_center">
    <table border="0" cellspacing="5" cellpadding="5" height="100%" width="100%">
        <tbody>
                <?php
                    
                    $i=1;
                    $count=0;
                    foreach($group2 as $item){ 
                        $count++;
                        if($count>MAX_ITEM_GROUP2)
                            break;
                        if($i>4){
                            echo "<tr>";
                            $i=1;
                        }
                ?>
            
                    <td align="center" width="25%" valign="top"><div align="center">
                        <div style="height: 5px;"><!-- PETER --></div>
                            <div style="width: 90%; padding: 3px; border: 1px solid #fe0000; background-color: #fff">
                                <a  href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]?>&cat=<?=ID_GROUP_MAIN2?>&name=<?=NAME_GROUP_MAIN2?>" title="<?=$item["name"]?>">
                                    <img align="middle" height="191" width="140" src="<?=STATIC_DOMAIN?>/images/upload/product/<?=$item["image"]?>" alt="<?=$item["name"]?>"/>
                                </a>
                            </div>
                            <div class="pro_name">
                                <a href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]?>" title="<?=$item["name"]?>"><?=$item["name"]?></a></div>
                        <div class="pro_price">Giá: <?=  Common::numberFormat($item["price"]);?> VNĐ<br></div>
                        </div>
                    </td>
                
                <? 
                    if($i>4){
                            echo "</tr>";
                            $i=1;
                        }
                     $i++;
                    }
                ?>
        </tbody>
    </table>
    <?php if($cgroup2>=MAX_ITEM_GROUP2){?>
    <div style="text-align: right; padding: 7px 7px 7px; border-top: 1px dashed #ccc;">
        <a href="<?=BASE_URL?>/product?cat=<?=ID_GROUP_MAIN2?>&name=<?=NAME_GROUP_MAIN2?>" title="Xem thêm">Xem thêm »</a>&nbsp;&nbsp;</div>
    <?}?>
</div>
<?}?>