<div id="content" role="main" class="content-area">
   <link rel="stylesheet" href="<?php echo JS_URL?>/bxslider/css/jquery.bxslider.css">
   <script src="<?php echo JS_URL?>/bxslider/js/jquery.bxslider.js"></script>
   <script>
      $(document).ready(function(){
        $('.slider').bxSlider({
            responsive: true,
            infiniteLoop : true,
            hideControlOnEnd : true,
            touchEnabled : true,
            auto: true
        });
      });
   </script>
   <div class="slider">
      <div >
         <img src="<?=IMAGE_URL?>/benet-banner-22.jpg" class="attachment-original size-original">
      </div>
      <div >
         <img src="<?=IMAGE_URL?>/benet-banner-2.jpg" class="attachment-original size-original">
      </div>
   </div>
   <div class="row row-small" id="row-946323216">
      <div class="col medium-3 small-6 large-3">
         <div class="col-inner">
            <div class="box has-hover has-hover box-shadow-2-hover box-text-bottom">
               <div class="box-image">
                  <div class="">
                     <img width="465" height="345" src="<?=IMAGE_URL?>/thiet-ke-web.png" class="attachment- size-" alt="" srcset="<?=IMAGE_URL?>/thiet-ke-web.png 465w, <?=IMAGE_URL?>/thiet-ke-web-300x223.png 300w" sizes="(max-width: 465px) 100vw, 465px"> 
                  </div>
               </div>
               <!-- box-image -->
               <div class="box-text text-center dark" style="background-color:rgb(158, 184, 197);">
                  <div class="box-text-inner">
                     <h2><strong>Thiết kế website</strong></h2>
                     <p style="text-align: justify;">Thiết kế web chuyên nghiệp&nbsp;cung cấp dịch vụ thiết kế website WordPress, một trong những mã nguồn được dùng nhiều nhất thế giới, giúp tối ưu hóa bộ máy tìm kiếm và kết hợp với tính năng SEO cực kì tốt của WordPress.</p>
                  </div>
                  <!-- box-text-inner -->
               </div>
               <!-- box-text -->
            </div>
            <!-- .box  -->
         </div>
      </div>
      <div class="col medium-3 small-6 large-3">
         <div class="col-inner">
            <div class="box has-hover has-hover box-shadow-2-hover box-text-bottom">
               <div class="box-image">
                  <div class="">
                     <img width="465" height="345" src="<?=IMAGE_URL?>/cham-soc-he-thong.jpg" class="attachment- size-" alt="" srcset="<?=IMAGE_URL?>/cham-soc-he-thong.jpg 465w, <?=IMAGE_URL?>/cham-soc-he-thong-300x223.jpg 300w" sizes="(max-width: 465px) 100vw, 465px"> 
                  </div>
               </div>
               <!-- box-image -->
               <div class="box-text text-center dark" style="background-color:rgb(158, 184, 197);">
                  <div class="box-text-inner">
                     <h2><strong>Marketing Online</strong></h2>
                     <p style="text-align: justify;">
                        Song song với kênh marketing truyền thống như radio, TV, báo hay tạp chí,… kênh marketing online ngày càng được nhiều doanh nghiệp chú trọng để mang thương hiệu, sản phẩm/ dịch vụ của mình tiếp cận nhanh chóng đến với khách hàng.
                     </p>
                  </div>
                  <!-- box-text-inner -->
               </div>
               <!-- box-text -->
            </div>
            <!-- .box  -->
         </div>
      </div>
      <div class="col medium-3 small-6 large-3">
         <div class="col-inner">
            <div class="box has-hover has-hover box-shadow-2-hover box-text-bottom">
               <div class="box-image">
                  <div class="">
                     <img width="465" height="345" src="<?=IMAGE_URL?>/viet-pr.jpg" class="attachment- size-" alt="" srcset="<?=IMAGE_URL?>/viet-pr.jpg 465w, <?=IMAGE_URL?>/viet-pr-300x223.jpg 300w" sizes="(max-width: 465px) 100vw, 465px"> 
                  </div>
               </div>
               <!-- box-image -->
               <div class="box-text text-center dark" style="background-color:rgb(158, 184, 197);">
                  <div class="box-text-inner">
                     <h2><strong>Viết PR – Quảng Cáo</strong></h2>
                     <p style="text-align: justify;">
                        Hầu hết mọi người đều muốn viết những bài viết có thể đạt hiệu quả bán hàng nhưng không biết bắt đầu từ đâu, không biết điểm bán hàng của bài viết nằm chỗ nào để đánh giá hiệu quả. Đó là một tư duy đúng và những phương pháp đúng.
                     </p>
                  </div>
                  <!-- box-text-inner -->
               </div>
               <!-- box-text -->
            </div>
            <!-- .box  -->
         </div>
      </div>
      <div class="col medium-3 small-6 large-3">
         <div class="col-inner">
            <div class="box has-hover has-hover box-shadow-2-hover box-text-bottom">
               <div class="box-image">
                  <div class="">
                     <img width="465" height="345" src="<?=IMAGE_URL?>/xuat-ban-sach.jpg" class="attachment- size-" alt="" srcset="<?=IMAGE_URL?>/xuat-ban-sach.jpg 465w, <?=IMAGE_URL?>/xuat-ban-sach-300x223.jpg 300w" sizes="(max-width: 465px) 100vw, 465px"> 
                  </div>
               </div>
               <!-- box-image -->
               <div class="box-text text-center dark" style="background-color:rgb(158, 184, 197);">
                  <div class="box-text-inner">
                     <h2><strong>Xuất bản sách</strong></h2>
                     <p style="text-align: justify;">
                        Việc xuất bản một cuốn sách dường như khó khăn hơn là việc viết ra cuốn sách đó. Nhưng với một hướng dẫn đúng đắn thì tất cả đều có thể! Để sách của bạn được xuất bản, bạn phải đảm bảo rằng cuốn sách đó được viết tốt nhất có thể.
                     </p>
                  </div>
                  <!-- box-text-inner -->
               </div>
               <!-- box-text -->
            </div>
            <!-- .box  -->
         </div>
      </div>
      <style scope="scope">
      </style>
   </div>
   <section class="section" id="section_408562876">
      <div class="bg section-bg fill bg-fill   bg-loaded">
      </div>
      <!-- .section-bg -->
      <div class="section-content relative">
         <div class="row row-collapse row-full-width" id="row-1149455957">
            <div class="col medium-6 large-6">
               <div class="col-inner">
                  <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1132332232">
                     <div class="img-inner dark">
                        <img src="<?=IMAGE_URL?>/benet.jpg" class="attachment-original size-original" >
                     </div>
                     <style scope="scope">
                     </style>
                  </div>
               </div>
            </div>
            <div class="col medium-6 large-6">
               <div class="col-inner" style="padding:20px 20px 0px 20px;">
                  <h2 style="text-align: justify;"><span style="color: #ff6600;"><strong>CÔNG TY TNHH TM-DV-QC THIÊN ĐƯỜNG KÝ GỬI</strong></span></h2>
                  <hr>
                  <p style="text-align: justify;"><strong>Thiết kế web chuyên nghiệp</strong>&nbsp;nhận thấy thị trường kinh doanh online ngày càng phổ biến và cạnh tranh khốc liệt, các website hàng loạt ra đời nhưng không đem lại hiệu quả nhiều, điều đặc biệt là các doanh nghiệp vừa và nhỏ dần dần suy yếu không còn chỗ đứng trên thị trường online cũng như truyền thống. Để tạo điều kiện cho các doanh nghiệp vừa và nhỏ có vị thế trên thị trường và phát triển.</p>
                  <p style="text-align: justify;"><span style="font-size: 14.4px;">Nhằm tạo niềm tin cũng như sự chuyên nghiệp của mình,&nbsp;</span><strong style="font-size: 14.4px;">Websiteday</strong><span style="font-size: 14.4px;">&nbsp;có chính sách ưu đãi đối với cá nhân mới tham gia kinh doanh online, và bảo hành vĩnh viễn cho các dự án thiết kế web của khách hàng.</span></p>
                  <a class="button primary" href="/ve-chung-toi.html">
                  <span>XEM THÊM</span>
                  <i class="icon-angle-right"></i></a>
               </div>
            </div>
            <style scope="scope">
            </style>
         </div>
      </div>
      <!-- .section-content -->
      <style scope="scope">
         #section_408562876 {
         padding-top: 0px;
         padding-bottom: 0px;
         }
         #section_408562876 .section-bg {
         background-position: 48% 3%;
         }
      </style>
   </section>
   <div class="row" id="row-1501101753" style="display:none">
      <div class="col small-12 large-12">
         <div class="col-inner text-center">
            <h2><strong>MẪU WEBSITE NỔI BẬT</strong></h2>
            <div class="is-divider divider clearfix" style="max-width:100px;height:4px;background-color:rgb(0, 0, 0);"></div>
            <!-- .divider -->
            <div class="row large-columns-4 medium-columns- small-columns-2 row-xsmall">
               <div class="product-small col has-hover post-3143 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-kinh-doanh-o-to product_tag-thiet-ke-web-mua-ban-o-to first instock shipping-taxable product-type-external">
                  <div class="col-inner">
                     <div class="badge-container absolute left top z-1">
                     </div>
                     <div class="product-small box ">
                        <div class="box-image">
                           <div class="image-fade_in_back">
                              <a href="#">
                              <img src="<?=IMAGE_URL?>/giao-dien-web-kinh-doanh-o-to-tai-300x386.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-kinh-doanh-o-to-tai" title="giao-dien-web-kinh-doanh-o-to-tai" > </a>
                           </div>
                           <div class="image-tools is-small top right show-on-hover">
                           </div>
                           <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                           </div>
                           <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                           </div>
                        </div>
                        <!-- box-image -->
                        <div class="box-text box-text-products">
                           <div class="title-wrapper">
                              <p class="name product-title"><a href="#">Giao diện web kinh doanh ô tô tải</a></p>
                           </div>
                           <div class="price-wrapper">
                              <span class="price"><span class="amount">Liên hệ</span></span>
                           </div>
                        </div>
                        <!-- box-text -->
                     </div>
                     <!-- box -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- col -->
               <div class="product-small col has-hover post-3141 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-ban-my-pham product_tag-thiet-ke-web-ban-my-pham product_tag-web-ban-my-pham-dep  instock shipping-taxable product-type-external">
                  <div class="col-inner">
                     <div class="badge-container absolute left top z-1">
                     </div>
                     <div class="product-small box ">
                        <div class="box-image">
                           <div class="image-fade_in_back">
                              <a href="#">
                              <img src="<?=IMAGE_URL?>/giao-dien-web-ban-my-pham-dep-300x386.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-ban-my-pham-dep" title="giao-dien-web-ban-my-pham-dep"> </a>
                           </div>
                           <div class="image-tools is-small top right show-on-hover">
                           </div>
                           <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                           </div>
                           <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                           </div>
                        </div>
                        <!-- box-image -->
                        <div class="box-text box-text-products">
                           <div class="title-wrapper">
                              <p class="name product-title"><a href="#">Giao diện web bán mỹ phẩm đẹp</a></p>
                           </div>
                           <div class="price-wrapper">
                              <span class="price"><span class="amount">Liên hệ</span></span>
                           </div>
                        </div>
                        <!-- box-text -->
                     </div>
                     <!-- box -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- col -->
               <div class="product-small col has-hover post-3050 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web  instock shipping-taxable product-type-external">
                  <div class="col-inner">
                     <div class="badge-container absolute left top z-1">
                     </div>
                     <div class="product-small box ">
                        <div class="box-image">
                           <div class="image-fade_in_back">
                              <a href="http://benet.vn/theme/giao-dien-web-ban-thiet-bi-van-phong/">
                              <img src="<?=IMAGE_URL?>/giao-dien-web-ban-thiet-bi-van-phong-300x386.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-ban-thiet-bi-van-phong" title="giao-dien-web-ban-thiet-bi-van-phong"> </a>
                           </div>
                           <div class="image-tools is-small top right show-on-hover">
                           </div>
                           <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                           </div>
                           <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                           </div>
                        </div>
                        <!-- box-image -->
                        <div class="box-text box-text-products">
                           <div class="title-wrapper">
                              <p class="name product-title"><a href="http://benet.vn/theme/giao-dien-web-ban-thiet-bi-van-phong/">Giao diện web bán thiết bị văn phòng</a></p>
                           </div>
                           <div class="price-wrapper">
                              <span class="price"><span class="amount">Liên hệ</span></span>
                           </div>
                        </div>
                        <!-- box-text -->
                     </div>
                     <!-- box -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- col -->
               <div class="product-small col has-hover post-3048 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-ban-my-pham product_tag-web-ban-hang product_tag-web-ban-my-pham last instock shipping-taxable product-type-external">
                  <div class="col-inner">
                     <div class="badge-container absolute left top z-1">
                     </div>
                     <div class="product-small box ">
                        <div class="box-image">
                           <div class="image-fade_in_back">
                              <a href="http://benet.vn/theme/giao-dien-web-ban-pham-nuskin/">
                              <img src="<?=IMAGE_URL?>/web-my-pham-nuskin-300x386.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="web-my-pham-nuskin" title="web-my-pham-nuskin" > </a>
                           </div>
                           <div class="image-tools is-small top right show-on-hover">
                           </div>
                           <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                           </div>
                           <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                           </div>
                        </div>
                        <!-- box-image -->
                        <div class="box-text box-text-products">
                           <div class="title-wrapper">
                              <p class="name product-title"><a href="http://benet.vn/theme/giao-dien-web-ban-pham-nuskin/">Giao diện web bán mỹ phẩm nuskin</a></p>
                           </div>
                           <div class="price-wrapper">
                              <span class="price"><span class="amount">Liên hệ</span></span>
                           </div>
                        </div>
                        <!-- box-text -->
                     </div>
                     <!-- box -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- col -->
               <div class="product-small col has-hover post-3046 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-cong-ty-chuyen-nha product_tag-web-chuyen-nha-tron-goi product_tag-web-cong-ty-chuyen-nha first instock shipping-taxable product-type-external">
                  <div class="col-inner">
                     <div class="badge-container absolute left top z-1">
                     </div>
                     <div class="product-small box ">
                        <div class="box-image">
                           <div class="image-fade_in_back">
                              <a href="http://benet.vn/theme/giao-dien-web-cong-ty-chuyen-nha-2/">
                              <img src="<?=IMAGE_URL?>/giao-dien-web-cong-ty-chuyen-nha-300x386.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-cong-ty-chuyen-nha" title="giao-dien-web-cong-ty-chuyen-nha" > </a>
                           </div>
                           <div class="image-tools is-small top right show-on-hover">
                           </div>
                           <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                           </div>
                           <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                           </div>
                        </div>
                        <!-- box-image -->
                        <div class="box-text box-text-products">
                           <div class="title-wrapper">
                              <p class="name product-title"><a href="http://benet.vn/theme/giao-dien-web-cong-ty-chuyen-nha-2/">Giao diện web công ty chuyển nhà</a></p>
                           </div>
                           <div class="price-wrapper">
                              <span class="price"><span class="amount">Liên hệ</span></span>
                           </div>
                        </div>
                        <!-- box-text -->
                     </div>
                     <!-- box -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- col -->
               <div class="product-small col has-hover post-3044 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-ban-hang product_tag-giao-dien-web-ban-yen-sao  instock shipping-taxable product-type-external">
                  <div class="col-inner">
                     <div class="badge-container absolute left top z-1">
                     </div>
                     <div class="product-small box ">
                        <div class="box-image">
                           <div class="image-fade_in_back">
                              <a href="http://benet.vn/theme/giao-dien-web-ban-yen-sao/">
                              <img src="<?=IMAGE_URL?>/giao-dien-web-ban-yen-sao-300x386.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-ban-yen-sao" title="giao-dien-web-ban-yen-sao" > </a>
                           </div>
                           <div class="image-tools is-small top right show-on-hover">
                           </div>
                           <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                           </div>
                           <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                           </div>
                        </div>
                        <!-- box-image -->
                        <div class="box-text box-text-products">
                           <div class="title-wrapper">
                              <p class="name product-title"><a href="http://benet.vn/theme/giao-dien-web-ban-yen-sao/">Giao diện web bán yến sào</a></p>
                           </div>
                           <div class="price-wrapper">
                              <span class="price"><span class="amount">Liên hệ</span></span>
                           </div>
                        </div>
                        <!-- box-text -->
                     </div>
                     <!-- box -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- col -->
               <div class="product-small col has-hover post-3042 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-cong-ty product_tag-giao-dien-web-thuy-san  instock shipping-taxable product-type-external">
                  <div class="col-inner">
                     <div class="badge-container absolute left top z-1">
                     </div>
                     <div class="product-small box ">
                        <div class="box-image">
                           <div class="image-fade_in_back">
                              <a href="http://benet.vn/theme/giao-dien-web-cong-ty-thuy-san/">
                              <img src="<?=IMAGE_URL?>/giao-dien-web-cong-ty-thuy-san-300x386.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-cong-ty-thuy-san" title="giao-dien-web-cong-ty-thuy-san" > </a>
                           </div>
                           <div class="image-tools is-small top right show-on-hover">
                           </div>
                           <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                           </div>
                           <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                           </div>
                        </div>
                        <!-- box-image -->
                        <div class="box-text box-text-products">
                           <div class="title-wrapper">
                              <p class="name product-title"><a href="http://benet.vn/theme/giao-dien-web-cong-ty-thuy-san/">Giao diện web công ty thuỷ sản</a></p>
                           </div>
                           <div class="price-wrapper">
                              <span class="price"><span class="amount">Liên hệ</span></span>
                           </div>
                        </div>
                        <!-- box-text -->
                     </div>
                     <!-- box -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- col -->
               <div class="product-small col has-hover post-3039 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-ban-hang product_tag-giao-dien-web-ban-my-pham product_tag-web-ban-my-pham last instock shipping-taxable product-type-external">
                  <div class="col-inner">
                     <div class="badge-container absolute left top z-1">
                     </div>
                     <div class="product-small box ">
                        <div class="box-image">
                           <div class="image-fade_in_back">
                              <a href="http://benet.vn/theme/giao-dien-web-ban-hang-pham/">
                              <img src="<?=IMAGE_URL?>/giao-dien-web-my-pham-300x386.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-my-pham" title="giao-dien-web-my-pham" > </a>
                           </div>
                           <div class="image-tools is-small top right show-on-hover">
                           </div>
                           <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                           </div>
                           <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                           </div>
                        </div>
                        <!-- box-image -->
                        <div class="box-text box-text-products">
                           <div class="title-wrapper">
                              <p class="name product-title"><a href="http://benet.vn/theme/giao-dien-web-ban-hang-pham/">Giao diện web bán hàng mỹ phẩm</a></p>
                           </div>
                           <div class="price-wrapper">
                              <span class="price"><span class="amount">Liên hệ</span></span>
                           </div>
                        </div>
                        <!-- box-text -->
                     </div>
                     <!-- box -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- col -->
            </div>
         </div>
      </div>
   </div>
   <div class="row" id="row-1817216109" style="display:none">
      <div class="col small-12 large-12">
         <div class="col-inner text-center">
            <h2><strong>TIN TỨC &amp; HOẠT ĐỘNG</strong></h2>
            <div class="is-divider divider clearfix" style="max-width:100px;height:4px;background-color:rgb(0, 0, 0);"></div>
            <!-- .divider -->
            <div class="row large-columns-3 medium-columns-1 small-columns-1 row-small">
               <div class="col post-item">
                  <div class="col-inner">
                     <a href="http://benet.vn/mung-le-20-10-tai-cong-ty-tnhh-sx-tm-dv-benet/" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                           <div class="box-image">
                              <div class="image-cover" style="padding-top:56.25%;">
                                 <img src="<?=IMAGE_URL?>/mung-le-20-10-tai-cong-ty-tnhh-sx-tm-dv-benet-11.jpg" class="attachment-original size-original wp-post-image" alt="Benet, Trịnh Đình Tý, Công ty Benet, Ngày quốc tế phụ nữ 8 tháng 3, Ngày phụ nữ Việt Nam 20 tháng 10"> 
                              </div>
                           </div>
                           <!-- .box-image -->
                           <div class="box-text text-center dark" style="background-color:rgb(157, 184, 196);">
                              <div class="box-text-inner blog-post-inner">
                                 <h5 class="post-title is-large ">MỪNG LỄ 20-10 TẠI CÔNG TY TNHH SX TM DV BENET</h5>
                                 <div class="is-divider"></div>
                                 <p class="from_the_blog_excerpt ">Hằng năm, cứ vào mỗi ngày lễ, Công ty TNHH SX TM DV Benet lại tổ chức hoạt động, vui chơi, du lịch, ăn uống để tăng sự đoàn kết. </p>
                              </div>
                              <!-- .box-text-inner -->
                           </div>
                           <!-- .box-text -->
                        </div>
                        <!-- .box -->
                     </a>
                     <!-- .link -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- .col -->
               <div class="col post-item">
                  <div class="col-inner">
                     <a href="http://benet.vn/mung-dai-le-2-9-le-ha-vina-tuong-thuong-nhan-vien-chuyen-du-lich-sapa-4-ngay-4-dem/" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                           <div class="box-image">
                              <div class="image-cover" style="padding-top:56.25%;">
                                 <img src="<?=IMAGE_URL?>/mung-dai-le-2-9-le-ha-vina-tuong-thuong-nhan-vien-chuyen-du-lich-sapa-4-ngay-4-dem-1.jpg" class="attachment-original size-original wp-post-image" alt="Lê Hà Vina, Du lịch sapa, Trịnh Đình Tý, Công ty Benet Media, Công ty Lê Hà Vina" > 
                              </div>
                           </div>
                           <!-- .box-image -->
                           <div class="box-text text-center dark" style="background-color:rgb(157, 184, 196);">
                              <div class="box-text-inner blog-post-inner">
                                 <h5 class="post-title is-large ">MỪNG ĐẠI LỄ 2-9, LÊ HÀ VINA TƯỞNG THƯỞNG NHÂN VIÊN CHUYẾN DU LỊCH SAPA 4 NGÀY 4 ĐÊM</h5>
                                 <div class="is-divider"></div>
                                 <p class="from_the_blog_excerpt ">Vào 4 ngày (từ 5/9/2018 đến 9/9/2018), nhân sự kiện nghỉ lễ chào mừng Quốc khánh 2/9, công ty TNHH Lê Hà Vina đã tưởng thưởng cho nhân viên một. </p>
                              </div>
                              <!-- .box-text-inner -->
                           </div>
                           <!-- .box-text -->
                        </div>
                        <!-- .box -->
                     </a>
                     <!-- .link -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- .col -->
               <div class="col post-item">
                  <div class="col-inner">
                     <a href="http://benet.vn/gia-thiet-ke-website-website-tron-goi/" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                           <div class="box-image">
                              <div class="image-cover" style="padding-top:56.25%;">
                                 <img src="<?=IMAGE_URL?>/gia-thiet-ke-website-website-trong-goi.jpg" class="attachment-original size-original wp-post-image" alt="" > 
                              </div>
                           </div>
                           <!-- .box-image -->
                           <div class="box-text text-center dark" style="background-color:rgb(157, 184, 196);">
                              <div class="box-text-inner blog-post-inner">
                                 <h5 class="post-title is-large ">GIÁ THIẾT KẾ WEBSITE – WEBSITE TRỌN GÓI</h5>
                                 <div class="is-divider"></div>
                                 <p class="from_the_blog_excerpt ">Chiều qua mình mới vừa tư vấn và báo giá thiết kế website cho khách hàng. Sau khi tư vấn một hồi, mình thấy cần làm Video này gấp. Vì. </p>
                              </div>
                              <!-- .box-text-inner -->
                           </div>
                           <!-- .box-text -->
                        </div>
                        <!-- .box -->
                     </a>
                     <!-- .link -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- .col -->
               <div class="col post-item">
                  <div class="col-inner">
                     <a href="http://benet.vn/thiet-ke-website-cho-trung-tam-xet-nghiem-tasscare/" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                           <div class="box-image">
                              <div class="image-cover" style="padding-top:56.25%;">
                                 <img src="<?=IMAGE_URL?>/thiet-ke-website-cho-trung-tam-xet-nghiem-tasscare-1.jpg" class="attachment-original size-original wp-post-image" alt="Trung tâm xét nghiệm Tasscare, Thiết kế banner, Website, Thiết kế website, Công ty cổ phần truyền thông Benet" > 
                              </div>
                           </div>
                           <!-- .box-image -->
                           <div class="box-text text-center dark" style="background-color:rgb(157, 184, 196);">
                              <div class="box-text-inner blog-post-inner">
                                 <h5 class="post-title is-large ">THIẾT KẾ WEBSITE CHO TRUNG TÂM XÉT NGHIỆM TASSCARE</h5>
                                 <div class="is-divider"></div>
                                 <p class="from_the_blog_excerpt ">Benet hoàn thành gói thiết kế website https://laymautainha.org cho trung tâm xét nghiệm Tasscare, một đơn vị chuyên cung cấp dịch vụ xét nghiệm máu, nước tiểu, tinh dịch nam…tại. </p>
                              </div>
                              <!-- .box-text-inner -->
                           </div>
                           <!-- .box-text -->
                        </div>
                        <!-- .box -->
                     </a>
                     <!-- .link -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- .col -->
               <div class="col post-item">
                  <div class="col-inner">
                     <a href="http://benet.vn/benet-thiet-ke-web-cho-nha-khoa-thanh-tam/" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                           <div class="box-image">
                              <div class="image-cover" style="padding-top:56.25%;">
                                 <img src="<?=IMAGE_URL?>/benet-thiet-ke-web-cho-nha-khoa-thanh-tam-1.jpg" class="attachment-original size-original wp-post-image" alt="Nha Khoa Thanh Tâm, Website phòng khám Nha Khoa Thanh Tâm, Công ty CP truyền thông Benet, Marketing online, Website" > 
                              </div>
                           </div>
                           <!-- .box-image -->
                           <div class="box-text text-center dark" style="background-color:rgb(157, 184, 196);">
                              <div class="box-text-inner blog-post-inner">
                                 <h5 class="post-title is-large ">BENET THIẾT KẾ WEB CHO NHA KHOA THANH TÂM</h5>
                                 <div class="is-divider"></div>
                                 <p class="from_the_blog_excerpt ">Với mục đích giới thiệu doanh nghiệp, giới thiệu những dịch vụ của phòng khám nha khoa và tích hợp tính năng đặt lịch khám online, tư vấn, giải đáp. </p>
                              </div>
                              <!-- .box-text-inner -->
                           </div>
                           <!-- .box-text -->
                        </div>
                        <!-- .box -->
                     </a>
                     <!-- .link -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- .col -->
               <div class="col post-item">
                  <div class="col-inner">
                     <a href="http://benet.vn/thiet-ke-website-tien-ich-hoc-duong/" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                           <div class="box-image">
                              <div class="image-cover" style="padding-top:56.25%;">
                                 <img src="<?=IMAGE_URL?>/thiet-ke-website-tien-ich-hoc-duong.jpg" class="attachment-original size-original wp-post-image" alt="Thiết kế website tiện ích học đường, Thiết bị tiện ích học đường online, Website, Hỗ trợ SEO web, Truy cập website" > 
                              </div>
                           </div>
                           <!-- .box-image -->
                           <div class="box-text text-center dark" style="background-color:rgb(157, 184, 196);">
                              <div class="box-text-inner blog-post-inner">
                                 <h5 class="post-title is-large ">THIẾT KẾ WEBSITE TIỆN ÍCH HỌC ĐƯỜNG</h5>
                                 <div class="is-divider"></div>
                                 <p class="from_the_blog_excerpt ">Kinh doanh thiết bị tiện ích học đường cũng giống như những mặt hàng kinh doanh khác. Hiện nay, trên thị trường có rất nhiều các nhà sản xuất kinh. </p>
                              </div>
                              <!-- .box-text-inner -->
                           </div>
                           <!-- .box-text -->
                        </div>
                        <!-- .box -->
                     </a>
                     <!-- .link -->
                  </div>
                  <!-- .col-inner -->
               </div>
               <!-- .col -->
            </div>
         </div>
      </div>
   </div>
</div>
<br/>