<?php
$product = $this->product;
?>
<div id="row row-none">
         <div class="container">
          	<?= $this->boxSlider ?>
            <div id="middle">
                <div id="page-name">
                    <ul id="sys_pagename">
                       <li>
                           <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a href="<?=BASE_URL?>" itemprop="url" itemprop="title"><span itemprop="title">Trang chủ</span></a>
                           </div>
                       </li>
                    </ul>
                 </div>
               <div id="layout_content" class="row row-10">
                    <?= $this->boxsaleoff ?>

                    <?= $this->boxtopweek ?>
                    
                    <?= $this->boxnewest ?>  
                   
                  <div class="col-sm-18 col-10">
                     <div id="content">

                        <div class="mod-default">
                            <h3 class="mod-name">Tất cả đặc sản giá tốt</h3>
                        </div><br/>

                        <div id="products" class="products row">
                      		<?php foreach ($product as $itemProduct) {?>

							<div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="<?=BASE_URL?>/chi-tiet/san-pham/<?=$itemProduct['id']?>/"> <img alt="<?=$itemProduct['name']?>" class="img-responsive" src="<?=IMAGE_URL?>/product/<?=$itemProduct['image']?>350x350.jpg"> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="<?=BASE_URL?>/chi-tiet/san-pham/<?=$itemProduct['id']?>/">
                                          <h5><?=$itemProduct['name']?></h5>
                                       </a>
                                       <p><?=$itemProduct['short_desc']?></p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none"><?=Common::numberFormat($itemProduct['new_price'])?><small>đ</small></span><span class="col-xs-24 col-none"><?=Common::numberFormat($itemProduct['price'])?><small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-<?=$itemProduct['percent_sale_off']?><small>%</small></span>
                                          <?php if($itemProduct['amount'] > 0) {?>
                                          <input product-add-to-cart="<?=$itemProduct['id']?>" product-name="<?=$itemProduct['name']?>" class="btn btn-warning add-to-cart col-xs-24 col-sm-14 ng-scope" value="Mua" type="button">
                                          <?php } ?>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
<?php
                      		}?>
                           
                        </div>
                     </div>
                  </div>

				<?= $this->boxright ?>

               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript">
      	dacsandayInit.homePage();
      </script>