<?php
$site=SHOP_URL_SHORT;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Giới thiệu</div></div>
<div class="block_center" style=" background-color: #ffffff">
    <div style="padding: 45px">
        
        <div class="ColRight">
            <h3 class="SUPPORT_TITLE">Giới thiệu về Website mua sắm trực tuyến <a href="<?=BASE_URL?>" title="<?=$site?>" style="color: #E47911"><?=  $site?></a></h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
		<div class="BOX_DETAIL_CS">
			<ol style="text-align: justify;" class="padd_list_priva">	
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?=BASE_URL?>" title="<?=$site?>" style="color: #E47911"><?=$site?></a> là một trung tâm thương mại trực tuyến <b>đảm bảo</b>, phục vụ nhu cầu mua sắm trực tuyến bao gồm: chọn và mua hàng trực tuyến nhanh chóng, thanh toán trực tuyến an toàn, giao hàng tận nơi, chăm sóc và tư vấn thân thiện </p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mục tiêu mà <a href="<?=BASE_URL?>" title="<?=$site?>" style="color: #E47911"><?=$site?></a> hướng tới là sẽ trở thành nơi mua sắm trực tuyến tiện lợi, nhanh chóng và đáng tin cậy trong thị trường thương mại điện tử với đa dạng chủng loại hàng hóa và các dịch vụ được đảm bảo. </p>
			</ol>
			<br>
			<br>
								
		</div>
	</div>
            <br/>
            <br/>
            <br/>
            <img src="<?=STATIC_DOMAIN?>/images/thoitrang3_1.jpg" style="padding-left: 40px"/>
            
</div>
        
    </div>    
</div>