<?php
$site=SHOP_URL;
?>
<div class="center">
    <div class="menu"><a href="<?=BASE_URL?>">Trang chủ</a> &nbsp;»&nbsp;Top những câu hỏi mua hàng</div></div>
<div class="block_center" style=" background-color: #ffffff">
    <div style="padding: 45px">
        
        <div class="ColRight">
            <h3 class="SUPPORT_TITLE">Top những câu hỏi mua hàng</h3>
	<div style="padding-top: 0px;margin-top: 0px;" class="main-borfer-grid">
		<div class="BOX_DETAIL_CS">      
      <div class="accordion">
        <h3 class="title active">1. Tôi có thể đến công ty xem và lựa chọn sản phẩm trước khi mua được không ? </h3>
        <div class="zone" style="display: block;"><a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> chỉ bán hàng trực tuyến, chúng tôi không trưng bày sản phẩm tại công ty.</div>        
        <h3 class="title">2. Tôi muốn mua hàng thì phải làm như thế nào ? </h3>
        <div class="zone" ">Vui lòng xem hướng dẫn mua hàng, thanh toán đơn hàng <a href="<?=BASE_URL?>/index/huongdanmua" target="_blank">tại đây</a> </div>
        <h3 class="title">3. Khi mua hàng trên web, tôi có cần thiết phải tạo tài khoản đăng nhập như một số trang khác không ?</h3>
        <div class="zone" >Quý Khách không bắt buộc phải tạo tài khoản để mua hàng. Vui lòng xem hướng dẫn mua hàng, thanh toán đơn hàng <a href="<?=BASE_URL?>/index/huongdanmua" target="_blank">tại đây</a></div>
        <h3 class="title">4. Tôi muốn mua hàng số lượng lớn bên <a href="<?=BASE_URL?>" ><?=SHOP_URL_SHORT?></a>, tôi sẽ nhận được mức chiết khấu như thế nào ?</h3>
        <div class="zone" >Chúng tôi sẽ có những chính sách phúc lợi riêng cho từng loại sản phẩm ở các thời điểm khác nhau.  Để biết rõ hơn về điều này, Quý Khách có thể theo dõi thông tin tại trang khuyến mãi hoặc liên hệ trực tiếp qua hotline <b><?=HOT_LINE?></b> để được giải đáp</div>
        <h3 class="title">5. Tôi muốn đặt hàng qua điện thoại rồi thực hiện thanh toán có được không ?</h3>
        <div class="zone" >Quý Khách chỉ có thể đặt hàng tại trang web <?=SHOP_URL_SHORT?> . Sau khi đặt hàng thành công, chúng tôi sẽ giao hàng cho Quý Khách đúng thời gian cam kết ( giao hàng từ 1 -2 ngày làm việc tại HCM )</div>
        <h3 class="title">6. Nếu món hàng tôi muốn mua đã hết hàng ( có biểu tượng hết hàng trên shop ), tôi có thể đặt hàng và thanh toán trước. Chờ đến khi có hàng để nhận được không ?</h3>
        <div class="zone" >Nếu sản phẩm có biểu tượng hết hàng ( hoặc cháy hàng ), Quý Khách không thể đặt mua được sản phẩm này được. Quý Khách vui lòng theo dõi thông tin sản phẩm tại website. Hoặc liên hệ bộ phận chăm sóc khách hàng, sẽ có nhân viên liên hệ với Quý Khách khi hàng mới được nhập.</div>
        <h3 class="title">7. <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> kinh doanh về mặt hàng gì? Liệu có đảm bảo khi tôi mua hàng ở <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> hay không ?</h3>
        <div class="zone" >Hiện tại <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> ( <?=SHOP_URL_SHORT?> ) kinh doanh mặt hàng: quần áo, mỹ phẩm, phụ kiện thời trang... Chúng tôi là một dịch vụ Thương Mại Điện Tử Đảm Bảo. Quý Khách có thể an tâm khi sử dụng dịch vụ của chúng tôi.</div>
        <h3 class="title">8. Chất lượng sản phẩm của <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> như thế nào ?</h3>
        <div class="zone" >
        	Tất cả các sản phẩm được bán trên <a href="<?=BASE_URL?>"><?=SHOP_URL_SHORT?></a> đều được đảm bảo hàng thật mới 100%. Khi nhân viên giao vận chuyển hàng đến, Quý Khách vui lòng kiểm tra kĩ hàng hóa trước khi nhận. Những trường hợp sau, Quý Khách có thể từ chối nhận hàng và báo lại qua đường dây nóng cho chúng tôi :
        	<p>- Phát hiện hàng giả</p>
        	<p>- Phát hiện hàng bị hư hại.</p>
        	<p>- Bao bì sản phẩm không còn nguyên vẹn.</p>
        	<p>- Thiếu chi tiết sản phẩm.</p>
        	<p>- Không có giấy bảo hành (đối với các sản phẩm được bảo hành)</p>
        </div>
      </div>
    </div>
	</div>
            <br/>
            <br/>
            <br/>
            <img src="<?=STATIC_DOMAIN?>/images/thoitrang3_1.jpg" style="padding-left: 40px"/>
            
</div>
        
    </div>    
</div>