<link type="text/css" rel="stylesheet" media="screen" href="<?= STATIC_DOMAIN ?>/css/index_base-p9mWZ8C7.css"/>
<link type="text/css" rel="stylesheet" media="screen" href="<?= STATIC_DOMAIN ?>/css/index-7QYPtjSM.css"/>

<?php
$hotDeal = $this->hotDeal;
$linkHotDeal = "chitiet/" . Common::getDetailURL($hotDeal['title'], $hotDeal['id']);
$deal = $this->deal; 
?>
<div id="main" class="clearfix">
    <div id="content">
        <div id="message_content"></div>
        <div class="box_content container_16">
            <div class="page_header"><div><div data-bhw="BrowseHeader" data-bhw-path="BrowseHeader">
                        <h2>
                            <a data-bhc="category:all-deals" class="push" href="http://www.groupon.com/browse/st-johns" data-bhc-path="BrowseHeader|category:all-deals" style="font-size: 15px">Tất cả Deal</a>
                        </h2>
                        <span class="results"><span data-bhc="deal-count:43" data-bhc-path="BrowseHeader|deal-count:43"><strong>43</strong> Kết quả</span> </span>
                    </div></div></div>
            <div class="content"><div><div data-bhw="HeroDeal" id="browse-featured" data-bhw-path="HeroDeal"><div data-bhc="deal:bulls-on-wall-street-12" class="deal-list-tile grid_16" id="hero-tile" data-bhc-path="HeroDeal|deal:bulls-on-wall-street-12">
                            <a class="hero-link" href="<?= $linkHotDeal ?>">
                                <img height="267" width="440" class="grid_8" src="<?= STATIC_DOMAIN ?>/images/upload/<?= $hotDeal['image'] ?>">
                            </a>
                            <div class="deal-content grid_8">
                                <hgroup>
                                    <h2><?= $hotDeal['short_title'] ?></h2>
                                    <h1><a href="<?= $linkHotDeal ?>" class="permalink"><?= $hotDeal['title'] ?></a></h1>
                                </hgroup>

                                <div class="description"><p><?= Common::getShortenedContent($hotDeal['short_desc'], MAX_LENGH_SHORT_DESC_HOT_DEAL) ?></p></div>
                                <p class="location"><?= $hotDeal['type'] ?></p>
                                <div class="purchase-info clearfix">
                                    <div class="actions">
                                        <a data-bhw="BuyButton" class="buy-btn pull-btn" href="http://www.groupon.com/deals/bulls-on-wall-street-12/confirmation" data-bhw-path="HeroDeal|deal:bulls-on-wall-street-12|BuyButton">Mua ngay</a>
                                        <a data-bhw="MoreInfoButton" class="more-info pull-btn" href="<?= $linkHotDeal ?>" data-bhw-path="HeroDeal|deal:bulls-on-wall-street-12|MoreInfoButton">Xem thêm</a>
                                    </div>
                                    <div class="price">
                                        <span class="original">100.000 VNĐ</span>
                                        <span>80.000 VNĐ</span>
                                    </div>
                                </div>
                            </div></div></div>
                    <div data-bhw="BrowseDeals" id="browse-deals" data-bhw-path="BrowseDeals">
                        <?php
                        foreach ($deal as $itemData) {
                            if($itemData['id']!=$hotDeal['id']){
                            ?>
                            <div data-bhc="deal:nail-secret" class="deal-list-tile grid_5_third" data-bhc-path="BrowseDeals|deal:nail-secret">
                                <a class="deal-permalink" href="<?=Common::getDetailURL($itemData['title'], $itemData['id'])?>">
                                    <img height="182" width="300" class="now-deal-img" src="<?= STATIC_DOMAIN ?>/images/upload/<?= $itemData['image'] ?>">
                                    <div class="deal-content standard clearfix">
                                        <div class="deal-title"><?=$itemData['title']?></div>
                                        <div class="purchase-info clearfix">
                                            <p class="merchant-name"><?=$itemData['short_title']?></p>
                                            <p class="location"><?=$itemData['type']?> </p>
                                            <div class="price ">
                                                <span class="original"><?=  Common::numberFormat($itemData['old_price'])?> VNĐ</span>
                                                <span><?=  Common::numberFormat($itemData['new_price'])?> VNĐ</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <?php
                            }
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>