<?php
$themes = $this->themes;
$theme = $themes[0]; // var_dump($theme);exit;
$link = BASE_URL . "/giao-dien/" . Common::getDetailURL($theme["name"],$theme["id"]);//var_dump($theme,$link);exit;
?>
<div class="root" id="root">
        <div class="">
            <div class="Demo----2tcNlX_H07jD0-g0752M57 Demo--indent----1XrqghQmu_Pjn_mWGbG9ZG">
                <div class="DemoPanel----2ASIy5hs1BsHCUv_s8gVaq">
                    <div class="DemoPanel__container----RNs3WCiHIadUveXWdQ32g">
                        <div class="DemoPanel__chapter----1cePAgKSx_lGdQNjJweuTw">
                            <div class="DemoPanel__title----1TpqeX1DYJPa29r7S4wOVb">
                                <a href="https://www.templatemonster.com/opencart-templates/52995.html" aria-label="Product" class="DemoPanel__goBackProduct----28HGMZlc-b015HW7vyPs7P">
                                    <svg class="Icon_TMIcon__1G9o_ DemoPanel__icon--goBack----3rTPRt8ASNLWxdZqCIED3-" aria-label="" width="20" height="20">
                                        <svg viewBox="0 0 20 20" id="arrowLeft" width="100%" height="100%">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.835 5.872a.5.5 0 1 0-.67-.744l-4.99 4.493a.513.513 0 0 0-.078.082.5.5 0 0 0 .077.676l4.991 4.493a.5.5 0 1 0 .67-.744L8.247 10l4.588-4.128z"></path>
                                        </svg>
                                        <defs>
                                            <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                        </defs>
                                    </svg><span class="DemoPanel__name----1Bcfl_DJofgdrEGq9mZtxY" style="max-width: 324.5px;">Electronic Store OpenCart Template</span></a>
                                <a class="DemoPanel__previewLink----141ivDTVlSFdX150BSd1nS" href="https://livedemo00-opencart.template-help.com/opencart_52995" target="_blank" rel="noopener noreferrer">
                                    <svg class="Icon_TMIcon__1G9o_ DemoPanel__icon--link----2TVkj1s9SJybld9J-ulYek" aria-label="" width="13" height="13">
                                        <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#link"></use>
                                        <defs>
                                            <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                        </defs>
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <div class="ResponseSwitchers----QZWxdG5-V_LITYP_pewjH">
                                    <button class="ResponseSwitchers__item----s96PZdmSUzUFM1kZdJHKD ResponseSwitchers__item--mobile----32gmQGOqAMInKlfeUGXwJe ResponseSwitchers__item--active----3BQ-2xdd62aUCPvsWJ8hK3">
                                        <svg class="Icon_TMIcon__1G9o_ ResponseSwitchers__itemIcon----1nydqPgG8q77XeWcoSeLLl" aria-label="" width="20" height="20">
                                            <svg viewBox="0 0 12 20" id="responseMobile" width="100%" height="100%">
                                                <g>
                                                    <g>
                                                        <path id="responseMobile_path0_fill" fill-rule="evenodd" d="M2.152 1C1.516 1 1 1.516 1 2.152v15.696C1 18.484 1.516 19 2.152 19h7.435c.636 0 1.152-.516 1.152-1.152V2.152C10.74 1.516 10.223 1 9.587 1H2.152zM0 2.152C0 .964.963 0 2.152 0h7.435c1.19 0 2.152.964 2.152 2.152v15.696A2.152 2.152 0 0 1 9.587 20H2.152A2.152 2.152 0 0 1 0 17.848V2.152z"></path>
                                                    </g>
                                                    <g>
                                                        <path id="responseMobile_path1_fill" fill-rule="evenodd" d="M3.304 2.152a.5.5 0 0 1 .5-.5h4.13a.5.5 0 1 1 0 1h-4.13a.5.5 0 0 1-.5-.5z"></path>
                                                    </g>
                                                    <g>
                                                        <path id="responseMobile_path2_fill" fill-rule="evenodd" d="M5.87 17.935a.087.087 0 1 0 0-.174v.174zm0 .826a.913.913 0 1 1 0-1.826.913.913 0 0 1 0 1.826z"></path>
                                                    </g>
                                                </g>
                                            </svg>

                                            <defs>
                                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                            </defs>
                                        </svg>
                                        <div class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementBottom__3QzQt Notification_TMNotification--heightFixedSmall__1Nlia Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--visible__26I_M Notification_TMNotification--arrowPlacementTop__2FtKC ResponseSwitchers__notification----3_fec5UZ-aMJnwC-E1Pe37" role="alert">
                                            <div class="Notification_TMNotification__content__1LUmE ">Desktop</div>
                                        </div><span class="ResponseSwitchers__itemText----1jafUN2aZOSTOl7-SyjPuu">Mobile</span></button>
                                    <button class="ResponseSwitchers__item----s96PZdmSUzUFM1kZdJHKD ResponseSwitchers__item--tablet----8178XKIjSPJfTaJq33DEd">
                                        <svg class="Icon_TMIcon__1G9o_ ResponseSwitchers__itemIcon----1nydqPgG8q77XeWcoSeLLl" aria-label="" width="20" height="20">
                                            <svg viewBox="0 0 20 20" id="responseTablet" width="100%" height="100%">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.152 1C3.517 1 3 1.516 3 2.152v15.696C3 18.484 3.517 19 4.152 19h10.74c.636 0 1.152-.516 1.152-1.152V2.152c0-.636-.516-1.152-1.153-1.152H4.152zM2 2.152C2 .964 2.965 0 4.152 0h10.74c1.188 0 2.152.964 2.152 2.152v15.696A2.152 2.152 0 0 1 14.89 20H4.152A2.153 2.153 0 0 1 2 17.848V2.152z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.521 1.326a.413.413 0 1 0 0 .827.413.413 0 0 0 0-.827z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.521 17.935a.087.087 0 1 0 0-.174.087.087 0 0 0 0 .174zm-.913-.087a.913.913 0 1 1 1.827 0 .913.913 0 0 1-1.827 0z"></path>
                                            </svg>
                                            <defs>
                                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                            </defs>
                                        </svg><span class="ResponseSwitchers__itemText----1jafUN2aZOSTOl7-SyjPuu">Tablet</span>

                                        <div class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementBottom__3QzQt Notification_TMNotification--heightFixedSmall__1Nlia Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--visible__26I_M Notification_TMNotification--arrowPlacementTop__2FtKC ResponseSwitchers__notification----3_fec5UZ-aMJnwC-E1Pe37" role="alert">
                                            <div class="Notification_TMNotification__content__1LUmE ">Desktop</div>
                                        </div>

                                    </button>
                                    <button class="ResponseSwitchers__item----s96PZdmSUzUFM1kZdJHKD ResponseSwitchers__item--desktop----13T1WG68ksXWNm0oYhvA7B">
                                        <svg class="Icon_TMIcon__1G9o_ ResponseSwitchers__itemIcon----1nydqPgG8q77XeWcoSeLLl" aria-label="" width="20" height="20"><svg viewBox="0 0 20 20" id="responseDesktop" width="100%" height="100%"><g><g><path id="responseDesktop_path0_fill" fill-rule="evenodd" d="M1.74 1.063c-.382 0-.74.358-.74.863v13.018c0 .505.358.863.74.863h16.52c.383 0 .74-.357.74-.863V1.926c0-.506-.357-.863-.74-.863H1.74zM0 1.926C0 .891.753 0 1.74 0h16.52C19.249 0 20 .891 20 1.926v13.018c0 1.035-.752 1.926-1.74 1.926H1.74c-.987 0-1.74-.891-1.74-1.926V1.926z"></path></g><g><path id="responseDesktop_path1_fill" fill-rule="evenodd" d="M3.717 19.5a.5.5 0 0 1 .5-.5h11.566a.5.5 0 0 1 0 1H4.216a.5.5 0 0 1-.5-.5z"></path></g><g><path id="responseDesktop_path2_fill" fill-rule="evenodd" d="M10 15.87c.276 0 .5.308.5.688v2.273c0 .38-.224.689-.5.689s-.5-.308-.5-.689v-2.273c0-.38.224-.688.5-.688z"></path></g></g></svg><defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg><span class="ResponseSwitchers__itemText----1jafUN2aZOSTOl7-SyjPuu">Desktop</span>
                                        <div class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementBottom__3QzQt Notification_TMNotification--heightFixedSmall__1Nlia Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--visible__26I_M Notification_TMNotification--arrowPlacementTop__2FtKC ResponseSwitchers__notification----3_fec5UZ-aMJnwC-E1Pe37" role="alert">
                                            <div class="Notification_TMNotification__content__1LUmE ">Desktop</div>
                                        </div>

                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="DemoPanel__chapter--center----lLL3u_sVzi2UPUXci67-i"><span class="Button_TMButton__1Ix3j Button_TMButton--widthAuto__3Rwio Button_TMButton--heightMedium__1M8hE Button_TMButton--roundedAll__GmkJ4 Button_TMButton--bgError__1h4Rt AddToCart----3okEH9ZowfLbSAlisT6XFb"><a href="https://www.templatemonster.com/cart/" aria-label="Cart" class="AddToCart__link----G5lSl2LpM5LlgJYyrJ1Q"><svg class="Icon_TMIcon__1G9o_ AddToCart__icon----2BN35mcEEH6Js6dm9NVYR-" aria-label="" width="20" height="20"><use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#cart"></use><defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg>Add to Cart</a></span></div>
                        <div class="DemoPanel__chapter----1cePAgKSx_lGdQNjJweuTw">
                            <div class="DemoPanel__chapter--wrapper----3Ob-AiRjCh_-W4SIxNwdQ0">
                                <button class="Chat----1CIy1bJGL61H80LBILC-yM">
                                    <svg class="Icon_TMIcon__1G9o_ Chat__icon----21q-sWdaujkb86CjhePVc5" aria-label="" width="20" height="20">
                                        <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#thoughtCloud"></use>
                                        <defs>
                                            <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                        </defs>
                                    </svg><span class="Chat__text----3IZq_HkG0iF_KMwOulmOfH">Start Chat</span>
                                    <div class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementBottom__3QzQt Notification_TMNotification--heightFixedSmall__1Nlia Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--hidden__1uRS8 Notification_TMNotification--arrowPlacementTop__2FtKC Chat__notification----2ZrvImf11vBSDbZ2TLFSAj" role="alert">
                                        <div class="Notification_TMNotification__content__1LUmE ">Start Chat</div>
                                    </div>
                                </button>
                                <article class="DemoPanel__license----ZtaENaTqFZ6kyOHoIbBw6 License----2PfTn_jlGWMJig-hObWmGJ">
                                    <input type="hidden" name="license" value="4">
                                    <input type="hidden" name="price" value="79">
                                    <div class="Dropdown_TMDropdown__27KMl Dropdown_TMDropdown--openPositionBottom__21IS2 Dropdown_TMDropdown--closed__3k_EJ License__dropdown--closed----Hq1s6Ia6l8tnavhoYtw_Y Dropdown_TMDropdown--type6__2UrYx License__dropdown----15z2aDCev381eJJ7F1EQfS" tabindex="-1" role="presentation">
                                        <div class="Dropdown_TMDropdown__button__gaPeS Dropdown_TMDropdown__button--sizeMedium__2jJIT">
                                            <div class="Dropdown_TMDropdown__button--inner__1GJpx">
                                                <div class="Dropdown_TMDropdown__buttonContent__3X7-i">
                                                    <div class="Dropdown_TMDropdown__buttonLabelContent__1LmbM">
                                                        <div class="License__content----2UzA1Av4skzfrhngZagqzR">
                                                            <div class="License__titleContentWrapper----6OepWCMhtxzpoYEEz2Jyg">
                                                                <div class="License__option----i-XXbJKIU7nPT0coKrEzT"><span class="License__optionTitle----38QnmM-WdDiRUOsyjLprxO">Single Site License</span></div>
                                                                <div class="License__description----3Tz3Dn9GrHZOs8STutUvI1" role="button" tabindex="0">
                                                                    <svg class="Icon_TMIcon__1G9o_ License__help----3005PqYm90THvjXaXgy0VY" aria-label="" width="20" height="20">
                                                                        <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#question"></use>
                                                                        <defs>
                                                                            <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                                                        </defs>
                                                                    </svg>
                                                                    <div class="License__wrapper----wpeJ2-YnmE8MjX7spkTdh">
                                                                        <div class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementRight__1LcYG Notification_TMNotification--heightAuto__1hhtN Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--visible__26I_M Notification_TMNotification--arrowPlacementLeft__1XfnB License__message----2JSS1bItat2Zq28-GQeNK8" role="alert">
                                                                            <div class="Notification_TMNotification__content__1LUmE License__messageContent----2sIzc4LXCKnk6LgPm67J7g">Under a Single Site License for the template you are granted a non-exclusive non-transferable permission to use the template on a single domain.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p class="License__price----4qkqL8ndXgi97Ry6bLVty"><span><strong class="FormatCurrency----_wDdzsruEB4GBVuoqMGeu ">$79</strong></span></p>
                                                            </div>
                                                            <p class="License__optionDescription----SkalVsLs6i4JWyuFPjFFn">Under a Single Site License for the template you are granted a non-exclusive non-transferable permission to use the template on a single domain.</p>
                                                        </div>
                                                    </div>
                                                </div><span class="Dropdown_TMDropdown__buttonArrow__2yF_F"></span></div>
                                        </div>
                                    </div>
                                    <div class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementBottom__3QzQt Notification_TMNotification--heightFixedSmall__1Nlia Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--visible__26I_M Notification_TMNotification--arrowPlacementTop__2FtKC License__notification----AcrSgue4OSZQx0XYFem_q" role="alert">
                                        <div class="Notification_TMNotification__content__1LUmE ">Choose the License</div>
                                    </div>
                                </article>
                                <div class="Dropdown----3_xl-kzGPU8L3Wcw5mxdMW DemoPanel__dropdown----d3Gqc0uzcYjfkgLG3L_Xp">
                                    <div class="DropdownContent----1zH7cWR5zhnuS1TuXawxDR DropdownContent--openPosition--bottom----2Rs-CLw6ydWRw9hV8ZbUAZ DropdownContent--horizontalAlign--right----7s8iEvvc4kKGJfgE6Hci9 DropdownContent--hidden----2IsSzYbt8UboN5kBcunTj8" role="presentation">
                                        <ul class="DropdownOptionsList----3ofiq0t16XhEvYKbBLfDVA DemoPanel__services----1-skfg3m0LAv_NtBdPnotl" role="listbox">
                                            <li class="DropdownOption----3FYD3fq6wJavtpvWuo2fqv DropdownOption--height--medium----1dvsGuq7Gc94Jxp4YcQ8Hc DropdownOption--selectable----1seQv1FIaW3fg0dsF4gc6_ DemoPanel__servicesOption----1AUZXXw9R21qywdNtE9_oO" role="option" tabindex="0" aria-selected="false">
                                                <label class="TMQuarkCheckbox----21gJ9WldJJpOd4iVwuXf2o DemoPanel__servicesCheckbox----dpMLk0cu2x70z30Nv8YzT" for="869">
                                                    <input class="TMQuarkCheckbox__input----Ho2Wsd21Ae6jF7G_qWjls" type="checkbox" id="869" name="TT: eCommerce: Storefront Page Design" value="869"><span class="TMQuarkCheckbox__label----MbLoDTz7roYYpZ1e5uzTT" tabindex="0" role="button"><img src="./preview_page_files/storefront-page-design-icon.svg" alt="TT: eCommerce: Storefront Page Design" class="DemoPanel__servicesIcon----1X2ZNVPp1v6L2BT0dqbeJr"><div class="DemoPanel__servicesTitle----3fucthTbYjPVk87zdcaJhj"><span class="DemoPanel__servicesName----oIJpu8--9sicp9BZKkXHL">Storefront Page Design</span><span class="DemoPanel__servicesPrice----28Y4CbP_1CKfqaJFJAi-dj"><strong class="FormatCurrency----_wDdzsruEB4GBVuoqMGeu ">$139</strong></span></div>
                                    </span><i class="TMQuarkCheckbox__icon----2ohWvRb4Xk8G-NIv-rXlTH"></i></label>
                                    </li>
                                    <li class="DropdownOption----3FYD3fq6wJavtpvWuo2fqv DropdownOption--height--medium----1dvsGuq7Gc94Jxp4YcQ8Hc DropdownOption--selectable----1seQv1FIaW3fg0dsF4gc6_ DemoPanel__servicesOption----1AUZXXw9R21qywdNtE9_oO" role="option" tabindex="0" aria-selected="false">
                                        <label class="TMQuarkCheckbox----21gJ9WldJJpOd4iVwuXf2o DemoPanel__servicesCheckbox----dpMLk0cu2x70z30Nv8YzT" for="419">
                                            <input class="TMQuarkCheckbox__input----Ho2Wsd21Ae6jF7G_qWjls" type="checkbox" id="419" name="TT: OpenCart Templates: Speed Booster" value="419"><span class="TMQuarkCheckbox__label----MbLoDTz7roYYpZ1e5uzTT" tabindex="0" role="button"><img src="./preview_page_files/sc-ready-to-use.svg" alt="TT: OpenCart Templates: Speed Booster" class="DemoPanel__servicesIcon----1X2ZNVPp1v6L2BT0dqbeJr"><div class="DemoPanel__servicesTitle----3fucthTbYjPVk87zdcaJhj"><span class="DemoPanel__servicesName----oIJpu8--9sicp9BZKkXHL">Speed Booster</span><span class="DemoPanel__servicesPrice----28Y4CbP_1CKfqaJFJAi-dj"><strong class="FormatCurrency----_wDdzsruEB4GBVuoqMGeu ">$99</strong></span></div>
                                </span><i class="TMQuarkCheckbox__icon----2ohWvRb4Xk8G-NIv-rXlTH"></i></label>
                                </li>
                                <li class="DropdownOption----3FYD3fq6wJavtpvWuo2fqv DropdownOption--height--medium----1dvsGuq7Gc94Jxp4YcQ8Hc DropdownOption--selectable----1seQv1FIaW3fg0dsF4gc6_ DemoPanel__servicesOption----1AUZXXw9R21qywdNtE9_oO" role="option" tabindex="0" aria-selected="false">
                                    <label class="TMQuarkCheckbox----21gJ9WldJJpOd4iVwuXf2o DemoPanel__servicesCheckbox----dpMLk0cu2x70z30Nv8YzT" for="294">
                                        <input class="TMQuarkCheckbox__input----Ho2Wsd21Ae6jF7G_qWjls" type="checkbox" id="294" name="TT: ZM: Opencart Templates: Quick Store Setup" value="294"><span class="TMQuarkCheckbox__label----MbLoDTz7roYYpZ1e5uzTT" tabindex="0" role="button"><img src="./preview_page_files/installing-configuring-store-extended-logo.svg" alt="TT: ZM: Opencart Templates: Quick Store Setup" class="DemoPanel__servicesIcon----1X2ZNVPp1v6L2BT0dqbeJr"><div class="DemoPanel__servicesTitle----3fucthTbYjPVk87zdcaJhj"><span class="DemoPanel__servicesName----oIJpu8--9sicp9BZKkXHL">Quick Store Setup</span><span class="DemoPanel__servicesPrice----28Y4CbP_1CKfqaJFJAi-dj"><strong class="FormatCurrency----_wDdzsruEB4GBVuoqMGeu ">$99</strong></span></div>
                            </span><i class="TMQuarkCheckbox__icon----2ohWvRb4Xk8G-NIv-rXlTH"></i></label>
                            </li>
                            <li class="DropdownOption----3FYD3fq6wJavtpvWuo2fqv DropdownOption--height--medium----1dvsGuq7Gc94Jxp4YcQ8Hc DropdownOption--selectable----1seQv1FIaW3fg0dsF4gc6_ DemoPanel__servicesOption----1AUZXXw9R21qywdNtE9_oO" role="option" tabindex="0" aria-selected="false">
                                <label class="TMQuarkCheckbox----21gJ9WldJJpOd4iVwuXf2o DemoPanel__servicesCheckbox----dpMLk0cu2x70z30Nv8YzT" for="136">
                                    <input class="TMQuarkCheckbox__input----Ho2Wsd21Ae6jF7G_qWjls" type="checkbox" id="136" name="TT : Opencart Templates: Installation" value="136"><span class="TMQuarkCheckbox__label----MbLoDTz7roYYpZ1e5uzTT" tabindex="0" role="button"><img src="./preview_page_files/sc-installation.svg" alt="TT : Opencart Templates: Installation" class="DemoPanel__servicesIcon----1X2ZNVPp1v6L2BT0dqbeJr"><div class="DemoPanel__servicesTitle----3fucthTbYjPVk87zdcaJhj"><span class="DemoPanel__servicesName----oIJpu8--9sicp9BZKkXHL">Installation</span><span class="DemoPanel__servicesPrice----28Y4CbP_1CKfqaJFJAi-dj"><strong class="FormatCurrency----_wDdzsruEB4GBVuoqMGeu ">$49</strong></span></div>
                        </span><i class="TMQuarkCheckbox__icon----2ohWvRb4Xk8G-NIv-rXlTH"></i></label>
                        </li><span class="Button_TMButton__1Ix3j Button_TMButton--widthFull__38hz5 Button_TMButton--heightMedium__1M8hE Button_TMButton--roundedBottom__26TL5 Button_TMButton--bgImportant__3jt0F DemoPanel__addServices----3brs_rjKQuVXdO3egLT_Vh"><a href="https://www.templatemonster.com/cart/" aria-label="Cart" class="AddToCart__link----G5lSl2LpM5LlgJYyrJ1Q"><svg class="Icon_TMIcon__1G9o_ DemoPanel__addServicesIcon----2lMC8bKOOhS0COvGzm4mzY" aria-label="" width="20" height="20"><use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#cart"></use><defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg> Add Following Services to Your Order</a></span></ul>
                    </div>
                    <button class="DropdownContentToggleButton----2VeU9FTd8c91BRFxQ2HX9a DropdownContentToggleButton--height--medium----i6SpRiYdZbhTz8x1tBSGF" type="button" aria-label="LiveDemo services"><span class="DropdownContentToggleButton__content----1hNFUqpnRQu-zP4JfWPzGj DropdownContentToggleButton__content--height--medium----1nJ33aqACFpBghdmYgZC5m"><span class="DropdownContentToggleButton__label----1r5p0MTB0mdoRTm36IheMX"><p class="DemoPanel__dropdownTitle----23ClWI8jyOuDav7UaLNcY3"><svg class="Icon_TMIcon__1G9o_ DemoPanel__dropdownIcon----2hpVRqNVqUB9ViCEnu_DEc" aria-label="" width="14" height="14"><use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#bagV2"></use><defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg><span class="DemoPanel__dropdownTitle--short----3h_eNbuzLQi53OzErWDw1L">Popular</span><span> services </span><span class="DemoPanel__dropdownTitle--full----2AvvqH6SdJkNUux9LBeSGB">available for this item</span></p>
                        </span>
                        </span>
                    </button>
                </div>
            </div>
            <button class="TMLibraryLike----1h6V1X0gTxqhZ3XeWKYD28 DemoPanel__collection----1jR06hR1lbXnXv_fTQsIsz" type="button">
                <svg class="Icon_TMIcon__1G9o_ TMLibraryLike__icon----RlWo7Zf4k1xG9WSnzcSe4 TMLibraryLike__icon--normal----2jWjx2FkYqOdUnQr0yGvPw" aria-label="" width="20" height="20">
                    <svg viewBox="0 0 20 20" id="heart" width="100%" height="100%">
                        <g transform="translate(0 1)">
                            <path id="heart_path0_fill" d="M10.607 15.73a23.179 23.179 0 0 1 1.716-1.538c.347-.287 1.628-1.322 1.881-1.53C17.558 9.908 19 7.983 19 5.53c0-4.794-6.128-6.205-8.106-2.254L10 5.063l-.894-1.787C7.129-.674 1 .733 1 5.53c0 2.453 1.442 4.377 4.796 7.131.253.209 1.532 1.242 1.879 1.528.713.59 1.25 1.068 1.714 1.536.224.225.427.446.611.665.183-.217.385-.437.607-.66zM9.387 1.872c.22.278.535.8.613.956a9.3 9.3 0 0 1 .613-.957C13.459-1.653 20-.07 20 5.53c0 6.006-8.253 9.035-10 12.647C8.254 14.564 0 11.536 0 5.53 0-.076 6.543-1.65 9.387 1.873z"></path>
                        </g>
                    </svg>
                    <defs>
                        <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                    </defs>
                </svg><span class="DemoPanel__collection--text----3TxXfa6f1uJWiJq2_-zmas">Add to Collection</span><span class="TMLibraryLike__popover----3d-mRe9vtSp6_tZDHds5Hk">Add to Collection</span></button>
        </div>
    </div>
    </div>
    <div class="DemoPanel__closePanel----3hhGLU9_McVSD3lB0CTcYE" role="button" tabindex="0">
        <svg class="Icon_TMIcon__1G9o_ DemoPanel__icon--close----2Z0A1-E-H_CptLN2Oj9XzJ" aria-label="" width="20" height="20">
            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#arrowLeft"></use>
            <defs>
                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
            </defs>
        </svg>
    </div>
    <div class="DemoTemplate----3_Bkg3lzQsnI2_acskvBXu DemoTemplate--mobile----2SjLSl72YysFR1GOBknXz_">
        <div class="DemoTemplate__image----3Zv3PsUVqRktLukLv1eYOi">
            <div class="DemoTemplate__frameWrap----1YkUWY9MGz3KmrvlDlRZ-J">
                <iframe class="DemoTemplate__frame----2MvumAp9uf1K73jesa2xuF DemoPanel__frame--animated----hfNj93_ndx1VpjPORLvWq" title="Preview Template" src="http://template3.websiteday.net" style="height: 495px;"></iframe>
            </div>
        </div>
    </div>
    </div>
    <div class="LiveChat----3XbVe9fYY6RoZxBN_oe9ZM" style="bottom: 40px;">
        <button class="LiveChatAvatar----3_F9rM5lNCsv0TNNYRqKkP LiveChatAvatar--show----34YpS82eiwaLqvCjTk1BWv" type="button" tabindex="0"><img class="LiveChatAvatar__image----2VCmhlRBc69KtzSBMX4EI1" src="./preview_page_files/en_10.png" alt="Operator"><img class="LiveChatAvatar__image----2VCmhlRBc69KtzSBMX4EI1 LiveChatAvatar__image--hover----3INFGgAOFpb8g8BSWq81QF" src="./preview_page_files/en_10(1).png" alt="Operator"><span class="LiveChatAvatar__popover----1WyQ-_OVnx72Lt0UdCiGRu">Hey, I'm ready to help you!</span></button>
        <div class="AnimatedCircles----2EHSybB8C0KAZgDE-epsyU AnimatedCircles--show----2w8qhNw0CFMVmWW7VFqOGp">
            <div class="AnimatedCircles__circle----Ai8qctfUsbiD_6I1hDl8A AnimatedCircles__circle--first----1TCqpxVQk2-kbrt9DTZC9L"></div>
            <div class="AnimatedCircles__circle----Ai8qctfUsbiD_6I1hDl8A AnimatedCircles__circle--second----1zvDZA_44j1MO5oxNWznMl"></div>
            <div class="AnimatedCircles__circle----Ai8qctfUsbiD_6I1hDl8A AnimatedCircles__circle--third----3fwJJomI1I9fU1AQ0RsaDz"></div>
        </div>
        <div>
            <div class="LiveChatWindow----2dQR88t_Pxm2pw--oRw1uv">
                <div class="LiveChatWindow__content----1ianyXcmAsC2o1RKhNgtE5">
                    <div class="LiveChatWindow__header----clbwACtoqqb-W4sM5zkN8">
                        <div class="LiveChatWindow__locale----3uV5OBAFw_XIWGQk9aYuZr">
                            <div class="LiveChatLocales----3_SjnrZChJpuewbzYfIiwS">
                                <div class="Dropdown----3_xl-kzGPU8L3Wcw5mxdMW">
                                    <div class="DropdownContent----1zH7cWR5zhnuS1TuXawxDR DropdownContent--openPosition--bottom----2Rs-CLw6ydWRw9hV8ZbUAZ DropdownContent--horizontalAlign--left----22HlNnZaOYXsRrQhkMwvPv DropdownContent--hidden----2IsSzYbt8UboN5kBcunTj8 LiveChatLocales__dropdownContent----1j_Rx4eqQGeSDoKTduKf23" role="presentation">
                                        <ul class="DropdownOptionsList----3ofiq0t16XhEvYKbBLfDVA" role="listbox">
                                            <li class="DropdownOption----3FYD3fq6wJavtpvWuo2fqv DropdownOption--height--medium----1dvsGuq7Gc94Jxp4YcQ8Hc DropdownOption--selectable----1seQv1FIaW3fg0dsF4gc6_" role="option" tabindex="0" aria-selected="false"><span class="LiveChatLocales__content----11avHd9HYa6QAB1CwoJ8Y7"><svg class="Icon_TMIcon__1G9o_ LiveChatLocales__image----2uXafN-dGtXsQM3g85H1B8" aria-label="" width="20" height="20"><use xlink:href="/flags.622552b477f618370388f6871a39d144.svg#united_states"></use><defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg><span class="LiveChatLocales__locale----w-DaQQhpuj3oUqfTXtzXz">EN</span></span>
                                            </li>
                                            <li class="DropdownOption----3FYD3fq6wJavtpvWuo2fqv DropdownOption--height--medium----1dvsGuq7Gc94Jxp4YcQ8Hc DropdownOption--selectable----1seQv1FIaW3fg0dsF4gc6_" role="option" tabindex="0" aria-selected="false"><span class="LiveChatLocales__content----11avHd9HYa6QAB1CwoJ8Y7"><svg class="Icon_TMIcon__1G9o_ LiveChatLocales__image----2uXafN-dGtXsQM3g85H1B8" aria-label="" width="20" height="20"><use xlink:href="/flags.622552b477f618370388f6871a39d144.svg#russian_federation"></use><defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg><span class="LiveChatLocales__locale----w-DaQQhpuj3oUqfTXtzXz">RU</span></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="LiveChatLocales__button----jQikxMsff8Ru7NxM190MV DropdownContentToggleButton----2VeU9FTd8c91BRFxQ2HX9a DropdownContentToggleButton--height--small----BJ1EWwlYk2H2fFyC00hAm" type="button" aria-label="en"><span class="DropdownContentToggleButton__content----1hNFUqpnRQu-zP4JfWPzGj DropdownContentToggleButton__content--height--small----1ho0tkqnIsVufmofmNLjm6"><span class="DropdownContentToggleButton__label----1r5p0MTB0mdoRTm36IheMX"><div class="LiveChatLocales__content----11avHd9HYa6QAB1CwoJ8Y7"><svg class="Icon_TMIcon__1G9o_ LiveChatLocales__image----2uXafN-dGtXsQM3g85H1B8" aria-label="" width="20" height="20"><use xlink:href="/flags.622552b477f618370388f6871a39d144.svg#united_states"></use><defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg><span class="LiveChatLocales__locale----w-DaQQhpuj3oUqfTXtzXz">EN</span></div>
                                </span>
                                </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="LiveChatWindow__title----2xFQU-3pgRBWAeA6owe1ST">Billing</div>
                </div>
                <div class="LiveChatWindow__slidesWrap----2m8I5U6J9qEBat1_hsCcTq">
                    <div class="LiveChatWindow__slides----n4QBrpw3TEvI5Kb_DZKG9" style="transform: translate(0px, 0px);">
                        <div class="LiveChatWindow__slide----2hYmUZ43LcphDW8mCtCbjO LiveChatWindow__slide--noActive----2dYhXQiywdZ2ZL9MVi9CnR">
                            <div class="LiveChatCallback----2ork8XvN8XqKO9MfstSL-t">
                                <form class="LiveChatCallback__form----2qlDG1nx52PIkbVDanDKfI">
                                    <p class="LiveChatCallback__title----3O0b9qoy35W9aG59HFePt1">Do you prefer live communication?<span class="LiveChatCallback__subTitle----2i2bK7F2mq9tA4QJKl47Cf">We can call you at the number you've entered:</span></p>
                                    <div class="IntlTelField----QI3dZqDjgVDY3rv0D_5NW">
                                        <div class="FormFields----1pMIXQxVPD8YdkRPIWCqK4">
                                            <div class="Dropdown_TMDropdown__27KMl Dropdown_TMDropdown--openPositionBottom__21IS2 Dropdown_TMDropdown--closed__3k_EJ Dropdown_TMDropdown--type3__E02zD IntlTelField__dropdown----3KGCRMaJCQsGBK_z2eK81g" id="numberDropdown" name="phoneDropdown" tabindex="-1" role="presentation"><span class="Dropdown_TMDropdown__label__18Beh Dropdown_TMDropdown__label--sizeSmall__w_S5K"></span>
                                                <button class="Dropdown_TMDropdown__button__gaPeS Dropdown_TMDropdown__button--sizeLarge__12NGo">
                                                    <div class="Dropdown_TMDropdown__button--inner__1GJpx">
                                                        <div class="Dropdown_TMDropdown__buttonContent__3X7-i"><i class="
                        Dropdown_TMDropdown__icon--sizeMedium__3wcpC
                        icon
                        icon-TMLibraryCountryFlag----2PczdEJ2NCJZDrXgOiBO0U TMLibraryCountryFlag__icon----3222npkFin2vZhrEMnuo07 TMLibraryCountryFlag__icon--code--us----3nngsj0M1iRUaD1q1tyOS_
                      "></i>
                                                            <div class="Dropdown_TMDropdown__buttonLabelContent__1LmbM">
                                                                <p><span class="IntlTelField__countryCode----2y6xgl_h0wJ1zTgGDY138g">+1</span><span class="IntlTelField__countryName----1kAV3__gxB0YzpieqeRk9B">United States</span></p>
                                                            </div>
                                                        </div><span class="Dropdown_TMDropdown__buttonArrow__2yF_F"></span></div>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="FormFields----1pMIXQxVPD8YdkRPIWCqK4">
                                            <label class="Field_TMField__3GHAg Field_TMField--sizeLarge__1rMVv" for="jx19xjfd">
                                                <input name="phoneInput" class="Field_TMField__input__2QXzD Field_TMField__input--sizeLarge__2nV2O Field_TMField__input--withLabel__399sb Field_TMField__input--empty__3a7Nl undefined IntlTelField__input----1eWqpM3fNaMXeCunEwO3CP" type="text" placeholder="Enter your phone" id="jx19xjfd" value=""><span class="Field_TMField__label__35Ayn">Enter your phone</span></label>
                                        </div>
                                    </div>
                                    <button type="submit" class="Button_TMButton__1Ix3j Button_TMButton--widthFull__38hz5 Button_TMButton--heightMedium__1M8hE Button_TMButton--roundedAll__GmkJ4 Button_TMButton--bgImportant__3jt0F LiveChatCallback__button----1JJeeogfsGHwgh3A5IvAti">
                                        <svg class="Icon_TMIcon__1G9o_ LiveChatCallback__buttonIcon----1kgv2sdwohGU-bbUbKF-7D" aria-label="" width="20" height="20">
                                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#thoughtCloud"></use>
                                            <defs>
                                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                            </defs>
                                        </svg><span>Call me back!</span></button>
                                    <div class="LiveChatPolicy----2VrLcxKlcfb-ia9hPEHt9s">By clicking the button, you agree to the <a class="LiveChatPolicy__link----3i2TtZsk4kzH29_G7OZvf0" href="https://www.templatemonster.com/privacy-policy.php" rel="noopener noreferrer" target="_blank">Privacy Policy</a> and <a class="LiveChatPolicy__link----3i2TtZsk4kzH29_G7OZvf0" href="https://www.templatemonster.com/terms.php" rel="noopener noreferrer" target="_blank">Terms of Use</a></div>
                                </form>
                            </div>
                        </div>
                        <div class="LiveChatWindow__slide----2hYmUZ43LcphDW8mCtCbjO">
                            <div class="LiveChatBilling----2ph_hbeyOox-6cw2NQK8J5">
                                <form class="LiveChatBilling__form----2XgAT66IfPlXzRYWoeuqkQ">
                                    <p class="LiveChatBilling__describe----2NhMr8ahPBp1oIDIP8b3bM">Is there any billing problem?</p>
                                    <p class="LiveChatBilling__describe----2NhMr8ahPBp1oIDIP8b3bM">Let us resolve it.</p>
                                    <label class="Field_TMField__3GHAg Field_TMField--sizeMedium__3XymA LiveChatBilling__field----1Pc_MFYAe0HINT7g3UV7BT" for="jx19xjfd">
                                        <input name="orderID" class="Field_TMField__input__2QXzD Field_TMField__input--sizeMedium__261zF Field_TMField__input--empty__3a7Nl undefined Field_TMField__input--withIcon__3TsZD LiveChatBilling__input----3dDiYF1BKcr9a-go0-1KDq" type="text" placeholder="Transaction ID (optional)" id="jx19xjfd" value="">
                                        <svg class="Icon_TMIcon__1G9o_ Field_TMField__icon__1qapW Field_TMField__icon--typeFieldType__3b28y" aria-label="" width="20" height="20">
                                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#transaction"></use>
                                            <defs>
                                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                            </defs>
                                        </svg>
                                    </label>
                                    <label class="Field_TMField__3GHAg Field_TMField--sizeMedium__3XymA LiveChatBilling__fieldName----i5c4JbpmNgsxLbQaGoBXw" for="jx19xjfd">
                                        <input name="name" class="Field_TMField__input__2QXzD Field_TMField__input--sizeMedium__261zF Field_TMField__input--empty__3a7Nl undefined Field_TMField__input--withIcon__3TsZD" type="text" placeholder="Name" id="jx19xjfd" value="">
                                        <svg class="Icon_TMIcon__1G9o_ Field_TMField__icon__1qapW Field_TMField__icon--typeFieldType__3b28y" aria-label="" width="20" height="20">
                                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#account"></use>
                                            <defs>
                                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                            </defs>
                                        </svg>
                                    </label>
                                    <label class="Field_TMField__3GHAg Field_TMField--sizeMedium__3XymA LiveChatBilling__fieldEmail----Fs8qw2Lz7i-eih9vCGbU0" for="jx19xjfd">
                                        <input name="email" class="Field_TMField__input__2QXzD Field_TMField__input--sizeMedium__261zF Field_TMField__input--empty__3a7Nl undefined Field_TMField__input--withIcon__3TsZD" type="text" placeholder="Email address" id="jx19xjfd" value="">
                                        <svg class="Icon_TMIcon__1G9o_ Field_TMField__icon__1qapW Field_TMField__icon--typeFieldType__3b28y" aria-label="" width="20" height="20">
                                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#email"></use>
                                            <defs>
                                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                            </defs>
                                        </svg>
                                    </label>
                                    <button type="submit" class="Button_TMButton__1Ix3j Button_TMButton--widthFull__38hz5 Button_TMButton--heightMedium__1M8hE Button_TMButton--roundedAll__GmkJ4 Button_TMButton--bgImportant__3jt0F LiveChatBilling__button----A5epgsigdoo1Q8WXqmvQn">
                                        <svg class="Icon_TMIcon__1G9o_ LiveChatBilling__buttonIcon----2Tb31SuBlPyDxTMclxpvoM" aria-label="" width="20" height="20">
                                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#thoughtCloud"></use>
                                            <defs>
                                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                            </defs>
                                        </svg>Start chat</button>
                                    <div class="LiveChatPolicy----2VrLcxKlcfb-ia9hPEHt9s">By clicking the button, you agree to the <a class="LiveChatPolicy__link----3i2TtZsk4kzH29_G7OZvf0" href="https://www.templatemonster.com/privacy-policy.php" rel="noopener noreferrer" target="_blank">Privacy Policy</a> and <a class="LiveChatPolicy__link----3i2TtZsk4kzH29_G7OZvf0" href="https://www.templatemonster.com/terms.php" rel="noopener noreferrer" target="_blank">Terms of Use</a></div>
                                </form>
                            </div>
                        </div>
                        <div class="LiveChatWindow__slide----2hYmUZ43LcphDW8mCtCbjO">
                            <div class="LiveChatSupport----2ybq5uATrHfEWwCaphoU8b">
                                <form class="LiveChatSupport__form----2rBq74jefbfxEYxYl9_8-R">
                                    <p class="LiveChatSupport__describe----1Gia950v6Zu_sHsjUFjyWK">Do you have questions about the product you've purchased?</p>
                                    <p class="LiveChatSupport__describe----1Gia950v6Zu_sHsjUFjyWK">We'll gladly help you to sort out the problem.</p>
                                    <label class="Field_TMField__3GHAg Field_TMField--sizeMedium__3XymA LiveChatSupport__field----2ujon5uurqkKxCCEhcf2v4" for="jx19xjfd">
                                        <input name="orderId" class="Field_TMField__input__2QXzD Field_TMField__input--sizeMedium__261zF Field_TMField__input--empty__3a7Nl undefined Field_TMField__input--withIcon__3TsZD LiveChatSupport__input----18ZCzNyImNwA31NTjbOOsf" type="text" placeholder="Order ID" id="jx19xjfd" value="">
                                        <svg class="Icon_TMIcon__1G9o_ Field_TMField__icon__1qapW Field_TMField__icon--typeFieldType__3b28y" aria-label="" width="20" height="20">
                                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#transaction"></use>
                                            <defs>
                                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                            </defs>
                                        </svg>
                                    </label>
                                    <div class="Dropdown----3_xl-kzGPU8L3Wcw5mxdMW LiveChatSupport__dropdown----3b_u6D2Lv3oQrbSbiDHXxQ LiveChatSupport__dropdown--disabled----1V-7l5nEydfu8Bm3Flj9Sb">
                                        <div class="DropdownContent----1zH7cWR5zhnuS1TuXawxDR DropdownContent--openPosition--bottom----2Rs-CLw6ydWRw9hV8ZbUAZ DropdownContent--horizontalAlign--right----7s8iEvvc4kKGJfgE6Hci9 DropdownContent--hidden----2IsSzYbt8UboN5kBcunTj8" role="presentation">
                                            <ul class="DropdownOptionsList----3ofiq0t16XhEvYKbBLfDVA LiveChatSupport__dropdownProducts----36Hw6kg3rKSJzic65r7kpE" role="listbox">
                                                <div></div>
                                            </ul>
                                        </div>
                                        <button class="DropdownContentToggleButton----2VeU9FTd8c91BRFxQ2HX9a DropdownContentToggleButton--height--small----BJ1EWwlYk2H2fFyC00hAm" type="button" aria-label="Choose a product"><span class="DropdownContentToggleButton__content----1hNFUqpnRQu-zP4JfWPzGj DropdownContentToggleButton__content--height--small----1ho0tkqnIsVufmofmNLjm6"><span class="DropdownContentToggleButton__label----1r5p0MTB0mdoRTm36IheMX"><p class="LiveChatSupport__dropdownTitle----SsHGIUgbOeGMfM9LZskqy"><svg class="Icon_TMIcon__1G9o_ LiveChatSupport__dropdownIcon----IJS37K2Ns2LzAz1F7BNNu" aria-label="" width="20" height="20"><use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#bagV1"></use><defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg>Choose a product</p></span></span>
                                        </button>
                                    </div>
                                    <button type="submit" class="Button_TMButton__1Ix3j Button_TMButton--widthFull__38hz5 Button_TMButton--heightMedium__1M8hE Button_TMButton--roundedAll__GmkJ4 Button_TMButton--bgImportant__3jt0F LiveChatSupport__button----2uiHaFg9_BtQ8SAYqajHOP">
                                        <svg class="Icon_TMIcon__1G9o_ LiveChatSupport__buttonIcon----1I8qK2MELXO8wxQ3P3fGGu" aria-label="" width="20" height="20">
                                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#thoughtCloud"></use>
                                            <defs>
                                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                            </defs>
                                        </svg>Start chat</button>
                                    <div class="LiveChatPolicy----2VrLcxKlcfb-ia9hPEHt9s">By clicking the button, you agree to the <a class="LiveChatPolicy__link----3i2TtZsk4kzH29_G7OZvf0" href="https://www.templatemonster.com/privacy-policy.php" rel="noopener noreferrer" target="_blank">Privacy Policy</a> and <a class="LiveChatPolicy__link----3i2TtZsk4kzH29_G7OZvf0" href="https://www.templatemonster.com/terms.php" rel="noopener noreferrer" target="_blank">Terms of Use</a></div>
                                </form>
                            </div>
                        </div>
                        <div class="LiveChatWindow__slide----2hYmUZ43LcphDW8mCtCbjO">
                            <form class="LiveChatAssistant----36tREoIN6P9kCJhWVT3ay-">
                                <p class="LiveChatAssistant__title----158QK6n1sSfmyv98HJsOyT"> Have questions regarding product selection?</p>
                                <p class="LiveChatAssistant__title----158QK6n1sSfmyv98HJsOyT LiveChatAssistant__title--indent----1xrW_aNwGDCPKIBCxWS7R-">We will gladly help you in choosing the most suitable product for you.</p>
                                <label class="Field_TMField__3GHAg Field_TMField--sizeMedium__3XymA LiveChatAssistant__field----CXszZfiBG4a5AcZK3ksif" for="jx19xjfd">
                                    <input name="name" class="Field_TMField__input__2QXzD Field_TMField__input--sizeMedium__261zF Field_TMField__input--empty__3a7Nl undefined Field_TMField__input--withIcon__3TsZD" type="text" placeholder="Name" id="jx19xjfd" value="">
                                    <svg class="Icon_TMIcon__1G9o_ Field_TMField__icon__1qapW Field_TMField__icon--typeFieldType__3b28y" aria-label="" width="20" height="20">
                                        <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#account"></use>
                                        <defs>
                                            <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                        </defs>
                                    </svg>
                                </label>
                                <label class="Field_TMField__3GHAg Field_TMField--sizeMedium__3XymA LiveChatAssistant__field----CXszZfiBG4a5AcZK3ksif" for="jx19xjfd">
                                    <input name="email" class="Field_TMField__input__2QXzD Field_TMField__input--sizeMedium__261zF Field_TMField__input--empty__3a7Nl undefined Field_TMField__input--withIcon__3TsZD" type="text" placeholder="Email address" id="jx19xjfd" value="">
                                    <svg class="Icon_TMIcon__1G9o_ Field_TMField__icon__1qapW Field_TMField__icon--typeFieldType__3b28y" aria-label="" width="20" height="20">
                                        <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#email"></use>
                                        <defs>
                                            <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                        </defs>
                                    </svg>
                                </label>
                                <button class="LiveChatAssistant__button--hide----3YHKULLs8PLC8N5RWkfgwg"></button>
                                <button type="submit" class="Button_TMButton__1Ix3j Button_TMButton--widthFull__38hz5 Button_TMButton--heightMedium__1M8hE Button_TMButton--roundedAll__GmkJ4 Button_TMButton--bgImportant__3jt0F LiveChatAssistant__button----37I0AdiFDqRaGyFEWp14Hy">
                                    <svg class="Icon_TMIcon__1G9o_ LiveChatAssistant__buttonIcon----2d-4noyubAsVx4jU9lmqaM" aria-label="" width="20" height="20">
                                        <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#thoughtCloud"></use>
                                        <defs>
                                            <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                        </defs>
                                    </svg><span>Start chat</span></button>
                                <div class="LiveChatPolicy----2VrLcxKlcfb-ia9hPEHt9s">By clicking the button, you agree to the <a class="LiveChatPolicy__link----3i2TtZsk4kzH29_G7OZvf0" href="https://www.templatemonster.com/privacy-policy.php" rel="noopener noreferrer" target="_blank">Privacy Policy</a> and <a class="LiveChatPolicy__link----3i2TtZsk4kzH29_G7OZvf0" href="https://www.templatemonster.com/terms.php" rel="noopener noreferrer" target="_blank">Terms of Use</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="LiveChatWindow__navigation----2xbMvfu0spgtacyQLjQ0x4">
                <button class="LiveChatWindow__hide----fCzw72djUyRUARNY2XOg4" type="button" tabindex="0">
                    <svg class="Icon_TMIcon__1G9o_ LiveChatWindow__hideIcon----irsWa9rFl7_Zjjstyrn4t" aria-label="" width="20" height="20">
                        <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#arrowDown"></use>
                        <defs>
                            <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                        </defs>
                    </svg>
                </button>
                <div class="LiveChatWindow__switchers----12aJqIwywJfgvNkhKD5pe3">
                    <button class="LiveChatWindow__switcher----2vFjeosOmjGPcimjU9ivAz LiveChatWindow__switcher--noActive----3hTIh6nawtl6cnajcbz-RG LiveChatWindow__switcher--active----2sMOe0i6nxnNmw49fu1Lad" type="button" tabindex="0">
                        <svg class="Icon_TMIcon__1G9o_ LiveChatWindow__switcherIcon----EvdfFzTR4x3G3dIh0IioO" aria-label="" width="20" height="20">
                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#phoneCall"></use>
                            <defs>
                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                            </defs>
                        </svg>
                        <svg class="Icon_TMIcon__1G9o_ LiveChatWindow__switcherIcon----EvdfFzTR4x3G3dIh0IioO LiveChatWindow__switcherIcon--hover----13XmDG7sX1VXBE3J4j3d6d" aria-label="" width="20" height="20">
                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#phoneCall"></use>
                            <defs>
                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                            </defs>
                        </svg><span class="LiveChatWindow__switcherTitle----IUqPj0CISlty_pTTmoIp9">Callback</span></button>
                    <button class="LiveChatWindow__switcher----2vFjeosOmjGPcimjU9ivAz LiveChatWindow__switcher--active----2sMOe0i6nxnNmw49fu1Lad" type="button" tabindex="0">
                        <svg class="Icon_TMIcon__1G9o_ LiveChatWindow__switcherIcon----EvdfFzTR4x3G3dIh0IioO" aria-label="" width="20" height="20">
                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#walletV1Color"></use>
                            <defs>
                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                            </defs>
                        </svg>
                        <svg class="Icon_TMIcon__1G9o_ LiveChatWindow__switcherIcon----EvdfFzTR4x3G3dIh0IioO LiveChatWindow__switcherIcon--hover----13XmDG7sX1VXBE3J4j3d6d" aria-label="" width="20" height="20">
                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#walletV1"></use>
                            <defs>
                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                            </defs>
                        </svg><span class="LiveChatWindow__switcherTitle----IUqPj0CISlty_pTTmoIp9">Billing</span></button>
                    <button class="LiveChatWindow__switcher----2vFjeosOmjGPcimjU9ivAz" type="button" tabindex="0">
                        <svg class="Icon_TMIcon__1G9o_ LiveChatWindow__switcherIcon----EvdfFzTR4x3G3dIh0IioO" aria-label="" width="20" height="20">
                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#supportColor"></use>
                            <defs>
                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                            </defs>
                        </svg>
                        <svg class="Icon_TMIcon__1G9o_ LiveChatWindow__switcherIcon----EvdfFzTR4x3G3dIh0IioO LiveChatWindow__switcherIcon--hover----13XmDG7sX1VXBE3J4j3d6d" aria-label="" width="20" height="20">
                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#support"></use>
                            <defs>
                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                            </defs>
                        </svg><span class="LiveChatWindow__switcherTitle----IUqPj0CISlty_pTTmoIp9">Support</span></button>
                    <button class="LiveChatWindow__switcher----2vFjeosOmjGPcimjU9ivAz" type="button" tabindex="0">
                        <svg class="Icon_TMIcon__1G9o_ LiveChatWindow__switcherIcon----EvdfFzTR4x3G3dIh0IioO" aria-label="" width="20" height="20">
                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#assistantColor"></use>
                            <defs>
                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                            </defs>
                        </svg>
                        <svg class="Icon_TMIcon__1G9o_ LiveChatWindow__switcherIcon----EvdfFzTR4x3G3dIh0IioO LiveChatWindow__switcherIcon--hover----13XmDG7sX1VXBE3J4j3d6d" aria-label="" width="20" height="20">
                            <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#assistant"></use>
                            <defs>
                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                            </defs>
                        </svg><span class="LiveChatWindow__switcherTitle----IUqPj0CISlty_pTTmoIp9">Pre-sales</span></button>
                    <div class="LiveChatWindow__line----3nKTExC6VecP78YkxaMuH2" style="top: 0px;"></div>
                </div>
            </div>
            <div class="LiveChatWindow__notificationWrapper----25Mmciab10Y6Su9v2RiOzu"></div>
        </div>
    </div>
    </div>
    </div>
    </div>