<div class="shop-page-title category-page-title page-title ">

	<div class="page-title-inner flex-row  medium-flex-wrap container">
	  <div class="flex-col flex-grow medium-text-center">
	  	 	 <div class="is-large">
  <nav class="woocommerce-breadcrumb breadcrumbs"><a href="<?=BASE_URL?>">Trang chủ</a> <span class="divider">/</span> Giao Diện</nav></div>
	  </div><!-- .flex-left -->
	  
	   <div class="flex-col medium-text-center" style="display:none">
	  	 	<p class="woocommerce-result-count hide-for-medium">
	Showing 1–12 of 35 results</p>
<form class="woocommerce-ordering" method="get">
	<select name="orderby" class="orderby">
					<option value="popularity" selected="selected">Sort by popularity</option>
					<option value="rating">Sort by average rating</option>
					<option value="date">Sort by newness</option>
					<option value="price">Sort by price: low to high</option>
					<option value="price-desc">Sort by price: high to low</option>
			</select>
	</form>
	   </div><!-- .flex-right -->
	   
	</div><!-- flex-row -->
</div>

<main id="main" class="">
   <div class="row category-page-row">
      <div class="col large-12">
         <div class="shop-container">
            <div class="products row row-small large-columns-4 medium-columns-3 small-columns-2">
               <?php
                    $themes = $this->themes;
                    foreach($themes as $theme ) {
                        $link = BASE_URL . "/giao-dien/" . Common::getDetailURL($theme["name"],$theme["id"]);
                ?>
                
                    <div class="product-small col has-hover post-3143 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-kinh-doanh-o-to product_tag-thiet-ke-web-mua-ban-o-to first instock shipping-taxable product-type-external">
                  <div class="col-inner">
                     <div class="badge-container absolute left top z-1"></div>
                     <div class="product-small box ">
                        <div class="box-image">
                           <div class="image-fade_in_back">
                              <a href="<?=$link?>">
                              <img width="300" height="386" src="<?=IMAGE_URL?>/<?=$theme["image"]?>295x380.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="<?=$theme["name"]?>" title="<?=$theme["name"]?>">				</a>
                           </div>
                           <div class="image-tools is-small top right show-on-hover">
                           </div>
                           <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                           </div>
                           <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                           </div>
                        </div>
                        <!-- box-image -->
                        <div class="box-text box-text-products">
                           <div class="title-wrapper">
                              <p class="name product-title"><a href="<?=$link?>"><?=$theme["name"]?></a></p>
                           </div>
                           <div class="price-wrapper" style="display:block">
                              <span class="price" style="display:block">Giá: <span class="amount"><?=Common::numberFormat($theme['new_price'])?> vnđ</span></span>
                           </div>
                        </div>
                        <!-- box-text -->
                     </div>
                     <!-- box -->
                  </div>
                  <!-- .col-inner -->
               </div>
               
                <?php
                        
                    }
               ?>    
               
               
            </div>
            <!-- row -->
            <div class="container" style="display:none">
               <nav class="woocommerce-pagination">
                  <ul class="page-numbers nav-pagination links text-center">
                     <li><span class="page-number current">1</span></li>
                     <li><a class="page-number" href="#">2</a></li>
                     <li><a class="page-number" href="#">3</a></li>
                     <li><a class="next page-number" href="#"><i class="icon-angle-right"></i></a></li>
                  </ul>
               </nav>
            </div>
         </div>
         <!-- shop container -->
      </div>
      <!-- .large-12  -->
   </div>
   <!-- .row -->
</main>