<link type="text/css" rel="stylesheet" media="screen" href="<?= STATIC_DOMAIN ?>/css/detail_base-p9mWZ8C7.css"/>
<link type="text/css" rel="stylesheet" media="screen" href="<?= STATIC_DOMAIN ?>/css/confirmation-IoNo4JLy.css"/>

<div id="main" class="clearfix">
    <div id="content" style="display: inline;float: left;margin-left: 8px;margin-right: 16px;width: 702px">
          <!-- If user is trying to authenticate, Override the default authentication state -->
            
          
            <div id="deal_confirmation" class="confirmation">
              <form method="post" id="master_form" data-bhw="ConfirmationForm" class="groupon_form stacked" action="/deals/bulls-on-wall-street-12/orders" data-bhw-path="ConfirmationForm"><div style="margin:0;padding:0"><input type="hidden" value="f1Ukj31KM97+ULLKFpDNQSLw3ynTz9vOSJaSis6N8P8=" name="authenticity_token"></div>
            
                <div id="subtotal_box" class="module module_top_padded"><div class="module_content"><div id="your_purchase" class="clearfix">
                  <div class="page_header">
                    <h2>Order Details</h2>
                  </div>
                  <div data-bhw="OrderSubtotal" id="subtotal" data-bhw-path="ConfirmationForm|OrderSubtotal">
                    <div class="page_content sweet_stache">
                      <table>
                        <thead>
                          <tr>
                            <th class="grid_9 first">Description</th>
                            <th class="grid_2 text_center"><label for="order_amount">Quantity</label></th>
                            <th class="grid_1 text_center">&nbsp;</th>
                            <th class="grid_2 text_center">Price</th>
                            <th class="grid_1 text_center">&nbsp;</th>
                            <th class="grid_2 last text_right">Total</th>
                          </tr>
                        </thead>
              
                        <tbody>
                          <tr class="line_item">
                            <td data-bhc="deal:bulls-on-wall-street-12" id="gift_options_container" class="grid_9 first " data-bhc-path="ConfirmationForm|OrderSubtotal|deal:bulls-on-wall-street-12">
                              <p>
                                </p><p>
                                  <input type="hidden" value="25.0" id="pledge_option_unit_price_5615733"><input type="hidden" value="false" id="pledge_option_member_fixed_5615733"><input type="hidden" value="1" id="pledge_option_min_per_pledge_5615733"><input type="hidden" value="3" id="pledge_option_max_per_pledge_5615733"><input type="hidden" value="49.0" id="pledge_option_unit_price_5615734"><input type="hidden" value="false" id="pledge_option_member_fixed_5615734"><input type="hidden" value="1" id="pledge_option_min_per_pledge_5615734"><input type="hidden" value="3" id="pledge_option_max_per_pledge_5615734"><select name="order[pledge_id]" id="order_pledge_id"><option selected="selected" value="5615733">4 online stock-trading courses - Bulls On Wall Street</option>
                  <option value="5615734">4-day in-depth online stock-trading course with live training - Bulls On Wall Street</option></select>
              
              
                              </p>
              
              
                                  
                            
</td>
              
                            <td class="grid_2 text_center quantity">
                              <input type="text" value="1" size="3" name="order[amount]" maxlength="3" id="order_amount" data-bhw="OrderQuantity" class="numerical input" data-bhw-path="ConfirmationForm|OrderSubtotal|OrderQuantity"><input type="hidden" value="1" name="order[amount]" id="hidden_order_amount" disabled="disabled" bypass_container_markup="true"><div class="buttons"><input type="submit" value="Update Total" name="update_total" id="btn_update_total" class="small button"></div>
                            </td>
                            <td class="grid_1 text_center">×</td>
                            <td class="grid_2 text_center">
                              <input type="hidden" value="25.0" name="deal_price" id="deal_price"><input type="hidden" value="1" name="amount_min" id="amount_min"><input type="hidden" value="3" name="amount_max" id="amount_max">
                              <span class="currency_html"><span class="unit multi_letter">C$</span><span class="integer">25</span></span>
                            </td>
                            <td class="grid_1 text_center">=</td>
                            <td class="grid_2 text_right total">
                              <span class="currency_html"><span class="unit multi_letter">C$</span><span class="integer">25</span><span class="delimiter">.</span><span class="fraction">00</span></span>
                            </td>
              
                          </tr>
              
              
              
              
                          <tr class="promo_item">
                              <td style="float: right;padding-right: 0px">
                                   <div class="" style="display: block;" id="promo_form">
                                <a id="promotion_apply" class="button small" href="#">Thanh toan</a>
                              </div>
                            </td>
                              <td colspan="5" style="float: right">
                              
                             
                              <div class="" style="display: block;" id="promo_form">
                                <a id="promotion_apply" class="button small" href="#">Cap nhat</a>
                              </div>
                                 
                            </td>
                            
                          </tr>
                          
              
              
              
              
              
                        </tbody>
                      </table>
                    </div>
              
                    
                  </div>
                  <script type="text/javascript">
                    //&lt;![CDATA[
                      $(function() {
                        Groupon.onCurrentUserReady(function() {
                          Groupon.currentUser.vip = false;
                        });
                      });
                    //]]&gt;
                  </script>
                </div>
                </div></div>
            <div id="complete_purchase_container" class="module module_top_padded"><div class="module_content">  <div id="credit_cards">
                <div class="page_header cc_container no_border">
                  <h2>
                    Account Information
                    <img height="17" width="13" title="" src="<?=STATIC_DOMAIN?>/images/padlock.gif" alt="">
                  </h2>
                </div>
                <div data-bhw="SignIn" class="quickie_login_wide" data-bhw-path="ConfirmationForm|SignIn">
                  <div id="login_banner" style="display: none;">
                    <div class="page_content clearfix">
                      <div class="grid_13 first">
                        <h3>Already Have An Account?</h3>
                        <p>If you have purchased a Groupon before, you can sign in using your email address.</p>
                      </div>
                      <div class="grid_3 last">
                        <input type="submit" value="Sign In" id="show_login_subform" class="sign_in">
                        <input type="submit" value="Sign In" id="show_login_subform" class="button large alt_sign_in">
                      </div>
                    </div>
                  </div>
                  <div id="subscription_banner" style="display: none;">
                    <div class="subscriber_notice">
                      <div class="page_content">
                        <h3>Finish Setting Up Your Account</h3>
                        <p>Although you subscribe to Groupon's emails, we need a password to keep your purchases secure. Fill in the blanks below.</p>
                        <p><a id="try_again_sign_in" href="#">Or try to sign in again</a></p>
                      </div>
                    </div>
                  </div>
                  <div id="login_form" class="wide" style="display: block;">
                    <div class="page_content clearfix">
                      <div id="login_alerts" style="display: none;">
                      </div>
                      <div class="grid_7 first">
                        <div class="field session_email_address text"><label for="session_email_address" class="medium">Email</label><input type="text" size="30" name="session[email_address]" id="session_email_address" class="focused first input"></div>
                      </div>
                      <div class="grid_7">
                        <div class="field session_password password"><label for="session_password" class="medium">Password</label><input type="password" size="30" name="session[password]" id="session_password" class="caption input"><span class="caption"><a href="https://www.groupon.com/users/forgot_password">Forgot your password?</a></span></div>
                        <div class="field session_remember_me check"><input type="hidden" value="0" name="session[remember_me]"><input type="checkbox" value="1" name="session[remember_me]" id="session_remember_me" class="check" checked="checked"><label for="session_remember_me">Keep me logged in on this computer</label></div>
                      </div>
                      <div class="grid_3 last sign_in_buttons">
                        <a id="quickie_login_submit" class="button" href="#">Sign In</a>
                        <a class="cancel" href="#">Cancel</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="user_form" data-bhw="CreateAccount" data-bhw-path="ConfirmationForm|CreateAccount">
                  <div class="page_header">
                    <h3 class="finch_personal_header_original">Personal Information</h3>
                    <h3 class="finch_personal_header_alt">Create an Account</h3>
                  </div>
                  <div class="page_content clearfix">
                    <div class="grid_8 first">
                      <div class="field user_full_name text">
                        <label for="user_full_name">Full name</label>
                        <input type="text" size="30" name="user[full_name]" id="user_full_name" class="grid_7 input">
                    
                      </div>
                      <div class="field user_email_address text">
                        <label for="user_email_address">Email address</label>
                        <input type="text" title="you@domain.com" size="30" name="user[email_address]" id="user_email_address" class="prompting_field grid_7 input" value="you@domain.com">
                    
                      </div>
                      <div class="field user_password password">
                        <label for="user_password">Password</label>
                        <input type="password" size="30" name="user[password]" id="user_password" class="grid_5 input">
                    
                      </div>
                      <div class="field user_password_confirmation password">
                        <label for="user_password_confirmation">Password <span>(confirm)</span></label>
                        <input type="password" size="30" name="user[password_confirmation]" id="user_password_confirmation" class="grid_5 input">
                    
                      </div>
                      <span id="brief_form_remember_me">
                        <div class="field user_remember_me check"><input type="hidden" value="0" name="user[remember_me]"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" class="check" checked="checked"><label for="user_remember_me">Stay signed in</label></div>
                      </span>
                    </div>
                    <div class="grid_8 last fb_login">
                      <p>Did you know you can sign in using Facebook?</p>
                      <div class="facebook_login_button with_image_and_centered"></div>
                    </div>
                  </div>
                </div>
                <div class="page_header">
                  <h3>Billing Information</h3>
                </div>
                <p class="finch_exp_info_header">NOTE: must match address as it appears on credit card / bank statement</p>
                <div data-bhw="CreditCards" class="cc_container page_content" data-bhw-path="ConfirmationForm|CreditCards">
                  <div class="add_new_card">
                    <div id="billing_record_new" data-bhw="NewBillingForm" class="cc_form" data-bhw-path="ConfirmationForm|CreditCards|NewBillingForm">
                      <div class="info alert incentive_requires_br" style="display: none;">
                        Your card will not be charged for this purchase.
 We just need your card information to validate your account and redeem 
your discount
                      </div>
                      <div class="clearfix">
                        <div class="clearfix">
                          <div class="grid_8 first">
                            <div class="field">
                              <label for="billing_record_full_name">Cardholder Name</label>
                              <input type="text" size="30" name="billing_record[full_name]" id="billing_record_full_name" class="grid_7 input">
                          
                            </div>
                            <div class="field cc">
                              <label for="billing_record_number">Card Number</label>
                              <input type="text" size="16" name="billing_record[number]" maxlength="16" id="billing_record_number" class="grid_5 input" autocomplete="off">
                          
                          
                            </div>
                            <div class="field cvv">
                              <label for="billing_record_cvv">Security Code</label>
                              <input type="text" size="4" name="billing_record[cvv]" maxlength="4" id="billing_record_cvv" class="grid_2 input">
                              <a href="#what_is_security_code" class="tooltip"></a>
                          
                            </div>
                            <div class="field expiration">
                              <label for="billing_record_month">Expiration Date</label>
                              <select name="billing_record[month]" id="billing_record_month"><option value="1" selected="selected">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option></select>
                              <select name="billing_record[year]" id="billing_record_year"><option value="2012" selected="selected">2012</option>
                              <option value="2013">2013</option>
                              <option value="2014">2014</option>
                              <option value="2015">2015</option>
                              <option value="2016">2016</option>
                              <option value="2017">2017</option>
                              <option value="2018">2018</option>
                              <option value="2019">2019</option>
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                              <option value="2024">2024</option></select>
                          
                            </div>
                          </div>
                          <div class="grid_8 last">
                            <div class="field address">
                              <label for="billing_record_address1">Billing Address</label>
                              <span class="billing_address_note">(must match address on credit card / bank statement)</span>
                              <input type="text" size="30" name="billing_record[address1]" id="billing_record_address1" class="grid_7 input">
                          
                            </div>
                            <div class="field city">
                              <label for="billing_record_city">City</label>
                              <input type="text" size="30" name="billing_record[city]" id="billing_record_city" class="grid_6 input">
                          
                              <select name="city_proxy" id="city_proxy" class="grid_6"></select>
                            </div>
                            <div class="field state">
                              <label for="billing_record_country_and_state">State/Province</label>
                              <select name="billing_record[country_and_state]" id="billing_record_country_and_state"><option value="" selected="selected">--</option><optgroup label="United States"><option value="United States[Alabama]">Alabama</option>
                              <option value="United States[Alaska]">Alaska</option>
                              <option value="United States[Arizona]">Arizona</option>
                              <option value="United States[Arkansas]">Arkansas</option>
                              <option value="United States[California]">California</option>
                              <option value="United States[Colorado]">Colorado</option>
                              <option value="United States[Connecticut]">Connecticut</option>
                              <option value="United States[Delaware]">Delaware</option>
                              <option value="United States[District of Columbia]">District of Columbia</option>
                              <option value="United States[Florida]">Florida</option>
                              <option value="United States[Georgia]">Georgia</option>
                              <option value="United States[Hawaii]">Hawaii</option>
                              <option value="United States[Idaho]">Idaho</option>
                              <option value="United States[Illinois]">Illinois</option>
                              <option value="United States[Indiana]">Indiana</option>
                              <option value="United States[Iowa]">Iowa</option>
                              <option value="United States[Kansas]">Kansas</option>
                              <option value="United States[Kentucky]">Kentucky</option>
                              <option value="United States[Louisiana]">Louisiana</option>
                              <option value="United States[Maine]">Maine</option>
                              <option value="United States[Maryland]">Maryland</option>
                              <option value="United States[Massachusetts]">Massachusetts</option>
                              <option value="United States[Michigan]">Michigan</option>
                              <option value="United States[Minnesota]">Minnesota</option>
                              <option value="United States[Mississippi]">Mississippi</option>
                              <option value="United States[Missouri]">Missouri</option>
                              <option value="United States[Montana]">Montana</option>
                              <option value="United States[Nebraska]">Nebraska</option>
                              <option value="United States[Nevada]">Nevada</option>
                              <option value="United States[New Hampshire]">New Hampshire</option>
                              <option value="United States[New Jersey]">New Jersey</option>
                              <option value="United States[New Mexico]">New Mexico</option>
                              <option value="United States[New York]">New York</option>
                              <option value="United States[North Carolina]">North Carolina</option>
                              <option value="United States[North Dakota]">North Dakota</option>
                              <option value="United States[Ohio]">Ohio</option>
                              <option value="United States[Oklahoma]">Oklahoma</option>
                              <option value="United States[Oregon]">Oregon</option>
                              <option value="United States[Pennsylvania]">Pennsylvania</option>
                              <option value="United States[Rhode Island]">Rhode Island</option>
                              <option value="United States[South Carolina]">South Carolina</option>
                              <option value="United States[South Dakota]">South Dakota</option>
                              <option value="United States[Tennessee]">Tennessee</option>
                              <option value="United States[Texas]">Texas</option>
                              <option value="United States[Utah]">Utah</option>
                              <option value="United States[Vermont]">Vermont</option>
                              <option value="United States[Virginia]">Virginia</option>
                              <option value="United States[Washington]">Washington</option>
                              <option value="United States[West Virginia]">West Virginia</option>
                              <option value="United States[Wisconsin]">Wisconsin</option>
                              <option value="United States[Wyoming]">Wyoming</option>
                              <option value="United States[American Samoa]">American Samoa</option>
                              <option value="United States[Federated States of Micronesia]">Federated States of Micronesia</option>
                              <option value="United States[Guam]">Guam</option>
                              <option value="United States[Marshall Islands]">Marshall Islands</option>
                              <option value="United States[Northern Mariana Islands]">Northern Mariana Islands</option>
                              <option value="United States[Palau]">Palau</option>
                              <option value="United States[Puerto Rico]">Puerto Rico</option>
                              <option value="United States[Virgin Islands]">Virgin Islands</option>
                              <option value="United States[AA]">AA</option>
                              <option value="United States[AE]">AE</option>
                              <option value="United States[AP]">AP</option></optgroup><optgroup label="Canada"><option value="Canada[Alberta]">Alberta</option>
                              <option value="Canada[British Columbia]">British Columbia</option>
                              <option value="Canada[Manitoba]">Manitoba</option>
                              <option value="Canada[New Brunswick]">New Brunswick</option>
                              <option value="Canada[Newfoundland]">Newfoundland</option>
                              <option value="Canada[Northwest Territories]">Northwest Territories</option>
                              <option value="Canada[Nova Scotia]">Nova Scotia</option>
                              <option value="Canada[Nunavut]">Nunavut</option>
                              <option value="Canada[Ontario]">Ontario</option>
                              <option value="Canada[Prince Edward Island]">Prince Edward Island</option>
                              <option value="Canada[Quebec]">Quebec</option>
                              <option value="Canada[Saskatchewan]">Saskatchewan</option>
                              <option value="Canada[Yukon]">Yukon</option></optgroup><optgroup label="Australia"><option value="Australia[Australian Capital Territory]">Australian Capital Territory</option>
                              <option value="Australia[New South Wales]">New South Wales</option>
                              <option value="Australia[Northern Territory]">Northern Territory</option>
                              <option value="Australia[Queensland]">Queensland</option>
                              <option value="Australia[South Australia]">South Australia</option>
                              <option value="Australia[Tasmania]">Tasmania</option>
                              <option value="Australia[Victoria]">Victoria</option>
                              <option value="Australia[Western Australia]">Western Australia</option></optgroup><option value="United Kingdom">United Kingdom</option></select>
                          
                            </div>
                            <div class="field zip">
                              <label for="billing_record_zip">Postal Code</label>
                              <input type="text" size="30" name="billing_record[zip]" id="billing_record_zip" class="grid_3 input">
                          
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
          
              <div class="page_content">
              </div>
              <div class="page_content">
                <div class="checkout buttons clearfix">
                  <input type="submit" value="Complete Order" title="Complete Order" name="commit" id="credit_cards_submit" data-track="" data-bhw="CompleteOrderButton" data-bhc="deal:bulls-on-wall-street-12" class="button large complete" data-bhc-path="ConfirmationForm|CompleteOrderButton|deal:bulls-on-wall-street-12" data-bhw-path="ConfirmationForm|CompleteOrderButton">
                </div>
                <p>By clicking Complete Order I accept the <a target="_blank" href="https://www.groupon.com/terms">Terms and Conditions</a> and <a target="_blank" href="https://www.groupon.com/privacy">Privacy Policy</a>.</p>
              </div>
            </div></div>    <div id="what_is_security_code" class="tooltip_target">
                  <h4>Where do I find the security code?</h4>
                  <div class="card_img"><img src="confirmation_files/credit_card.png" alt="Credit_card"></div>
                  <div class="card_txt">
                    <div class="first_cards">
                      VISA, MASTERCARD &amp; DISCOVER
                      <div class="three-digit">3-digit code</div>
                    </div>
                    <div class="amx_card">
                      AMERICAN EXPRESS
                      <div class="four-digit">4-digit code</div>
                    </div>
                  </div>
                </div>
                <div id="gift_cards_modal" class="modal_window">
                  <div class="modal_top"></div>
                  <img height="39" width="39" src="confirmation_files/x-close-large.png" id="close" data-bhw="GiftModalClose" class="modal_close" alt="">
                  <div class="modal_content">
                    <div class="modal_header">
                      <h1>Gift Options</h1>
                    </div>
                    <div class="modal_main">
                      <h4>Fill out the form below and give the gift of Groupon!</h4>
                      <div class="gift_card_form">
                        <div class="clearfix">
                          <input type="hidden" value="0" name="order[gift]" id="order_gift">
                          <div class="grid_6 first">
                            <div class="field">
                              <label>To</label>
                              <input type="text" size="26" name="order[gift_recipient_name]" maxlength="26" id="order_gift_recipient_name" class="grid_6 updates_preview required input">
                          
                            </div>
                            <div class="field">
                              <label>From <span>(Name you want the recipient to see.)</span></label>
                              <input type="text" size="40" name="order[gift_from_name]" maxlength="40" id="order_gift_from_name" class="grid_6 required input">
                          
                            </div>
                            <div class="field delivery_method">
                              <p>Delivery Method</p>
                              <div class="field">
                                <label for="order_delivery_method_email" data-bhw="GiftModalDeliveryEmail">
                                  <input type="radio" value="email" name="order[delivery][method]" id="order_delivery_method_email" class="validate-delivery-method-selected radio" checked="checked">
                                  Email it to
                                </label>
                                <input type="text" title="recipient email address" size="30" name="order[gift_recipient_email]" id="order_gift_recipient_email" class="grid_6 validate-if-email-radio-selected prompting_field input" value="recipient email address">
                            
                              </div>
                              <div class="field">
                                <label for="order_delivery_method_print" data-bhw="GiftModalDeliveryPrint">
                                  <input type="radio" value="print" name="order[delivery][method]" id="order_delivery_method_print" class="radio">
                                  I'll print it myself
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="grid_7 last">
                            <div class="field">
                              <label>Message <span>(Maximum of 330 characters) - Optional</span></label>
                              <textarea rows="20" name="order[gift_message]" id="order_gift_message" data-max-length="330" cols="40" class="grid_7 updates_preview text_counter"></textarea><p class="text_counter_message"><span class="counter">330</span> characters remaining</p><p class="text_counter_message"><span class="counter">330</span> characters remaining</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal_footer clearfix">
                      <a id="gift_details_save_btn" href="#" class="button">Save</a>
                      <a href="#" data-bhw="GiftModalCancel" class="modal_close cancel">cancel</a>
                    </div>
                  </div>
                  <div class="modal_bottom"></div>
                </div>
                <div id="address_validation_modal" class="modal_window">
                  <div class="modal_top"></div>
                  <div class="modal_content">
                    <div class="modal_header">
                      <h1>That's odd.</h1>
                    </div>
                    <div class="modal_main">
                      <h4>Our cartographer thinks that address might be a little off. Maybe this is what you meant:</h4>
                      <div class="address_validation_form">
                        <div class="clearfix">
                          <div class="address_choices">
                            <div class="field">
                              <input type="radio" value="suggested" name="address_validation_radio_button" id="radio_suggested" class="radio" checked="checked">
                              <label for="radio_suggested" class="address">
                                <div class="line_1">
                                  <span id="suggested_address_1"></span>
                                  <span id="suggested_address_2"></span>
                                </div>
                                <div class="line_2">
                                  <span id="suggested_city"></span>
                                  <span>,</span>
                                  <span id="suggested_country_and_state"></span>
                                  <span id="suggested_zip"></span>
                                </div>
                              </label>
                            </div>
                            <div class="field">
                              <input type="radio" value="original" name="address_validation_radio_button" id="radio_original" class="radio">
                              <label for="radio_original" class="address">
                                <b>Nope, use what I typed.</b>
                                <div class="line_1">
                                  <span id="original_address_1"></span>
                                  <span id="original_address_2"></span>
                                </div>
                                <div class="line_2">
                                  <span id="original_city"></span>
                                  <span>,</span>
                                  <span id="original_country_and_state"></span>
                                  <span id="original_zip"></span>
                                </div>
                              </label>
                            </div>
                            <div class="field">
                              <input type="radio" value="i_know" name="address_validation_radio_button" id="radio_i_know" class="radio">
                              <label for="radio_i_know" class="address">
                                <b>I know what's wrong. I'll fix it myself.</b>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal_footer clearfix">
                      <a id="address_validation_button" href="#" class="button">Continue</a>
                      <span class="click-again">You will have to click "Complete Order" again to finish purchasing.</span>
                    </div>
                  </div>
                  <div class="modal_bottom"></div>
                </div>
                <div id="address_validation_error_modal" class="modal_window">
                  <div class="modal_top"></div>
                  <div class="modal_content">
                    <div class="modal_header">
                      <h1>That's odd.</h1>
                    </div>
                    <div class="modal_main">
                      <h4>We may currently be unable to ship to this 
address. Please correct your address, or contact customer support for 
assistance in placing your order.</h4>
                      <div class="address_validation_form">
                        <div class="clearfix">
                          <div class="error_msg"></div>
                        </div>
                      </div>
                    </div>
                    <div class="modal_footer clearfix">
                      <a id="address_validation_error_button" href="#" class="button">Try Again</a>
                    </div>
                  </div>
                  <div class="modal_bottom"></div>
                </div>
              </form>
              <span style="display:none;" id="gift_cards_with_pins" data-value="true" class="js_attribute"></span>
              <form method="post" id="hidden_promotion" class="groupon_form" action="/deals/bulls-on-wall-street-12/redemptions"><div style="margin:0;padding:0"><input type="hidden" value="f1Ukj31KM97+ULLKFpDNQSLw3ynTz9vOSJaSis6N8P8=" name="authenticity_token"></div>
                <div class="field">
                  <label for="code">Enter your code</label>
                  <input type="text" name="code" id="code" class="input">
                </div>
                <div id="gift_card_pin_container" class="field clearfix">
                  <label for="pin">Enter your PIN</label>
                  <a class="tooltip" href="#what_is_pincode"></a>
                  <input type="text" name="pin" id="pin" class="input">
                </div>
                <div>
                  <input type="submit" value="Redeem" name="commit" class="button small">
                </div>
              </form>
              <div id="what_is_pincode" class="large_tooltip_target tooltip_target">
                <h4>Where do I find my PIN?</h4>
                <div class="card_img"><img src="confirmation_files/gift_card.png" alt="Gift_card"></div>
                <div class="card_txt">Possible PIN locations. <br> Scratch off label to reveal your 8-digit PIN.</div>
              </div>
            </div>
          
            <script type="text/javascript">
              //&lt;![CDATA[
                $(function() {
                  if (Groupon.ConfirmationAuthFlow === true) {
                    // We have a duplication id problem related to the two possible auth flows. This fixes that problem.
                    $('#deal_confirmation').remove();
                    // CheckoutPage.init should not be called when we're in the auth flow.
                    return;
                  }
              
                  $('#authentication_step').remove();
                  Groupon.CheckoutPage.init({
                    campaign: {"subtitle":null,"requires_shipping_address?":false,"reward_deal?":false,"multideal?":true,"pledges_not_sold_out":[{"expedited_shipping_cost":null,"min_per_pledge":1,"member_amount_constraint":"suggested","gift_wrapping_charge":null,"suggested_pledge":1,"member_fixed?":false,"shipping_cost":null,"currency_code":"CAD","unit_price":25.0,"voucher_title":"4 online stock-trading courses","max_per_pledge":3,"id":5615733,"voucher_subtitle":"Bulls On Wall Street"},{"expedited_shipping_cost":null,"min_per_pledge":1,"member_amount_constraint":"suggested","gift_wrapping_charge":null,"suggested_pledge":1,"member_fixed?":false,"shipping_cost":null,"currency_code":"CAD","unit_price":49.0,"voucher_title":"4-day in-depth online stock-trading course with live training","max_per_pledge":3,"id":5615734,"voucher_subtitle":"Bulls On Wall Street"}],"permalink":"bulls-on-wall-street-12","invite_only?":false,"title":"Four Online Stock-Trading Classes or Four-Day Live Online Stock-Trading Course from Bulls On Wall Street (Up to 97% Off)","redemption_addresses":"","live_nation_deal?":false,"now_deal?":false,"avatar":"/images/site_images/2853/3677/RackMultipart20121211-29519-a5of34_profile.jpg","merchant_direct?":false,"eligible_for_vip_refund?":true,"merchant":{"name":"Bulls On Wall Street"},"travel_deal?":false,"goods_deal?":false},
                    pledge: {"expedited_shipping_cost":null,"min_per_pledge":1,"member_amount_constraint":"suggested","gift_wrapping_charge":null,"suggested_pledge":1,"member_fixed?":false,"shipping_cost":null,"currency_code":"CAD","unit_price":25.0,"voucher_title":"4 online stock-trading courses","max_per_pledge":3,"id":5615733,"voucher_subtitle":"Bulls On Wall Street"},
                    order: {"points_held":0,"currency_symbol":"C$","amount":1,"points_collected":0,"gift_wrapped":false,"shipping_method":"standard","gift_recipient_name":null,"new_record?":true,"gift_message":null,"points_available":0,"is_gift":null,"shipping_cost":null,"discounts":[],"unit_price":25.0},
                    user: null,
                    requiresBillingRecord: true,
                    checkoutShowTaxBreakdown: true,
                    shippingRequired: false,
                    userIdForBreakdown: null,
                    showLoginForm: false,
                    nowRedemptionWindow: null,
                    nowRefundMessage: null,
                    getawaysBookingInfo: {},
                    giftCardsWithPins: true,
                    billingRecords: [],
                    defaultBillingRecordId: null,
                    shippingAddresses: [],
                    defaultBillingRecordId: "",
                    goodsFreeShippingEnabled: true,
                    lowestPriceForFreeShipping: 15,
                    is_expedite_shipping_experiment: false
                  });
                });
              //]]&gt;
            </script>
            <script type="text/javascript">
              //&lt;![CDATA[
                // When onCurrentUserReady is available, don't fire until personalization
                // completes, otherwise, wait for the DOM to load
                if(Groupon.onCurrentUserReady) {
                  Groupon.onCurrentUserReady(function() {
                    fireDotomiAbandonTracking();
                  });
                } else {
                  $(function() {
                    fireDotomiAbandonTracking();
                  });
                }
              //]]&gt;
            </script>
            <div id="free_shipping_modal" class="modal_window free_shipping_modal">
              <div class="module">
                <a title="Close" id="close" class="modal_close"></a>
                <div class="banner">
                  <a title="Learn More" href="http://www.groupon.com/pages/goods-faq#1" class="learn_more">
                    Learn More
                  </a>
                </div>
              </div>
            </div>
        </div>
      
    <div id="rail" style="display: block">
          <div data-bhw="PaymentFAQ" class="module" data-bhw-path="PaymentFAQ"><div class="module_top"><h3>Payment FAQ</h3></div><div class="module_content"><ul class="collapsible_faq collapsible_panel">
              <li>
                <h4 class="toggle_handle"><a class="anti_link list_item_toggle" href="#">What happens after I buy?</a></h4>
                <p class="toggle_content" style="display: none;">Within 
24 hours you'll receive an email receipt confirming that your purchase 
has been processed. During times of high site traffic, please allow the 
full 24 hours for your receipt to arrive through email. That email will 
explain how to print your Groupon, and your Groupon will include 
everything you need to know to redeem it.</p>
              </li>
              <li>
                <h4 class="toggle_handle"><a data-bhw="BuyAsGiftFAQ" class="anti_link list_item_toggle" href="#" data-bhw-path="PaymentFAQ|BuyAsGiftFAQ">What if I buy as a gift?</a></h4>
                <p class="toggle_content" style="display: none;">When 
you buy a Groupon as a gift and choose to email it, an email will be 
sent to the recipient as soon as your card is charged, with all the 
instructions they need to claim their gift with a single click.  If you 
chose to print your gift, you'll be able to do that on 'My Gifts' once 
your card has been charged.</p>
              </li>
              <li>
                <h4 class="toggle_handle"><a class="anti_link list_item_toggle" href="#">Can I change or cancel my purchase?</a></h4>
                <p class="toggle_content" style="display: none;">
                  Yes, you can modify your purchase up until the deal 
closes, as long as you haven't printed your Groupons - once you print, 
you can no longer change your purchase.  You'll see all your purchases 
on 'My Groupons', with a link to 'Change my purchase' where appropriate.
                  <br><br>For Groupon Goods, you can edit or cancel your
 order for only up to 2 hours after making your purchase. Once that 2 
hour window closes, your order will begin to prepare for the pilgrimage 
to its new home!
                </p>
              </li>
              <li>
                <h4 class="toggle_handle"><a class="anti_link list_item_toggle" href="#">Is this safe?</a></h4>
                <p class="toggle_content" style="display: none;">Yes, 
extremely. Your credit card number is transmitted by SSL directly to a 
secure electronic vault, and the little 'padlock' icon on your browser 
confirms this.  At no time is your credit card information stored on our
 servers.</p>
              </li>
            </ul>
            </div></div><div id="free_shipping" data-bhw="FreeShipping" class="module" data-bhw-path="FreeShipping"><div class="module_top"><h3>The Goods Stuff</h3></div><div class="module_content"><img src="confirmation_files/checkout.png" alt="Free Shipping">
            </div></div>
            <div id="groupon_promise" data-bhw="GrouponPromise" class="module" data-bhw-path="GrouponPromise"><div class="module_top"><h3>Our Promise To You</h3></div><div class="module_content"><a href="https://www.groupon.com/groupon-promise"><img src="confirmation_files/groupon-promise.png" alt="The Groupon Promise"></a>
            <p>If the experience using your Groupon ever lets you down, we’ll make it right or return your purchase. Simple as that.</p>
            </div></div>
            <div data-bhw="TrustECertified" class="module" data-bhw-path="TrustECertified"><div class="module_top"><h3>TRUSTe Certified</h3></div><div class="module_content"><div class="truste"><a href="http://privacy-policy.truste.com/click-with-confidence/wps/en/www.groupon.com/seal_m"><img src="confirmation_files/seal_m.png" alt="Seal_m"></a></div>
            </div></div>
        </div>
      </div>