<link type="text/css" rel="stylesheet" media="screen" href="<?= STATIC_DOMAIN ?>/css/detail_base-p9mWZ8C7.css"/>
<link type="text/css" rel="stylesheet" media="screen" href="<?= STATIC_DOMAIN ?>/css/thanh_toan.css"/>

<div id="main" class="clearfix">
    <div id="content" style="display: inline;float: left;margin-left: 8px;margin-right: 16px;width: 702px">
        <!-- If user is trying to authenticate, Override the default authentication state -->


        <div id="deal_confirmation" class="confirmation">
            <form method="post" id="master_form" data-bhw="ConfirmationForm" class="groupon_form stacked" action="/deals/bulls-on-wall-street-12/orders" data-bhw-path="ConfirmationForm"><div style="margin:0;padding:0"><input type="hidden" value="f1Ukj31KM97+ULLKFpDNQSLw3ynTz9vOSJaSis6N8P8=" name="authenticity_token"></div>

                <div id="subtotal_box" class="module module_top_padded">
                    <div class="module_content">
<div class="mainbox-container">
                        <div class="mainbox-body">
                            <script src="/js/exceptions.js" type="text/javascript"></script>
                            <script src="/js/cc_validator.js" type="text/javascript"></script>
                            <h1>Thanh toán</h1>
                            <script type="text/javascript">
                                //&lt;![CDATA[
                                //]]&gt;
                            </script>
                            <a name="checkout_top"></a>
                            <script type="text/javascript">
                                //&lt;![CDATA[

                                var default_country = 'VN';


                                var zip_validators = {
                                    US: {
                                        regex: /^(\d{5})(-\d{4})?$/,
                                        format: '01342 (01342-5678)'
                                    },
                                    CA: {
                                        regex: /^(\w{3} ?\w{3})$/,
                                        format: 'K1A OB1 (K1AOB1)'
                                    }
                                }


                                var states = new Array();

                                //]]&gt;
                            </script>
                            <script src="/js/profiles_scripts.js" type="text/javascript"></script>
                            <div id="checkout_steps" class="checkout-steps clear cm-save-fields">
                                <div id="step_one" class="step-container-active">
                                    <h2 class="step-title-active" style="font-size: 20px">
                                        <span class="float-left">1.</span>
                                        <div><a class="title">Đăng nhập</a></div>
                                    </h2>
                                    <div class="step-body-active" id="step_one_body">
                                        <div id="step_one_login">
                                            <div class="clear">
                                                <script type="text/javascript">
                                                    //&lt;![CDATA[

                                                    function fn_switch_checkout_type(status)
                                                    {
			
                                                        if (status == true) {
                                                            $('#step_one_register').show();
                                                        } else {
                                                            $('#step_one_anonymous_checkout').show();
                                                        }
                                                        $('#step_one_login').hide();
		
                                                    }
                                                    //]]&gt;
                                                </script>
                                                <table border="0" cellspacing="0" cellpadding="0" class="login-table">
                                                    <tbody><tr valign="top">
                                                            <td width="50%" class="login-form">
                                                                <h2 class="subheader">
                                                                    Đăng nhập tài khoản Hotdeal
                                                                </h2>		
                                                                <div>
                                                                    <form method="post" action="/ho-chi-minh/" name="step_one_login_form">
                                                                        <input type="hidden" value="step_one_login_form" name="form_name">
                                                                        <input type="hidden" value="index.php?dispatch=checkout.checkout" name="return_url">
                                                                        <div class="form-field">
                                                                            <label class="cm-required cm-trim cm-email" for="login_checkout">Email:</label>
                                                                            <input type="text" class="input-text cm-focus" value="" size="30" name="user_login" id="login_checkout">
                                                                        </div>
                                                                        <div class="form-field">
                                                                            <label class="cm-required" for="psw_checkout">Mật khẩu:</label>
                                                                            <input type="password" class="input-text password" value="" size="30" name="password" id="psw_checkout">
                                                                        </div>
                                                                        <div class="float-left">
                                                                            <input type="checkbox" value="Y" id="remember_me_checkout" name="remember_me" class="valign checkbox">
                                                                            <label style="float: right;font-size: 13px" class="valign" for="remember_me_checkout">Nhớ trạng thái đăng nhập</label>
                                                                        </div>
                                                                        <div style="margin-top:15px" class="clear">
                                                                            <div class="float-left clear-both">
                                                                                <span class="button-submit-action"><input type="submit" value="Đăng nhập" name="dispatch[auth.login]"></span>
                                                                            </div>
                                                                            <div style="padding-left:20px" class="float-left">
                                                                                <p class="center">[<a href="/khoi-phuc-mat-khau">Quên mật khẩu?</a>]</p>
                                                                            </div>
                                                                            <div class="float-left">
                                                                                <div class="janrain_wrapper">
                                                                                    <a class="rpxnow janrain-button" href="https://hotdeal-vn.rpxnow.com//openid/v2/signin?token_url=http%3A%2F%2Fwww.hotdeal.vn%2Findex.php%3Fdispatch%3Dauth.login%26return_url=index.php%253Fdispatch%253Dcheckout.checkout&amp;city_id=437">
                                                                                        <span>Hoặc bằng tài khoản khác</span>
                                                                                    </a>
                                                                                </div>	
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </td>
                                                            <td width="50%" style="font-size: 13px;line-height: 19px">
                                                                <h2 class="subheader">
                                                                    Tạo tài khoản mới
                                                                </h2>							
                                                                Bạn chưa có tài khoản Hotdeal? Hãy nhấp vào đây để đăng ký tài khoản mới. Bạn sẽ sử dụng tài khoản này để thực hiện các giao dịch, quản lý đơn hàng và theo dõi đơn hàng của bạn trên website của Hotdeal.
                                                                <div class="buttons-container right">
                                                                    <span class="button">
                                                                        <a class="" onclick="jQuery.processNotifications(); fn_switch_checkout_type(true); return false;" href="/thanh-toan?login_type=register">Đăng ký</a>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>				</div>
                                        </div>
                                        <div class="width50 hidden" id="step_one_register">
                                            <form method="post" action="/ho-chi-minh/" class="cm-ajax" name="step_one_register_form">
                                                <input type="hidden" value="checkout_steps,sign_io,checkout_cart" name="result_ids">
                                                <input type="hidden" value="checkout" name="return_to">
                                                <input type="hidden" value="Y" name="user_data[register_at_checkout]">
                                                <br>
                                                <div class="form-field">
                                                    <label class="cm-required cm-email cm-trim" for="email">Email:</label>
                                                    <input type="text" class="input-text" value="" maxlength="128" size="32" name="user_data[email]" id="email">
                                                </div>
                                                <div class="form-field">
                                                    <label class="cm-required cm-password" for="password1">Mật khẩu:</label>
                                                    <input type="password" class="input-text cm-autocomplete-off" value="" maxlength="32" size="32" name="user_data[password1]" id="password1" autocomplete="off">
                                                </div>
                                                <div class="form-field">
                                                    <label class="cm-required cm-password" for="password2">Nhập lại mật khẩu:</label>
                                                    <input type="password" class="input-text cm-autocomplete-off" value="" maxlength="32" size="32" name="user_data[password2]" id="password2" autocomplete="off">
                                                </div>
                                                <div class="form-field">
                                                    <label class="cm-required" for="birthday">Ngày sinh:</label>
                                                    <input type="text" size="10" value="" class="input-text-medium cm-calendar hasDatepicker" name="user_data[birthday]" id="birthday">&nbsp;<img alt="Lịch" title="Lịch" rev="birthday" class="cm-external-focus calendar-but valign" src="/skins/hotdeal/customer/images/icons/calendar.gif">
                                                    <script type="text/javascript">
                                                        //&lt;![CDATA[

                                                        var config = {};
                                                        config = {
                                                            changeMonth: true,
                                                            duration: 'fast',
                                                            changeYear: true,
                                                            numberOfMonths: 1,
                                                            selectOtherMonths: true,
                                                            showOtherMonths: true,
                                                            firstDay: 1,
                                                            dayNames: ['CN', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7'],
                                                            monthNamesShort: ['Thg 1', 'Thg 2', 'Thg 3', 'Thg 4', 'Thg 5', 'Thg 6', 'Thg 7', 'Thg 8', 'Thg 9', 'Thg 10', 'Thg 11', 'Thg 12'],
                                                            yearRange: '1902:2012',
                                                            dateFormat: 'dd/mm/yy'
                                                        };

                                                        if (jQuery.ua.browser == 'Internet Explorer') {
                                                            $(window).load(function(){
                                                                $('#birthday').datepicker(config);
                                                            });
                                                        } else {
                                                            $('#birthday').datepicker(config);
                                                        }
                                                        //]]&gt;
                                                    </script></div>				
                                                <div class="form-field">
                                                    <label class="cm-profile-field  " for="elm_42">Giới tính:</label>
                                                    <select name="user_data[fields][42]" class="" id="elm_42">
                                                        <option value="">--</option>
                                                        <option value="1">Nam</option>
                                                        <option value="2">Nữ</option>
                                                    </select>
                                                </div>
                                                <div class="buttons-container margin-top">
                                                    <span class="button-submit"><input type="submit" value="Tiếp tục" name="dispatch[checkout.add_profile]"></span>
                                                    &nbsp;hoặc&nbsp; 
                                                    <span class="button-tool"><a class="" onclick="$('#step_one_register').hide(); $('#step_one_login').show(); return false;" href="/thanh-toan">Hủy bỏ</a></span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!--step_one--></div>
                                <div id="step_two" class="step-container">
                                    <h2 class="step-title">
                                        <span class="float-left">2.</span>
                                        <a class="title">Địa chỉ giao hàng</a>
                                    </h2>
                                    <div class="step-body hidden cm-skip-save-fields" id="step_two_body">
                                        <div>
                                            <form method="get" action="/ho-chi-minh/" class="cm-ajax cm-ajax-force" name="step_two_billing_address">
                                                <input type="hidden" value="step_two" name="update_step">
                                                <input type="hidden" value="step_three" name="next_step">
                                                <input type="hidden" value="checkout_steps,sign_io,checkout_cart" name="result_ids">
                                                <input type="hidden" value="checkout.checkout" name="dispatch">
                                                <div class="step-complete-wrapper multiple-profiles">
                                                    <input type="hidden" value="Main" name="user_data[profile_name]" id="profile_name">
                                                </div>
                                                <table border="0" cellspacing="0" cellpadding="0" width="92%">
                                                    <tbody><tr valign="top">
                                                            <td width="45%">
                                                                <div class="step-complete-wrapper clear">
                                                                    <strong class="float-left">Địa chỉ giao hàng: &nbsp;</strong>
                                                                    <div class="overflow-hidden">
                                                                        <p class="no-padding">
                                                                        </p></div>
                                                                </div>
                                                            </td>
                                                            <td width="10%">&nbsp;</td>
                                                        </tr>
                                                    </tbody></table>
                                            </form>
                                        </div>
                                    </div>
                                    <!--step_two--></div>		
                                <div id="step_three" class="step-container">
                                    <h2 class="step-title">
                                        <span class="float-left">3.</span>
                                        <a class="title">Thanh toán và vận chuyển</a>
                                    </h2>
                                    <div class="step-body hidden" id="step_three_body">
                                        <div class="clear">
                                        </div>
                                    </div>
                                    <!--step_three--></div>
                                <div id="step_four" class="step-container">
                                    <h2 class="step-title">
                                        <span class="float-left">4.&nbsp;</span>
                                        <span class="title">Kiểm tra và đặt hàng</span>		       
                                    </h2>
                                    <div class="step-body hidden" id="step_four_body">
                                        <div class="clear">
                                        </div>
                                    </div>
                                    <!--step_four--></div>	<!--checkout_steps--></div>
                            <script language="javascript" type="text/javascript">
                                //&lt;![CDATA[
                                var container = {};
                                container = $('.error-box-container');
		
                                if (!container.length) {
                                    container = $('.notification-content');
                                }
                                if (container.length) {
                                    $.scrollToElm(container);
                                } else {
                                    $.scrollToElm($('.step-container-active'));
                                }
                                //]]&gt;
                            </script>
                        </div>
</div>

                    </div></div>
                
                
                
                
            </form>
        </div>

        <script type="text/javascript">
            //&lt;![CDATA[
            $(function() {
                if (Groupon.ConfirmationAuthFlow === true) {
                    // We have a duplication id problem related to the two possible auth flows. This fixes that problem.
                    $('#deal_confirmation').remove();
                    // CheckoutPage.init should not be called when we're in the auth flow.
                    return;
                }
              
                $('#authentication_step').remove();
                Groupon.CheckoutPage.init({
                    campaign: {"subtitle":null,"requires_shipping_address?":false,"reward_deal?":false,"multideal?":true,"pledges_not_sold_out":[{"expedited_shipping_cost":null,"min_per_pledge":1,"member_amount_constraint":"suggested","gift_wrapping_charge":null,"suggested_pledge":1,"member_fixed?":false,"shipping_cost":null,"currency_code":"CAD","unit_price":25.0,"voucher_title":"4 online stock-trading courses","max_per_pledge":3,"id":5615733,"voucher_subtitle":"Bulls On Wall Street"},{"expedited_shipping_cost":null,"min_per_pledge":1,"member_amount_constraint":"suggested","gift_wrapping_charge":null,"suggested_pledge":1,"member_fixed?":false,"shipping_cost":null,"currency_code":"CAD","unit_price":49.0,"voucher_title":"4-day in-depth online stock-trading course with live training","max_per_pledge":3,"id":5615734,"voucher_subtitle":"Bulls On Wall Street"}],"permalink":"bulls-on-wall-street-12","invite_only?":false,"title":"Four Online Stock-Trading Classes or Four-Day Live Online Stock-Trading Course from Bulls On Wall Street (Up to 97% Off)","redemption_addresses":"","live_nation_deal?":false,"now_deal?":false,"avatar":"/images/site_images/2853/3677/RackMultipart20121211-29519-a5of34_profile.jpg","merchant_direct?":false,"eligible_for_vip_refund?":true,"merchant":{"name":"Bulls On Wall Street"},"travel_deal?":false,"goods_deal?":false},
                    pledge: {"expedited_shipping_cost":null,"min_per_pledge":1,"member_amount_constraint":"suggested","gift_wrapping_charge":null,"suggested_pledge":1,"member_fixed?":false,"shipping_cost":null,"currency_code":"CAD","unit_price":25.0,"voucher_title":"4 online stock-trading courses","max_per_pledge":3,"id":5615733,"voucher_subtitle":"Bulls On Wall Street"},
                    order: {"points_held":0,"currency_symbol":"C$","amount":1,"points_collected":0,"gift_wrapped":false,"shipping_method":"standard","gift_recipient_name":null,"new_record?":true,"gift_message":null,"points_available":0,"is_gift":null,"shipping_cost":null,"discounts":[],"unit_price":25.0},
                    user: null,
                    requiresBillingRecord: true,
                    checkoutShowTaxBreakdown: true,
                    shippingRequired: false,
                    userIdForBreakdown: null,
                    showLoginForm: false,
                    nowRedemptionWindow: null,
                    nowRefundMessage: null,
                    getawaysBookingInfo: {},
                    giftCardsWithPins: true,
                    billingRecords: [],
                    defaultBillingRecordId: null,
                    shippingAddresses: [],
                    defaultBillingRecordId: "",
                    goodsFreeShippingEnabled: true,
                    lowestPriceForFreeShipping: 15,
                    is_expedite_shipping_experiment: false
                });
            });
            //]]&gt;
        </script>
        <script type="text/javascript">
            //&lt;![CDATA[
            // When onCurrentUserReady is available, don't fire until personalization
            // completes, otherwise, wait for the DOM to load
            if(Groupon.onCurrentUserReady) {
                Groupon.onCurrentUserReady(function() {
                    fireDotomiAbandonTracking();
                });
            } else {
                $(function() {
                    fireDotomiAbandonTracking();
                });
            }
            //]]&gt;
        </script>
        <div id="free_shipping_modal" class="modal_window free_shipping_modal">
            <div class="module">
                <a title="Close" id="close" class="modal_close"></a>
                <div class="banner">
                    <a title="Learn More" href="http://www.groupon.com/pages/goods-faq#1" class="learn_more">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="rail" style="display: block">
        <div data-bhw="PaymentFAQ" class="module" data-bhw-path="PaymentFAQ"><div class="module_top"><h3>Payment FAQ</h3></div><div class="module_content"><ul class="collapsible_faq collapsible_panel">
                    <li>
                        <h4 class="toggle_handle"><a class="anti_link list_item_toggle" href="#">What happens after I buy?</a></h4>
                        <p class="toggle_content" style="display: none;">Within 
                            24 hours you'll receive an email receipt confirming that your purchase 
                            has been processed. During times of high site traffic, please allow the 
                            full 24 hours for your receipt to arrive through email. That email will 
                            explain how to print your Groupon, and your Groupon will include 
                            everything you need to know to redeem it.</p>
                    </li>
                    <li>
                        <h4 class="toggle_handle"><a data-bhw="BuyAsGiftFAQ" class="anti_link list_item_toggle" href="#" data-bhw-path="PaymentFAQ|BuyAsGiftFAQ">What if I buy as a gift?</a></h4>
                        <p class="toggle_content" style="display: none;">When 
                            you buy a Groupon as a gift and choose to email it, an email will be 
                            sent to the recipient as soon as your card is charged, with all the 
                            instructions they need to claim their gift with a single click.  If you 
                            chose to print your gift, you'll be able to do that on 'My Gifts' once 
                            your card has been charged.</p>
                    </li>
                    <li>
                        <h4 class="toggle_handle"><a class="anti_link list_item_toggle" href="#">Can I change or cancel my purchase?</a></h4>
                        <p class="toggle_content" style="display: none;">
                            Yes, you can modify your purchase up until the deal 
                            closes, as long as you haven't printed your Groupons - once you print, 
                            you can no longer change your purchase.  You'll see all your purchases 
                            on 'My Groupons', with a link to 'Change my purchase' where appropriate.
                            <br><br>For Groupon Goods, you can edit or cancel your
                            order for only up to 2 hours after making your purchase. Once that 2 
                            hour window closes, your order will begin to prepare for the pilgrimage 
                            to its new home!
                        </p>
                    </li>
                    <li>
                        <h4 class="toggle_handle"><a class="anti_link list_item_toggle" href="#">Is this safe?</a></h4>
                        <p class="toggle_content" style="display: none;">Yes, 
                            extremely. Your credit card number is transmitted by SSL directly to a 
                            secure electronic vault, and the little 'padlock' icon on your browser 
                            confirms this.  At no time is your credit card information stored on our
                            servers.</p>
                    </li>
                </ul>
            </div></div><div id="free_shipping" data-bhw="FreeShipping" class="module" data-bhw-path="FreeShipping"><div class="module_top"><h3>The Goods Stuff</h3></div><div class="module_content"><img src="confirmation_files/checkout.png" alt="Free Shipping">
            </div></div>
        <div id="groupon_promise" data-bhw="GrouponPromise" class="module" data-bhw-path="GrouponPromise"><div class="module_top"><h3>Our Promise To You</h3></div><div class="module_content"><a href="https://www.groupon.com/groupon-promise"><img src="confirmation_files/groupon-promise.png" alt="The Groupon Promise"></a>
                <p>If the experience using your Groupon ever lets you down, we’ll make it right or return your purchase. Simple as that.</p>
            </div></div>
        <div data-bhw="TrustECertified" class="module" data-bhw-path="TrustECertified"><div class="module_top"><h3>TRUSTe Certified</h3></div><div class="module_content"><div class="truste"><a href="http://privacy-policy.truste.com/click-with-confidence/wps/en/www.groupon.com/seal_m"><img src="confirmation_files/seal_m.png" alt="Seal_m"></a></div>
            </div></div>
    </div>
</div>