<?php
$themes = $this->themes;
$theme = $themes[0]; 
$link = BASE_URL . "/giao-dien/" . Common::getDetailURL($theme["name"],$theme["id"]);//var_dump($theme,$link);exit;
?>
<main id="main" class="">
   <div class="shop-container">
      <div id="product-3143" class="post-3143 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-kinh-doanh-o-to product_tag-thiet-ke-web-mua-ban-o-to first instock shipping-taxable product-type-external">
         <div class="product-container">
            <div class="product-main">
               <div class="row content-row mb-0">
                  <div class="product-gallery col large-6">
                     <div class="product-images relative mb-half has-hover woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 1;">
                        <div class="badge-container is-larger absolute left top z-1"></div>
                        <div class="image-tools absolute top show-on-hover right z-3">
                        </div>
                        <figure class="woocommerce-product-gallery__wrapper product-gallery-slider slider slider-nav-small mb-half flickity-enabled is-draggable" data-flickity-options="{
                           &quot;cellAlign&quot;: &quot;center&quot;,
                           &quot;wrapAround&quot;: true,
                           &quot;autoPlay&quot;: false,
                           &quot;prevNextButtons&quot;:true,
                           &quot;adaptiveHeight&quot;: true,
                           &quot;imagesLoaded&quot;: true,
                           &quot;lazyLoad&quot;: 1,
                           &quot;dragThreshold&quot; : 15,
                           &quot;pageDots&quot;: false,
                           &quot;rightToLeft&quot;: false       }" tabindex="0">
                           <div class="flickity-viewport" style="height: 779.438px;">
                              <div class="flickity-slider" style="left: 0px; transform: translateX(0%);">
                                 <div data-thumb="<?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-kinh-doanh-o-to-tai-180x232.jpg" class="first slide woocommerce-product-gallery__image is-selected" style="position: absolute; left: 0%;">
                                     <a href="<?=IMAGE_URL?>/<?=$theme['image']?>605x778.jpg">
                                     <img src="<?=IMAGE_URL?>/<?=$theme['image']?>605x778.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt="" title="" ></a></div>
                              </div>
                           </div>
                           <button class="flickity-prev-next-button previous" type="button" disabled="" aria-label="previous">
                              <svg viewBox="0 0 100 100">
                                 <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
                              </svg>
                           </button>
                           <button class="flickity-prev-next-button next" type="button" disabled="" aria-label="next">
                              <svg viewBox="0 0 100 100">
                                 <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path>
                              </svg>
                           </button>
                        </figure>
                        <div class="image-tools absolute bottom left z-3" style="display:none">
                           <a href="#product-zoom" class="zoom-button button is-outline circle icon tooltip hide-for-small tooltipstered">
                           <i class="icon-expand"></i>    </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info summary col-fit col entry-summary product-summary">
                     <nav class="woocommerce-breadcrumb breadcrumbs"><a href="<?=BASE_URL?>">Trang chủ</a> <span class="divider">/</span> <a href="<?=BASE_URL?>/giao-dien/">Giao diện web</a></nav>
                     <h1 class="product-title entry-title">
                        <?=$theme["name"]?>
                     </h1>
                     <div class="is-divider small"></div>
                     <ul class="next-prev-thumbs is-small show-for-medium">
                        <li class="prod-dropdown has-dropdown">
                           <a href="<?=BASE_URL?>/theme/giao-dien-web-ban-pham-dep/" rel="next" class="button icon is-outline circle">
                           <i class="icon-angle-right"></i>              </a>
                           <div class="nav-dropdown">
                              <a title="Giao diện web bán mỹ phẩm đẹp" href="<?=BASE_URL?>/theme/giao-dien-web-ban-pham-dep/">
                              <img width="180" height="232" src="<?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-ban-my-pham-dep-180x232.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="<?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-ban-my-pham-dep-180x232.jpg 180w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-ban-my-pham-dep-234x300.jpg 234w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-ban-my-pham-dep-300x386.jpg 300w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-ban-my-pham-dep-600x773.jpg 600w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-ban-my-pham-dep.jpg 700w" sizes="(max-width: 180px) 100vw, 180px"></a>
                           </div>
                        </li>
                     </ul>
                     <div class="price-wrapper">
                        <p class="price product-page-price ">
                           <span class="amount">Liên hệ</span>
                        </p>
                     </div>
                     <p class="cart">
                        <a href="<?=$theme["link_demo"]?>" target="_blank" rel="nofollow" class="single_add_to_cart_button button alt">
                        <span>XEM THỰC TẾ </span>
                        <i class="icon-angle-right"></i>
                        </a>
                        <a href="#spu-3053" target="_self" class="button primary is-primary is-medium spu-clickable" style="cursor: pointer;display:none">
                        <span style="display:none">ĐĂNG KÝ NGAY</span>
                        <i class="icon-checkmark" style="display:none"></i>
                        </a>
                     </p>
                     <div class="product_meta">
                        <span class="posted_in">Danh mục: <a href="<?=BASE_URL?>/giao-dien/" rel="tag">Giao diện web</a></span>
                     </div>
                     <div class="social-icons share-icons share-row relative icon-style-outline " style="display:none">
                        <a href="whatsapp://send?text=Giao%2520di%25E1%25BB%2587n%2520web%2520kinh%2520doanh%2520%25C3%25B4%2520t%25C3%25B4%2520t%25E1%25BA%25A3i%20-%20http%3A%2F%2Fbenet.vn%2Ftheme%2Fgiao-dien-web-kinh-doanh-o-tai%2F" data-action="share/whatsapp/share" class="icon button circle is-outline tooltip whatsapp show-for-medium tooltipstered"><i class="icon-phone"></i></a>
                        <a href="//www.facebook.com/sharer.php?u=<?=BASE_URL?>/theme/giao-dien-web-kinh-doanh-o-tai/" data-label="Facebook" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="nofollow" target="_blank" class="icon button circle is-outline tooltip facebook tooltipstered"><i class="icon-facebook"></i></a>
                        <a href="//twitter.com/share?url=<?=BASE_URL?>/theme/giao-dien-web-kinh-doanh-o-tai/" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="nofollow" target="_blank" class="icon button circle is-outline tooltip twitter tooltipstered"><i class="icon-twitter"></i></a>
                        <a href="mailto:enteryour@addresshere.com?subject=Giao%20di%E1%BB%87n%20web%20kinh%20doanh%20%C3%B4%20t%C3%B4%20t%E1%BA%A3i&amp;body=Check%20this%20out:%20<?=BASE_URL?>/theme/giao-dien-web-kinh-doanh-o-tai/" rel="nofollow" class="icon button circle is-outline tooltip email tooltipstered"><i class="icon-envelop"></i></a>
                        <a href="//pinterest.com/pin/create/button/?url=<?=BASE_URL?>/theme/giao-dien-web-kinh-doanh-o-tai/&amp;media=<?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-kinh-doanh-o-to-tai.jpg&amp;description=Giao%20di%E1%BB%87n%20web%20kinh%20doanh%20%C3%B4%20t%C3%B4%20t%E1%BA%A3i" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="nofollow" target="_blank" class="icon button circle is-outline tooltip pinterest tooltipstered"><i class="icon-pinterest"></i></a>
                        <a href="//plus.google.com/share?url=<?=BASE_URL?>/theme/giao-dien-web-kinh-doanh-o-tai/" target="_blank" class="icon button circle is-outline tooltip google-plus tooltipstered" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="nofollow"><i class="icon-google-plus"></i></a>
                        <a href="//www.linkedin.com/shareArticle?mini=true&amp;url=<?=BASE_URL?>/theme/giao-dien-web-kinh-doanh-o-tai/&amp;title=Giao%20di%E1%BB%87n%20web%20kinh%20doanh%20%C3%B4%20t%C3%B4%20t%E1%BA%A3i" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="nofollow" target="_blank" class="icon button circle is-outline tooltip linkedin tooltipstered"><i class="icon-linkedin"></i></a>
                     </div>
                  </div>
                  <!-- .summary -->
                  <div id="product-sidebar" class="col large-2 hide-for-medium product-sidebar-small" style="display:none">
                     <div class="hide-for-off-canvas" style="width:100%">
                        <ul class="next-prev-thumbs is-small nav-right text-right">
                           <li class="prod-dropdown has-dropdown">
                              <a href="<?=BASE_URL?>/theme/giao-dien-web-ban-pham-dep/" rel="next" class="button icon is-outline circle">
                              <i class="icon-angle-right"></i>              </a>
                              <div class="nav-dropdown">
                                 <a title="Giao diện web bán mỹ phẩm đẹp" href="<?=BASE_URL?>/theme/giao-dien-web-ban-pham-dep/">
                                 <img width="180" height="232" src="<?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-ban-my-pham-dep-180x232.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="<?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-ban-my-pham-dep-180x232.jpg 180w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-ban-my-pham-dep-234x300.jpg 234w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-ban-my-pham-dep-300x386.jpg 300w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-ban-my-pham-dep-600x773.jpg 600w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-ban-my-pham-dep.jpg 700w" sizes="(max-width: 180px) 100vw, 180px"></a>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <!-- .row -->
            </div>
            <!-- .product-main -->
            <div class="product-footer" style="display:none">
               <div class="container">
                  <div class="related related-products-wrapper product-section">
                     <h3 class="product-section-title product-section-title-related pt-half pb-half uppercase">
                        SẢN PHẨM LIÊN QUAN    
                     </h3>
                     <div class="row large-columns-4 medium-columns- small-columns-2 row-small">
                        <div class="product-small col has-hover post-2348 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web  instock shipping-taxable product-type-external">
                           <div class="col-inner">
                              <div class="badge-container absolute left top z-1"></div>
                              <div class="product-small box ">
                                 <div class="box-image">
                                    <div class="image-fade_in_back">
                                       <a href="<?=BASE_URL?>/theme/giao-dien-web-pham/">
                                       <img width="300" height="386" src="<?=$theme["image"]?>" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="du-an-my-pham" title="du-an-my-pham" srcset="<?=BASE_URL?>/wp-content/uploads/2017/12/du-an-my-pham-300x386.png 300w, <?=BASE_URL?>/wp-content/uploads/2017/12/du-an-my-pham-233x300.png 233w, <?=BASE_URL?>/wp-content/uploads/2017/12/du-an-my-pham-768x989.png 768w, <?=BASE_URL?>/wp-content/uploads/2017/12/du-an-my-pham-795x1024.png 795w, <?=BASE_URL?>/wp-content/uploads/2017/12/du-an-my-pham-180x232.png 180w, <?=BASE_URL?>/wp-content/uploads/2017/12/du-an-my-pham-600x773.png 600w, <?=BASE_URL?>/wp-content/uploads/2017/12/du-an-my-pham.png 800w" sizes="(max-width: 300px) 100vw, 300px">				</a>
                                    </div>
                                    <div class="image-tools is-small top right show-on-hover">
                                    </div>
                                    <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                    </div>
                                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                    </div>
                                 </div>
                                 <!-- box-image -->
                                 <div class="box-text box-text-products">
                                    <div class="title-wrapper">
                                       <p class="name product-title"><a href="<?=BASE_URL?>/theme/giao-dien-web-pham/">Giao diện web mỹ phẩm</a></p>
                                    </div>
                                    <div class="price-wrapper">
                                       <span class="price"><span class="amount">Liên hệ</span></span>
                                    </div>
                                 </div>
                                 <!-- box-text -->
                              </div>
                              <!-- box -->
                           </div>
                           <!-- .col-inner -->
                        </div>
                        <!-- col -->
                        <div class="product-small col has-hover post-2913 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-bat-dong-san product_tag-giao-dien-web-cong-ty product_tag-giao-dien-web-cong-ty-tai-chinh  instock shipping-taxable product-type-external">
                           <div class="col-inner">
                              <div class="badge-container absolute left top z-1"></div>
                              <div class="product-small box ">
                                 <div class="box-image">
                                    <div class="image-fade_in_back">
                                       <a href="<?=BASE_URL?>/theme/giao-dien-web-cong-ty-tai-chinh-bat-dong-san/">
                                       <img width="300" height="386" src="<?=IMAGE_URL?>/<?=$theme["image"]?>" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-cong-ty-tai-chinh-bat-dong-san" title="giao-dien-web-cong-ty-tai-chinh-bat-dong-san" srcset="<?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-tai-chinh-bat-dong-san-300x386.jpg 300w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-tai-chinh-bat-dong-san-233x300.jpg 233w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-tai-chinh-bat-dong-san-768x988.jpg 768w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-tai-chinh-bat-dong-san-796x1024.jpg 796w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-tai-chinh-bat-dong-san-180x232.jpg 180w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-tai-chinh-bat-dong-san-600x773.jpg 600w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-tai-chinh-bat-dong-san.jpg 800w" sizes="(max-width: 300px) 100vw, 300px">				</a>
                                    </div>
                                    <div class="image-tools is-small top right show-on-hover">
                                    </div>
                                    <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                    </div>
                                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                    </div>
                                 </div>
                                 <!-- box-image -->
                                 <div class="box-text box-text-products">
                                    <div class="title-wrapper">
                                       <p class="name product-title"><a href="<?=BASE_URL?>/theme/giao-dien-web-cong-ty-tai-chinh-bat-dong-san/">Giao diện web công ty tài chính bất động sản</a></p>
                                    </div>
                                    <div class="price-wrapper">
                                       <span class="price"><span class="amount">Liên hệ</span></span>
                                    </div>
                                 </div>
                                 <!-- box-text -->
                              </div>
                              <!-- box -->
                           </div>
                           <!-- .col-inner -->
                        </div>
                        <!-- col -->
                        <div class="product-small col has-hover post-2938 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-ban-camera product_tag-giao-dien-web-ban-hang product_tag-web-ban-hang-camera last instock shipping-taxable product-type-external">
                           <div class="col-inner">
                              <div class="badge-container absolute left top z-1"></div>
                              <div class="product-small box ">
                                 <div class="box-image">
                                    <div class="image-fade_in_back">
                                       <a href="<?=BASE_URL?>/theme/giao-dien-web-ban-camera/">
                                       <img width="300" height="386" src="<?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-camera-300x386.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-ban-camera" title="giao-dien-web-ban-camera" srcset="<?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-camera-300x386.jpg 300w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-camera-233x300.jpg 233w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-camera-768x988.jpg 768w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-camera-796x1024.jpg 796w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-camera-180x232.jpg 180w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-camera-600x773.jpg 600w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-camera.jpg 1440w" sizes="(max-width: 300px) 100vw, 300px">				</a>
                                    </div>
                                    <div class="image-tools is-small top right show-on-hover">
                                    </div>
                                    <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                    </div>
                                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                    </div>
                                 </div>
                                 <!-- box-image -->
                                 <div class="box-text box-text-products">
                                    <div class="title-wrapper">
                                       <p class="name product-title"><a href="<?=BASE_URL?>/theme/giao-dien-web-ban-camera/">Giao diện web bán camera</a></p>
                                    </div>
                                    <div class="price-wrapper">
                                       <span class="price"><span class="amount">Liên hệ</span></span>
                                    </div>
                                 </div>
                                 <!-- box-text -->
                              </div>
                              <!-- box -->
                           </div>
                           <!-- .col-inner -->
                        </div>
                        <!-- col -->
                        <div class="product-small col has-hover post-2931 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-cong-ty product_tag-web-in-an first instock shipping-taxable product-type-external">
                           <div class="col-inner">
                              <div class="badge-container absolute left top z-1"></div>
                              <div class="product-small box ">
                                 <div class="box-image">
                                    <div class="image-fade_in_back">
                                       <a href="<?=BASE_URL?>/theme/giao-dien-web-cong-ty/">
                                       <img width="300" height="386" src="<?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-in-an-300x386.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-cong-ty-in-an" title="giao-dien-web-cong-ty-in-an" srcset="<?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-in-an-300x386.jpg 300w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-in-an-233x300.jpg 233w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-in-an-768x988.jpg 768w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-in-an-796x1024.jpg 796w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-in-an-180x232.jpg 180w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-in-an-600x773.jpg 600w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-cong-ty-in-an.jpg 800w" sizes="(max-width: 300px) 100vw, 300px">				</a>
                                    </div>
                                    <div class="image-tools is-small top right show-on-hover">
                                    </div>
                                    <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                    </div>
                                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                    </div>
                                 </div>
                                 <!-- box-image -->
                                 <div class="box-text box-text-products">
                                    <div class="title-wrapper">
                                       <p class="name product-title"><a href="<?=BASE_URL?>/theme/giao-dien-web-cong-ty/">Giao diện web công ty in ấn</a></p>
                                    </div>
                                    <div class="price-wrapper">
                                       <span class="price"><span class="amount">Liên hệ</span></span>
                                    </div>
                                 </div>
                                 <!-- box-text -->
                              </div>
                              <!-- box -->
                           </div>
                           <!-- .col-inner -->
                        </div>
                        <!-- col -->
                        <div class="product-small col has-hover post-2926 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-kinh-doanh-o-to product_tag-giao-dien-web-mua-ban-o-to product_tag-thiet-ke-web-mua-ban-o-to  instock shipping-taxable product-type-external">
                           <div class="col-inner">
                              <div class="badge-container absolute left top z-1"></div>
                              <div class="product-small box ">
                                 <div class="box-image">
                                    <div class="image-fade_in_back">
                                       <a href="<?=BASE_URL?>/theme/giao-dien-web-kinh-doanh-o/">
                                       <img width="300" height="386" src="<?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-kinh-doanh-o-to-300x386.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-kinh-doanh-o-to" title="giao-dien-web-kinh-doanh-o-to" srcset="<?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-kinh-doanh-o-to-300x386.jpg 300w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-kinh-doanh-o-to-233x300.jpg 233w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-kinh-doanh-o-to-768x988.jpg 768w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-kinh-doanh-o-to-796x1024.jpg 796w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-kinh-doanh-o-to-180x232.jpg 180w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-kinh-doanh-o-to-600x773.jpg 600w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-kinh-doanh-o-to.jpg 800w" sizes="(max-width: 300px) 100vw, 300px">				</a>
                                    </div>
                                    <div class="image-tools is-small top right show-on-hover">
                                    </div>
                                    <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                    </div>
                                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                    </div>
                                 </div>
                                 <!-- box-image -->
                                 <div class="box-text box-text-products">
                                    <div class="title-wrapper">
                                       <p class="name product-title"><a href="<?=BASE_URL?>/theme/giao-dien-web-kinh-doanh-o/">Giao diện web kinh doanh ô tô</a></p>
                                    </div>
                                    <div class="price-wrapper">
                                       <span class="price"><span class="amount">Liên hệ</span></span>
                                    </div>
                                 </div>
                                 <!-- box-text -->
                              </div>
                              <!-- box -->
                           </div>
                           <!-- .col-inner -->
                        </div>
                        <!-- col -->
                        <div class="product-small col has-hover post-2315 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web  instock shipping-taxable product-type-external">
                           <div class="col-inner">
                              <div class="badge-container absolute left top z-1"></div>
                              <div class="product-small box ">
                                 <div class="box-image">
                                    <div class="image-fade_in_back">
                                       <a href="<?=BASE_URL?>/theme/giao-dien-web-viet-pr/">
                                       <img width="300" height="386" src="<?=BASE_URL?>/wp-content/uploads/2016/11/du-an-thiet-ke-web-vietpr.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="du-an-thiet-ke-web-vietpr" title="du-an-thiet-ke-web-vietpr" srcset="<?=BASE_URL?>/wp-content/uploads/2016/11/du-an-thiet-ke-web-vietpr.png 800w, <?=BASE_URL?>/wp-content/uploads/2016/11/du-an-thiet-ke-web-vietpr-768x988.png 768w" sizes="(max-width: 300px) 100vw, 300px">				</a>
                                    </div>
                                    <div class="image-tools is-small top right show-on-hover">
                                    </div>
                                    <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                    </div>
                                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                    </div>
                                 </div>
                                 <!-- box-image -->
                                 <div class="box-text box-text-products">
                                    <div class="title-wrapper">
                                       <p class="name product-title"><a href="<?=BASE_URL?>/theme/giao-dien-web-viet-pr/">Giao diện web Viết PR</a></p>
                                    </div>
                                    <div class="price-wrapper">
                                       <span class="price"><span class="amount">Liên hệ</span></span>
                                    </div>
                                 </div>
                                 <!-- box-text -->
                              </div>
                              <!-- box -->
                           </div>
                           <!-- .col-inner -->
                        </div>
                        <!-- col -->
                        <div class="product-small col has-hover post-3039 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-ban-hang product_tag-giao-dien-web-ban-my-pham product_tag-web-ban-my-pham last instock shipping-taxable product-type-external">
                           <div class="col-inner">
                              <div class="badge-container absolute left top z-1"></div>
                              <div class="product-small box ">
                                 <div class="box-image">
                                    <div class="image-fade_in_back">
                                       <a href="<?=BASE_URL?>/theme/giao-dien-web-ban-hang-pham/">
                                       <img width="300" height="386" src="<?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-my-pham-300x386.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-my-pham" title="giao-dien-web-my-pham" srcset="<?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-my-pham-300x386.jpg 300w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-my-pham-233x300.jpg 233w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-my-pham-768x988.jpg 768w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-my-pham-796x1024.jpg 796w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-my-pham-180x232.jpg 180w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-my-pham-600x773.jpg 600w, <?=BASE_URL?>/wp-content/uploads/2018/04/giao-dien-web-my-pham.jpg 800w" sizes="(max-width: 300px) 100vw, 300px">				</a>
                                    </div>
                                    <div class="image-tools is-small top right show-on-hover">
                                    </div>
                                    <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                    </div>
                                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                    </div>
                                 </div>
                                 <!-- box-image -->
                                 <div class="box-text box-text-products">
                                    <div class="title-wrapper">
                                       <p class="name product-title"><a href="<?=BASE_URL?>/theme/giao-dien-web-ban-hang-pham/">Giao diện web bán hàng mỹ phẩm</a></p>
                                    </div>
                                    <div class="price-wrapper">
                                       <span class="price"><span class="amount">Liên hệ</span></span>
                                    </div>
                                 </div>
                                 <!-- box-text -->
                              </div>
                              <!-- box -->
                           </div>
                           <!-- .col-inner -->
                        </div>
                        <!-- col -->
                        <div class="product-small col has-hover post-2915 product type-product status-publish has-post-thumbnail product_cat-giao-dien-web product_tag-giao-dien-web-ban-hang product_tag-giao-dien-web-ban-nuoc-hoa product_tag-web-ban-nuoc-hoa first instock shipping-taxable product-type-external">
                           <div class="col-inner">
                              <div class="badge-container absolute left top z-1"></div>
                              <div class="product-small box ">
                                 <div class="box-image">
                                    <div class="image-fade_in_back">
                                       <a href="<?=BASE_URL?>/theme/giao-dien-web-ban-nuoc-hoa/">
                                       <img width="300" height="386" src="<?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-nuoc-hoa-300x386.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="giao-dien-web-ban-nuoc-hoa" title="giao-dien-web-ban-nuoc-hoa" srcset="<?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-nuoc-hoa-300x386.jpg 300w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-nuoc-hoa-233x300.jpg 233w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-nuoc-hoa-768x988.jpg 768w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-nuoc-hoa-796x1024.jpg 796w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-nuoc-hoa-180x232.jpg 180w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-nuoc-hoa-600x773.jpg 600w, <?=BASE_URL?>/wp-content/uploads/2018/03/giao-dien-web-ban-nuoc-hoa.jpg 800w" sizes="(max-width: 300px) 100vw, 300px">				</a>
                                    </div>
                                    <div class="image-tools is-small top right show-on-hover">
                                    </div>
                                    <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                    </div>
                                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                    </div>
                                 </div>
                                 <!-- box-image -->
                                 <div class="box-text box-text-products">
                                    <div class="title-wrapper">
                                       <p class="name product-title"><a href="<?=BASE_URL?>/theme/giao-dien-web-ban-nuoc-hoa/">Giao diện web bán nước hoa</a></p>
                                    </div>
                                    <div class="price-wrapper">
                                       <span class="price"><span class="amount">Liên hệ</span></span>
                                    </div>
                                 </div>
                                 <!-- box-text -->
                              </div>
                              <!-- box -->
                           </div>
                           <!-- .col-inner -->
                        </div>
                        <!-- col -->
                     </div>
                  </div>
               </div>
               <!-- .container -->
            </div>
            <!-- .product-footer -->
         </div>
         <!-- .product-container -->
      </div>
   </div>
   <!-- shop container -->
</main>