<?php
$themes = $this->themes;
$theme = $themes[0];
$link = Product_Business::buildLinkDetailTheme($theme["name"], $theme["id"]);
?>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.3'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="1615767751900008"
  logged_in_greeting="Chào bạn, bên mình có nhiều website đẹp, tiện ích. Chat tìm hiểu ngay nhé bạn"
  logged_out_greeting="Chào bạn, bên mình có nhiều website đẹp, tiện ích. Chat tìm hiểu ngay nhé bạn">
</div>
<div class="root" id="root">
        <div class="">
            <div class="Demo----2tcNlX_H07jD0-g0752M57 Demo--indent----1XrqghQmu_Pjn_mWGbG9ZG" id="idContentContainer">
                <div class="DemoPanel----2ASIy5hs1BsHCUv_s8gVaq" id="idHeaderPanel">
                    <div class="DemoPanel__container----RNs3WCiHIadUveXWdQ32g">
                        <div class="DemoPanel__chapter----1cePAgKSx_lGdQNjJweuTw">
                            <div class="DemoPanel__title----1TpqeX1DYJPa29r7S4wOVb">
                                <a href="<?=$link?>" title="Xem chi tiết website: <?=$theme["name"]?>" aria-label="Product" class="DemoPanel__goBackProduct----28HGMZlc-b015HW7vyPs7P">
                                    <svg class="Icon_TMIcon__1G9o_ DemoPanel__icon--goBack----3rTPRt8ASNLWxdZqCIED3-" aria-label="" width="20" height="20">
                                        <svg viewBox="0 0 20 20" id="arrowLeft" width="100%" height="100%">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.835 5.872a.5.5 0 1 0-.67-.744l-4.99 4.493a.513.513 0 0 0-.078.082.5.5 0 0 0 .077.676l4.991 4.493a.5.5 0 1 0 .67-.744L8.247 10l4.588-4.128z"></path>
                                        </svg>
                                        <defs>
                                            <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                        </defs>
                                    </svg><span class="DemoPanel__name----1Bcfl_DJofgdrEGq9mZtxY" style="max-width: 324.5px;"><?=$theme["name"]?></span></a>
                                <a class="DemoPanel__previewLink----141ivDTVlSFdX150BSd1nS" href="<?=$link?>" rel="noopener noreferrer">
                                    <svg class="Icon_TMIcon__1G9o_ DemoPanel__icon--link----2TVkj1s9SJybld9J-ulYek" aria-label="" width="13" height="13">
                                        <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#link"></use>
                                        <defs>
                                            <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                        </defs>
                                    </svg>
                                </a>
                            </div>
                            <div>
                               
                            </div>
                        </div>
                        <div class="DemoPanel__chapter--center----lLL3u_sVzi2UPUXci67-i">
                             <div class="ResponseSwitchers----QZWxdG5-V_LITYP_pewjH">
                                    <button id="idIconMobile" class="ResponseSwitchers__item----s96PZdmSUzUFM1kZdJHKD ResponseSwitchers__item--mobile----32gmQGOqAMInKlfeUGXwJe ResponseSwitchers__item--active----3BQ-2xdd62aUCPvsWJ8hK3">
                                        <svg class="Icon_TMIcon__1G9o_ ResponseSwitchers__itemIcon----1nydqPgG8q77XeWcoSeLLl" aria-label="" width="20" height="20">
                                            <svg viewBox="0 0 12 20" id="responseMobile" width="100%" height="100%">
                                                <g>
                                                    <g>
                                                        <path id="responseMobile_path0_fill" fill-rule="evenodd" d="M2.152 1C1.516 1 1 1.516 1 2.152v15.696C1 18.484 1.516 19 2.152 19h7.435c.636 0 1.152-.516 1.152-1.152V2.152C10.74 1.516 10.223 1 9.587 1H2.152zM0 2.152C0 .964.963 0 2.152 0h7.435c1.19 0 2.152.964 2.152 2.152v15.696A2.152 2.152 0 0 1 9.587 20H2.152A2.152 2.152 0 0 1 0 17.848V2.152z"></path>
                                                    </g>
                                                    <g>
                                                        <path id="responseMobile_path1_fill" fill-rule="evenodd" d="M3.304 2.152a.5.5 0 0 1 .5-.5h4.13a.5.5 0 1 1 0 1h-4.13a.5.5 0 0 1-.5-.5z"></path>
                                                    </g>
                                                    <g>
                                                        <path id="responseMobile_path2_fill" fill-rule="evenodd" d="M5.87 17.935a.087.087 0 1 0 0-.174v.174zm0 .826a.913.913 0 1 1 0-1.826.913.913 0 0 1 0 1.826z"></path>
                                                    </g>
                                                </g>
                                            </svg>

                                            <defs>
                                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                            </defs>
                                        </svg>
                                        <div style="display:none" id="idTooltipMobile" class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementBottom__3QzQt Notification_TMNotification--heightFixedSmall__1Nlia Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--visible__26I_M Notification_TMNotification--arrowPlacementTop__2FtKC ResponseSwitchers__notification----3_fec5UZ-aMJnwC-E1Pe37" role="alert">
                                            <div class="Notification_TMNotification__content__1LUmE ">Xem website trên điện thoại</div>
                                        </div><span class="ResponseSwitchers__itemText----1jafUN2aZOSTOl7-SyjPuu">Xem website trên điện thoại</span>
                                    </button>
                                    <button id="idIconTablet" class="ResponseSwitchers__item----s96PZdmSUzUFM1kZdJHKD ResponseSwitchers__item--tablet----8178XKIjSPJfTaJq33DEd">
                                        <svg class="Icon_TMIcon__1G9o_ ResponseSwitchers__itemIcon----1nydqPgG8q77XeWcoSeLLl" aria-label="" width="20" height="20">
                                            <svg viewBox="0 0 20 20" id="responseTablet" width="100%" height="100%">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.152 1C3.517 1 3 1.516 3 2.152v15.696C3 18.484 3.517 19 4.152 19h10.74c.636 0 1.152-.516 1.152-1.152V2.152c0-.636-.516-1.152-1.153-1.152H4.152zM2 2.152C2 .964 2.965 0 4.152 0h10.74c1.188 0 2.152.964 2.152 2.152v15.696A2.152 2.152 0 0 1 14.89 20H4.152A2.153 2.153 0 0 1 2 17.848V2.152z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.521 1.326a.413.413 0 1 0 0 .827.413.413 0 0 0 0-.827z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.521 17.935a.087.087 0 1 0 0-.174.087.087 0 0 0 0 .174zm-.913-.087a.913.913 0 1 1 1.827 0 .913.913 0 0 1-1.827 0z"></path>
                                            </svg>
                                            <defs>
                                                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                            </defs>
                                        </svg><span class="ResponseSwitchers__itemText----1jafUN2aZOSTOl7-SyjPuu">Xem website trên máy tính bảng</span>

                                        <div style="display:none" id="idTooltipTablet" class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementBottom__3QzQt Notification_TMNotification--heightFixedSmall__1Nlia Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--visible__26I_M Notification_TMNotification--arrowPlacementTop__2FtKC ResponseSwitchers__notification----3_fec5UZ-aMJnwC-E1Pe37" role="alert">
                                            <div class="Notification_TMNotification__content__1LUmE ">Xem website trên máy tính bảng</div>
                                        </div>

                                    </button>
                                    <button id="idIconDesktop" class="ResponseSwitchers__item----s96PZdmSUzUFM1kZdJHKD ResponseSwitchers__item--desktop----13T1WG68ksXWNm0oYhvA7B">
                                        <svg class="Icon_TMIcon__1G9o_ ResponseSwitchers__itemIcon----1nydqPgG8q77XeWcoSeLLl" aria-label="" width="20" height="20"><svg viewBox="0 0 20 20" id="responseDesktop" width="100%" height="100%"><g><g><path id="responseDesktop_path0_fill" fill-rule="evenodd" d="M1.74 1.063c-.382 0-.74.358-.74.863v13.018c0 .505.358.863.74.863h16.52c.383 0 .74-.357.74-.863V1.926c0-.506-.357-.863-.74-.863H1.74zM0 1.926C0 .891.753 0 1.74 0h16.52C19.249 0 20 .891 20 1.926v13.018c0 1.035-.752 1.926-1.74 1.926H1.74c-.987 0-1.74-.891-1.74-1.926V1.926z"></path></g><g><path id="responseDesktop_path1_fill" fill-rule="evenodd" d="M3.717 19.5a.5.5 0 0 1 .5-.5h11.566a.5.5 0 0 1 0 1H4.216a.5.5 0 0 1-.5-.5z"></path></g><g><path id="responseDesktop_path2_fill" fill-rule="evenodd" d="M10 15.87c.276 0 .5.308.5.688v2.273c0 .38-.224.689-.5.689s-.5-.308-.5-.689v-2.273c0-.38.224-.688.5-.688z"></path></g></g></svg><defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg><span class="ResponseSwitchers__itemText----1jafUN2aZOSTOl7-SyjPuu">Xem website trên máy tính</span>
                                        <div style="display:none" id="idTooltipDesktop" class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementBottom__3QzQt Notification_TMNotification--heightFixedSmall__1Nlia Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--visible__26I_M Notification_TMNotification--arrowPlacementTop__2FtKC ResponseSwitchers__notification----3_fec5UZ-aMJnwC-E1Pe37" role="alert">
                                            <div class="Notification_TMNotification__content__1LUmE ">Xem website trên máy tính</div>
                                        </div>

                                    </button>
                                </div>
                            
                            <span style="display:none" class="Button_TMButton__1Ix3j Button_TMButton--widthAuto__3Rwio Button_TMButton--heightMedium__1M8hE Button_TMButton--roundedAll__GmkJ4 Button_TMButton--bgError__1h4Rt AddToCart----3okEH9ZowfLbSAlisT6XFb"><a href="/cart/" aria-label="Cart" class="AddToCart__link----G5lSl2LpM5LlgJYyrJ1Q"><svg class="Icon_TMIcon__1G9o_ AddToCart__icon----2BN35mcEEH6Js6dm9NVYR-" aria-label="" width="20" height="20"><use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#cart"></use><defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg>Thêm vào giỏ hàng</a></span></div>
                        <div class="DemoPanel__chapter----1cePAgKSx_lGdQNjJweuTw">
                            <div class="DemoPanel__chapter--wrapper----3Ob-AiRjCh_-W4SIxNwdQ0"style="display:none">
                                <button class="Chat----1CIy1bJGL61H80LBILC-yM">
                                    <svg class="Icon_TMIcon__1G9o_ Chat__icon----21q-sWdaujkb86CjhePVc5" aria-label="" width="20" height="20">
                                        <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#thoughtCloud"></use>
                                        <defs>
                                            <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                        </defs>
                                    </svg><span class="Chat__text----3IZq_HkG0iF_KMwOulmOfH">Chat ngay</span>
                                    <div class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementBottom__3QzQt Notification_TMNotification--heightFixedSmall__1Nlia Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--hidden__1uRS8 Notification_TMNotification--arrowPlacementTop__2FtKC Chat__notification----2ZrvImf11vBSDbZ2TLFSAj" role="alert">
                                        <div class="Notification_TMNotification__content__1LUmE ">Chat ngay</div>
                                    </div>
                                </button>
                                <article class="DemoPanel__license----ZtaENaTqFZ6kyOHoIbBw6 License----2PfTn_jlGWMJig-hObWmGJ">
                                    <input type="hidden" name="license" value="4">
                                    <input type="hidden" name="price" value="79">
                                    <div style="display:none" class="Dropdown_TMDropdown__27KMl Dropdown_TMDropdown--openPositionBottom__21IS2 Dropdown_TMDropdown--closed__3k_EJ License__dropdown--closed----Hq1s6Ia6l8tnavhoYtw_Y Dropdown_TMDropdown--type6__2UrYx License__dropdown----15z2aDCev381eJJ7F1EQfS" tabindex="-1" role="presentation">
                                        <div class="Dropdown_TMDropdown__button__gaPeS Dropdown_TMDropdown__button--sizeMedium__2jJIT">
                                            <div class="Dropdown_TMDropdown__button--inner__1GJpx">
                                                <div class="Dropdown_TMDropdown__buttonContent__3X7-i">
                                                    <div class="Dropdown_TMDropdown__buttonLabelContent__1LmbM">
                                                        <div class="License__content----2UzA1Av4skzfrhngZagqzR">
                                                            <div class="License__titleContentWrapper----6OepWCMhtxzpoYEEz2Jyg">
                                                                <div class="License__option----i-XXbJKIU7nPT0coKrEzT"><span class="License__optionTitle----38QnmM-WdDiRUOsyjLprxO">Single Site License</span></div>
                                                                <div class="License__description----3Tz3Dn9GrHZOs8STutUvI1" role="button" tabindex="0">
                                                                    <svg class="Icon_TMIcon__1G9o_ License__help----3005PqYm90THvjXaXgy0VY" aria-label="" width="20" height="20">
                                                                        <use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#question"></use>
                                                                        <defs>
                                                                            <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                                                                        </defs>
                                                                    </svg>
                                                                    <div class="License__wrapper----wpeJ2-YnmE8MjX7spkTdh">
                                                                        <div class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementRight__1LcYG Notification_TMNotification--heightAuto__1hhtN Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--visible__26I_M Notification_TMNotification--arrowPlacementLeft__1XfnB License__message----2JSS1bItat2Zq28-GQeNK8" role="alert">
                                                                            <div class="Notification_TMNotification__content__1LUmE License__messageContent----2sIzc4LXCKnk6LgPm67J7g">Under a Single Site License for the template you are granted a non-exclusive non-transferable permission to use the template on a single domain.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p class="License__price----4qkqL8ndXgi97Ry6bLVty"><span><strong class="FormatCurrency----_wDdzsruEB4GBVuoqMGeu ">$79</strong></span></p>
                                                            </div>
                                                            <p class="License__optionDescription----SkalVsLs6i4JWyuFPjFFn">Under a Single Site License for the template you are granted a non-exclusive non-transferable permission to use the template on a single domain.</p>
                                                        </div>
                                                    </div>
                                                </div><span class="Dropdown_TMDropdown__buttonArrow__2yF_F"></span></div>
                                        </div>
                                    </div>
                                    <div class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementBottom__3QzQt Notification_TMNotification--heightFixedSmall__1Nlia Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--visible__26I_M Notification_TMNotification--arrowPlacementTop__2FtKC License__notification----AcrSgue4OSZQx0XYFem_q" role="alert">
                                        <div class="Notification_TMNotification__content__1LUmE ">Choose the License</div>
                                    </div>
                                </article>
                                <div class="Dropdown----3_xl-kzGPU8L3Wcw5mxdMW DemoPanel__dropdown----d3Gqc0uzcYjfkgLG3L_Xp">
                                    <div class="DropdownContent----1zH7cWR5zhnuS1TuXawxDR DropdownContent--openPosition--bottom----2Rs-CLw6ydWRw9hV8ZbUAZ DropdownContent--horizontalAlign--right----7s8iEvvc4kKGJfgE6Hci9 DropdownContent--hidden----2IsSzYbt8UboN5kBcunTj8" role="presentation">
                                        <ul class="DropdownOptionsList----3ofiq0t16XhEvYKbBLfDVA DemoPanel__services----1-skfg3m0LAv_NtBdPnotl" role="listbox">
                                            <li class="DropdownOption----3FYD3fq6wJavtpvWuo2fqv DropdownOption--height--medium----1dvsGuq7Gc94Jxp4YcQ8Hc DropdownOption--selectable----1seQv1FIaW3fg0dsF4gc6_ DemoPanel__servicesOption----1AUZXXw9R21qywdNtE9_oO" role="option" tabindex="0" aria-selected="false">
                                                <label class="TMQuarkCheckbox----21gJ9WldJJpOd4iVwuXf2o DemoPanel__servicesCheckbox----dpMLk0cu2x70z30Nv8YzT" for="869">
                                                    <input class="TMQuarkCheckbox__input----Ho2Wsd21Ae6jF7G_qWjls" type="checkbox" id="869" name="TT: eCommerce: Storefront Page Design" value="869"><span class="TMQuarkCheckbox__label----MbLoDTz7roYYpZ1e5uzTT" tabindex="0" role="button"><img src="./preview_page_files/storefront-page-design-icon.svg" alt="TT: eCommerce: Storefront Page Design" class="DemoPanel__servicesIcon----1X2ZNVPp1v6L2BT0dqbeJr"><div class="DemoPanel__servicesTitle----3fucthTbYjPVk87zdcaJhj"><span class="DemoPanel__servicesName----oIJpu8--9sicp9BZKkXHL">Storefront Page Design</span><span class="DemoPanel__servicesPrice----28Y4CbP_1CKfqaJFJAi-dj"><strong class="FormatCurrency----_wDdzsruEB4GBVuoqMGeu ">$139</strong></span></div>
                                    </span><i class="TMQuarkCheckbox__icon----2ohWvRb4Xk8G-NIv-rXlTH"></i></label>
                                    </li>
                                    <li class="DropdownOption----3FYD3fq6wJavtpvWuo2fqv DropdownOption--height--medium----1dvsGuq7Gc94Jxp4YcQ8Hc DropdownOption--selectable----1seQv1FIaW3fg0dsF4gc6_ DemoPanel__servicesOption----1AUZXXw9R21qywdNtE9_oO" role="option" tabindex="0" aria-selected="false">
                                        <label class="TMQuarkCheckbox----21gJ9WldJJpOd4iVwuXf2o DemoPanel__servicesCheckbox----dpMLk0cu2x70z30Nv8YzT" for="419">
                                            <input class="TMQuarkCheckbox__input----Ho2Wsd21Ae6jF7G_qWjls" type="checkbox" id="419" name="TT: OpenCart Templates: Speed Booster" value="419"><span class="TMQuarkCheckbox__label----MbLoDTz7roYYpZ1e5uzTT" tabindex="0" role="button"><img src="./preview_page_files/sc-ready-to-use.svg" alt="TT: OpenCart Templates: Speed Booster" class="DemoPanel__servicesIcon----1X2ZNVPp1v6L2BT0dqbeJr"><div class="DemoPanel__servicesTitle----3fucthTbYjPVk87zdcaJhj"><span class="DemoPanel__servicesName----oIJpu8--9sicp9BZKkXHL">Speed Booster</span><span class="DemoPanel__servicesPrice----28Y4CbP_1CKfqaJFJAi-dj"><strong class="FormatCurrency----_wDdzsruEB4GBVuoqMGeu ">$99</strong></span></div>
                                </span><i class="TMQuarkCheckbox__icon----2ohWvRb4Xk8G-NIv-rXlTH"></i></label>
                                </li>
                                <li class="DropdownOption----3FYD3fq6wJavtpvWuo2fqv DropdownOption--height--medium----1dvsGuq7Gc94Jxp4YcQ8Hc DropdownOption--selectable----1seQv1FIaW3fg0dsF4gc6_ DemoPanel__servicesOption----1AUZXXw9R21qywdNtE9_oO" role="option" tabindex="0" aria-selected="false">
                                    <label class="TMQuarkCheckbox----21gJ9WldJJpOd4iVwuXf2o DemoPanel__servicesCheckbox----dpMLk0cu2x70z30Nv8YzT" for="294">
                                        <input class="TMQuarkCheckbox__input----Ho2Wsd21Ae6jF7G_qWjls" type="checkbox" id="294" name="TT: ZM: Opencart Templates: Quick Store Setup" value="294"><span class="TMQuarkCheckbox__label----MbLoDTz7roYYpZ1e5uzTT" tabindex="0" role="button"><img src="./preview_page_files/installing-configuring-store-extended-logo.svg" alt="TT: ZM: Opencart Templates: Quick Store Setup" class="DemoPanel__servicesIcon----1X2ZNVPp1v6L2BT0dqbeJr"><div class="DemoPanel__servicesTitle----3fucthTbYjPVk87zdcaJhj"><span class="DemoPanel__servicesName----oIJpu8--9sicp9BZKkXHL">Quick Store Setup</span><span class="DemoPanel__servicesPrice----28Y4CbP_1CKfqaJFJAi-dj"><strong class="FormatCurrency----_wDdzsruEB4GBVuoqMGeu ">$99</strong></span></div>
                            </span><i class="TMQuarkCheckbox__icon----2ohWvRb4Xk8G-NIv-rXlTH"></i></label>
                            </li>
                            <li class="DropdownOption----3FYD3fq6wJavtpvWuo2fqv DropdownOption--height--medium----1dvsGuq7Gc94Jxp4YcQ8Hc DropdownOption--selectable----1seQv1FIaW3fg0dsF4gc6_ DemoPanel__servicesOption----1AUZXXw9R21qywdNtE9_oO" role="option" tabindex="0" aria-selected="false">
                                <label class="TMQuarkCheckbox----21gJ9WldJJpOd4iVwuXf2o DemoPanel__servicesCheckbox----dpMLk0cu2x70z30Nv8YzT" for="136">
                                    <input class="TMQuarkCheckbox__input----Ho2Wsd21Ae6jF7G_qWjls" type="checkbox" id="136" name="TT : Opencart Templates: Installation" value="136"><span class="TMQuarkCheckbox__label----MbLoDTz7roYYpZ1e5uzTT" tabindex="0" role="button"><img src="./preview_page_files/sc-installation.svg" alt="TT : Opencart Templates: Installation" class="DemoPanel__servicesIcon----1X2ZNVPp1v6L2BT0dqbeJr"><div class="DemoPanel__servicesTitle----3fucthTbYjPVk87zdcaJhj"><span class="DemoPanel__servicesName----oIJpu8--9sicp9BZKkXHL">Installation</span><span class="DemoPanel__servicesPrice----28Y4CbP_1CKfqaJFJAi-dj"><strong class="FormatCurrency----_wDdzsruEB4GBVuoqMGeu ">$49</strong></span></div>
                        </span><i class="TMQuarkCheckbox__icon----2ohWvRb4Xk8G-NIv-rXlTH"></i></label>
                        </li><span class="Button_TMButton__1Ix3j Button_TMButton--widthFull__38hz5 Button_TMButton--heightMedium__1M8hE Button_TMButton--roundedBottom__26TL5 Button_TMButton--bgImportant__3jt0F DemoPanel__addServices----3brs_rjKQuVXdO3egLT_Vh"><a href="https://www.templatemonster.com/cart/" aria-label="Cart" class="AddToCart__link----G5lSl2LpM5LlgJYyrJ1Q"><svg class="Icon_TMIcon__1G9o_ DemoPanel__addServicesIcon----2lMC8bKOOhS0COvGzm4mzY" aria-label="" width="20" height="20"><use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#cart"></use><defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg> Add Following Services to Your Order</a></span></ul>
                    </div>
                    <button style="display:none" class="DropdownContentToggleButton----2VeU9FTd8c91BRFxQ2HX9a DropdownContentToggleButton--height--medium----i6SpRiYdZbhTz8x1tBSGF" type="button" aria-label="LiveDemo services"><span class="DropdownContentToggleButton__content----1hNFUqpnRQu-zP4JfWPzGj DropdownContentToggleButton__content--height--medium----1nJ33aqACFpBghdmYgZC5m"><span class="DropdownContentToggleButton__label----1r5p0MTB0mdoRTm36IheMX"><p class="DemoPanel__dropdownTitle----23ClWI8jyOuDav7UaLNcY3"><svg class="Icon_TMIcon__1G9o_ DemoPanel__dropdownIcon----2hpVRqNVqUB9ViCEnu_DEc" aria-label="" width="14" height="14"><use xlink:href="plasmaIcons.11802be11aa8aa0e70e9e196149c06b2.svg#bagV2"></use><defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg><span class="DemoPanel__dropdownTitle--short----3h_eNbuzLQi53OzErWDw1L">Popular</span><span> services </span><span class="DemoPanel__dropdownTitle--full----2AvvqH6SdJkNUux9LBeSGB">available for this item</span></p>
                        </span>
                        </span>
                    </button>
                </div>
            </div>
            <button style="display:none" class="TMLibraryLike----1h6V1X0gTxqhZ3XeWKYD28 DemoPanel__collection----1jR06hR1lbXnXv_fTQsIsz" type="button">
                <svg class="Icon_TMIcon__1G9o_ TMLibraryLike__icon----RlWo7Zf4k1xG9WSnzcSe4 TMLibraryLike__icon--normal----2jWjx2FkYqOdUnQr0yGvPw" aria-label="" width="20" height="20">
                    <svg viewBox="0 0 20 20" id="heart" width="100%" height="100%">
                        <g transform="translate(0 1)">
                            <path id="heart_path0_fill" d="M10.607 15.73a23.179 23.179 0 0 1 1.716-1.538c.347-.287 1.628-1.322 1.881-1.53C17.558 9.908 19 7.983 19 5.53c0-4.794-6.128-6.205-8.106-2.254L10 5.063l-.894-1.787C7.129-.674 1 .733 1 5.53c0 2.453 1.442 4.377 4.796 7.131.253.209 1.532 1.242 1.879 1.528.713.59 1.25 1.068 1.714 1.536.224.225.427.446.611.665.183-.217.385-.437.607-.66zM9.387 1.872c.22.278.535.8.613.956a9.3 9.3 0 0 1 .613-.957C13.459-1.653 20-.07 20 5.53c0 6.006-8.253 9.035-10 12.647C8.254 14.564 0 11.536 0 5.53 0-.076 6.543-1.65 9.387 1.873z"></path>
                        </g>
                    </svg>
                    <defs>
                        <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
                    </defs>
                </svg><span class="DemoPanel__collection--text----3TxXfa6f1uJWiJq2_-zmas">Add to Collection</span><span class="TMLibraryLike__popover----3d-mRe9vtSp6_tZDHds5Hk">Add to Collection</span></button>
        </div>
    </div>
    </div>
    <div id="idIconHidePanel" class="DemoPanel__closePanel----3hhGLU9_McVSD3lB0CTcYE" role="button" tabindex="0">
        <svg class="Icon_TMIcon__1G9o_ DemoPanel__icon--close----2Z0A1-E-H_CptLN2Oj9XzJ" aria-label="" width="20" height="20">
            <svg viewBox="0 0 20 20" id="arrowLeft" width="100%" height="100%"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.835 5.872a.5.5 0 1 0-.67-.744l-4.99 4.493a.513.513 0 0 0-.078.082.5.5 0 0 0 .077.676l4.991 4.493a.5.5 0 1 0 .67-.744L8.247 10l4.588-4.128z"></path></svg>
            <defs>
                <rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect>
            </defs>
        </svg>
        <div id="idTooltipHidePanel" style="display:none" class="Notification_TMNotification__1hKpD Notification_TMNotification--positionAbsolute__10_mR Notification_TMNotification--placementLeft__3dk1Q Notification_TMNotification--heightFixedSmall__1Nlia Notification_TMNotification--typeDefault__2-70q Notification_TMNotification--visible__26I_M Notification_TMNotification--arrowPlacementRight__2U_DX DemoPanel__notification----3AnN0hK8EdTd8pAKqHOd7k" role="alert"><div class="Notification_TMNotification__content__1LUmE ">Ẩn</div></div>
    </div>
    
    <div id="idIconShowPanel" style="display:none" class="DemoPanel__closePanel----3hhGLU9_McVSD3lB0CTcYE DemoPanel__closePanel--rotate----1vuW8NK2Tnp6abQ9rhe9o2" role="button" tabindex="0"><svg class="Icon_TMIcon__1G9o_ DemoPanel__icon--close----2Z0A1-E-H_CptLN2Oj9XzJ" aria-label="" width="20" height="20">
        <svg viewBox="0 0 20 20" id="arrowLeft" width="100%" height="100%"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.835 5.872a.5.5 0 1 0-.67-.744l-4.99 4.493a.513.513 0 0 0-.078.082.5.5 0 0 0 .077.676l4.991 4.493a.5.5 0 1 0 .67-.744L8.247 10l4.588-4.128z"></path></svg>
        <defs><rect fill="#ffffff" fill-opacity="0" width="100%" height="100%" rx="3"></rect></defs></svg></div>
    
    <!-- Iframe mobile -->
    <div id="idIframeMobile" class="DemoTemplate----3_Bkg3lzQsnI2_acskvBXu DemoTemplate--mobile----2SjLSl72YysFR1GOBknXz_">
        <div class="DemoTemplate__image----3Zv3PsUVqRktLukLv1eYOi">
            <div class="DemoTemplate__frameWrap----1YkUWY9MGz3KmrvlDlRZ-J">
                <iframe id="ifr_idIconMobile" class="DemoTemplate__frame----2MvumAp9uf1K73jesa2xuF DemoPanel__frame--animated----hfNj93_ndx1VpjPORLvWq" title="Preview Template" src="<?=$theme["link_demo"]?>" style="height: 495px;"></iframe>
            </div>
        </div>
    </div>

    <!-- Iframe tablet -->
    <div id="idIframeTablet" style="display:none" class="DemoTemplate----3_Bkg3lzQsnI2_acskvBXu DemoTemplate--tablet----1TNVUYqAHpaRvw-mtO6c5H"><div class="DemoTemplate__image----3Zv3PsUVqRktLukLv1eYOi"><div class="DemoTemplate__frameWrap----1YkUWY9MGz3KmrvlDlRZ-J"><iframe id="ifr_idIconTablet" class="DemoTemplate__frame----2MvumAp9uf1K73jesa2xuF DemoPanel__frame--animated----hfNj93_ndx1VpjPORLvWq" title="Preview Template" rel-src="<?=$theme["link_demo"]?>" style="height: 1038px;"></iframe></div></div></div>

    <!-- Iframe desktop -->
    <div id="idIframeDesktop" style="display:none" class="DemoTemplate----3_Bkg3lzQsnI2_acskvBXu DemoTemplate--desktop----11iVHac_bVTL7lULm95NPm"><div class="DemoTemplate__image----3Zv3PsUVqRktLukLv1eYOi"><div class="DemoTemplate__frameWrap----1YkUWY9MGz3KmrvlDlRZ-J"><iframe id="ifr_idIconDesktop" class="DemoTemplate__frame----2MvumAp9uf1K73jesa2xuF DemoPanel__frame--animated----hfNj93_ndx1VpjPORLvWq" title="Preview Template" rel-src="<?=$theme["link_demo"]?>" style="height: 740px;"></iframe></div></div></div>

    </div>
    
    </div>
    </div>
    
 
    
<script>
var demoPage = {
    idIconMobile : 'idIconMobile',
    idTooltipMobile : 'idTooltipMobile',
    idIconTablet : 'idIconTablet',
    idTooltipTablet : 'idTooltipTablet',
    idIconDesktop : 'idIconDesktop',
    idTooltipDesktop: 'idTooltipDesktop',
    idIconHidePanel : 'idIconHidePanel',
    idIconShowPanel : 'idIconShowPanel',

    idIframeMobile : 'idIframeMobile',
    idIframeTablet : 'idIframeTablet',
    idIframeDesktop : 'idIframeDesktop',
	handleHoverDevice : function (idIcon, idTooltip) {
	    $("#"+idIcon).hover(function(){
	        $("#"+idTooltip).show();
	    }, function(){
	        $("#"+idTooltip).hide();
	    })
	},
	
	handleClickDevice : function (idIcon) {
	   $("#"+idIcon).click(function() {
	       var classActive = "ResponseSwitchers__item--active----3BQ-2xdd62aUCPvsWJ8hK3";
	       if(idIcon == demoPage.idIconMobile) {
	           $("#"+ demoPage.idIframeMobile).show();
	           $("#"+ demoPage.idIframeTablet).hide();
	           $("#"+ demoPage.idIframeDesktop).hide();
	           
	           $("#"+ demoPage.idIconMobile).addClass(classActive);
	           $("#"+ demoPage.idIconTablet).removeClass(classActive);
	           $("#"+ demoPage.idIconDesktop).removeClass(classActive);
	       } else if(idIcon == demoPage.idIconTablet) {
	           $("#"+ demoPage.idIframeTablet).show();
	           $("#"+ demoPage.idIframeMobile).hide();
	           $("#"+ demoPage.idIframeDesktop).hide();
	           
	           $("#"+ demoPage.idIconMobile).removeClass(classActive);
	           $("#"+ demoPage.idIconTablet).addClass(classActive);
	           $("#"+ demoPage.idIconDesktop).removeClass(classActive);

	       } else if(idIcon == demoPage.idIconDesktop) {
	           $("#"+ demoPage.idIframeDesktop).show();
	           $("#"+ demoPage.idIframeMobile).hide();
	           $("#"+ demoPage.idIframeTablet).hide();

	           $("#"+ demoPage.idIconMobile).removeClass(classActive);
	           $("#"+ demoPage.idIconTablet).removeClass(classActive);
	           $("#"+ demoPage.idIconDesktop).addClass(classActive);
	       }
	       
	       // Load iframe content
	       var iframeSource = $("#ifr_"+idIcon).attr("src");
           if(iframeSource == undefined || iframeSource == "") {
               var relSource = $("#ifr_"+idIcon).attr("rel-src");
               $("#ifr_"+idIcon).attr("src",relSource);
           }
       })
	},

    handleClickShowHideHeader : function (idIcon) {
	   $("#"+idIcon).click(function() {
	       if(idIcon == demoPage.idIconHidePanel) {
	           // Show hide icon
	           $("#"+idIcon).hide();
	           $("#idIconShowPanel").show();
	           $("#idHeaderPanel").hide();
	           $("#idContentContainer").css("padding-top","0px");
	           
	       } else if(idIcon == demoPage.idIconShowPanel) {
	           // Show hide icon
	           $("#"+idIcon).hide();
	           $("#idIconHidePanel").show();
	           $("#idHeaderPanel").show();
	           $("#idContentContainer").css("padding-top","60px");
	           
	       }
       })
	},

	initPage : function () {
		$( document ).ready(function() {
		    // Hanlde show or hide tool tips demo on device
		    demoPage.handleHoverDevice(demoPage.idIconMobile, demoPage.idTooltipMobile);
		    demoPage.handleHoverDevice('idIconTablet', 'idTooltipTablet');
		    demoPage.handleHoverDevice('idIconDesktop', 'idTooltipDesktop');
		    demoPage.handleHoverDevice('idIconHidePanel', 'idTooltipHidePanel');

            // Click
            demoPage.handleClickDevice(demoPage.idIconMobile);	    
            demoPage.handleClickDevice(demoPage.idIconTablet);	    
            demoPage.handleClickDevice(demoPage.idIconDesktop);
            
            demoPage.handleClickShowHideHeader(demoPage.idIconHidePanel);
            demoPage.handleClickShowHideHeader(demoPage.idIconShowPanel);
            
		});
	}
}

demoPage.initPage();
</script>
