<div class="ptitle">Delete cache</div>
<div id="zh_msg" style="text-align:center;color: red;font-weight: bold"><?=$this->msg?></div>
<div class="dragable_sect">
    <ul class="list_order" id="cateList" name="cateList">
		<?php
		foreach (Utils_Data::$defcache as $key => $value) {
		?>
			<li class="alt">
				<span id="cate_name_1" class="cate_name fl" style="font-size: 12px">
					<?=$value?>
				</span>
				<form action="<?=BASE_URL?>/admin/cache/index" method="post">
					<input type="hidden" value="<?=$key?>" name="cachename"/>
					<input type="submit" value="Delete" style="float: right"/>
				</form>
			</li>
		<?php
			}
		?>
    </ul>
</div>
<script type="text/javascript">
	zm.ready(function() {
		setTimeout(function(){
			zm('#zh_msg').html('&nbsp');
		}, 2000);
	});
</script>