<div class="center">
    <div class="menu">
        <a href="<?= BASE_URL ?>">Trang chủ </a> » Chọn phương thức thanh toán
    </div>
</div>
<div style="background-color: #ffffff" class="block_center">
    <div id="cart_content">
    <div class="dieuhuong">
        <div class="dieuhuong_l">
        <h1>Chọn phương thức thanh toán :</h1>
        </div><!--END .dieuhuong_l-->
        
    </div><!--END .dieuhuong-->
    <form action="<?=BASE_URL?>/product/success" method="POST" name="editcart" id="cart_view">
        <input type="hidden" value="<?=$this->time?>" name="time"/>
    <table class="selectpay" id="shopcart">
        <thead>
            <tr>
                <th style="border-right: 0px none;"></th>
                <th>Phương thức thanh toán</th>
                <th>Hướng dẫn sử dụng</th>
            </tr>    
        </thead>
        <tbody>
                        <tr>
                <td width="10" class="no_border_right"><input type="radio" value="1" name="select_pay" id="pay1"></td>
                <td width="150" class="no_center_border"><label for="pay1">Chuyển khoản</label></td>
                <td>
                   <p>Ngân hàng Eximbank , chi nhánh Tô Hiến Thành, Q.10, TPHCM</p>
<p>Chủ tài khoản : Trương Thị Thu Trâm</p>
<p>Số tài khoản&nbsp;&nbsp; : <span style="background-color: yellow;font-weight: bold">100714849116561</span></p>
<hr>
<div id="bank_info">
<p>Ngân hàng BIDV, chi nhánh Hoàng Văn Thụ, Q.Phú Nhuận, TPHCM</p>
<p>Chủ tài khoản : Trương Thị Thu Trâm</p>
<p>Số tài khoản&nbsp;&nbsp; : <span style="background-color: yellow;font-weight: bold">31510000746618</span></p>
<hr>

<p>Ngân hàng Teckcombank, chi nhánh Phú Mỹ Hưng, Q.7, TPHCM</p>
<p>Chủ tài khoản : Trương Thị Thu Trâm</p>
<p>Số tài khoản&nbsp;&nbsp; : <span style="background-color: yellow;font-weight: bold">19025675569014 </span></p>
<hr>

<p>Ngân hàng Phương Đông, chi nhánh Lê Duẩn, Q.1, TPHCM</p>
<p>Chủ tài khoản : Trương Thị Thu Trâm</p>
<p>Số tài khoản&nbsp;&nbsp; : <span style="background-color: yellow;font-weight: bold">0111100001514001</span> </p>
<hr>



</div> 
                </td>
            </tr>  
                        <tr>
                <td width="10" class="no_border_right"><input type="radio" value="2" name="select_pay" id="pay2"></td>
                <td width="150" class="no_center_border"><label for="pay2">Qua bưu điện</label></td>
                <td>
                   <p>Người nhận: <strong>Trương Thị Thu Trâm</strong><br> Địa chỉ: <strong>489A/23/245G Huỳnh Văn Bánh, P.13, Q.Phú Nhuận, TPHCM</strong><br> Điện thoại: <?=HOT_LINE?></p> 
                </td>
            </tr>  
                        <tr>
                <td width="10" class="no_border_right"><input type="radio" value="3" name="select_pay" id="pay3" checked="checked"/></td>
                <td width="150" class="no_center_border"><label for="pay3">Tiền mặt trực tiếp</label></td>
                <td>
                   <p>Tại địa chỉ Shop: 489A/23/245G Huỳnh Văn Bánh, P.13, Q.Phú Nhuận, TPHCM</p> 
                </td>
            </tr>  
                        <tr>
                <td width="10" class="no_border_right"><input type="radio" value="4" name="select_pay" id="pay4"></td>
                <td width="150" class="no_center_border"><label for="pay4">Qua Ngân Lượng</label></td>
                <td>
                   <div style="float:left"><img src="<?=STATIC_DOMAIN?>/images/logo-nl.jpg" class="logonl"></div>Dành cho khách hàng có tài khoản ví điện tử của Ngân Lượng. Xem hướng dẫn <a target="_blank" href="http://help.nganluong.vn/quanaoxinh.net" style="color: rgb(0, 143, 234); font-weight: bold;">thanh toán</a>  
                </td>
            </tr>  
                       <tr style='display:none'>
                <td width="10" class="no_border_right"><input type="radio" value="5" name="select_pay" id="pay5"></td>
                <td width="150" class="no_center_border"><label for="pay5">Qua Bảo Kim</label></td>
                <td>
                   <div style="float:left"><img src="<?=STATIC_DOMAIN?>/images/logo-bk.png" class="logobk"></div>Dành cho khách hàng có tài khoản ví điện tử của Bảo Kim. Xem hướng dẫn <a href="" style="color: rgb(0, 143, 234); font-weight: bold;">thanh toán</a> 
                </td>
            </tr>  
        </tbody>
    </table><!--END #table-->
    <div id="dathang">
        <input type="button" value="" name="xacnhanmua" id="xacnhanmua" onclick="checkout.submit();" />
    </div><!--END #dathang-->
        
    </form>
</div>           
</div>

<script type="text/javascript">
	var checkout={
		submit:function(){
			var sel_pay= $('input[name=select_pay]:checked').val(); 
			switch(sel_pay){
				case 4:  
					window.location="<?=$this->nganluong?>";
				break;
				case "4":  
					window.location="<?=$this->nganluong?>";
				break;
				default:
					$("#cart_view").submit();
				break;
			}
		}	
	}
</script>
