<?php
$product = $this->product[0];
?>
<div id="row row-none">
   <div class="container">
       <?= $this->boxSlider ?>
      <div id="middle">
         <div id="page-name">
            <ul id="sys_pagename">
               <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<?=BASE_URL?>" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                   </div>
               </li>
               <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<?=BASE_URL?>/san-pham.html" itemprop="url"><span itemprop="title">Sản Phẩm</span></a>
                   </div>
               </li>
               <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                       <a href="<?=BASE_URL?>/chi-tiet/san-pham/<?=$product['id']?>/" itemprop="url">
                            <span itemprop="title"><?=$product['name']?></span>
                       </a>
                   </div>
               </li>
            </ul>
         </div> 
         <div id="layout_content" class="row row-10">
            <div class="col-sm-18 col-10">
               <div id="content">
                  <div class="panel-fixed">
                     <div class="col-xs-12"><a href="tel:<?=HOT_LINE_ONLY_PHONE?>" class="btn btn-primary"><i class="glyphicon glyphicon-phone"></i>&nbsp;Gọi Ngay</a></div>
                     <?php if($product['amount'] > 0) {?>
                     <div class="col-xs-12"><button type="button" product-add-to-cart="<?=$product['id']?>" product-name="<?=$product['name']?>" class="btn btn-success ng-scope"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;Mua ngay</button></div>
                     <?php } ?>
                  </div>
                  <div id="p-detail">

                     <div class="_p_header row" itemscope itemtype="http://schema.org/Product">
                        <div class="col-sm-12">
                           <div class="_p_image">
                              <div class="image">
                                 <a rel="gal1" class="jqzoom" href="#" title="" style="outline-style: none; text-decoration: none;">
                                    <div class="zoomPad" style="margin: 0px auto;text-align:center">
                                       <img itemprop="image" alt="<?=$product['name']?>" product-add-to-cartclass="display-img" src="<?=IMAGE_URL."/product/".$product['image']?>350x350.jpg" style="opacity: 1;" border="0">
                                    </div>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-12">
                            <style>
                            .moredesc {
                                border-radius: 5px;
                                background: #f2f2f2;
                                border: 1px solid #e1e1e1;
                                padding: 10px;
                                text-align:left;
                                margin:5px;
                            }
                            </style>
                           <div class="_p_info">
                              <h1><span itemprop="name"><?=$product['name']?></span></h1>
                              <div class="row text-center">
                                 <div class="price" property="offers" typeof="Offer">Giá bán: <span property="price" content="<?=Common::numberFormat($product['new_price'])?>"><?=Common::numberFormat($product['new_price'])?></span><small><span property="priceCurrency" content="VNĐ">VNĐ</span></small>
                                 <?php if($product['id'] == 35) {?>
                                 / cặp
                                 <?php } ?>
                                 <br/><link property="availability" href="http://schema.org/InStock" /> 
                                 <?php if($product['amount'] > 0) {?>
                                 Còn hàng
                                 <?php } else {?>
                                 TẠM HẾT HÀNG.<br/>Bạn vui lòng liên hệ <?=HOT_LINE_ONLY_PHONE?> để chúng tôi lấy hàng về cho bạn.
                                 <?php }?>
                                 </div>
                                 
                                 <?php if($product['id'] == 35) {?>
                                 <div class="moredesc">
                                    <ul>
                                        <li>Dung tích mỗi trái dừa trung bình 650ml - 750ml.</li>
                                        <li>Độ cồn: 32, thời hạn sử dụng 12 tháng tính từ ngày sản xuất.</li>
                                        <li><span style="color:#c0392b"><strong>KHÔNG</strong></span> hóa chất, <strong><span style="color:#c0392b">KHÔNG</span></strong>&nbsp;chất bảo quản, <strong><span style="color:#c0392b">KHÔNG</span></strong> pha tạp chất.</li>
                                        <li><strong><span style="color:#d35400">Cam kết hoàn tiền 200% nếu không đúng như cam kết ở trên.</span></strong></li>                                        <li>Giao hàng thu tiền tận nơi trên <span style="color:#2980b9"><strong>TOÀN QUỐC</strong></span>.</li>
                                        <li>Mua số lượng lớn vui lòng liên hệ<strong><span style="color:#2980b9">&nbsp;0939 014 689</span></strong></li>
                                    </ul>
                                </div>
                                <?php } ?>

                                 <?php if($product['amount'] > 0) {?>
                                 <input product-add-to-cart="<?=$product['id']?>" product-name="<?=$product['name']?>" class="shopNow ng-scope" value="Mua ngay" type="button"/> 
                                 <?php } ?>
                              </div>
                              <hr>
                              <div><img src="<?=IMAGE_URL?>/icon/buy.jpg" width="33" height="33"> <span style="font-family: arial, sans-serif; color: #990000; font-weight: normal; font-size: 15px;"> Đã có <span><?=Common::numberFormat($product['number_buyer'])?></span> người mua sản phẩm này</span></div>
                              <br>
                              <div> Chia sẻ sản phẩm này cho bạn bè qua mạng xã hội</div>
                              <position:camket>
                                 <p class="share"> <a target="_blank" title="Chia sẻ lên Facebook" class="facebook" href="https://www.facebook.com/share.php?u=<?=BASE_URL?>/chi-tiet/san-pham/<?=$product['id']?>/"></a> <a title="Chia sẻ lên Google+" target="_blank" class="google" href="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=<?=BASE_URL?>/chi-tiet/san-pham/<?=$product['id']?>/"></a> <a title="Chia sẻ lên Twitter" target="_blank" class="twitter" href="http://twitter.com/home?status=<?=BASE_URL?>/chi-tiet/san-pham/<?=$product['id']?>/"></a> <a title="Chia sẻ lên Zing Me" target="_blank" class="zing" href="http://link.apps.zing.vn/share?u=<?=BASE_URL?>/chi-tiet/san-pham/<?=$product['id']?>/"></a> </p>
                              </position:camket>
                              
                              <br>
                              <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">Điểm đánh giá:
                                <span itemprop="ratingValue">87</span> / <span itemprop="bestRating">100</span>. Tổng số lần đánh giá <span itemprop="ratingCount">1320</span>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="_p_module">
                        <ul id="p-tabs">
                           <li id="longtext" class="active"><span>Giới thiệu sản phẩm</span></li>
                        </ul>
                        <ul class="p-tabs">
                           <li class="longtext active">
                              <div class="p-longtext">
                                 <div class="m-paragraphs">
                                    <?=$product['full_desc']?>
                                 </div>
                                 <div class="m-paragraphs">&nbsp;</div>
                              </div>
                              <?php if($product['amount'] > 0) {?>
                              <input product-add-to-cart="<?=$product['id']?>" product-name="<?=$product['name']?>" class="shopNow ng-scope" value="Mua ngay" type="button">
                              <?php } ?>
                                <div class="block_tag width_common">
                                    <div class="txt_tag"><i class="ic ic-tag"></i>&nbsp;Tags:</div>
                                    <h5><a href="https://dacsanday.net/tag/<?=urlencode("Đặc sản giá rẻ")?>" title="Đặc sản giá rẻ" class="tag_item">Đặc sản giá rẻ</a></h5>
                                    <h5><a href="https://dacsanday.net/tag/<?=urlencode("Kẹo dừa bến tre")?>" title="Kẹo dừa bến tre" class="tag_item">Kẹo dừa bến tre</a></h5>
                                    <h5><a href="https://dacsanday.net/tag/<?=urlencode("Kẹo dừa Thanh Long")?>" title="Kẹo dừa Thanh Long" class="tag_item">Kẹo dừa Thanh Long</a></h5>
                                    <h5><a href="https://dacsanday.net/tag/<?=urlencode("Bánh phồng Bến Tre")?>" title="Bánh phồng Bến Tre" class="tag_item">Bánh phồng Bến Tre</a></h5>
                                    <h5><a href="https://dacsanday.net/tag/<?=urlencode("Kẹo chuối Bến Tre")?>" title="Kẹo chuối Bến Tre" class="tag_item">Kẹo chuối Bến Tre</a></h5>
                                    <h5><a href="https://dacsanday.net/tag/<?=urlencode("Dầu dừa Bến Tre")?>" title="Dầu dừa Bến Tre" class="tag_item">Dầu dừa Bến Tre</a></h5>
                                </div>
                           </li>
                           <li class="params"></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <?= $this->boxright ?>
         </div>
      </div>
      <br/>
      <?= $this->boxtopweek ?>
      
      <div class="mod-default">
          <h3 class="mod-name">Bình luận</h3>
          <div class="products row">
               <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1396765267090480&autoLogAppEvents=1';
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-comments" data-href="<?=BASE_URL?>/chi-tiet/san-pham/<?=$product['id']?>/" data-width="100%" data-numposts="5" order_by="reverse_time"></div>
          </div>
      </div>

   </div>
</div>
<script type="text/javascript">
	dacsandayInit.detailProductPage();
</script>