<?php
    $card=$this->card; //var_dump("acb",$card);exit;
    $n=count($card);
?>
<div class="center">
    <div class="menu">
        <a href="<?= BASE_URL ?>" title="Trang chủ">Trang chủ </a> » Giỏ hàng
    </div>
</div>
<div style="background-color: #ffffff" class="block_center">
    <!--Card empty-->
    <?php
    if($n==0){
    ?>
    <div style="padding-top:20px;padding-bottom:20px">
    <div class="msempty" id="cart_empty">
        <h1>Hiện giỏ hàng của bạn chưa có sản phẩm nào. <span>(bạn xem hướng dẫn dưới đây để chọn mua sản phẩm)</span></h1>
        <div class="hdmuahang">
            <p style="padding-left: 10px">Hai hình thức đặt hàng:</p>
            <ul>
                <li><span>Gọi điện thoại trực tiếp để đặt hàng với chúng tôi theo số: <span class="dtdathang"><?=HOT_LINE?></span></span></li>
                <li><span>Đặt hàng trực tuyến:</span>
                    <p>- Bấm vào nút <img alt="capnhat" src="<?=STATIC_DOMAIN?>/images/capnhat.png" class="imgempty"/> để biết chi tiết số lượng và giá sản phẩm trong giỏ hàng.</p>
                    <p>- Sau đó bấm nút <img alt="Đặt hàng" src="<?=STATIC_DOMAIN?>/images/dathang.png"> rồi điền các thông tin giao hàng của quý khách.</p>
                    <p>- Sau cùng bấm nút <img alt="Gửi đơn hàng" src="<?=STATIC_DOMAIN?>/images/guidonhang.png"> để kết thúc.</p>
                    <p>- Chúng tôi sẽ liên lạc ngay khi nhận được đơn đặt hàng của quý khách. Xin cảm ơn!</p>
                    </li>
            </ul>
        </div>
    </div>
        </div>
    <?php }else{?>
    <!--End card empty-->
    
    <div id="cart_content">
        <div class="dieuhuong">
            <div class="dieuhuong_l">
                <h1>Giỏ hàng của bạn:</h1>
            </div>
        </div>
        <form action="<?=BASE_URL?>/product/card" method="POST" name="editcart" id="cart_view">
            <table id="shopcart">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th class="imgprod">Mã đơn hàng</th>
                        <th>Hình thức thanh toán</th>
                        <th>Ngày giao</th>
                        <th>Tổng tiền</th>
                        <th>Tình trạng</th>
                        <th>X</th>
                    </tr>    
                </thead>
                <tbody>
                    <?php
                    $card=$this->card;
                    $n=count($card);
                    $total_money=0;
                    for($i=0;$i<$n;$i++){
                        $item=$card[$i];
                        $total=$item["price"]*$item["quantity"];
                        $total_money+=$total;
                    ?>
                    <tr id="pro_<?=$item["id"]?>">
                        <td><?=$i+1?></td>
                        <td class="imgprod">
                            <a href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]?>">
                                <img alt="" src="<?=STATIC_DOMAIN?>/images/upload/product/<?=$item["image"]?>" class="imgprodc"/>
                            </a>
                        </td>
                        <td class="nameprodc">
                            <a href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]?>"><?=$item["name"]?></a>
                            <p>Mã sản phẩm: <?=$item["id"]?></p>
                        </td>
                        <td>
                            <span class="price_cart"><b><?=  Common::numberFormat($item["price"])?></b></span>
                        </td>
                        <td>
                            <input type="text" class="ipsoluong" value="<?=$item["quantity"]?>" name="quantity_<?=$item["id"]?>"/>
                        </td>
                        <td class="thanhtien">
                            <b><?=  Common::numberFormat($total)?></b>
                        </td>
                        <td>
                            <a title="Xóa sản phẩm này khỏi giỏ hàng" href="javascript:void(0);" onclick="api.removecard(<?=$item["id"]?>);" >
                                <img src="<?= STATIC_DOMAIN ?>/images/DeleteRed.png"/>
                            </a>
                        </td>
                    </tr>
                    
                    <?}?>

                </tbody>
            </table><!--END #table-->
            <div class="ctr_cart">
                <div class="cart-sum">Tổng tiền mua hàng: <span><?=  Common::numberFormat($total_money)?> VNĐ</span></div>
                <input type="submit" value="Cập nhật" class="cart-update" name="capnhat">
                <a href="javascript:void(0)" onclick="api.removeallcard();" class="cart_del">
                    <img title="Hủy đơn hàng" alt="xoasp" src="<?= STATIC_DOMAIN ?>/images/deletecart.png"/></a>
                <p align="right">( giá trên chưa bao gồm phí vận chuyển )</p>
            </div>    
        </form>

        <div id="dathang">
            <a class="dathang" id="btdathang" onclick="$('#order').css('display','block');$('#namekh').focus();">Đặt hàng</a>
            <a href="<?=BASE_URL."/product?cat=".ID_GROUP_MAIN1."&name=".NAME_GROUP_MAIN1?>" class="dathang1">Mua tiếp</a>
        </div>

        <div id="order" style="display: none">
            <form action="<?= BASE_URL ?>/product/checkout" method="POST"  name="orderhang" class="dathangf" id="order_frm"> 
                <p></p><h2 style="font-size: 15px">Thông tin giao hàng</h2><p></p>
                <div class="order_item">
                    <label>Họ tên:<span class="sao">*</span></label>
                    <input type="text" maxlength="100" class="ipkh" id="namekh" name="namekh">
                </div><!--END .order_item-->
                <div class="order_item">
                    <label>Số điện thoại:<span class="sao">*</span></label>
                    <input type="text" maxlength="30" class="ipkh" id="phonekh" name="phonekh">
                </div><!--END .order_item-->
                <div class="order_item">
                    <label>Email liên hệ:</label>
                    <input type="text" maxlength="100" class="ipkh" name="emailkh" id="emailkh"/>
                </div><!--END .order_item-->
                <div class="order_item">
                    <label>Địa chỉ:<span class="sao">*</span> <span class="diachikh">(số nhà,đường,phường,quận huyện)</span></label>
                    <input type="text" maxlength="300" class="ipkh" name="addresskh" id="addresskh"/>
                </div><!--END .order_item-->
                <div class="order_item">
                    <label>Tỉnh(Thành phố):<span class="sao">*</span></label>
                    <select name="tinh" id="tinh">
                        <option selected="selected" value="-1">Chọn Tỉnh/TP</option>
                        <option value="1">TP. HCM</option>
                        <option value="2">Hà Nội</option>
                        <option value="12">Bắc Kạn</option>
                        <option value="11">Bắc Giang</option>
                        <option value="10">Bà Rịa - Vũng Tàu</option>
                        <option value="9">An Giang</option>
                        <option value="13">Bạc Liêu</option>
                        <option value="14">Bắc Ninh</option>
                        <option value="15">Bến Tre</option>
                        <option value="16">Bình Định</option>
                        <option value="17">Bình Dương</option>
                        <option value="18">Bình Phước</option>
                        <option value="19">Bình Thuận</option>
                        <option value="20">Cà Mau</option>
                        <option value="21">Cần Thơ</option>
                        <option value="22">Cao Bằng</option>
                        <option value="23">Đà Nẵng</option>
                        <option value="24">Đắk Lắk</option>
                        <option value="25">Đắk Nông</option>
                        <option value="26">Điện Biên</option>
                        <option value="27">Đồng Nai</option>
                        <option value="28">Đồng Tháp</option>
                        <option value="29">Gia Lai</option>
                        <option value="30">Hà Giang</option>
                        <option value="31">Hà Nam </option>
                        <option value="32">Hà Tĩnh</option>
                        <option value="33">Hải Dương</option>
                        <option value="34">Hải Phòng</option>
                        <option value="35">Hậu Giang</option>
                        <option value="36">Hòa Bình</option>
                        <option value="37">Hưng Yên</option>
                        <option value="38">Khánh Hòa</option>
                        <option value="39">Kiên Giang</option>
                        <option value="40">Kon Tum</option>
                        <option value="41">Lai Châu</option>
                        <option value="42">Lâm Đồng</option>
                        <option value="43">Lạng Sơn</option>
                        <option value="44">Lào Cai</option>
                        <option value="45">Long An</option>
                        <option value="46">Nam Định</option>
                        <option value="47">Nghệ An</option>
                        <option value="48">Ninh Bình</option>
                        <option value="49">Ninh Thuận</option>
                        <option value="50">Phú Thọ</option>
                        <option value="51">Phú Yên</option>
                        <option value="52">Quảng Bình</option>
                        <option value="53">Quảng Nam</option>
                        <option value="54">Quảng Ngãi</option>
                        <option value="55">Quảng Ninh</option>
                        <option value="56">Quảng Trị</option>
                        <option value="57">Sóc Trăng</option>
                        <option value="58">Sơn La</option>
                        <option value="59">Tây Ninh</option>
                        <option value="60">Thái Bình</option>
                        <option value="61">Thái Nguyên</option>
                        <option value="62">Thanh Hóa</option>
                        <option value="63">Thừa Thiên Huế</option>
                        <option value="64">Tiền Giang</option>
                        <option value="65">Trà Vinh</option>
                        <option value="66">Tuyên Quang</option>
                        <option value="67">Vĩnh Long</option>
                        <option value="68">Vĩnh Phúc</option>
                        <option value="69">Yên Bái</option>
                    </select>
                </div><!--END .order_item-->
                <div class="order_item">
                    <label>Ghi chú: <span class="diachikh">Nếu bạn cần lưu ý điều gì,vui lòng viết vào bên dưới</span></label>
                    <textarea name="notekh" style="max-width: 500px;max-height: 220px;min-height: 100px;min-width: 500px"></textarea>
                </div><!--END .order_item-->
                <div class="order_item">
                    <label>Mã xác nhận:<span class="sao">*</span></label>
                    <input maxlength="20" class="capcha" name="mbcapcha" id="txtCode"/>
                    <img src="<?=STATIC_DOMAIN?>/images/capchar/<?=$this->capchar?>.jpeg" style="height: 25px;width: 100px;"/>
                </div><!--END .order_item-->

                <div style="text-align: center;" class="sbguidonhang">
                    <input id="guidonhang" type="button" value="Tiếp tục" name="guidonhang" onclick="api.smcheckout()"/>
                </div><!--END .order_item-->
            </form>
        </div><!--END #order-->

    </div>  
    <?php }?>
</div>
<input type="hidden" value="<?=$this->capchar?>" id="hdverifycode"/>
<script type="text/javascript" lang="javascript">

</script>