<?php 
$biz = Product_Business::getInstance();
$pro = array();
            $selprod = $_COOKIE[SEL_PRODUCT];
            if (isset($selprod)) {
                $selprod = base64_decode($selprod);
                $check = explode("-", $selprod);
                if (count($check) > 1 && strlen($check[0]) > 0 && strlen($check[1]) > 0) {
                    $selprod = explode(",", $selprod);
                    foreach ($selprod as $item) {
                        $tmp = explode("-", $item);
                        
                            $info = $biz->getInfo(intval($tmp[0]));
                            $info["quantity"] = intval($tmp[1]);
                            $pro[] = $info;
                         
                    }
                }
            }
//echo "<pre>";var_dump($pro);exit;
$invoice= array(
                    'id' => "abc",
                    'name' => "name",
                    'phone' => "phone",
                    'email' => "tanthang1986@yahoo.com",
                    'address' => "address",
                    'province' => "province",
                    'note' => "note",
                    'credit' => 0,
                    'verify' => 0,
                    'uname' => "tanpn",
                    'time' => 1340559347,
                    'status' => 0,
                    'amount' => 10
                );
$infocard=$biz->getCard($invoice["time"]); 
$idcredit=$infocard["credit"]; 
$waycredit=  Util_Data::$waycredit[$idcredit];
        $time=date("d-m-Y H:i",$invoice["time"]);
        $total=0;
        $content = 
        "<div>
            <div style='width:100%; background-color:#f4f4f4; border-bottom:2px solid #e9e9e9; overflow:hidden; height:50px'>
                <div class='x_top-mail'>
                    <p align='center' style='display:block; width:600px; height:50px'>Neu khong doc duoc tieng Viet, vui long chon menu View / Encoding. Chon charset la UTF-8.</p>
                </div>
            </div>
            <div style='margin-top:5px' id='x_page-mail'>
                <div style='padding-top:0px' class='x_logo-mail'><a target='_blank' style='float:left; margin-right:10px' href='redir.aspx?C=XQtgzpVsJEG0ejp_utsjJCop8E5hJc8IJ5BmmXjbZMw3rgmQQGd8UC1PC1056Z6SLiyYHz_MnaY.&amp;URL=http%3a%2f%2f123.vn'><img style='margin:15px 0px' width='140px' src='".STATIC_DOMAIN."/images/logo.jpeg'></a>
                    <div style='margin-top:10px'>
                        <h3 style='font-size:16px; padding-top:14px'>Chào Bạn!</h3>
                        <p>Cám ơn bạn đã đặt mua hàng tại trung tâm thương mại trực tuyến <a target='_blank' title='".SHOP_URL_SHORT."' href='".BASE_URL." '>
                                ".SHOP_URL_SHORT."</a> <span style='color:#e47911'>(dịch vụ mua bán quần áo và phụ kiện thời trang đảm bảo, uy tín)</span></p>
                    </div>
                </div>
                <div style='clear:both'></div>
                <p>Thông tin đơn hàng <span style='font-weight:bold'>DH".$invoice["time"]."</span> đặt mua thành công vào
                    <span style='font-weight:bold'>".$time."</span> như sau:</p>
                <div class='x_ttdh'>
                    <h2>THÔNG TIN GIAO NHẬN</h2>
                    <table cellspacing='3' cellpadding='0' width='100%' style='border:1px solid #eee; border-top:2px solid #f99517; padding:5px 10px'>
                        <tbody>
                            <tr>
                                <td colspan='2'><strong>Thông tin người mua:</strong></td>
                                <td colspan='2'><strong>Thông tin người nhận:</strong></td>
                            </tr>
                            <tr>
                                <td width='60px;'><span style='text-decoration:underline'>Họ tên:</span></td>
                                <td align='left'>".$invoice["name"]."</td>
                                <td width='60px;'><span style='text-decoration:underline'>Họ tên:</span></td>
                                <td align='left'>".$invoice["name"]."</td>
                            </tr>
                            <tr>
                                <td><span style='text-decoration:underline'>Địa chỉ:</span></td>
                                <td align='left'>".$invoice["address"]."</td>
                                <td><span style='text-decoration:underline'>Địa chỉ:</span></td>
                                <td align='left'>".$invoice["address"]."</td>
                            </tr>
                            <tr>
                                <td><span style='text-decoration:underline'>Điện thoại:</span></td>
                                <td align='left'>".$invoice["phone"]."</td>
                                <td><span style='text-decoration:underline'>Điện thoại:</span></td>
                                <td align='left'>".$invoice["phone"]."</td>
                            </tr>
                            <tr>
                                <td><span style='text-decoration:underline'>Email:</span></td>
                                <td align='left'>".$invoice["email"]."</td>
                                <td><span style='text-decoration:underline'>Email:</span></td>
                                <td align='left'>".$invoice["email"]."</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class='x_ttdh'>
                    <h2>THÔNG TIN SẢN PHẨM</h2>
                    <table cellspacing='0' cellpadding='10' width='100%' style='border:1px solid #eee; border-top:2px solid #f99517; padding:5px 10px; border-collapse:collapse'>
                        <tbody>
                            <tr style='text-align:center; background-color:#ecf6fe'>
                                <td align='left' width='15%' class='x_col1'>Mã sản phẩm</td>
                                <td align='left' width='40%' class='x_col2'>Tên sản phẩm</td>
                                <td align='left' width='15%' class='x_col3'>Đơn giá</td>
                                <td align='left' width='15%' class='x_col4'>Số lượng</td>
                                <td align='left' width='15%' class='x_col5'>Thành tiền</td>
                            </tr>";
                          
                            foreach($pro as $item){
                                $sum=$item["price"]*$item["quantity"];
                                $total+=$sum;
                                $content.=
                                "<tr>
                                    <td style='border-bottom:1px solid #eee; border-left:1px solid #eee' class='x_col1 x_padding'>".
                                        Common::prodidFormat($item["id"]).
                                    "</td>
                                    <td style='border-bottom:1px solid #eee' class='x_col2 x_padding'>".$item["name"]."</td>
                                    <td style='border-bottom:1px solid #eee' class='x_col3 x_padding'>
                                        <p>".Common::numberFormat($item["price"])."</p>
                                    </td>
                                    <td style='border-bottom:1px solid #eee' class='x_col4 x_padding'>".$item["quantity"]."</td>
                                    <td style='border-bottom:1px solid #eee; border-right:1px solid #eee' class='x_col5 x_padding'>
                                        ".Common::numberFormat($sum) ."<sup class='x_und'> đ </sup></td>
                                </tr>";
                            }
        
                            
        
        $content.=
                "</tbody>
                    </table>
                    <table border='0' width='100%' style='color:#f50404; font-size:12px; display:block; margin-bottom:5px; clear:both'>
                        <tbody>
                            <tr>
                                <td align='right'>
                                    <p style='color:#646464'>Phí giao hàng:</p>
                                </td>
                                <td align='right' style='margin-right:15px'>
                                    <p>0&nbsp;<sup class='x_und'>đ</sup> </p>
                                </td>
                            </tr>
                            <tr>
                                <td align='right' width='590'>
                                    <p><strong style='font-weight:bold; color:#646464'>Tổng tiền thanh toán:</strong></p>
                                </td>
                                <td align='right' width='75' style='margin-right:15px'>
                                    <p><strong>".Common::numberFormat($total)."</strong>&nbsp;<sup class='x_und'>đ</sup></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style='margin-bottom:20px; padding-top:10px; margin-top:10px' class='x_welcome'>
                    <p><strong>Phương thức thanh toán:</strong> ".$waycredit." </p>
                    <p><strong>Thời gian dự kiến giao hàng:</strong> Sau khi đơn hàng xác nhận đã thanh toán thành công, chúng tôi sẽ giao hàng miễn phí đến bạn trong vòng 48 giờ làm việc (không tính Chủ Nhật và các ngày lễ - áp dụng cho các quận huyện nội thành của HCM
                        ).</p>
                    <p><strong>Theo dõi đơn hàng:</strong> Để theo dõi chi tiết tình trạng đơn hàng của mình, bạn đăng nhập vào
                        <a target='_blank' href='".BASE_URL."'>
                            ".SHOP_URL_SHORT."</a> và chọn mục '<strong>xem lịch sử đơn hàng</strong>' (<a target='_blank' href='".BASE_URL."/support/huongdanmua'>hướng dẫn chi tiết</a>).</p>
                    <p><strong>Ghi chú về đơn hàng:</strong> </p>
                    <p>Chúng tôi luôn hy vọng mang đến cho bạn những sản phẩm và dịch vụ với chất lượng tốt nhất. Trường hợp bạn có yêu cầu về việc đổi trả sản phẩm, vui lòng tham khảo chính sách đổi trả hàng
                        <a target='_blank' href='".BASE_URL."/support/changeprod'>
                            tại đây</a>.</p>
                    <p>Mọi thắc mắc xin vui lòng truy cập vào địa chỉ <a target='_blank' href='".BASE_URL."/support/intro'>
                            ".BASE_URL."/support/intro</a> hoặc liên hệ hotline ".HOT_LINE." để được hướng dẫn.</p>
                    <p>Hãy là người đầu tiên nhận được thông tin về những sản phẩm mới nhất và chương trình khuyến mãi đặc biệt dành riêng cho thành viên của
                        <a target='_blank' href='".BASE_URL."'>
                            ".SHOP_URL_SHORT."</a> bằng cách đăng kí nhận bản tin.</p>
                    <p>Chúng tôi hy vọng bạn đã có những giây phút trải nghiệm thú vị với dịch vụ mua sắm trực tuyến tại
                        <a target='_blank' href='".BASE_URL."'>
                            ".SHOP_URL_SHORT."</a>.</p>
                    <br>
                    <br>
                    <strong>Trân trọng!</strong>
                    <p>Đội ngũ ".SHOP_URL_SHORT."</p>
                </div>
                <br class='x_clear'>
            </div>
            <div id='x_footer-mail'><img height='53' width='37' style='float:left; display:block; margin-right:10px' src='".STATIC_DOMAIN."/images/logo.jpeg'>
                <p>Địa chỉ: ".SHOP_STORE."<br>".
                    "Hotline: ".HOT_LINE."</p>
            </div>
        </div>
        <style>
            <!--
            .x_und
                {text-decoration:underline}
            .x_top-mail
                {width:670px;
                margin:0 auto;
                display:block;
                padding-top:25px;
                overflow:hidden;
                clear:both}
            #x_page-mail
                {width:670px;
                margin:0 auto;
                display:block}
            .x_ttdh
                {margin-top:15px}
            .x_inner-ttdh
                {border:1px solid #eee;
                border-top:2px solid #f99517;
                padding:5px 10px}
            .x_sums
                {width:300px;
                float:right;
                display:block}
            .x_inner-sums
                {color:#f50404;
                font-size:11px;
                float:right;
                display:block;
                width:250px;
                margin-bottom:5px;
                clear:both}
            .x_inner-sums 
                {font-weight:normal;
                font-size:12px;
                color:#000}
            .x_inner-sums 
                {color:#ac0404;
                font-weight:bold;
                font-size:12px}
            .x_col-left
                {text-align:right;
                display:block;
                margin-right:20px;
                width:520px;
                float:left}
            .x_col-right
                {text-align:right;
                float:left;
                display:block;
                width:100px}
            .x_infor-product
                {margin-top:20px}
            .x_col2, .x_col3, .x_col4
                {border-left:1px solid #fff;
                border-right:1px solid #eee}
            .x_col1
                {border-right:1px solid #eee}
            .x_col5
                {border-left:1px solid #fff}
            .x_col3, .x_col5
                {text-align:right;
                padding-right:15px}
            .x_col4
                {text-align:center}
            .x_padding
                {padding:15px}
            #x_footer-mail
                {width:670px;
                padding:20px 10px;
                margin:0px auto;
                display:block;
                height:55px;
                border-top:1px solid #dcdcdc;
                overflow:hidden;
                background-color:#f4f4f4;
                font-size:11px;
                color:#000}
            #x_footer-mail 
                {line-height:18px}
            -->
        </style>
        ";
        echo $content; exit;
?>