<div id="wrapper" style="background-color: white">
    <div id="content">
        <form id="frm_order" class="frm_checkout" method="post" action="<?=BASE_URL?>/product/checkout">
            <h2 class="title_order">Đặt mua sản phẩm</h2>
            <div class="box_order boxRadius wid950">
                <div class="box_order_inside">
                    <div class="leftBox_order">
                        <h3>Thông tin người mua</h3>
                        <ul style="display: none;" class="warning" id="warning-box">
                            <li class="first">Bạn vui lòng kiểm tra lại thông tin bên dưới</li>
                        </ul>
                        <div class="group_listing_input">
                            <div class="listing_input">
                                <div class="post_label_container">
                                    <label class="postLabel">Họ và tên</label>
                                </div>
                                <input type="text" name="buyer_name" class="k1_text_input" id="buyer_name">
                            </div>
                            <div class="listing_input">
                                <div class="post_label_container">
                                    <label class="postLabel">Điện thoại</label>
                                </div>
                                <input type="text" name="buyer_phone" class="k2_text_input" id="buyer_phone">
                            </div>
                            <div class="listing_input">
                                <div class="post_label_container">
                                    <label class="postLabel">Địa chỉ</label>
                                </div>
                                <input name="buyer_address" class="k1_text_input" id="buyer_address">
                            </div>
                            <div class="listing_input">
                                <div class="post_label_container">
                                    <label class="postLabel">Quận huyện</label>
                                </div>
                                <input type="text" class="k2_text_input required" id="buyer_district" name="buyer_district">
                            </div>
                            <div class="listing_input">
                                <div class="post_label_container">
                                    <label class="postLabel">Thành phố</label>
                                </div>
                                <select name="city_id" class="k3_text_input required" id="city_id">
                                    <option selected="selected" value="">Thành phố</option>
                                    <option value="1">Tp.Hồ Chí Minh</option>
                                    <option value="2">Hà Nội</option>
                                </select>
                            </div>
                            <div class="listing_input">
                                <div class="post_label_container">
                                    <label class="postLabel">Email</label>
                                </div>
                                <input id="buyer_email" type="text" class="k1_text_input" name="buyer_email">
                            </div>
                            <div class="listing_input">
                                <div class="post_label_container">
                                    <label class="postLabel">Thông tin thêm <i>(nếu bạn cần hỏi hoặc ghi chú thêm cho chủ shop, nội dung không quá 255 ký tự)</i></label>
                                </div>
                                <textarea style="max-width: 596px;width: 596px;height: 90px;max-height: 205px" rows="" cols="" name="buyer_message" class="k4_text_input" id="buyer_message" style="width: 598px; height: 110px;"></textarea>
                            </div>
                            <a id="btn_order" href="javascript:void(0);" onclick="api.checkout();" class="btn_order clear">Đặt mua</a></div>
                    </div>
                    <div class="rightBox_order">
                        <h3>Hóa đơn mua hàng</h3>
                        <input type="hidden" name="price" value="2434" id="price">
                        <input type="hidden" id="tong_tien_hidden" name="tong_tien_hidden" value="2434">
                        <input type="hidden" id="thanh_tien_hidden" name="thanh_tien_hidden" value="2434">
                        <input type="hidden" name="id_product" value="27.51.tan">
                        <p class="bill_info"><span class="label">Đơn giá</span><span class="price">2.434 VNĐ</span></p>
                        <p class="bill_info"><span class="label">Số lượng</span><input type="text" value="1" rel="1300000" id="quantity" name="quantity" class="stock product_quantity"></p>
                        <p class="bill_info total_money"><span class="label">Tổng</span><span id="price_total_price" class="price total_price">2.434 VNĐ</span></p>
                        <p class="total_order"><span class="label">Thành tiền</span><span id="thanh_tien" class="price total_price">2.434 VNĐ</span></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="sum_detail">
                <h4>Chi tiết sản phẩm đặt mua</h4>
                <div class="pic"><a href="#" class="thumb"><span></span><img height="110" alt="index6.jpeg" src="checkout_files/index6.jpeg"></a></div>
                <div class="desc">
                    <h2><a href="http://localhost/amazon/public_html/product/detail?id=27.51.tan">sdfsdf</a></h2>
                    <span class="option"><span class="label">Tên sản phẩm</span>sdfsd</span>
                    <span class="option"><span class="label">Tình trạng</span>Chưa duyệt</span>
                    <span class="option"><span class="label">Cập nhật</span>2011-08-14 11:08:18</span>
                    <span class="option"><span class="label">Giá sản phẩm</span><strong class="price">2.434 VNĐ</strong></span>
                </div>
                <div class="clear"></div>
            </div>
        </form>	
    </div>
</div>
<script type="text/javascript">
 $(document).ready(function() {
        $("#buyer_name").focus();
        
        $("#buyer_name").keypress(function(event){
            if(event.keyCode == 13){
               $("#buyer_phone").focus();
            }
        });
        
        $("#buyer_phone").keypress(function(event){
            if(event.keyCode == 13){
               $("#buyer_address").focus();
            }
        });
        
         $("#buyer_address").keypress(function(event){
            if(event.keyCode == 13){
               $("#buyer_district").focus();
            }
        });
        
        
         $("#buyer_district").keypress(function(event){
            if(event.keyCode == 13){
               $("#city_id").focus();
            }
        });
         $("#city_id").keypress(function(event){
            if(event.keyCode == 13){
               $("#buyer_email").focus();
            }
        });
        
         $("#buyer_email").keypress(function(event){
            if(event.keyCode == 13){
               $("#buyer_message").focus();
            }
        });
        
         $("#buyer_message").keypress(function(event){
            if(event.keyCode == 13){
               $("#btn_order").focus();
            }});
    });
</script>