<?php

$pass="abcxyz";
$email="test@yahoo.com";
$uname="tendangnhap";
$time=time();
$hash=md5($time."!123@abcshop");

$content =
        "<div>
            <div style='width:100%; background-color:#f4f4f4; border-bottom:2px solid #e9e9e9; overflow:hidden; height:50px'>
                <div class='x_top-mail'>
                    <p align='center' style='display:block; width:600px; height:50px'>Neu khong doc duoc tieng Viet, vui long chon menu View / Encoding. Chon charset la UTF-8.</p>
                </div>
            </div>
            <div style='margin-top:5px' id='x_page-mail'>
                <div style='padding-top:0px' class='x_logo-mail'><a target='_blank' style='float:left; margin-right:10px' href='" . BASE_URL . "'><img style='margin:15px 0px;width:140px' src='" . STATIC_DOMAIN . "/images/logo.jpeg'></a>
                    <div style='margin-top:10px'>
                        <h3 style='font-size:16px; padding-top:14px'>Chào Bạn!</h3>
                        <p>
                        Cám ơn bạn đã quan tâm và sử dụng dịch vụ của website mua sắm trực tuyến uy tín, đảm bảo 
                        <a target='_blank' title='" . SHOP_URL_SHORT . "' href='" . BASE_URL . " '>" . SHOP_URL_SHORT . "</a>
                        .Sau đây là thông tin khôi phục lại mật khẩu bạn đã quên ứng với email bạn đã đăng ký.</span></p>
                    </div>
                </div>
                <div style='clear:both'></div>
                <br/>
                <div class='x_ttdh'>
                    <h2>THÔNG TIN MẬT KHẨU MỚI</h2>
                    <table cellspacing='3' cellpadding='0' width='100%' style='border:1px solid #eee; border-top:2px solid #f99517; padding:5px 10px'>
                        <tbody>
                            <tr>
                                <td colspan='2'><strong>Thông tin đăng nhập:</strong></td>
                            </tr>
                            <tr>
                                <td width='120px;'><span style='text-decoration:underline'>Tên đăng nhập:</span></td>
                                <td align='left'>" . $uname . "</td>
                            </tr>
                            <tr>
                                <td width='60px;'><span style='text-decoration:underline'>Mật khẩu mới:</span></td>
                                <td align='left'>" . $pass . "</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div style='margin-bottom:20px; padding-top:10px; margin-top:10px' class='x_welcome'>
                    <p>Bạn vui lòng nhấn vào đường link sau để tiến hành xác thực mật khẩu mới <a target='_blank' href='" . BASE_URL . "/auth/verifypass?uname=".$uname."&pass=".$pass."&time=".$time."&hash=".$hash."'>
                            " . BASE_URL . "/verifypass?uname=".$uname."&pass=".$pass."&time=".$time."&hash=".$hash."</a></p>
                    <strong>Trân trọng!</strong>
                    <p>Đội ngũ " . SHOP_URL_SHORT . "</p>
                </div>
                <br class='x_clear'>
            </div>
            <div id='x_footer-mail'><img height='53' width='37' style='float:left; display:block; margin-right:10px' src='" . STATIC_DOMAIN . "/images/logo.jpeg'>
                <p>Địa chỉ: " . SHOP_STORE . "<br>" .
        "Hotline: " . HOT_LINE . "</p>
            </div>
        </div>
        <style>
            <!--
            .x_und
                {text-decoration:underline}
            .x_top-mail
                {width:670px;
                margin:0 auto;
                display:block;
                padding-top:25px;
                overflow:hidden;
                clear:both}
            #x_page-mail
                {width:670px;
                margin:0 auto;
                display:block}
            .x_ttdh
                {margin-top:15px}
            .x_inner-ttdh
                {border:1px solid #eee;
                border-top:2px solid #f99517;
                padding:5px 10px}
            .x_sums
                {width:300px;
                float:right;
                display:block}
            .x_inner-sums
                {color:#f50404;
                font-size:11px;
                float:right;
                display:block;
                width:250px;
                margin-bottom:5px;
                clear:both}
            .x_inner-sums 
                {font-weight:normal;
                font-size:12px;
                color:#000}
            .x_inner-sums 
                {color:#ac0404;
                font-weight:bold;
                font-size:12px}
            .x_col-left
                {text-align:right;
                display:block;
                margin-right:20px;
                width:520px;
                float:left}
            .x_col-right
                {text-align:right;
                float:left;
                display:block;
                width:100px}
            .x_infor-product
                {margin-top:20px}
            .x_col2, .x_col3, .x_col4
                {border-left:1px solid #fff;
                border-right:1px solid #eee}
            .x_col1
                {border-right:1px solid #eee}
            .x_col5
                {border-left:1px solid #fff}
            .x_col3, .x_col5
                {text-align:right;
                padding-right:15px}
            .x_col4
                {text-align:center}
            .x_padding
                {padding:15px}
            #x_footer-mail
                {width:670px;
                padding:20px 10px;
                margin:0px auto;
                display:block;
                height:55px;
                border-top:1px solid #dcdcdc;
                overflow:hidden;
                background-color:#f4f4f4;
                font-size:11px;
                color:#000}
            #x_footer-mail 
                {line-height:18px}
            -->
        </style>
        ";
echo $content;exit;
?>