<div class="center">
    <div class="menu">
        <?php 
            $kw=$this->name;
            if(strlen(trim($kw))>0)
                $kw=" » ". substr($kw,0,MAX_LEN_SEARCH);
        ?>
        <a href="<?=BASE_URL?>">Trang chủ </a> » Tìm kiếm <?=$kw?>
    </div>
</div>
<div style="background-color: #ffffff" class="block_center">
    <?php 
        $product=$this->product;      
        if(count($product)==0){
            echo 
                "<div style='text-align:center;color:red;padding-top:20px;padding-bottom:20px'>".
                    "Sản phẩm đang được cập nhật, vui lòng quay lại sau.".
                "</div>";
        }else{
    ?>
    
        <table border="0" cellspacing="5" cellpadding="5" height="100%" width="100%">
        <tbody>
                <?php
                              
                    $total = $this->total;
                    $page = $this->page;
                    try {
                        $totalPage = intval($total / MAX_ITEM_PER_PAGE);
                        if ($total % MAX_ITEM_PER_PAGE != 0) {
                            $totalPage++;
                        }
                        $start = 1;
                        if ($page - 1 > 0) {
                            $start = $page - 1;
                        }
                        $end = $page + 6;
                        if ($end > $totalPage) {
                            $end = $totalPage;
                        }
                        $last = $totalPage; 
                    } catch (Exception $e) { }                   
                    
                    $i=0;
                    $loop=0;
                    foreach($product as $item){
                        $i++;
                        $loop++;
                        if($loop==1 || $loop%5==0)
                        {echo "<tr>";}
                ?>
                       <td bgcolor="#ededed" align="center" width="25%" valign="top">
                           <div align="center">
                            <div style="height: 5px;"><!-- PETER --></div>
                                <div style="width: 90%; padding: 3px; border: 1px solid #fe0000; background-color: #fff">
                                    <a  href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]?>&cat=<?=$item["category"]?>&name=<?=urlencode($item["namecat"])?>" title="<?=$item["name"]?>">
                                        <img align="middle" height="191" width="140" src="<?=STATIC_DOMAIN?>/images/upload/product/<?=$item["image"]?>" alt="<?=$item["name"]?>"/>
                                    </a>
                                </div>
                                <div class="pro_name"><a  href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]?>&cat=<?=$this->cat?>&name=<?=urlencode($this->name)?>" title="<?=$item["name"]?>"><?=$item["name"]?></a></div>
                                    <?php
                                $cat=$this->cat;
                                if($cat=="saleoff"){
                                ?>
                                <div class="pro_price" style="color: #777"><del><?= Common::numberFormat($item["price"])?> VNĐ</del><br></div>
                                <div class="pro_price">Giá: <?= Common::numberFormat($item["new_price"])?> VNĐ<br></div>
                                <?}else{?>
                                    <div class="pro_price">Giá: <?= Common::numberFormat($item["price"])?> VNĐ<br></div>
                                <?}?>
                            </div>
                       </td>
                <?  
                     if($loop%4==0){
                        echo "</tr>";$loop=0;}
                    }
                    $i++;
                ?>
        </tbody>
    </table>
     <div class="b_center">
        <div class="b_no_link">&nbsp;
            <?php
                $url=BASE_URL."/product/search?kw=".$this->name."&page=";
                if ($page > 1) {
                    echo "<a href='".$url."1' title='Trang đầu'>««</a>&nbsp;&nbsp;&nbsp;". 
                    "<a href='".$url.($page-1)."' title='Trang trước'>«</a>&nbsp;&nbsp;&nbsp;";
                }
                for ($i = $start; $i <= $end; $i++) {
                    if ($page == $i)
                        echo "<span class='pagecur'>".
                                "<font color='#727272'>".
                                    "<b> $i </b>".
                                "</font>".
                              "</span>&nbsp;&nbsp;&nbsp;";
                    else
                        echo "<a href='".$url.$i."' title='Xem trang $i'>$i</a>&nbsp;&nbsp;&nbsp;";
                }
                if ($page < $last) {
                    echo 
                        "<a href='".$url.($page+1)."' title='Trang tiếp'>»</a>&nbsp;&nbsp;&nbsp;". 
                        "<a href='".$url.$last."' title='Trang cuối'>»»</a>";
                }
            ?>
        </div>
    </div>
    
    <?        
        }
    ?>
            
</div>
