<div class="center">
    <div class="menu">
        <a href="<?= BASE_URL ?>">Trang chủ </a> » Giỏ hàng
    </div>
</div>
<div style="background-color: #ffffff" class="block_center">
    <div id="content">
             
             <div class="order_er"><p class="ordercp">BẠN ĐÃ GỬI ĐƠN HÀNG THÀNH CÔNG !</p><p>Chúng tôi sẽ liên lạc với bạn ngay khi nhận được đơn hàng !.</p><p > Bạn vui lòng check email để kích hoạt đơn hàng để chúng tôi phục vụ bạn tốt hơn.</p><p>Chúc bạn mua sắm vui vẻ ...</p><p><a href="<?=BASE_URL?>" title="Về trang chủ" class="go_home">Về trang chủ</a></p></div>             
            </div>           
</div>
<script type="text/javascript">
setTimeout(function(){
   // window.location=baseUrl;
},3000);
</script>>