<?php
$product = $this->product;
?>
<div id="row row-none">
   <div class="container">
      <div id="middle">
         <div id="page-name">
            <ul id="sys_pagename">
               <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<?=BASE_URL?>" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                   </div>
               </li>
               <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<?=BASE_URL?>/tag/<?=urlencode($this->tagkey)?>" itemprop="url"><span itemprop="title">Tag</span></a>
                   </div>
               </li>
               <li>
                   <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span itemprop="title"><?=$this->tagkey?></span>
                   </div>
               </li>
            </ul>
         </div>
         <div id="layout_content" class="row row-10">
            <div class="col-sm-18 col-10">
               <div id="content">
                  <div id="products" class="products row">
                  	<?php foreach ($product as $itemProduct) {?>
                     <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="<?=BASE_URL?>/chi-tiet/san-pham/<?=$itemProduct['id']?>/"> <img alt="<?=$itemProduct['name']?>" class="img-responsive" src="<?=IMAGE_URL?>/product/<?=$itemProduct['image']?>350x350.jpg"> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="<?=BASE_URL?>/chi-tiet/san-pham/<?=$itemProduct['id']?>/">
                                          <h5><?=$itemProduct['name']?></h5>
                                       </a>
                                       <p><?=$itemProduct['short_desc']?></p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none"><?=Common::numberFormat($itemProduct['new_price'])?><small>đ</small></span><span class="col-xs-24 col-none"><?=Common::numberFormat($itemProduct['price'])?><small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-<?=$itemProduct['percent_sale_off']?><small>%</small></span><input product-add-to-cart="<?=$itemProduct['id']?>" product-name="<?=$itemProduct['name'] ?>" class="btn btn-warning add-to-cart col-xs-24 col-sm-14 ng-scope" value="Mua" type="button"></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <?php } ?>
                  </div>
                  
                  <!-- Box desc SEO for tag -->
                  <?php 
                    $tagKey = $this->tagkey;
                    $tag = $this->tag;
                    if(strcmp($tag,"banh-phong-ben-tre") == 0 || strcmp($tag,"keo-chuoi-ben-tre") == 0 || strcmp($tag,"keo-dua-ben-tre") == 0 || strcmp($tag,"keo-dua-thanh-long") == 0) 
                    {
                  ?>
                 
                    <h1 style="font-size: 20px;margin-bottom: 0px !important;"><?=$tagKey?></h1><br>
                    <strong><?=$tagKey?></strong> là sản phẩm đậm chất quê hương Bến Tre rất thích hợp làm <strong>quà tặng cho Việt Kiều</strong>, người thân khi đi xa trở về. Sản phẩm với giá cả phải chăng nhưng vừa sang, vừa an toàn, lại bảo quản được lâu không sợ hư hại trong quá trình vận chuyển. Sản phẩm đổi trả dễ dàng trong trường hợp lỗi vận chuyển, lỗi sản phẩm từ người bán nên bạn hoàn toàn yên tâm về chất lượng.
                    <div class="block_tag width_common">
                        <div class="txt_tag"><i class="ic ic-tag"></i>&nbsp;Tìm theo tags:</div>
                        <h5><a href="https://dacsanday.net/tag/%C4%90%E1%BA%B7c+s%E1%BA%A3n+gi%C3%A1+r%E1%BA%BB" title="Đặc sản giá rẻ" class="tag_item">Đặc sản giá rẻ</a></h5>
                        <h5><a href="https://dacsanday.net/tag/K%E1%BA%B9o+d%E1%BB%ABa+b%E1%BA%BFn+tre" title="Kẹo dừa bến tre" class="tag_item">Kẹo dừa bến tre</a></h5>
                        <h5><a href="https://dacsanday.net/tag/K%E1%BA%B9o+d%E1%BB%ABa+Thanh+Long" title="Kẹo dừa Thanh Long" class="tag_item">Kẹo dừa Thanh Long</a></h5>
                        <h5><a href="https://dacsanday.net/tag/B%C3%A1nh+ph%E1%BB%93ng+B%E1%BA%BFn+Tre" title="Bánh phồng Bến Tre" class="tag_item">Bánh phồng Bến Tre</a></h5>
                        <h5><a href="https://dacsanday.net/tag/K%E1%BA%B9o+chu%E1%BB%91i+B%E1%BA%BFn+Tre" title="Kẹo chuối Bến Tre" class="tag_item">Kẹo chuối Bến Tre</a></h5>
                        <h5><a href="https://dacsanday.net/tag/D%E1%BA%A7u+d%E1%BB%ABa+B%E1%BA%BFn+Tre" title="Dầu dừa Bến Tre" class="tag_item">Dầu dừa Bến Tre</a></h5>
                    </div>
                   <?php
                    } else if(strcmp($tag,"gioquatet2019") == 0) {
                  ?>
                  <h1 style="font-size: 20px;margin-bottom: 0px !important;">Giỏ quà tết 2019</h1><br>
                    <strong>Quà biếu tết 2019, quà đặc sản biếu tết, chọn Quà biếu Tết, Giỏ Quà đặc sản Tết năm 2019</strong> chất lượng ý nghĩa sẽ mang đến cho người thân, đối tác một món quà Tết ý nghĩa, sang trọng, khác biệt..
                    <div class="block_tag width_common">
                        <div class="txt_tag"><i class="ic ic-tag"></i>&nbsp;Tìm theo tags:</div>
                        <h5><a href="https://dacsanday.net/tag/%C4%90%E1%BA%B7c+s%E1%BA%A3n+gi%C3%A1+r%E1%BA%BB" title="Đặc sản giá rẻ" class="tag_item">Đặc sản giá rẻ</a></h5>
                        <h5><a href="https://dacsanday.net/tag/K%E1%BA%B9o+d%E1%BB%ABa+b%E1%BA%BFn+tre" title="Kẹo dừa bến tre" class="tag_item">Kẹo dừa bến tre</a></h5>
                        <h5><a href="https://dacsanday.net/tag/K%E1%BA%B9o+d%E1%BB%ABa+Thanh+Long" title="Kẹo dừa Thanh Long" class="tag_item">Kẹo dừa Thanh Long</a></h5>
                        <h5><a href="https://dacsanday.net/tag/B%C3%A1nh+ph%E1%BB%93ng+B%E1%BA%BFn+Tre" title="Bánh phồng Bến Tre" class="tag_item">Bánh phồng Bến Tre</a></h5>
                        <h5><a href="https://dacsanday.net/tag/K%E1%BA%B9o+chu%E1%BB%91i+B%E1%BA%BFn+Tre" title="Kẹo chuối Bến Tre" class="tag_item">Kẹo chuối Bến Tre</a></h5>
                        <h5><a href="https://dacsanday.net/tag/D%E1%BA%A7u+d%E1%BB%ABa+B%E1%BA%BFn+Tre" title="Dầu dừa Bến Tre" class="tag_item">Dầu dừa Bến Tre</a></h5>
                    </div>
                  
                  <?php } else { ?>
                  
                  <h1 style="font-size: 20px;margin-bottom: 0px !important;"><?=$tagKey?></h1><br>
                    <strong><?=$tagKey?></strong> ngon, an toàn, uy tín, đảm bảo giá tốt và chất lượng.
                  <?php } ?>

               </div>
            </div>
            <?= $this->boxright ?>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
dacsandayInit.homePage();
</script>