<?php 
$info=$this->info; 
$same=$this->same;
$images=$info["list_image"];
$images=explode("@", $info["list_image"]); 

?>
    <div class="center">
        <div class="menu">
            <a href="<?=BASE_URL?>">Trang chủ</a>&nbsp; » &nbsp;
            <a href="<?=BASE_URL?>/product?cat=<?=$this->cat?>&name=<?=urlencode($this->name)?>">Sản phẩm <?=$this->name?></a> &nbsp; » &nbsp; <?=$info["name"]?>
        </div>
    </div>
    <div style="background-color: #ffffff" class="block_center">
        <div style="height:10px"><!-- PETER --></div>
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody><tr>
                    <td align="center" width="230" valign="top">
                        <table>
                            <tr>
                                <td>
                                    <div align="center" style="padding:10px 10px 212px">
                            <a id="desca" rel="gal1" href="<?=STATIC_DOMAIN?>/images/upload/product/<?=$info["image"]?>" title="<?=$info["name"]?>">
                                <img alt="This is the title" id="descimg" height="325px" width="235px" style=" border: 1px solid #DDDDDD; cursor: pointer;" src="<?=STATIC_DOMAIN?>/images/upload/product/<?=$info["image"]?>"/>
                            </a>
                        </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div align="center">
                            <?php 
                            $i=1;
                            foreach($images as $item){
                                if(strlen($item)>0){
                                    $img=STATIC_DOMAIN."/images/upload/product/".$item;
                                    echo "<a href='javascript:void(0);' rel=\"{gallery: 'gal1', smallimage: '".$img."',largeimage: '".$img."'}\">";
                                    echo "<img  height='30' width='30' style='cursor: pointer; margin-right: 5px; border: 1px solid rgb(158, 158, 158);' src='".$img."'/>";
                                    echo "</a>";
                                    $i++;
                                }
                            }
                            $id=Common::prodidFormat($info["id"]);
                            ?>
                        </div>
                                </td>
                            </tr>
                        </table>
                        
                        
                    </td>
                    <td width="60%" valign="top">
                        <div style="padding:10px; margin-right: 10px; margin-top: 10px; background-color: #ffffbf; font-size: 12px; line-height: 160%;">
                            <div class="info_prod_r">

                                 <input type="hidden" value="<?=$info["id"]?>" name="idprod" id="idprod"/>
                                  <input type="hidden" value="<?=$id?>" name="idprodmsg" id="idprodmsg"/>
                                 <h1><?=$info["name"]?> - Mã số <?= $id?></h1>

            <ul id="price_prod">

                <li>

                    <label>Mã sản phẩm</label>:<span class="idprod" ><?=$id?></span>

                </li>

                <li>
                    <label>Giá bán</label>:
                    <?php
                        if($info["is_saleoff"]>0)
                            echo "<span style='text-decoration:line-through'>".Common::numberFormat($info["price"])." VNĐ </span><span class='price'>". Common::numberFormat($info["new_price"])." VNĐ</span>" ;
                        else
                            echo "<span class='price'>". Common::numberFormat($info["price"])." VNĐ</span>" ;
                    ?>
                </li>

                <li>

                    <label>Tình trạng</label>:<span><?=  Util_Data::$status[$info["status"]]?></span>

                </li>
                <?php
                    if($info["total"]>0){
                ?>
                <li>

                    <label>Số lượng mua</label>:

                    <select name="qty" id="qty">
                        <option value='1' selected="selected">1</option>;
                        <?php 
                            for($i=2;$i<$info["total"];$i++)
                                echo "<option value='$i'>$i</option>";
                        ?>
                    </select>
                </li>
                <?}?>
                
                
            </ul>

            <div class="addcart_prod">
                <?php
                    if($info["total"]>0)
                        echo "<input type='button' value='Mua hàng' name='addcart' onclick='api.addcard();'>";
                ?>           
            <a href="<?=BASE_URL?>/product/card" title="Giỏ hàng">Giỏ hàng</a>

            

            </div>

            <div class="contact_prod">

                <h2>Hỏi về thông tin sản phẩm này?</h2>

                <ul>

                    <li class="chat_prod">
                        <a href="ymsgr:sendim?<?=YAHOO1?>;m=Xin chào <?=SHOP_NAME?>, vui lòng cho tôi hỏi" rel="nofollow" class="yahoo">
                            <img border="0" align="absmiddle" hspace="10" height="12" width="12" vspace="3" src="http://opi.yahoo.com/online?u=<?=YAHOO1?>&m=g&t=0" border=0 onerror="this.src='<?=STATIC_DOMAIN?>/images/<?=ON_ERROR_YAHOO1?>'" /> 
                            Chat với <?=SHOP_NAME?>
                    <li class="mes_prod">
                        <a href=""></a>
                        <a class="poplight" href="javascript:void(0);" onclick="api.showBoxy(1);">Để lại lời nhắn</a>
                    </li>

                    <li class="hotl_prod">Hotline: <span><?=HOT_LINE?></span>
                    </li>
                        
                    <li>
                        
                        <!--like button-->
            <table style="width: 100px">
                    <tr>
                        <td>
                            <!-- Đặt thẻ này ở nơi bạn muốn nút +1 hiển thị -->
                            <g:plusone size="medium" ></g:plusone>

                            <!-- Đặt cuộc gọi hiển thị này ở nơi thích hợp -->
                            <script type="text/javascript">
                              window.___gcfg = {lang: 'vi'};

                              (function() {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                              })();
                            </script>
                        </td>
                        <td>
                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>
                            <div class="fb-like" data-href="<?=BASE_URL?>" data-send="true" data-layout="button_count" data-width="30" data-show-faces="true" data-font="arial"></div>
                        </td>
                        
                    </tr>
                </table>
            <!--end line button-->
                        
                    </li>
                </ul>

                

                <div class="popup_block guiloinhan" id="popup_name" style="display: none; width: 600px; margin-top: -218px; margin-left: -340px;">

                        <form action="" method="POST" onsubmit="return validateGuiloinhan(this)" name="frmmess">

                        <h2>Để lại lời nhắn</h2>

                        <ul>

                            <li>

                                <label>Họ tên: <span class="sao">*</span></label> 

                                <input type="text" name="name" class="ipvl">

                            </li>

                            <li>

                                <label>Số điện thoại: <span class="sao">*</span></label> 

                                <input type="text" name="phone" class="ipvl">

                            </li>

                            <li>

                                <label>Địa chỉ mail: </label> 

                                <input type="text" name="email" class="ipvl">

                            </li>

                            <li>

                                <label>Nội dung lời nhắn: <span class="sao">*</span></label> 

                                <textarea id="content_mes" name="content"></textarea>

                                <p class="demkytu">( Còn lại <span id="charLeft"></span> ký tự )</p>  

                            </li>

                            <li>

                                <label>Mã sản phẩm: </label> 

                                <input type="text" value="1198" readonly="readonly" name="idprodmes" class="ipvl">

                            </li>

                        </ul>

                        <p style="text-align: center;"><input type="submit" value="Gửi lời nhắn" class="sbmessage" name="guiloinhan"></p>

                        </form>

                </div><!--END .popup_block Cua so de lai loi nhan-->

            </div><!--END .contact_prod-->

        </div>
                        </div>
                    </td>
                </tr>
                <tr><td height="20" colspan="2"><!-- PETER --></td></tr>
                <tr>
                    <td colspan="2">
                        <div style="height: 32px; background-color: red;"><div class="menu">Thông tin sản phẩm</div></div>
                        <div style="margin: 10px;max-width: 740px;overflow: hidden">
                            <?php 
                            if(strlen($info["desc"])>0)
                                echo $info["desc"];
                            else
                                  echo 
                                    "<div style='text-align:center;color:red;padding-top:20px;padding-bottom:20px;font-size:12px'>".
                                        "Thông tin đang được cập nhật, vui lòng quay lại sau.".
                                    "</div>";
                            ?>
                        </div>
                    </td>
                </tr>
            </tbody></table>
    </div>
   <?php
    if(count($same)>0){
   ?>
    <div style="height:10px"><!-- PETER --></div>
    <div class="center"><div class="menu">
            <a href="<?=BASE_URL?>/product?cat=<?=$this->cat?>&name=<?=urlencode($this->name)?>">Sản phẩm cùng danh mục</a>
            <a style="float:right;padding-right:5px" class="viewmore" href="<?=BASE_URL?>/product?cat=<?=$this->cat?>&name=<?=  urlencode($this->name)?>" title="Xem thêm">Xem thêm »</a>
        </div></div>
    <div style="background-color: #ffffff" class="block_center">
        <?php 
        if(count($same)==0){
            echo 
                "<div style='text-align:center;color:red;padding-top:20px;padding-bottom:20px'>".
                    "Sản phẩm đang được cập nhật, vui lòng quay lại sau.".
                "</div>";
        }else{
    ?>
        <table border="0" cellspacing="5" cellpadding="5" height="100%" width="100%">
           
            <tbody>
                <?php
                    $i=0;
                    $loop=0;
                    foreach($same as $item){
                        $i++;
                        $loop++;
                        if($loop==1 || $loop%5==0)
                        {echo "<tr>";}
                ?>
                       <td bgcolor="#ededed" align="center" width="25%" valign="top">
                           <div align="center">
                            <div style="height: 5px;"><!-- PETER --></div>
                                <div style="width: 90%; padding: 3px; border: 1px solid #fe0000; background-color: #fff">
                                    <a href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]?>&cat=<?=$this->cat?>&name=<?=$this->name?>" title="<?=$item["name"]?>">
                                        <img align="middle" height="191" width="140" src="<?=STATIC_DOMAIN?>/images/upload/product/<?=$item["image"]?>" alt="<?=$item["name"]?>"/>
                                    </a>
                                </div>
                                <div class="pro_name"><a href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]?>" title="<?=$item["name"]?>"><?=$item["name"]?></a></div>
                                     <?php
                                $cat=$this->cat;
                                if($cat=="saleoff"){
                                ?>
                                <div class="pro_price" style="color: #777"><del><?= Common::numberFormat($item["price"])?> VNĐ</del><br></div>
                                <div class="pro_price">Giá: <?= Common::numberFormat($item["new_price"])?> VNĐ<br></div>
                                <?}else{?>
                                    <div class="pro_price">Giá: <?= Common::numberFormat($item["price"])?> VNĐ<br></div>
                                <?}?>
                            </div>
                       </td>
                <?  
                     if($loop%4==0){
                        echo "</tr>";$loop=0;}
                    }
                    $i++;
                ?>
        </tbody>
                
        </table>
        <div style="text-align: right; padding: 7px 7px 7px; border-top: 1px dashed #ccc;">
            <a class="viewmore" href="<?=BASE_URL?>/product?cat=<?=$this->cat?>&name=<?=  urlencode($this->name)?>" title="Xem thêm">Xem thêm »</a>&nbsp;&nbsp;
        </div>
        <?}?>
    </div>
    <?php }?>
<script type="text/javascript" charset="utf-8">
   $(function() {
//        $('#desca').lightBox();
//        api.click("<?=$info['id']?>");
        
        api.zoomImg('desca');
        
//        var options = {  
//            zoomType: 'standard',  
//            lens:true,  
//            preloadImages: true,  
//            alwaysOn:false,  
//            zoomWidth: 530,  
//            zoomHeight: 450,  
//            xOffset:20,  
//            yOffset:0,  
//            position:'right'  
//            //...MORE OPTIONS  
//        };  
//        $('#desca').jqzoom(options); 
        
    });
</script>