<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="" onclick="$('#filter-product').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg" data-original-title="Lọc dữ liệu"><i class="fa fa-filter"></i></button>
        <a href="<?=BASE_URL?>/admin/product/register" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Thêm mới"><i class="fa fa-plus"></i></a>
        <button type="submit" form="form-product" formaction="http://template1.websiteday.net/admin/index.php?route=catalog/product/copy&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="Sao chép"><i class="fa fa-copy"></i></button>
        <button type="button" form="form-product" formaction="http://template1.websiteday.net/admin/index.php?route=catalog/product/delete&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU" data-toggle="tooltip" title="" class="btn btn-danger" onclick="confirm('Bạn có chắc chắn?') ? $('#form-product').submit() : false;" data-original-title="Xóa"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>Sản phẩm</h1>
      <ul class="breadcrumb">
                <li><a href="http://template1.websiteday.net/admin/index.php?route=common/dashboard&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU">Trang chủ</a></li>
                <li><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU">Sản phẩm</a></li>
              </ul>
    </div>
  </div>
  <div class="container-fluid">        <div class="row">
      <div id="filter-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> Chọn bộ lọc</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label" for="input-name">Tên sản phẩm:</label>
              <input type="text" name="filter_name" value="" placeholder="Tên sản phẩm:" id="input-name" class="form-control" autocomplete="off"><ul class="dropdown-menu"></ul>
            </div>
            <div class="form-group">
              <label class="control-label" for="input-model">Model:</label>
              <input type="text" name="filter_model" value="" placeholder="Model:" id="input-model" class="form-control" autocomplete="off"><ul class="dropdown-menu"></ul>
            </div>
            <div class="form-group">
              <label class="control-label" for="input-price">Giá:</label>
              <input type="text" name="filter_price" value="" placeholder="Giá:" id="input-price" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label" for="input-quantity">Số lượng:</label>
              <input type="text" name="filter_quantity" value="" placeholder="Số lượng:" id="input-quantity" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label" for="input-status">Tình trạng</label>
              <select name="filter_status" id="input-status" class="form-control">
                <option value=""></option>
                
                
                
                  
                

                  
                
                
                  
                
                
                <option value="1">Bật</option>
                
                
                
                  
                

                                    
                
                
                  
                
                
                <option value="0">Tắt</option>
                
                
                
                  
                

                  

              
              
                
              
              
              </select>
            </div>
            <div class="form-group text-right">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> Lọc dữ liệu</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-pull-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> Danh sách sản phẩm</h3>
          </div>
          <div class="panel-body">
            <form action="http://template1.websiteday.net/admin/index.php?route=catalog/product/delete&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU" method="post" enctype="multipart/form-data" id="form-product">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"></td>
                      <td class="text-center">Hình ảnh</td>
                      <td class="text-left"> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/product&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;sort=pd.name&amp;order=DESC" class="asc">Tên sản phẩm</a> </td>
                      <td class="text-left"> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/product&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;sort=p.model&amp;order=DESC">Mã sản phẩm:</a> </td>
                      <td class="text-right"> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/product&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;sort=p.price&amp;order=DESC">Giá</a> </td>
                      <td class="text-right"> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/product&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;sort=p.quantity&amp;order=DESC">Số lượng</a> </td>
                      <td class="text-left"> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/product&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;sort=p.status&amp;order=DESC">Trạng thái</a> </td>
                      <td class="text-right">Thao tác</td>
                    </tr>
                  </thead>
                  <tbody>
                  
                                                      <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="41">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/san-pham/20190407/9522344fdcb8349ad35441b6c7d75379-40x40.jpg" alt="Apple iMac 2017 MNDY2 21.5-inch Retina 4K - Hàng Chính Hãng" class="img-thumbnail"> </td>
                    <td class="text-left">Apple iMac 2017 MNDY2 21.5-inch Retina 4K - Hàng Chính Hãng</td>
                    <td class="text-left">Product 14</td>
                    <td class="text-right">                      31,990,000VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">977</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=41" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="30">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/canon_eos_5d_1-40x40.jpg" alt="Canon EOS 5D" class="img-thumbnail"> </td>
                    <td class="text-left">Canon EOS 5D</td>
                    <td class="text-left">Product 3</td>
                    <td class="text-right"> <span style="text-decoration: line-through;">105,482,000VNĐ</span><br>
                      <div class="text-danger">104,882,000VNĐ</div>
                      </td>
                    <td class="text-right"> <span class="label label-success">7000</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=30" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="47">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/hp_1-40x40.jpg" alt="HP LP3065" class="img-thumbnail"> </td>
                    <td class="text-left">HP LP3065</td>
                    <td class="text-left">Product 21</td>
                    <td class="text-right">                      100VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">1000</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=47" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="28">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/htc_touch_hd_1-40x40.jpg" alt="HTC Touch HD" class="img-thumbnail"> </td>
                    <td class="text-left">HTC Touch HD</td>
                    <td class="text-left">Product 1</td>
                    <td class="text-right">                      100VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">939</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=28" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="40">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/iphone_1-40x40.jpg" alt="iPhone" class="img-thumbnail"> </td>
                    <td class="text-left">iPhone</td>
                    <td class="text-left">product 11</td>
                    <td class="text-right">                      2,100,000VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">969</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=40" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="48">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/ipod_classic_1-40x40.jpg" alt="iPod Classic" class="img-thumbnail"> </td>
                    <td class="text-left">iPod Classic</td>
                    <td class="text-left">product 20</td>
                    <td class="text-right">                      100VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">995</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=48" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="36">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/ipod_nano_1-40x40.jpg" alt="iPod Nano" class="img-thumbnail"> </td>
                    <td class="text-left">iPod Nano</td>
                    <td class="text-left">Product 9</td>
                    <td class="text-right">                      100VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">994</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=36" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="34">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/ipod_shuffle_1-40x40.jpg" alt="iPod Shuffle" class="img-thumbnail"> </td>
                    <td class="text-left">iPod Shuffle</td>
                    <td class="text-left">Product 7</td>
                    <td class="text-right">                      100VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">1000</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=34" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="32">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/ipod_touch_1-40x40.jpg" alt="iPod Touch" class="img-thumbnail"> </td>
                    <td class="text-left">iPod Touch</td>
                    <td class="text-left">Product 5</td>
                    <td class="text-right">                      100VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">999</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=32" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="42">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/san-pham/20190416/thumb1-40x40.jpg" alt="Laptop Lenovo Legion Y530-15ICH 81FV00SUVN Core i7-8750H/Dos (15.6&quot; FHD) - Hàng Chính Hãng" class="img-thumbnail"> </td>
                    <td class="text-left">Laptop Lenovo Legion Y530-15ICH 81FV00SUVN Core i7-8750H/Dos (15.6" FHD) - Hàng Chính Hãng</td>
                    <td class="text-left">Product 15</td>
                    <td class="text-right">                      21,900,000VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">990</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=42" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="43">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/macbook_1-40x40.jpg" alt="MacBook" class="img-thumbnail"> </td>
                    <td class="text-left">MacBook</td>
                    <td class="text-left">Product 16</td>
                    <td class="text-right">                      16,500,000VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">929</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=43" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="44">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/macbook_air_1-40x40.jpg" alt="MacBook Air" class="img-thumbnail"> </td>
                    <td class="text-left">MacBook Air</td>
                    <td class="text-left">Product 17</td>
                    <td class="text-right">                      1,000VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">1000</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=44" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="45">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/macbook_pro_1-40x40.jpg" alt="MacBook Pro" class="img-thumbnail"> </td>
                    <td class="text-left">MacBook Pro</td>
                    <td class="text-left">Product 18</td>
                    <td class="text-right">                      2,000VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">998</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=45" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="31">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/nikon_d300_1-40x40.jpg" alt="Nikon D300" class="img-thumbnail"> </td>
                    <td class="text-left">Nikon D300</td>
                    <td class="text-left">Product 4</td>
                    <td class="text-right">                      80VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">1000</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=31" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="29">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/palm_treo_pro_1-40x40.jpg" alt="Palm Treo Pro" class="img-thumbnail"> </td>
                    <td class="text-left">Palm Treo Pro</td>
                    <td class="text-left">Product 2</td>
                    <td class="text-right">                      280VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">999</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=29" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="50">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/san-pham/r031-m1r57aa_1.u579.d20161018.t142451.581246 (1)-40x40.jpg" alt="PC HP All In One 20 R031L M1R57AA" class="img-thumbnail"> </td>
                    <td class="text-left">PC HP All In One 20 R031L M1R57AA</td>
                    <td class="text-left">Product 15</td>
                    <td class="text-right">                      12,200,000VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">990</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=50" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="35">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/no_image-40x40.png" alt="Product 8" class="img-thumbnail"> </td>
                    <td class="text-left">Product 8</td>
                    <td class="text-left">Product 8</td>
                    <td class="text-right">                      100VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">1000</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=35" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="33">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/samsung_syncmaster_941bw-40x40.jpg" alt="Samsung SyncMaster 941BW" class="img-thumbnail"> </td>
                    <td class="text-left">Samsung SyncMaster 941BW</td>
                    <td class="text-left">Product 6</td>
                    <td class="text-right">                      200VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">1000</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=33" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="46">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/catalog/demo/sony_vaio_1-40x40.jpg" alt="Sony VAIO" class="img-thumbnail"> </td>
                    <td class="text-left">Sony VAIO</td>
                    <td class="text-left">Product 19</td>
                    <td class="text-right">                      1,000VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-success">1000</span> </td>
                    <td class="text-left">Bật</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=46" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                    <tr>
                    <td class="text-center">                      <input type="checkbox" name="selected[]" value="51">
                      </td>
                    <td class="text-center"> <img src="http://template1.websiteday.net/image/cache/no_image-40x40.png" alt="test" class="img-thumbnail"> </td>
                    <td class="text-left">test</td>
                    <td class="text-left">sserse</td>
                    <td class="text-right">                      0VNĐ
                      </td>
                    <td class="text-right"> <span class="label label-danger">1</span> </td>
                    <td class="text-left">Tắt</td>
                    <td class="text-right"><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product/edit&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;product_id=51" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                                                        </tbody>
                  
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left"><ul class="pagination"><li class="active"><span>1</span></li><li><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;page=2">2</a></li><li><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;page=2">&gt;</a></li><li><a href="http://template1.websiteday.net/admin/index.php?route=catalog/product&amp;user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&amp;page=2">&gt;|</a></li></ul></div>
              <div class="col-sm-6 text-right">Hiển thị từ 1 đến 20 của 26 (2 Trang)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_model = $('input[name=\'filter_model\']').val();

	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}

	var filter_price = $('input[name=\'filter_price\']').val();

	if (filter_price) {
		url += '&filter_price=' + encodeURIComponent(filter_price);
	}

	var filter_quantity = $('input[name=\'filter_quantity\']').val();

	if (filter_quantity) {
		url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = 'index.php?route=catalog/product&user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU' + url;
});
//--></script> 
  <script type="text/javascript"><!--
// IE and Edge fix!
$('button[form=\'form-product\']').on('click', function(e) {
	$('#form-product').attr('action', $(this).attr('formaction'));
});
  
$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('input[name=\'filter_model\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token=yFuilBbueDeLUnwKnNqT5BhDYtQ7pCRU&filter_model=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_model\']').val(item['label']);
	}
});
//--></script></div>