<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-product" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Lưu lại"><i class="fa fa-save"></i></button>
                <a href="<?=BASE_URL?>/admin/product/" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="Hủy"><i class="fa fa-reply"></i></a></div>
            <h1>Sản phẩm</h1>
            <ul class="breadcrumb">
                <li><a href="https://template1.websiteday.net/admin/index.php?route=common/dashboard&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Trang chủ</a></li>
                <li><a href="https://template1.websiteday.net/admin/index.php?route=catalog/product&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Sản phẩm</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> Thêm sản phẩm</h3>
            </div>
            <div class="panel-body">
                <iframe style="display:none" name="ifr_upload"></iframe>
                <form action="<?=BASE_URL?>/admin/product/upload" method="post" enctype="multipart/form-data" id="form_upload" class="form-horizontal" target="ifr_upload">
                    <input type="file" id="imgupload" name="fileToUpload" style="display:none"/> 
                </form>
                <form action="<?=BASE_URL?>/admin/product/newcommit" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="https://template1.websiteday.net/admin/#tab-general" data-toggle="tab" aria-expanded="true">Chung</a></li>
                        <li class=""><a href="https://template1.websiteday.net/admin/#tab-data" data-toggle="tab" aria-expanded="false">Dữ liệu</a></li>
                        <li class=""><a href="https://template1.websiteday.net/admin/#tab-links" data-toggle="tab" aria-expanded="false">Liên kết</a></li>
                        <li class=""><a href="https://template1.websiteday.net/admin/#tab-attribute" data-toggle="tab" aria-expanded="false" style="display:none">Thuộc tính</a></li>
                        <li class=""><a href="https://template1.websiteday.net/admin/#tab-option" data-toggle="tab" aria-expanded="false" style="display:none">Tùy chọn</a></li>
                        <li class=""><a href="https://template1.websiteday.net/admin/#tab-recurring" data-toggle="tab" aria-expanded="false" style="display:none">Định kỳ</a></li>
                        <li class=""><a href="https://template1.websiteday.net/admin/#tab-discount" data-toggle="tab" aria-expanded="false" style="display:none">Giảm giá</a></li>
                        <li class=""><a href="https://template1.websiteday.net/admin/#tab-special" data-toggle="tab" aria-expanded="false" style="display:none">Khuyến mãi</a></li>
                        <li class=""><a href="https://template1.websiteday.net/admin/#tab-image" data-toggle="tab" aria-expanded="false">Hình ảnh</a></li>
                        <li class=""><a href="https://template1.websiteday.net/admin/#tab-reward" data-toggle="tab" aria-expanded="false" style="display:none">Điểm thưởng</a></li>
                        <li class=""><a href="https://template1.websiteday.net/admin/#tab-seo" data-toggle="tab" aria-expanded="false" style="display:none">SEO</a></li>
                        <li class=""><a href="https://template1.websiteday.net/admin/#tab-design" data-toggle="tab" aria-expanded="false" style="display:none">Thiết kế</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <ul class="nav nav-tabs" id="language" style="display:none">
                                <li class="active">
                                    <a href="https://template1.websiteday.net/admin/#language2" data-toggle="tab" aria-expanded="true"><img src="./register_files/vi-vn.png" title="Tiếng Việt"> Tiếng Việt</a>
                                </li>
                                <li>
                                    <a href="https://template1.websiteday.net/admin/#language1" data-toggle="tab" aria-expanded="true"><img src="./register_files/en-gb.png" title="English"> English</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="language2">
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-name2">Tên sản phẩm:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="product_description[0][name]" value="" placeholder="Tên sản phẩm:" id="input-name2" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-description2">Mô tả</label>
                                        <div class="col-sm-10">
                                            <textarea name="product_description[0][description]" placeholder="Mô tả" id="input-description2" data-toggle="summernote" data-lang="" class="form-control" style="display: none;"></textarea>
                                         
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-meta-title2">Tiêu đề Meta từ khóa Tag</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="product_description[0][meta_title]" value="" placeholder="Tiêu đề Meta từ khóa Tag" id="input-meta-title2" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-meta-description2">Mô tả từ khóa:</label>
                                        <div class="col-sm-10">
                                            <textarea name="product_description[0][meta_description]" rows="5" placeholder="Mô tả từ khóa:" id="input-meta-description2" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-meta-keyword2">Từ khóa:</label>
                                        <div class="col-sm-10">
                                            <textarea name="product_description[0][meta_keyword]" rows="5" placeholder="Từ khóa:" id="input-meta-keyword2" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-tag2"><span data-toggle="tooltip" title="" data-original-title="Ngăn cách mỗi từ Khóa bằng dấu phẩy">Tags sản phẩm</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="product_description[0][tag]" value="" placeholder="Tags sản phẩm" id="input-tag2" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="language1">
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-name1">Tên sản phẩm:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="product_description[1][name]" value="" placeholder="Tên sản phẩm:" id="input-name1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-description1">Mô tả</label>
                                        <div class="col-sm-10">
                                            <textarea name="product_description[1][description]" placeholder="Mô tả" id="input-description1" data-toggle="summernote" data-lang="" class="form-control" style="display: none;"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-meta-title1">Tiêu đề Meta từ khóa Tag</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="product_description[1][meta_title]" value="" placeholder="Tiêu đề Meta từ khóa Tag" id="input-meta-title1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-meta-description1">Mô tả từ khóa:</label>
                                        <div class="col-sm-10">
                                            <textarea name="product_description[1][meta_description]" rows="5" placeholder="Mô tả từ khóa:" id="input-meta-description1" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-meta-keyword1">Từ khóa:</label>
                                        <div class="col-sm-10">
                                            <textarea name="product_description[1][meta_keyword]" rows="5" placeholder="Từ khóa:" id="input-meta-keyword1" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-tag1"><span data-toggle="tooltip" title="" data-original-title="Ngăn cách mỗi từ Khóa bằng dấu phẩy">Tags sản phẩm</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="product_description[1][tag]" value="" placeholder="Tags sản phẩm" id="input-tag1" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-data">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-model">Model:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="model" value="" placeholder="Model:" id="input-model" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-sku"><span data-toggle="tooltip" title="" data-original-title="Đơn vị bảo quản kho">SKU:</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="sku" value="" placeholder="SKU:" id="input-sku" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-upc"><span data-toggle="tooltip" title="" data-original-title="Mã sản phẩm chung">UPC:</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="upc" value="" placeholder="UPC:" id="input-upc" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-ean"><span data-toggle="tooltip" title="" data-original-title="European Article Number">EAN:</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="ean" value="" placeholder="EAN:" id="input-ean" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-jan"><span data-toggle="tooltip" title="" data-original-title="Japanese Article Number">JAN:</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="jan" value="" placeholder="JAN:" id="input-jan" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-isbn"><span data-toggle="tooltip" title="" data-original-title="International Standard Book Number">ISBN:</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="isbn" value="" placeholder="ISBN:" id="input-isbn" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-mpn"><span data-toggle="tooltip" title="" data-original-title="Số Part của nhà sản xuất">MPN:</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="mpn" value="" placeholder="MPN:" id="input-mpn" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-location">Địa điểm kho hàng:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="location" value="" placeholder="Địa điểm kho hàng:" id="input-location" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-price">Giá:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="price" value="" placeholder="Giá:" id="input-price" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-tax-class">Loại Thuế:</label>
                                <div class="col-sm-10">
                                    <select name="tax_class_id" id="input-tax-class" class="form-control">
                                        <option value="0"> --- Không --- </option>

                                        <option value="9">Taxable Goods</option>

                                        <option value="10">Downloadable Products</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-quantity">Số lượng:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="quantity" value="1" placeholder="Số lượng:" id="input-quantity" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-minimum"><span data-toggle="tooltip" title="" data-original-title="Số lượng tối thiểu Khách phải Mua">Số lượng tối thiểu</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="minimum" value="1" placeholder="Số lượng tối thiểu" id="input-minimum" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-subtract">Phần Trừ đi:</label>
                                <div class="col-sm-10">
                                    <select name="subtract" id="input-subtract" class="form-control">

                                        <option value="1" selected="selected">Có</option>
                                        <option value="0">Không</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-stock-status"><span data-toggle="tooltip" title="" data-original-title="Hiển thị Trạng thái Hết hàng">Hết hàng</span></label>
                                <div class="col-sm-10">
                                    <select name="stock_status_id" id="input-stock-status" class="form-control">

                                        <option value="6">2-3 Days</option>

                                        <option value="7">In Stock</option>

                                        <option value="5">Out Of Stock</option>

                                        <option value="8">Pre-Order</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label">Yêu cầu Vận chuyển:</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="shipping" value="1" checked="checked"> Có
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="shipping" value="0"> Không
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-date-available">Ngày cập nhật:</label>
                                <div class="col-sm-3">
                                    <div class="input-group date">
                                        <input type="text" name="date_available" value="2019-04-27" placeholder="Ngày cập nhật:" data-date-format="YYYY-MM-DD" id="input-date-available" class="form-control">
                                        <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                    </span></div>
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-length">Kích thước(Dài x Rộng x Cao):</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="text" name="length" value="" placeholder="Chiều dài:" id="input-length" class="form-control">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="width" value="" placeholder="Chiều Rộng" id="input-width" class="form-control">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="height" value="" placeholder="Chiều Cao" id="input-height" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-length-class">Loại chiều dài</label>
                                <div class="col-sm-10">
                                    <select name="length_class_id" id="input-length-class" class="form-control">

                                        <option value="1" selected="selected">Centimeter</option>

                                        <option value="2">Millimeter</option>

                                        <option value="3">Inch</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-weight">Nặng:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="weight" value="" placeholder="Nặng:" id="input-weight" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-weight-class">Trọng lượng:</label>
                                <div class="col-sm-10">
                                    <select name="weight_class_id" id="input-weight-class" class="form-control">

                                        <option value="1">Kilogram</option>

                                        <option value="2" selected="selected">Gram</option>

                                        <option value="5">Pound </option>

                                        <option value="6">Ounce</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">Tình trạng</label>
                                <div class="col-sm-10">
                                    <select name="status" id="input-status" class="form-control">

                                        <option value="1" selected="selected">Bật</option>
                                        <option value="0">Tắt</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-sort-order">Thứ tự</label>
                                <div class="col-sm-10">
                                    <input type="text" name="sort_order" value="1" placeholder="Thứ tự" id="input-sort-order" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-links">
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-manufacturer"><span data-toggle="tooltip" title="" data-original-title="(Tự động hoàn thành)">Hãng sản xuất:</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="manufacturer" value="" placeholder="Hãng sản xuất:" id="input-manufacturer" class="form-control" autocomplete="off">
                                    <ul class="dropdown-menu"></ul>
                                    <ul class="dropdown-menu"></ul>
                                    <input type="hidden" name="manufacturer_id" value="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-category"><span data-toggle="tooltip" title="" data-original-title="Click chọn Danh mục">Danh mục</span></label>
                                <div class="col-sm-10">
                                    <select name="product_category[]" id="input-status" class="form-control">
                                        <?php
                                            $product_category =  $this->product_category; //var_dump($product_category);exit;
                                            foreach($product_category as $item_product_category) {
                                        ?>
                                            <option value="<?=$item_product_category['category_id']?>" selected="selected"><?=$item_product_category['name']?></option>
                                        <?php
                                            }
                                        ?>
                                    </select>
                                </div>
                                <div class="col-sm-10" style="display:none">
                                    <input type="text" name="category" value="" placeholder="Danh mục" id="input-category" class="form-control" autocomplete="off">
                                    <ul class="dropdown-menu"></ul>
                                    <ul class="dropdown-menu"></ul>
                                    <div id="product-category" class="well well-sm" style="height: 150px; overflow: auto;"> </div>
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-filter"><span data-toggle="tooltip" title="" data-original-title="Gõ tên Sản phẩm sẽ Tự động hiển thị để lựa chọn">Bộ lọc</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="filter" value="" placeholder="Bộ lọc" id="input-filter" class="form-control" autocomplete="off">
                                    <ul class="dropdown-menu"></ul>
                                    <ul class="dropdown-menu"></ul>
                                    <div id="product-filter" class="well well-sm" style="height: 150px; overflow: auto;"> </div>
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label">Cửa hàng:</label>
                                <div class="col-sm-10">
                                    <div class="well well-sm" style="height: 150px; overflow: auto;">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="product_store[]" value="0" checked="checked"> Mặc định
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-download"><span data-toggle="tooltip" title="" data-original-title="Gõ và chọn thêm tên File dữ liệu khách hàng có thể tải về">Tải về</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="download" value="" placeholder="Tải về" id="input-download" class="form-control" autocomplete="off">
                                    <ul class="dropdown-menu"></ul>
                                    <ul class="dropdown-menu"></ul>
                                    <div id="product-download" class="well well-sm" style="height: 150px; overflow: auto;"> </div>
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label" for="input-related"><span data-toggle="tooltip" title="" data-original-title="Click để chọn thêm tên Sản phẩm cùng loại. Số lượng tùy ý">Sản phẩm cùng loại</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="related" value="" placeholder="Sản phẩm cùng loại" id="input-related" class="form-control" autocomplete="off">
                                    <ul class="dropdown-menu"></ul>
                                    <ul class="dropdown-menu"></ul>
                                    <div id="product-related" class="well well-sm" style="height: 150px; overflow: auto;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-attribute">
                            <div class="table-responsive">
                                <table id="attribute" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td class="text-left">Thuộc tính</td>
                                            <td class="text-left">Văn bản</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td class="text-right">
                                                <button type="button" onclick="addAttribute();" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Thêm thuộc tính"><i class="fa fa-plus-circle"></i></button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-option">
                            <div class="row">
                                <div class="col-sm-2">
                                    <ul class="nav nav-pills nav-stacked" id="option">
                                        <li>
                                            <input type="text" name="option" value="" placeholder="Tùy chọn" id="input-option" class="form-control" autocomplete="off">
                                            <ul class="dropdown-menu"></ul>
                                            <ul class="dropdown-menu"></ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-10">
                                    <div class="tab-content"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-recurring">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td class="text-left">Hồ sơ Thanh toán định kỳ</td>
                                            <td class="text-left">Nhóm khách hàng</td>
                                            <td class="text-left"></td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td class="text-left">
                                                <button type="button" onclick="addRecurring()" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Thêm định kỳ"><i class="fa fa-plus-circle"></i></button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-discount">
                            <div class="table-responsive">
                                <table id="discount" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td class="text-left">Nhóm khách hàng</td>
                                            <td class="text-right">Số lượng:</td>
                                            <td class="text-right">Thứ tự Ưu tiên</td>
                                            <td class="text-right">Giá:</td>
                                            <td class="text-left">Ngày bắt đầu</td>
                                            <td class="text-left">Ngày kết thúc</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <td colspan="6"></td>
                                            <td class="text-left">
                                                <button type="button" onclick="addDiscount();" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Thêm thẻ giảm giá"><i class="fa fa-plus-circle"></i></button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-special">
                            <div class="table-responsive">
                                <table id="special" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td class="text-left">Nhóm khách hàng</td>
                                            <td class="text-right">Thứ tự Ưu tiên</td>
                                            <td class="text-right">Giá:</td>
                                            <td class="text-left">Ngày bắt đầu</td>
                                            <td class="text-left">Ngày kết thúc</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <td colspan="5"></td>
                                            <td class="text-left">
                                                <button type="button" onclick="addSpecial();" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Thêm Giá khuyến mãi"><i class="fa fa-plus-circle"></i></button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-image">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td class="text-left">Hình ảnh:</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left">
                                                
                                                <a href="javascript:void(0);" class="img-thumbnail">
                                                    <img src="<?=IMAGE_URL?>/admin/no_image-100x100.png" id="thumb_image">
                                                </a>
                                                <div class="popover1 fade right in" role="tooltip" id="popover924312"><div class="arrow" style="top: 50%;"></div><h3 class="popover-title" style="display: none;"></h3><div class="popover-content">
                                                    <button type="button" id="button-image" onclick="adminProduct.openUploadThumb('thumb_image');" class="btn btn-primary">
                                                    <i class="fa fa-pencil"></i></button>
                                                    <button type="button" id="button-clear" class="btn btn-danger" onclick="adminProduct.removeUploadThumb('thumb_image');"><i class="fa fa-trash-o"></i></button></div></div>
                                                    <input type="hidden" name="image" id="thumb_image_hidden">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table id="images" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td class="text-left">Hình ảnh bổ sung</td>
                                            <td class="text-right">Thứ tự</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td class="text-left">
                                                <button type="button" onclick="adminProduct.addImage();" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Thêm hình ảnh"><i class="fa fa-plus-circle"></i></button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-reward">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-points"><span data-toggle="tooltip" title="" data-original-title="Số Điểm cần để Mua sản phẩm này. Nếu không muốn thanh toán bằng Điểm thì để trống.">Điểm:</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="points" value="" placeholder="Điểm:" id="input-points" class="form-control">
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td class="text-left">Nhóm khách hàng</td>
                                            <td class="text-right">Điểm thưởng</td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td class="text-left">Default</td>
                                            <td class="text-right">
                                                <input type="text" name="product_reward[1][points]" value="" class="form-control">
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-seo">
                            <div class="alert alert-info"><i class="fa fa-info-circle"></i> Không sử dụng không gian, thay vào đó thay thế không gian bằng - và đảm bảo rằng URL SEO là độc nhất trên toàn cầu.</div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td class="text-left">Cửa hàng:</td>
                                            <td class="text-left">Đường dẫn thân thiện SEO</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left">Mặc định</td>
                                            <td class="text-left">
                                                <div class="input-group"><span class="input-group-addon"><img src="./register_files/vi-vn.png" title="Tiếng Việt"></span>
                                                    <input type="text" name="product_seo_url[0][2]" value="" placeholder="Đường dẫn thân thiện SEO" class="form-control">
                                                </div>

                                                <div class="input-group"><span class="input-group-addon"><img src="./register_files/en-gb.png" title="English"></span>
                                                    <input type="text" name="product_seo_url[0][1]" value="" placeholder="Đường dẫn thân thiện SEO" class="form-control">
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-design">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td class="text-left">Cửa hàng:</td>
                                            <td class="text-left">Bố cục</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left">Mặc định</td>
                                            <td class="text-left">
                                                <select name="product_layout[0]" class="form-control">
                                                    <option value=""></option>

                                                    <option value="6">Account</option>

                                                    <option value="10">Affiliate</option>

                                                    <option value="3">Category</option>

                                                    <option value="7">Checkout</option>

                                                    <option value="12">Compare</option>

                                                    <option value="8">Contact</option>

                                                    <option value="4">Default</option>

                                                    <option value="1">Home</option>

                                                    <option value="11">Information</option>

                                                    <option value="5">Manufacturer</option>

                                                    <option value="2">Product</option>

                                                    <option value="13">Search</option>

                                                    <option value="9">Sitemap</option>

                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <link href="./register_files/codemirror.css" rel="stylesheet">
    <link href="./register_files/monokai.css" rel="stylesheet">
    <script type="text/javascript" src="./register_files/codemirror.js.download"></script>
    <script type="text/javascript" src="./register_files/xml.js.download"></script>
    <script type="text/javascript" src="./register_files/formatting.js.download"></script>
    <script type="text/javascript" src="./register_files/summernote.js.download"></script>
    <link href="./register_files/summernote.css" rel="stylesheet">
    <script type="text/javascript" src="./register_files/summernote-image-attributes.js.download"></script>
    <script type="text/javascript" src="./register_files/opencart.js.download"></script>
    <script type="text/javascript">
        <!--
        // Manufacturer
        $('input[name=\'manufacturer\']').autocomplete({
            'source': function(request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/manufacturer/autocomplete&user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function(json) {
                        json.unshift({
                            manufacturer_id: 0,
                            name: ' --- Không --- '
                        });

                        response($.map(json, function(item) {
                            return {
                                label: item['name'],
                                value: item['manufacturer_id']
                            }
                        }));
                    }
                });
            },
            'select': function(item) {
                $('input[name=\'manufacturer\']').val(item['label']);
                $('input[name=\'manufacturer_id\']').val(item['value']);
            }
        });

        // Category
        $('input[name=\'category\']').autocomplete({
            'source': function(request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/category/autocomplete&user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function(json) {
                        response($.map(json, function(item) {
                            return {
                                label: item['name'],
                                value: item['category_id']
                            }
                        }));
                    }
                });
            },
            'select': function(item) {
                $('input[name=\'category\']').val('');

                $('#product-category' + item['value']).remove();

                $('#product-category').append('<div id="product-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_category[]" value="' + item['value'] + '" /></div>');
            }
        });

        $('#product-category').delegate('.fa-minus-circle', 'click', function() {
            $(this).parent().remove();
        });

        // Filter
        $('input[name=\'filter\']').autocomplete({
            'source': function(request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/filter/autocomplete&user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function(json) {
                        response($.map(json, function(item) {
                            return {
                                label: item['name'],
                                value: item['filter_id']
                            }
                        }));
                    }
                });
            },
            'select': function(item) {
                $('input[name=\'filter\']').val('');

                $('#product-filter' + item['value']).remove();

                $('#product-filter').append('<div id="product-filter' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_filter[]" value="' + item['value'] + '" /></div>');
            }
        });

        $('#product-filter').delegate('.fa-minus-circle', 'click', function() {
            $(this).parent().remove();
        });

        // Downloads
        $('input[name=\'download\']').autocomplete({
            'source': function(request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/download/autocomplete&user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function(json) {
                        response($.map(json, function(item) {
                            return {
                                label: item['name'],
                                value: item['download_id']
                            }
                        }));
                    }
                });
            },
            'select': function(item) {
                $('input[name=\'download\']').val('');

                $('#product-download' + item['value']).remove();

                $('#product-download').append('<div id="product-download' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_download[]" value="' + item['value'] + '" /></div>');
            }
        });

        $('#product-download').delegate('.fa-minus-circle', 'click', function() {
            $(this).parent().remove();
        });

        // Related
        $('input[name=\'related\']').autocomplete({
            'source': function(request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/product/autocomplete&user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function(json) {
                        response($.map(json, function(item) {
                            return {
                                label: item['name'],
                                value: item['product_id']
                            }
                        }));
                    }
                });
            },
            'select': function(item) {
                $('input[name=\'related\']').val('');

                $('#product-related' + item['value']).remove();

                $('#product-related').append('<div id="product-related' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_related[]" value="' + item['value'] + '" /></div>');
            }
        });

        $('#product-related').delegate('.fa-minus-circle', 'click', function() {
            $(this).parent().remove();
        });
        //-->
    </script>
    <script type="text/javascript">
        <!--
        var attribute_row = 0;

        function addAttribute() {
            html = '<tr id="attribute-row' + attribute_row + '">';
            html += '  <td class="text-left" style="width: 20%;"><input type="text" name="product_attribute[' + attribute_row + '][name]" value="" placeholder="Thuộc tính" class="form-control" /><input type="hidden" name="product_attribute[' + attribute_row + '][attribute_id]" value="" /></td>';
            html += '  <td class="text-left">';
            html += '<div class="input-group"><span class="input-group-addon"><img src="language/vi-vn/vi-vn.png" title="Tiếng Việt" /></span><textarea name="product_attribute[' + attribute_row + '][product_attribute_description][2][text]" rows="5" placeholder="Văn bản" class="form-control"></textarea></div>';
            html += '<div class="input-group"><span class="input-group-addon"><img src="language/en-gb/en-gb.png" title="English" /></span><textarea name="product_attribute[' + attribute_row + '][product_attribute_description][1][text]" rows="5" placeholder="Văn bản" class="form-control"></textarea></div>';
            html += '  </td>';
            html += '  <td class="text-right"><button type="button" onclick="$(\'#attribute-row' + attribute_row + '\').remove();" data-toggle="tooltip" title="Loại bỏ" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#attribute tbody').append(html);

            attributeautocomplete(attribute_row);

            attribute_row++;
        }

        function attributeautocomplete(attribute_row) {
            $('input[name=\'product_attribute[' + attribute_row + '][name]\']').autocomplete({
                'source': function(request, response) {
                    $.ajax({
                        url: 'index.php?route=catalog/attribute/autocomplete&user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V&filter_name=' + encodeURIComponent(request),
                        dataType: 'json',
                        success: function(json) {
                            response($.map(json, function(item) {
                                return {
                                    category: item.attribute_group,
                                    label: item.name,
                                    value: item.attribute_id
                                }
                            }));
                        }
                    });
                },
                'select': function(item) {
                    $('input[name=\'product_attribute[' + attribute_row + '][name]\']').val(item['label']);
                    $('input[name=\'product_attribute[' + attribute_row + '][attribute_id]\']').val(item['value']);
                }
            });
        }

        $('#attribute tbody tr').each(function(index, element) {
            attributeautocomplete(index);
        });
        //-->
    </script>
    <script type="text/javascript">
        <!--
        var option_row = 0;

        $('input[name=\'option\']').autocomplete({
            'source': function(request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/option/autocomplete&user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function(json) {
                        response($.map(json, function(item) {
                            return {
                                category: item['category'],
                                label: item['name'],
                                value: item['option_id'],
                                type: item['type'],
                                option_value: item['option_value']
                            }
                        }));
                    }
                });
            },
            'select': function(item) {
                html = '<div class="tab-pane" id="tab-option' + option_row + '">';
                html += '	<input type="hidden" name="product_option[' + option_row + '][product_option_id]" value="" />';
                html += '	<input type="hidden" name="product_option[' + option_row + '][name]" value="' + item['label'] + '" />';
                html += '	<input type="hidden" name="product_option[' + option_row + '][option_id]" value="' + item['value'] + '" />';
                html += '	<input type="hidden" name="product_option[' + option_row + '][type]" value="' + item['type'] + '" />';

                html += '	<div class="form-group">';
                html += '	  <label class="col-sm-2 control-label" for="input-required' + option_row + '">Bắt buộc</label>';
                html += '	  <div class="col-sm-10"><select name="product_option[' + option_row + '][required]" id="input-required' + option_row + '" class="form-control">';
                html += '	      <option value="1">Có</option>';
                html += '	      <option value="0">Không</option>';
                html += '	  </select></div>';
                html += '	</div>';

                if (item['type'] == 'text') {
                    html += '	<div class="form-group">';
                    html += '	  <label class="col-sm-2 control-label" for="input-value' + option_row + '">Giá trị tùy chọn</label>';
                    html += '	  <div class="col-sm-10"><input type="text" name="product_option[' + option_row + '][value]" value="" placeholder="Giá trị tùy chọn" id="input-value' + option_row + '" class="form-control" /></div>';
                    html += '	</div>';
                }

                if (item['type'] == 'textarea') {
                    html += '	<div class="form-group">';
                    html += '	  <label class="col-sm-2 control-label" for="input-value' + option_row + '">Giá trị tùy chọn</label>';
                    html += '	  <div class="col-sm-10"><textarea name="product_option[' + option_row + '][value]" rows="5" placeholder="Giá trị tùy chọn" id="input-value' + option_row + '" class="form-control"></textarea></div>';
                    html += '	</div>';
                }

                if (item['type'] == 'file') {
                    html += '	<div class="form-group" style="display: none;">';
                    html += '	  <label class="col-sm-2 control-label" for="input-value' + option_row + '">Giá trị tùy chọn</label>';
                    html += '	  <div class="col-sm-10"><input type="text" name="product_option[' + option_row + '][value]" value="" placeholder="Giá trị tùy chọn" id="input-value' + option_row + '" class="form-control" /></div>';
                    html += '	</div>';
                }

                if (item['type'] == 'date') {
                    html += '	<div class="form-group">';
                    html += '	  <label class="col-sm-2 control-label" for="input-value' + option_row + '">Giá trị tùy chọn</label>';
                    html += '	  <div class="col-sm-3"><div class="input-group date"><input type="text" name="product_option[' + option_row + '][value]" value="" placeholder="Giá trị tùy chọn" data-date-format="YYYY-MM-DD" id="input-value' + option_row + '" class="form-control" /><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span></div></div>';
                    html += '	</div>';
                }

                if (item['type'] == 'time') {
                    html += '	<div class="form-group">';
                    html += '	  <label class="col-sm-2 control-label" for="input-value' + option_row + '">Giá trị tùy chọn</label>';
                    html += '	  <div class="col-sm-10"><div class="input-group time"><input type="text" name="product_option[' + option_row + '][value]" value="" placeholder="Giá trị tùy chọn" data-date-format="HH:mm" id="input-value' + option_row + '" class="form-control" /><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span></div></div>';
                    html += '	</div>';
                }

                if (item['type'] == 'datetime') {
                    html += '	<div class="form-group">';
                    html += '	  <label class="col-sm-2 control-label" for="input-value' + option_row + '">Giá trị tùy chọn</label>';
                    html += '	  <div class="col-sm-10"><div class="input-group datetime"><input type="text" name="product_option[' + option_row + '][value]" value="" placeholder="Giá trị tùy chọn" data-date-format="YYYY-MM-DD HH:mm" id="input-value' + option_row + '" class="form-control" /><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span></div></div>';
                    html += '	</div>';
                }

                if (item['type'] == 'select' || item['type'] == 'radio' || item['type'] == 'checkbox' || item['type'] == 'image') {
                    html += '<div class="table-responsive">';
                    html += '  <table id="option-value' + option_row + '" class="table table-striped table-bordered table-hover">';
                    html += '  	 <thead>';
                    html += '      <tr>';
                    html += '        <td class="text-left">Giá trị tùy chọn</td>';
                    html += '        <td class="text-right">Số lượng:</td>';
                    html += '        <td class="text-left">Phần Trừ đi:</td>';
                    html += '        <td class="text-right">Giá:</td>';
                    html += '        <td class="text-right">Điểm:</td>';
                    html += '        <td class="text-right">Nặng:</td>';
                    html += '        <td></td>';
                    html += '      </tr>';
                    html += '  	 </thead>';
                    html += '  	 <tbody>';
                    html += '    </tbody>';
                    html += '    <tfoot>';
                    html += '      <tr>';
                    html += '        <td colspan="6"></td>';
                    html += '        <td class="text-left"><button type="button" onclick="addOptionValue(' + option_row + ');" data-toggle="tooltip" title="Thêm thuộc tính tùy chọn" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>';
                    html += '      </tr>';
                    html += '    </tfoot>';
                    html += '  </table>';
                    html += '</div>';

                    html += '  <select id="option-values' + option_row + '" style="display: none;">';

                    for (i = 0; i < item['option_value'].length; i++) {
                        html += '  <option value="' + item['option_value'][i]['option_value_id'] + '">' + item['option_value'][i]['name'] + '</option>';
                    }

                    html += '  </select>';
                    html += '</div>';
                }

                $('#tab-option .tab-content').append(html);

                $('#option > li:last-child').before('<li><a href="#tab-option' + option_row + '" data-toggle="tab"><i class="fa fa-minus-circle" onclick=" $(\'#option a:first\').tab(\'show\');$(\'a[href=\\\'#tab-option' + option_row + '\\\']\').parent().remove(); $(\'#tab-option' + option_row + '\').remove();"></i>' + item['label'] + '</li>');

                $('#option a[href=\'#tab-option' + option_row + '\']').tab('show');

                $('[data-toggle=\'tooltip\']').tooltip({
                    container: 'body',
                    html: true
                });

                $('.date').datetimepicker({
                    language: 'en-gb',
                    pickTime: false
                });

                $('.time').datetimepicker({
                    language: 'en-gb',
                    pickDate: false
                });

                $('.datetime').datetimepicker({
                    language: 'en-gb',
                    pickDate: true,
                    pickTime: true
                });

                option_row++;
            }
        });
        //-->
    </script>
    <script type="text/javascript">
        <!--
        var option_value_row = 0;

        function addOptionValue(option_row) {
            html = '<tr id="option-value-row' + option_value_row + '">';
            html += '  <td class="text-left"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][option_value_id]" class="form-control">';
            html += $('#option-values' + option_row).html();
            html += '  </select><input type="hidden" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][product_option_value_id]" value="" /></td>';
            html += '  <td class="text-right"><input type="text" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][quantity]" value="" placeholder="Số lượng:" class="form-control" /></td>';
            html += '  <td class="text-left"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][subtract]" class="form-control">';
            html += '    <option value="1">Có</option>';
            html += '    <option value="0">Không</option>';
            html += '  </select></td>';
            html += '  <td class="text-right"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][price_prefix]" class="form-control">';
            html += '    <option value="+">+</option>';
            html += '    <option value="-">-</option>';
            html += '  </select>';
            html += '  <input type="text" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][price]" value="" placeholder="Giá:" class="form-control" /></td>';
            html += '  <td class="text-right"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][points_prefix]" class="form-control">';
            html += '    <option value="+">+</option>';
            html += '    <option value="-">-</option>';
            html += '  </select>';
            html += '  <input type="text" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][points]" value="" placeholder="Điểm:" class="form-control" /></td>';
            html += '  <td class="text-right"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][weight_prefix]" class="form-control">';
            html += '    <option value="+">+</option>';
            html += '    <option value="-">-</option>';
            html += '  </select>';
            html += '  <input type="text" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][weight]" value="" placeholder="Nặng:" class="form-control" /></td>';
            html += '  <td class="text-left"><button type="button" onclick="$(this).tooltip(\'destroy\');$(\'#option-value-row' + option_value_row + '\').remove();" data-toggle="tooltip" rel="tooltip" title="Loại bỏ" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#option-value' + option_row + ' tbody').append(html);
            $('[rel=tooltip]').tooltip();

            option_value_row++;
        }
        //-->
    </script>
    <script type="text/javascript">
        <!--
        var discount_row = 0;

        function addDiscount() {
            html = '<tr id="discount-row' + discount_row + '">';
            html += '  <td class="text-left"><select name="product_discount[' + discount_row + '][customer_group_id]" class="form-control">';
            html += '    <option value="1">Default</option>';
            html += '  </select></td>';
            html += '  <td class="text-right"><input type="text" name="product_discount[' + discount_row + '][quantity]" value="" placeholder="Số lượng:" class="form-control" /></td>';
            html += '  <td class="text-right"><input type="text" name="product_discount[' + discount_row + '][priority]" value="" placeholder="Thứ tự Ưu tiên" class="form-control" /></td>';
            html += '  <td class="text-right"><input type="text" name="product_discount[' + discount_row + '][price]" value="" placeholder="Giá:" class="form-control" /></td>';
            html += '  <td class="text-left" style="width: 20%;"><div class="input-group date"><input type="text" name="product_discount[' + discount_row + '][date_start]" value="" placeholder="Ngày bắt đầu" data-date-format="YYYY-MM-DD" class="form-control" /><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span></div></td>';
            html += '  <td class="text-left" style="width: 20%;"><div class="input-group date"><input type="text" name="product_discount[' + discount_row + '][date_end]" value="" placeholder="Ngày kết thúc" data-date-format="YYYY-MM-DD" class="form-control" /><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span></div></td>';
            html += '  <td class="text-left"><button type="button" onclick="$(\'#discount-row' + discount_row + '\').remove();" data-toggle="tooltip" title="Loại bỏ" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#discount tbody').append(html);

            $('.date').datetimepicker({
                pickTime: false
            });

            discount_row++;
        }
        //-->
    </script>
    <script type="text/javascript">
        <!--
        var special_row = 0;

        function addSpecial() {
            html = '<tr id="special-row' + special_row + '">';
            html += '  <td class="text-left"><select name="product_special[' + special_row + '][customer_group_id]" class="form-control">';
            html += '      <option value="1">Default</option>';
            html += '  </select></td>';
            html += '  <td class="text-right"><input type="text" name="product_special[' + special_row + '][priority]" value="" placeholder="Thứ tự Ưu tiên" class="form-control" /></td>';
            html += '  <td class="text-right"><input type="text" name="product_special[' + special_row + '][price]" value="" placeholder="Giá:" class="form-control" /></td>';
            html += '  <td class="text-left" style="width: 20%;"><div class="input-group date"><input type="text" name="product_special[' + special_row + '][date_start]" value="" placeholder="Ngày bắt đầu" data-date-format="YYYY-MM-DD" class="form-control" /><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span></div></td>';
            html += '  <td class="text-left" style="width: 20%;"><div class="input-group date"><input type="text" name="product_special[' + special_row + '][date_end]" value="" placeholder="Ngày kết thúc" data-date-format="YYYY-MM-DD" class="form-control" /><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span></div></td>';
            html += '  <td class="text-left"><button type="button" onclick="$(\'#special-row' + special_row + '\').remove();" data-toggle="tooltip" title="Loại bỏ" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#special tbody').append(html);

            $('.date').datetimepicker({
                language: 'en-gb',
                pickTime: false
            });

            special_row++;
        }
        //-->
    </script>
    <script type="text/javascript">
        <!--
        var image_row = 0;

        function addImage() {
            html = '<tr id="image-row' + image_row + '">';
            html += '  <td class="text-left"><a href="" id="thumb-image' + image_row + '"data-toggle="image" class="img-thumbnail"><img src="https://template1.websiteday.net/image/cache/no_image-100x100.png" alt="" title="" data-placeholder="https://template1.websiteday.net/image/cache/no_image-100x100.png" /></a><input type="hidden" name="product_image[' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
            html += '  <td class="text-right"><input type="text" name="product_image[' + image_row + '][sort_order]" value="" placeholder="Thứ tự" class="form-control" /></td>';
            html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row + '\').remove();" data-toggle="tooltip" title="Loại bỏ" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#images tbody').append(html);

            image_row++;
        }
        //-->
    </script>
    <script type="text/javascript">
        <!--
        var recurring_row = 0;

        function addRecurring() {
            html = '<tr id="recurring-row' + recurring_row + '">';
            html += '  <td class="left">';
            html += '    <select name="product_recurring[' + recurring_row + '][recurring_id]" class="form-control">>';
            html += '    </select>';
            html += '  </td>';
            html += '  <td class="left">';
            html += '    <select name="product_recurring[' + recurring_row + '][customer_group_id]" class="form-control">>';
            html += '      <option value="1">Default</option>';
            html += '    <select>';
            html += '  </td>';
            html += '  <td class="left">';
            html += '    <a onclick="$(\'#recurring-row' + recurring_row + '\').remove()" data-toggle="tooltip" title="Loại bỏ" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a>';
            html += '  </td>';
            html += '</tr>';

            $('#tab-recurring table tbody').append(html);

            recurring_row++;
        }
        //-->
    </script>
    <script type="text/javascript">
        <!--
        $('.date').datetimepicker({
            language: 'en-gb',
            pickTime: false
        });

        $('.time').datetimepicker({
            language: 'en-gb',
            pickDate: false
        });

        $('.datetime').datetimepicker({
            language: 'en-gb',
            pickDate: true,
            pickTime: true
        });
        //-->
    </script>
    <script type="text/javascript">
        <!--
        $('#language a:first').tab('show');
        $('#option a:first').tab('show');
        //-->
    </script>
    <script type="text/javascript">
        // A $( document ).ready() block.
        $( document ).ready(function() {
            adminProduct.initImageUploadPath('<?=IMAGE_URL?>');
        });
    </script>
</div>