<script>
		tinymce.init({ 
			selector:'textarea', 
			height: 100,
        theme: 'modern',
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
		 toolbar2: 'imageupload',
			setup: function(editor) {
		 	   uploadImageToServer(editor);
			},
        toolbar3: 'print preview media | forecolor backcolor emoticons | codesample',
        image_advtab: true,
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css'
        ],
		 
		});
		
		function uploadImageToServer(editor){
		   // create input and insert in the DOM
		   var inp = $('<input id="tinymce-uploader" type="file" name="pic" accept="image/*" style="display:none">');
		   $(editor.getElement()).parent().append(inp);

		   // add the image upload button to the editor toolbar
		   editor.addButton('imageupload', {
		     text: 'Local',
		     icon: 'image',
		     onclick: function(e) { // when toolbar button is clicked, open file select modal
		       inp.trigger('click');
		     }
		   });

		   // when a file is selected, upload it to the server
		   inp.on("change", function(e){
			 uploadFile(this, editor);
		   });
	 }
	 
	 
	 function uploadFile(inp, editor) {
	   var file_data = $(inp).prop('files')[0];   
	   var data = new FormData();                  
	   data.append('file', file_data);
		 
	   $.ajax({
	     url: 'doUpload.php',
	     type: 'POST',
	     data: data,
	     processData: false, // Don't process the files
	     contentType: false, // Set content type to false as jQuery will tell the server its a query string request
	     success: function(data, textStatus, jqXHR) {
		   data = JSON.parse(data);
	       editor.insertContent('<img class="content-img" src="' + data.url + '"/>');
	     },
	     error: function(jqXHR, textStatus, errorThrown) {
	       if(jqXHR.responseText) {
	         errors = JSON.parse(jqXHR.responseText).errors
	         alert('Error uploading image: ' + errors.join(", ") + '. Make sure the file is an image and has extension jpg/jpeg/png.');
	       }
	     }
	   });
	 }
	 

	</script>
<form action="<?=BASE_URL?>/admin/product/updatecommit" method="post">
		<table>
		    <tr>
                <td>Id:</td>
                <td><input type="text" name="id"></input></td>
            </tr>
            <tr>
                <td>Tên:</td>
                <td><input type="text" name="name"></input></td>
            </tr>
            <tr>
                <td>Giá:</td>
                <td><input type="text" name="price"></input></td>
            </tr>
            <tr>
                <td>Giá mới:</td>
                <td><input type="text" name="newPrice"></input></td>
            </tr>
            <tr>
                <td>Phần trăm giảm giá:</td>
                <td><input type="text" name="saleOffPercent"></input></td>
            </tr>
            <tr>
                <td>Phần trăm giảm giá:</td>
                <td><input type="text" name="saleOffPercent"></input></td>
            </tr>
             <tr>
                <td>Tên hình:</td>
                <td><input type="text" name="imageName"></input></td>
            </tr>
             <tr>
                <td>Số lượng người đã mua:</td>
                <td><input type="text" name="buyerNumber"></input></td>
            </tr>
             <tr>
                <td>Loại sản phẩm:</td>
                <td>
                     <select>
					  <option value="1">Danh mục 1</option>
					  <option value="2">Danh mục 2</option>
					  <option value="3">Danh mục 3</option>
					  <option value="4">Danh mục 4</option>
					</select> 
                </td>
            </tr>
             <tr>
                <td>Loại sản phẩm:</td>
                <td>
                   <input type="checkbox" name="flag_top_week" value="t"><br/>
                   <input type="checkbox" name="flag_top_buy_week" value="t"><br/>
                   <input type="checkbox" name="flag_bentre" value="t"><br/>
                </td>
            </tr>
            <tr>
                <td>Hiển thị ra cho người dùng:</td>
                <td>
                   <input type="checkbox" name="enable_flag" value="t"><br/>
                </td>
            </tr>
		    <tr>
                <td>Mô tả ngắn:</td>
                <td><input type="text" name="shortDesc"></input></td>
            </tr>
			<tr>
				<td>Mô tả:</td>
				<td><textarea name="fullDesc"></textarea></td>
			</tr>
		</table>
		<input type="submit" value="Save"></input>
	</form>