<?php
$productTopBuyWeek = $this->productTopBuyWeek;
?>
<div class="col-sm-6 col-10" id="boxCart">
        <div id="layout_rights">
        <div class="mod-default hidden-xs hidden-sm">
           <h3 class="mod-name">Đặc Sản Đây trên Facebook</h3>
           <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdacsanday.net%2F&tabs=timeline&width=270&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="270" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="mod-default hidden-xs hidden-sm">
           <h3 class="mod-name">Đặc sản mua nhiều nhất</h3>
		   <?php 
		   $totalProduct = count($productTopBuyWeek);
		   $count=0;
		   foreach ($productTopBuyWeek as $itemProduct) {?>
           <div class="m-paragraphs">&nbsp;</div>
           <div class="m-paragraphs"><a href="<?=BASE_URL?>/chi-tiet/san-pham/<?=$itemProduct['id']?>/"><img alt="<?=$itemProduct['name']?>" src="<?=IMAGE_URL?>/product/<?=$itemProduct['image']?>286x264.jpg" width="286" height="264"></a></div>
           <div class="m-paragraphs" style="text-align:center"><span style="font-size: 14px;"><span style="color: #ff6600;"><strong><?=$itemProduct['name']?></strong></span> <?=Common::numberFormat($itemProduct['new_price'])?> đ</span></div>
           <div class="m-paragraphs">&nbsp;</div>
			<?php if($count <= 1) { ?>	
           <div class="m-paragraphs">
           		<span style="font-size: 14px; color: #99cc00;">----------------------------------------------------------</span>
       		</div>
        <?php } else { ?>
            <div class="m-paragraphs">&nbsp;</div>
        <?php }
            $count++;
            if($count >= 3) {
                break;
             }
      		}?>
        </div>
        <div class="mod-default">
           <div class="m_showcart">
              <h3 class="drag-bar">Giỏ hàng</h3>
              <p>
                  <a href="<?=BASE_URL?>/gio-hang"><img src="https://dacsanday.net/images/icon/cart.png"><span id="itemincart" class="amount_item_cart">0</span></a>
              </p>
              <iframe style="margin:5px" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fdacsanday.net%2F&width=51&layout=box_count&action=like&size=small&show_faces=true&share=true&height=65&appId" width="51" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
           </div>
        </div>
     </div>
  </div>
<script type="text/javascript">
$( document ).ready(function() {
	cart.getItemInCart();
});
</script>