<section class="home_top">
    <div class="main_wrap">
        <div class="home_cate">
            <ul>
                <li><a href="<?=BASE_URL?>/keo-dua-ben-tre-2/">Kẹo Dừa Bến Tre</a></li>
                <li style="display:none"><a href="<?=BASE_URL?>/keo-chuoi-ben-tre-3/">Kẹo Chuối Bến Tre</a></li>
                <li><a href="<?=BASE_URL?>/banh-phong-sua-ben-tre-22/">Bánh Phồng Sữa Bến Tre</a></li>
                <li><a href="<?=BASE_URL?>/chi-tiet/san-pham/8/">Bánh Tráng Mỹ Lồng Bến Tre</a></li>
                <li><a href="<?=BASE_URL?>/ruou-dua-ben-tre-52/">Rượu Dừa Bến Tre</a></li>
                <li><a href="<?=BASE_URL?>/banh-pia-soc-trang-24/">Bánh Pía Sóc Trăng</a></li>
                <li style="display:none"><a href="<?=BASE_URL?>/chi-tiet/san-pham/37/">Thịt trâu gác bếp Sơn La</a></li>
                <li><a href="<?=BASE_URL?>/dac-san-khac-101/">Đặc sản khác</a></li>
            </ul>
        </div>
        
        <div class="home_slider">
            <div class="flexslider loading">
                <ul class="slides">
                    <li>
                        <a href="<?=BASE_URL?>/gio-hang/">
                            <img src="<?=IMAGE_URL?>/banner/khach-dat-hang-dacsanday.jpg" alt="Khách mua đặc sản" />
                        </a>
                    </li>
                     <li>
                        <a href="<?=BASE_URL?>/gio-hang/">
                            <img src="<?=IMAGE_URL?>/banner/khach-review-dacsanday.jpg" alt="Khách đánh giá dacsanday.net" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        
        
    </div>
</section>
<link rel="stylesheet" href="https://dacsanday.net/js/flexslider/flexslider_1.00.css">
<script src="https://dacsanday.net/js/flexslider/jquery.flexslider-min.js"></script>
<script>
$(document).ready(function(){
    $('.home_slider .flexslider').flexslider({
        animation: "slide",
        directionNav: true,
        controlNav: true,
        start: function(homeslider){homeslider.removeClass('loading');},
    });
    //document.getElementById('ptitle').scrollIntoView({block: 'start', behavior: 'smooth'});
    $('.flexslider').flexslider({
        animation: "slide",
        directionNav: false,
        start: function(slider){slider.removeClass('loading');},
    });
});
</script>