<?php
$productTopWeek = $this->productTopWeek;
?>
<div id="layout_bottom">
               <div class="mod-default">
                  <h3 class="mod-name">Đặc sản bán chạy</h3>
                  <div class="products row">
                  	<?php foreach ($productTopWeek as $itemProduct) {?>
                     <div class="col-sm-6">
                        <div class="item padding-5">
                           <a href="<?=BASE_URL?>/chi-tiet/san-pham/<?=$itemProduct['id']?>/"> <img alt="<?=$itemProduct['name']?>" class="img-responsive" src="<?=IMAGE_URL?>/product/<?=$itemProduct['image']?>350x350.jpg"> </a> 
                           <div class="info">
                              <div class="padding-5">
                                 <a href="<?=BASE_URL?>/chi-tiet/san-pham/<?=$itemProduct['id']?>/">
                                    <h5><?=$itemProduct['name']?></h5>
                                 </a>
                                 <p><?=$itemProduct['short_desc']?></p>
                                 <div class="row row-none">
                                    <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none"><?=Common::numberFormat($itemProduct['new_price'])?><small>đ</small></span><span class="col-xs-24 col-none"><?=Common::numberFormat($itemProduct['price'])?><small>đ</small></span></div>
                                    <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-<?=$itemProduct['percent_sale_off']?><small>%</small></span><input product-add-to-cart="<?=$itemProduct['id']?>" product-name="<?=$itemProduct['name']?>" class="btn btn-warning add-to-cart col-xs-24 col-sm-14 ng-scope" value="Mua" type="button"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <?php
                      		}?>
                  </div>
               </div>
            </div>