

<!DOCTYPE html>
<html lang="vi">
   <head>
      <base href="http://tayninhfood.com/" />
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <meta http-equiv="Cache-Control" content="public" />
      <meta name="robots" content="index, follow" />
      <meta name="keywords" content="24gio.vn, 24h, 24gio, rao vat, quang cao, gian hang truc tuyen, tao gian hang mien phi, dang tin san pham, rao vặt" />
      <meta standard="keywords" content="Trang chủ" />
      <meta name="description" content="Trang chủ" />
      <meta name="generator" content="24GIO.VN | THƯƠNG MẠI ĐIỆN TỬ 24GIỜ" />
      <title>Đặc Sản Tây Ninh - Trang chủ</title>
      <link rel="icon" href="http://tayninhfood.com/templates/system/images/favicon.ico" type="image/x-icon" />
      <link rel="shortcut icon" href="http://tayninhfood.com/templates/system/images/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" href="http://tayninhfood.com/templates/modules/home/plugins/tet.css" type="text/css"/>
      <link rel="stylesheet" href="http://tayninhfood.com/templates/system/css/bootstrap.css" type="text/css"/>
      <link rel="stylesheet" href="http://tayninhfood.com/templates/system/css/bootstrap.theme.css" type="text/css"/>
      <link rel="stylesheet" href="http://tayninhfood.com/templates/shop/24gio_joli/tnf_red/css/reset.css" type="text/css"/>
      <link rel="stylesheet" href="http://tayninhfood.com/templates/shop/24gio_joli/tnf_red/css/templates.css" type="text/css"/>
      <link rel="stylesheet" href="http://tayninhfood.com/templates/shop/24gio_joli/tnf_red/css/modules.css" type="text/css"/>
      <link rel="stylesheet" href="http://tayninhfood.com/templates/shop/24gio_joli/tnf_red/css/products.css" type="text/css"/>
      <link rel="stylesheet" href="http://tayninhfood.com/templates/shop/24gio_joli/tnf_red/css/menu.css" type="text/css"/>
      <link rel="stylesheet" href="http://tayninhfood.com/templates/shop/24gio_joli/tnf_red/css/block_productsselect.css" type="text/css"/>
      <link rel="stylesheet" href="http://tayninhfood.com/templates/shop/24gio_joli/tnf_red/css/block_showcart.css" type="text/css"/>
   </head>
   <!--[END HEADER]--><script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-60618148-1', 'auto'); ga('send', 'pageview');</script><!-- Facebook Conversion Code for Xemtrangchinh --><script>(function() { var _fbq = window._fbq || (window._fbq = []); if (!_fbq.loaded) { var fbds = document.createElement('script'); fbds.async = true; fbds.src = 'https://connect.facebook.net/en_US/fbds.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fbds, s); _fbq.loaded = true; }})();window._fbq = window._fbq || [];window._fbq.push(['track', '6022857117478', {'value':'0.00','currency':'VND'}]);</script>
   <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6022857117478&amp;cd[value]=0.00&amp;cd[currency]=VND&amp;noscript=1" /></noscript>
   <!--Endcode xem trang chinh --><!-- Facebook Pixel Code --><script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '1438699446446353');fbq('track', "PageView");</script>
   <noscript><img height="1" width="1" style="display:none"src="https://www.facebook.com/tr?id=1438699446446353&ev=PageView&noscript=1"/></noscript>
   <!-- End Facebook Pixel Code --> 
   <body ng-app="joli">
      <!--Start of Zopim Live Chat Script--><script type="text/javascript">window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set._.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");$.src="//v2.zopim.com/?3nd6mlsF3QIFLnY4gJlncaJP2HMMT2es";z.t=+new Date;$.type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");</script><!--End of Zopim Live Chat Script--> <!-- <noscript> <div style="display:inline;"> <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/931561818/?value=0&amp;guid=ON&amp;script=0"/> <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1438699446446353&ev=PageView&noscript=1" /> <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6022857117478&cd[value]=1.00&cd[currency]=VND&noscript=1" /> </div> </noscript>--> 
      <div id="layout_toolbar" class="row row-none col-xs-24 col-none">
         <div class="container">
            <div class="mod-default">
               <div class="m-paragraphs"><span style="font-size: 14px;"><a href="http://tayninhfood.com"><img src="http://24gio.vn/userfile/f2d695af/uploads/icon/2.png" alt="" width="44" height="44" align="middle" /></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Hotline:</span> <span style="font-size: 18px; color: #ffff00;">0972 389 394</span>&nbsp;&nbsp;<span style="font-size: 14px;">- &nbsp;Điện thoại:</span><span style="font-size: 18px; color: #ffff00;"> 08 222 87817 &nbsp;</span><span style="font-size: 14px;">- &nbsp;Có thể mua tại:</span> <span style="font-size: 18px; color: #ffcc00;">29 Bắc Hải, Q.10, HCM </span><span style="font-size: 14px;">(bên cạnh công viên Lê Thị Riêng)</span></div>
            </div>
         </div>
      </div>
      <div id="header" class="row row-none">
         <div class="container">
            <div id="layout_menu">
               <div class="mod-default">
                  <nav class="navbar navbar-default">
                     <div class="container-fluid">
                        <div class="navbar-header"> <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#page-menu" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> </div>
                        <div class="collapse navbar-collapse" id="page-menu">
                           <ul class="nav navbar-nav ngang main-menu mod_menu clearfix">
                              <li class="level-1 active"><a class="level-1" href="http://tayninhfood.com/"><span><b>Trang chủ</b></span></a></li>
                              <li class="level-1"><a class="level-1" href="http://tayninhfood.com/san-pham.html"><span><b>Sản Phẩm</b></span></a></li>
                              <li class="level-1"><a class="level-1" href="http://tayninhfood.com/banh-trang-tay-ninh.html"><span><b>Bánh tráng Tây Ninh</b></span></a></li>
                              <li class="level-1"><a class="level-1" href="http://tayninhfood.com/quy-dinh-chung.html"><span><b>Quy định chung</b></span></a></li>
                              <li class="level-1"><a class="level-1" href="http://tayninhfood.com/ban-do.html"><span><b>Bản đồ</b></span></a></li>
                           </ul>
                        </div>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </div>
      <div id="row row-none">
         <div class="container">
            <div id="layout_top">
               <div id="layout_top_right">
                  <div class="mod-default">
                     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                           <div class="item active">
                              <img src="http://tayninhfood.com/userfile/f2d695af/uploads/tnf/1.jpg" alt="..."> 
                              <div class="carousel-caption"> </div>
                           </div>
                           <div class="item">
                              <img src="http://tayninhfood.com/userfile/f2d695af/uploads/tnf/i.jpg" alt="..."> 
                              <div class="carousel-caption"> </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="middle">
               <div id="page-name">
                  <ul id="sys_pagename">
                     <li><span>Trang chủ</span></li>
                  </ul>
               </div>
               <div id="layout_content" class="row row-10">
                  <div class="col-sm-18 col-10">
                     <div id="content">
                        <div id="products" class="products row">
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/31905-banh-trang-cuon.html"> <img alt="Bánh tráng cuốn" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_473f63fb2239b15e0cb4080a46e3fc4b.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/31905-banh-trang-cuon.html">
                                          <h5>Bánh tráng cuốn</h5>
                                       </a>
                                       <p>Sản phẩm bán chạy số 1 của TNF</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">20.000<small>đ</small></span><span class="col-xs-24 col-none">20.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-0<small>%</small></span><input type="button" product-add-to-cart="31905" product-name="Bánh tráng cuốn" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/25933-banh-trang-bo.html"> <img alt="Bánh tráng bơ" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_d96d5758ed08ce93ad25315840cc9a93.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/25933-banh-trang-bo.html">
                                          <h5>Bánh tráng bơ</h5>
                                       </a>
                                       <p>Béo béo ...thơm thơm, hương vị khó quên</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">15.000<small>đ</small></span><span class="col-xs-24 col-none">17.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-12<small>%</small></span><input type="button" product-add-to-cart="25933" product-name="Bánh tráng bơ" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/36693-kho-ga-la-chanh.html"> <img alt="Khô gà lá chanh" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_e5f1ea0430b88685d112d16e08e926ea.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/36693-kho-ga-la-chanh.html">
                                          <h5>Khô gà lá chanh</h5>
                                       </a>
                                       <p>Món đang hot</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">32.000<small>đ</small></span><span class="col-xs-24 col-none">35.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-9<small>%</small></span><input type="button" product-add-to-cart="36693" product-name="Khô gà lá chanh" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/36686-ghe-sua-ram-muoi-toi.html"> <img alt="Ghẹ sữa ram muối tỏi" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_4c8754d3b726fcc32221d95ee3cfae3c.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/36686-ghe-sua-ram-muoi-toi.html">
                                          <h5>Ghẹ sữa ram muối tỏi</h5>
                                       </a>
                                       <p>giòn rụm</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">36.000<small>đ</small></span><span class="col-xs-24 col-none">38.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-5<small>%</small></span><input type="button" product-add-to-cart="36686" product-name="Ghẹ sữa ram muối tỏi" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/30249-mut-dua-non-ben-tre.html"> <img alt="Mứt dừa non Bến Tre" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_988e4ec110e184b4b4e4a8a394dcbb9b.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/30249-mut-dua-non-ben-tre.html">
                                          <h5>Mứt dừa non Bến Tre</h5>
                                       </a>
                                       <p>Mứt dừa non Bến Tre thơm ngon đặc biệt (0.5kg)</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">90.000<small>đ</small></span><span class="col-xs-24 col-none">90.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-0<small>%</small></span><input type="button" product-add-to-cart="30249" product-name="Mứt dừa non Bến Tre" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/34868-da-heo-lac.html"> <img alt="Da heo lắc" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_9ae788759cc18595629fb527b9bb2d9d.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/34868-da-heo-lac.html">
                                          <h5>Da heo lắc</h5>
                                       </a>
                                       <p>Lắc tỏi ớt, muối TNF ... cực ngon</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">20.000<small>đ</small></span><span class="col-xs-24 col-none">22.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-9<small>%</small></span><input type="button" product-add-to-cart="34868" product-name="Da heo lắc" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/26013-banh-trang-me.html"> <img alt="Bánh tráng me" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_3eb3934ecfbb1470fa25d90a1b5c4f84.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/26013-banh-trang-me.html">
                                          <h5>Bánh tráng me</h5>
                                       </a>
                                       <p>Chua chua, ngon ngất ngây hương vị Trảng Bàng</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">7.000<small>đ</small></span><span class="col-xs-24 col-none">9.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-22<small>%</small></span><input type="button" product-add-to-cart="26013" product-name="Bánh tráng me" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/26018-banh-trang-muoi.html"> <img alt="Bánh tráng cuốn muối" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_ffb6aa717738523bdde52d0a99e79b00.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/26018-banh-trang-muoi.html">
                                          <h5>Bánh tráng cuốn muối</h5>
                                       </a>
                                       <p>Bánh cuộn muối tôm và hành phi ngon tuyệt</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">6.000<small>đ</small></span><span class="col-xs-24 col-none">7.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-14<small>%</small></span><input type="button" product-add-to-cart="26018" product-name="Bánh tráng cuốn muối" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/28512-banh-trang-tron.html"> <img alt="Bánh tráng trộn sa tế tắc" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_f065fe76a7a8fb50c2c50cb8b6bbd82a.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/28512-banh-trang-tron.html">
                                          <h5>Bánh tráng trộn sa tế tắc...</h5>
                                       </a>
                                       <p>Bánh tráng trộn sa tế tắc cực ngon</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">10.000<small>đ</small></span><span class="col-xs-24 col-none">12.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-17<small>%</small></span><input type="button" product-add-to-cart="28512" product-name="Bánh tráng trộn sa tế tắc" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/35366-dau-phong-rim-nuoc-mam.html"> <img alt="Đậu phộng Rim nước mắm" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_d6cb865a1568bc00a8407ab0bb0d4a5b.png"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/35366-dau-phong-rim-nuoc-mam.html">
                                          <h5>Đậu phộng Rim nước mắm...</h5>
                                       </a>
                                       <p>Đậu phộng Rim nước mắm</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">28.000<small>đ</small></span><span class="col-xs-24 col-none">30.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-7<small>%</small></span><input type="button" product-add-to-cart="35366" product-name="Đậu phộng Rim nước mắm" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/28797-banh-trang-cha-bong.html"> <img alt="Bánh tráng chà bông" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_9e5d22c51f49a40277b641efb98fd7bc.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/28797-banh-trang-cha-bong.html">
                                          <h5>Bánh tráng chà bông</h5>
                                       </a>
                                       <p>Muối, chà bông, hành phi, ngon tuyệt (sấp 12 cái)</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">20.000<small>đ</small></span><span class="col-xs-24 col-none">22.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-9<small>%</small></span><input type="button" product-add-to-cart="28797" product-name="Bánh tráng chà bông" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/30264-me-ngao-duong.html"> <img alt="Me ngào đường" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_a98ba0c8fcd35add20f3d9341f85592a.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/30264-me-ngao-duong.html">
                                          <h5>Me ngào đường</h5>
                                       </a>
                                       <p>Me không hạt, vị chua chua, cay cay hấp dẫn (140g)</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">16.000<small>đ</small></span><span class="col-xs-24 col-none">17.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-6<small>%</small></span><input type="button" product-add-to-cart="30264" product-name="Me ngào đường" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/30273-mut-chum-ruot.html"> <img alt="Mứt chùm ruột" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_70c038f8d03a4b12c15966d1fa32625d.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/30273-mut-chum-ruot.html">
                                          <h5>Mứt chùm ruột</h5>
                                       </a>
                                       <p>Mứt chùm ruột Tây Ninh, vị hơi cay...quá đã (170g)</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">25.000<small>đ</small></span><span class="col-xs-24 col-none">28.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-11<small>%</small></span><input type="button" product-add-to-cart="30273" product-name="Mứt chùm ruột" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/30282-banh-me-gung.html"> <img alt="Bánh mè gừng" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_6cf4f777c0ef10f65e2c1cf61e578371.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/30282-banh-me-gung.html">
                                          <h5>Bánh mè gừng</h5>
                                       </a>
                                       <p>Mè gừng Tây Ninh thơm ngon khó chối từ (sấp 10 cái)</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">40.000<small>đ</small></span><span class="col-xs-24 col-none">42.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-5<small>%</small></span><input type="button" product-add-to-cart="30282" product-name="Bánh mè gừng" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/30283-muoi-tom-tnf.html"> <img alt="Muối tôm Tây Ninh" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_ae103673a2eeba2aa4388898ad4d07e3.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/30283-muoi-tom-tnf.html">
                                          <h5>Muối tôm Tây Ninh</h5>
                                       </a>
                                       <p>Mã sp: TNF-MM</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">25.000<small>đ</small></span><span class="col-xs-24 col-none">27.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-7<small>%</small></span><input type="button" product-add-to-cart="30283" product-name="Muối tôm Tây Ninh" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/30285-tuong-ot.html"> <img alt="Tương ớt" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_bd503042659d7f13fdecdfb295ca38e9.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/30285-tuong-ot.html">
                                          <h5>Tương ớt</h5>
                                       </a>
                                       <p>Này mới là tương ớt đúng nghĩa</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">25.000<small>đ</small></span><span class="col-xs-24 col-none">26.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-4<small>%</small></span><input type="button" product-add-to-cart="30285" product-name="Tương ớt" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/30290-muoi-tieu-lop.html"> <img alt="Muối tiêu lốp" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_7a4b777236457307abbb9b958822cc8d.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/30290-muoi-tieu-lop.html">
                                          <h5>Muối tiêu lốp</h5>
                                       </a>
                                       <p>Muối tiêu đặc trưng Tây Ninh</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">15.000<small>đ</small></span><span class="col-xs-24 col-none">16.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-6<small>%</small></span><input type="button" product-add-to-cart="30290" product-name="Muối tiêu lốp" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/31647-banh-trang-tom-bo.html"> <img alt="Bánh tráng tôm bơ" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_9af38acb616ce2ca466e6db24e703f43.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/31647-banh-trang-tom-bo.html">
                                          <h5>Bánh tráng tôm bơ</h5>
                                       </a>
                                       <p>Bánh tôm kết hợp bơ, khô mực, đậu phộng, hành phi</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">12.000<small>đ</small></span><span class="col-xs-24 col-none">13.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-8<small>%</small></span><input type="button" product-add-to-cart="31647" product-name="Bánh tráng tôm bơ" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/33135-banh-trang-lac.html"> <img alt="Bánh tráng lắc" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_fecc1c405f75b3b30c723f1915eb2278.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/33135-banh-trang-lac.html">
                                          <h5>Bánh tráng lắc</h5>
                                       </a>
                                       <p>Vừa lắc vừa ăn, kèm phô mai ngon tuyệt</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">10.000<small>đ</small></span><span class="col-xs-24 col-none">10.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-0<small>%</small></span><input type="button" product-add-to-cart="33135" product-name="Bánh tráng lắc" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/33572-banh-phoi-suong-cuon-cha-bong.html"> <img alt="Bánh phơi sương cuốn chà bông" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_31b87a879005fcfaf2ebf1fce68e22ec.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/33572-banh-phoi-suong-cuon-cha-bong.html">
                                          <h5>Bánh phơi sương cuốn chà bông...</h5>
                                       </a>
                                       <p>Muối tôm, chà bông, hành phi, đậu phộng hòa quyện vào nhau ...ngon tuyệt</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">11.000<small>đ</small></span><span class="col-xs-24 col-none">11.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-0<small>%</small></span><input type="button" product-add-to-cart="33572" product-name="Bánh phơi sương cuốn chà bông" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/34161-mut-dua-non-ben-tre.html"> <img alt="Mứt dừa non Bến Tre" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_83287b9bd1699210ca642d38b3de4b95.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/34161-mut-dua-non-ben-tre.html">
                                          <h5>Mứt dừa non Bến Tre</h5>
                                       </a>
                                       <p>Mứt dừa non hũ dùng thử 200g</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">45.000<small>đ</small></span><span class="col-xs-24 col-none">45.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-0<small>%</small></span><input type="button" product-add-to-cart="34161" product-name="Mứt dừa non Bến Tre" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/31033-banh-deo-me.html"> <img alt="Bánh dẻo me" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_d7031a22bd605000835b4cf529c36f9e.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/31033-banh-deo-me.html">
                                          <h5>Bánh dẻo me</h5>
                                       </a>
                                       <p>Gói dùng thử của dẻo me sấp, cực ngon</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">11.000<small>đ</small></span><span class="col-xs-24 col-none">12.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-8<small>%</small></span><input type="button" product-add-to-cart="31033" product-name="Bánh dẻo me" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/31058-mut-thap-cam.html"> <img alt="Mứt thập cẩm" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_2b5e36066f4da5cf218022259574ed36.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/31058-mut-thap-cam.html">
                                          <h5>Mứt thập cẩm</h5>
                                       </a>
                                       <p>Mứt cực ngon đậm chất Miền Tây</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">80.000<small>đ</small></span><span class="col-xs-24 col-none">80.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-0<small>%</small></span><input type="button" product-add-to-cart="31058" product-name="Mứt thập cẩm" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/31123-kho-muc-sate-phan-thiet.html"> <img alt="Khô mực satế Phan Thiết" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_b22b400a34de2a0ca833ea6ccaf7fa86.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/31123-kho-muc-sate-phan-thiet.html">
                                          <h5>Khô mực satế Phan Thiết</h5>
                                       </a>
                                       <p>Khô mực satế Phan Thiết</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">65.000<small>đ</small></span><span class="col-xs-24 col-none">68.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-4<small>%</small></span><input type="button" product-add-to-cart="31123" product-name="Khô mực satế Phan Thiết" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/31146-chao-tay-ninh.html"> <img alt="Chao Tây Ninh" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_cf0986d3cf9ae266289320ea3b504a64.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/31146-chao-tay-ninh.html">
                                          <h5>Chao Tây Ninh</h5>
                                       </a>
                                       <p>Chao ngon, hương vị đậm đà</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">15.000<small>đ</small></span><span class="col-xs-24 col-none">16.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-6<small>%</small></span><input type="button" product-add-to-cart="31146" product-name="Chao Tây Ninh" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/31147-tom-muoi.html"> <img alt="Tôm Muối" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_65b40ab51af053906dc6c9fb245b5833.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/31147-tom-muoi.html">
                                          <h5>Tôm Muối</h5>
                                       </a>
                                       <p>Tôm Muối Tây Ninh ngon</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">38.000<small>đ</small></span><span class="col-xs-24 col-none">39.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-3<small>%</small></span><input type="button" product-add-to-cart="31147" product-name="Tôm Muối" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/26022-banh-trang-tom.html"> <img alt="Bánh tráng tôm" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_9de109f7763a1a3b0a742a64b9843ae1.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/26022-banh-trang-tom.html">
                                          <h5>Bánh tráng tôm</h5>
                                       </a>
                                       <p>Ăn ngay, thơm và ngon (0.5kg)</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">45.000<small>đ</small></span><span class="col-xs-24 col-none">48.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-6<small>%</small></span><input type="button" product-add-to-cart="26022" product-name="Bánh tráng tôm" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/26024-banh-deo-cay.html"> <img alt="Bánh dẻo cay" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_1946f29480a4da8e41b3ce409166dde0.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/26024-banh-deo-cay.html">
                                          <h5>Bánh dẻo cay</h5>
                                       </a>
                                       <p>Gói dùng thử của bánh dẻo cay...cực ngon</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">11.000<small>đ</small></span><span class="col-xs-24 col-none">12.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-8<small>%</small></span><input type="button" product-add-to-cart="26024" product-name="Bánh dẻo cay" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/26029-muoi-tom.html"> <img alt="Muối tôm Tây Ninh" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_9a5fdeb82c207a846f40368c11e5e334.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/26029-muoi-tom.html">
                                          <h5>Muối tôm Tây Ninh</h5>
                                       </a>
                                       <p>Mã sp:TNF-MN</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">22.000<small>đ</small></span><span class="col-xs-24 col-none">22.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-0<small>%</small></span><input type="button" product-add-to-cart="26029" product-name="Muối tôm Tây Ninh" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/28501-banh-trang-deo-me.html"> <img alt="Bánh tráng dẻo me" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_7c86221d6f6f4ea131fa5035a5161078.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/28501-banh-trang-deo-me.html">
                                          <h5>Bánh tráng dẻo me</h5>
                                       </a>
                                       <p>Vị hơi chua, thêm xíu cay hấp dẫn (0.5kg)</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">60.000<small>đ</small></span><span class="col-xs-24 col-none">65.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-8<small>%</small></span><input type="button" product-add-to-cart="28501" product-name="Bánh tráng dẻo me" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/28511-banh-phoi-suong-thit-luoc.html"> <img alt="Bánh phơi sương Trảng Bàng" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_1dc11d819a952fce07907d720fdc52ea.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/28511-banh-phoi-suong-thit-luoc.html">
                                          <h5>Bánh phơi sương Trảng Bàng...</h5>
                                       </a>
                                       <p>Chỉ bán bánh phơi sương (sấp 10 cái)</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">17.000<small>đ</small></span><span class="col-xs-24 col-none">18.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-6<small>%</small></span><input type="button" product-add-to-cart="28511" product-name="Bánh phơi sương Trảng Bàng" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/28513-banh-deo-cay-sap.html"> <img alt="Bánh dẻo cay" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_d422c604db9fc6c09b4d9c4dca170643.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/28513-banh-deo-cay-sap.html">
                                          <h5>Bánh dẻo cay</h5>
                                       </a>
                                       <p>Dẻo cay sấp lớn 0.5kg, bánh này cực ngon, TNF độc quyền</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">70.000<small>đ</small></span><span class="col-xs-24 col-none">75.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-7<small>%</small></span><input type="button" product-add-to-cart="28513" product-name="Bánh dẻo cay" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/34670-dau-dua-duong-moi-lam-dai-mi.html"> <img alt="Dầu dừa dưỡng môi, làm dài mi" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_7e3bf92057e6ea8d2d60a1e45f1133b1.png"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/34670-dau-dua-duong-moi-lam-dai-mi.html">
                                          <h5>Dầu dừa dưỡng môi, làm dài mi...</h5>
                                       </a>
                                       <p>Tuýp nguyên chất, tiện lợi</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">35.000<small>đ</small></span><span class="col-xs-24 col-none">38.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-8<small>%</small></span><input type="button" product-add-to-cart="34670" product-name="Dầu dừa dưỡng môi, làm dài mi" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/29044-keo-chuoi-banh-trang.html"> <img alt="Kẹo chuối bánh tráng" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_ff296a3c44aa83be94db07e145655091.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/29044-keo-chuoi-banh-trang.html">
                                          <h5>Kẹo chuối bánh tráng</h5>
                                       </a>
                                       <p>Kẹo chuối bánh tráng đặc biệt ngon, không quá ngọt (0.5kg)</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">65.000<small>đ</small></span><span class="col-xs-24 col-none">70.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-7<small>%</small></span><input type="button" product-add-to-cart="29044" product-name="Kẹo chuối bánh tráng" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/33320-dau-dua-nguyen-chat-150ml.html"> <img alt="Dầu dừa nguyên chất 150ml" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_6ed6bf3f5fcef8f79486a40b2d2041cd.png"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/33320-dau-dua-nguyen-chat-150ml.html">
                                          <h5>Dầu dừa nguyên chất 150ml...</h5>
                                       </a>
                                       <p>Có vòi xịt tiện lợi, chai bán chạy nhất của Eva</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">99.000<small>đ</small></span><span class="col-xs-24 col-none">150.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-34<small>%</small></span><input type="button" product-add-to-cart="33320" product-name="Dầu dừa nguyên chất 150ml" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/33319-dau-dua-nguyen-chat-100ml.html"> <img alt="Dầu dừa nguyên chất 100ml" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_d89345782e770f2f9183fc00891cad34.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/33319-dau-dua-nguyen-chat-100ml.html">
                                          <h5>Dầu dừa nguyên chất 100ml...</h5>
                                       </a>
                                       <p>Dầu dừa Eva nổi tiếng nguyên chất 100%</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">68.000<small>đ</small></span><span class="col-xs-24 col-none">100.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-32<small>%</small></span><input type="button" product-add-to-cart="33319" product-name="Dầu dừa nguyên chất 100ml" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/33321-dau-dua-nguyen-chat-200ml.html"> <img alt="Dầu dừa nguyên chất 200ml" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_719a5a0e9df9e8c4eae31927d2f166df.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/33321-dau-dua-nguyen-chat-200ml.html">
                                          <h5>Dầu dừa nguyên chất 200ml...</h5>
                                       </a>
                                       <p>Hủ thủy tinh cao cấp</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">118.000<small>đ</small></span><span class="col-xs-24 col-none">200.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-41<small>%</small></span><input type="button" product-add-to-cart="33321" product-name="Dầu dừa nguyên chất 200ml" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/33322-dau-dua-nguyen-chat-500ml.html"> <img alt="Dầu dừa nguyên chất 500ml" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_451de7daef88ea60a2dbc8ef4eaec922.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/33322-dau-dua-nguyen-chat-500ml.html">
                                          <h5>Dầu dừa nguyên chất 500ml...</h5>
                                       </a>
                                       <p>Mua 500ml tiết kiệm hơn</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">250.000<small>đ</small></span><span class="col-xs-24 col-none">300.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-17<small>%</small></span><input type="button" product-add-to-cart="33322" product-name="Dầu dừa nguyên chất 500ml" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-8">
                              <div class="item padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/35175-nuoc-mau-dua-nguyen-chat.html"> <img alt="Nước màu dừa nguyên chất" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_3671bda5024d341fff04bd5090ceb095.jpg"/> </a> 
                                 <div class="info">
                                    <div class="padding-5">
                                       <a href="http://tayninhfood.com/trang-chu/chi-tiet/35175-nuoc-mau-dua-nguyen-chat.html">
                                          <h5>Nước màu dừa nguyên chất...</h5>
                                       </a>
                                       <p>Nước màu dừa nguyên chất 100%</p>
                                       <div class="row row-none">
                                          <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">38.000<small>đ</small></span><span class="col-xs-24 col-none">45.000<small>đ</small></span></div>
                                          <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-16<small>%</small></span><input type="button" product-add-to-cart="35175" product-name="Nước màu dừa nguyên chất" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-10 hidden-xs hidden-sm">
                     <div id="layout_rights">
                        <div class="mod-default">
                           <h3 class="mod-name">Hâm mộ TNF trên Facebook</h3>
                           <iframe src="http://www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/tayninhfood&amp;width=270&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23000000&amp;stream=false&amp;header=false&amp;height=200" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:270px; height:200px;"></iframe>
                        </div>
                        <div class="mod-default">
                           <h3 class="mod-name">Mua nhiều trong tuần</h3>
                           <div class="m-paragraphs">&nbsp;</div>
                           <div class="m-paragraphs"><a href="http://tayninhfood.com/trang-chu/chi-tiet/31905-banh-trang-cuon.html" target="_blank"><img src="http://24gio.vn/userfile/f2d695af/uploads/banchay/1.jpg" alt="" width="286" height="264" /></a></div>
                           <div class="m-paragraphs">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong> &nbsp;</strong><span style="font-size: 14px;"><span style="color: #ff6600;"><strong>Bánh tráng cuốn</strong></span> 20.000 đ</span></div>
                           <div class="m-paragraphs">&nbsp;</div>
                           <div class="m-paragraphs"><span style="font-size: 14px; color: #99cc00;">------------------------------------------------------</span></div>
                           <div class="m-paragraphs"><a href="http://tayninhfood.com/trang-chu/chi-tiet/30249-mut-dua-non-ben-tre.html" target="_blank"><img src="http://24gio.vn/userfile/f2d695af/uploads/banchay/mutdua.jpg" alt="" width="312" height="254" align="" /></a></div>
                           <div class="m-paragraphs">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="font-size: 14px;">&nbsp; &nbsp; &nbsp;<span style="color: #ff6600;"><strong>Mứt dừa non</strong></span> Bến Tre 90.000 đ<br /><br /></span></div>
                           <div class="m-paragraphs">
                              <div class="m-paragraphs"><span style="font-size: 14px; color: #99cc00;">------------------------------------------------------</span></div>
                           </div>
                           <div class="m-paragraphs"><a href="http://tayninhfood.com/trang-chu/chi-tiet/25933-banh-trang-bo.html" target="_blank"><span style="font-size: 14px;"><img src="http://24gio.vn/userfile/f2d695af/uploads/banchay/bo.jpg" alt="" width="294" height="234" align="" /></span></a></div>
                           <div class="m-paragraphs">&nbsp;</div>
                           <div class="m-paragraphs">&nbsp; &nbsp; &nbsp; &nbsp; <span style="font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp;<span style="color: #ff6600;"><strong>Bánh tráng bơ</strong> </span>15.000 đ</span></div>
                           <div class="m-paragraphs">&nbsp;</div>
                           <div class="m-paragraphs">&nbsp;</div>
                        </div>
                        <div class="mod-default">
                           <div class="m_showcart">
                              <h3 class="drag-bar">Giỏ hàng</h3>
                              <p><b><a href="http://tayninhfood.com/san-pham/gio-hang.html"><span>0</span></a></b>sản phẩm</p>
                           </div>
                           <div class="m_facebook">
                              <div class="fb-like-box" data-href="http://www.facebook.com/24giovn" data-width="181" data-height="410" data-show-faces="true" data-stream="false" data-header="false"></div>
                           </div>
                           <!-- <div class="m_onlsuppport"><h3 class="drag-bar">Online</h3><p><b><a href=”ymsgr:sendim?doquocnhut” mce_href=”ymsgr:sendim?doquocnhut” border=”0″><img src=”http://opi.yahoo.com/online?u=doquocnhut&t=1&#8243; mce_src=”http://opi.yahoo.com/online?u=doquocnhut&t=1″></a&gt;</b></p></div> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="layout_bottom">
               <div class="mod-default">
                  <h3 class="mod-name">Nổi bật nhất tuần</h3>
                  <div class="products row">
                     <div class="col-sm-6">
                        <div class="item padding-5">
                           <a href="http://tayninhfood.com/trang-chu/chi-tiet/31905-banh-trang-cuon.html"> <img alt="Bánh tráng cuốn" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_473f63fb2239b15e0cb4080a46e3fc4b.jpg"/> </a> 
                           <div class="info">
                              <div class="padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/31905-banh-trang-cuon.html">
                                    <h5>Bánh tráng cuốn</h5>
                                 </a>
                                 <p>Sản phẩm bán chạy số 1 của TNF</p>
                                 <div class="row row-none">
                                    <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">20.000<small>đ</small></span><span class="col-xs-24 col-none">20.000<small>đ</small></span></div>
                                    <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-0<small>%</small></span><input type="button" product-add-to-cart="31905" product-name="Bánh tráng cuốn" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="item padding-5">
                           <a href="http://tayninhfood.com/trang-chu/chi-tiet/25933-banh-trang-bo.html"> <img alt="Bánh tráng bơ" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_d96d5758ed08ce93ad25315840cc9a93.jpg"/> </a> 
                           <div class="info">
                              <div class="padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/25933-banh-trang-bo.html">
                                    <h5>Bánh tráng bơ</h5>
                                 </a>
                                 <p>Béo béo ...thơm thơm, hương vị khó quên</p>
                                 <div class="row row-none">
                                    <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">15.000<small>đ</small></span><span class="col-xs-24 col-none">17.000<small>đ</small></span></div>
                                    <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-12<small>%</small></span><input type="button" product-add-to-cart="25933" product-name="Bánh tráng bơ" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="item padding-5">
                           <a href="http://tayninhfood.com/trang-chu/chi-tiet/30249-mut-dua-non-ben-tre.html"> <img alt="Mứt dừa non Bến Tre" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_988e4ec110e184b4b4e4a8a394dcbb9b.jpg"/> </a> 
                           <div class="info">
                              <div class="padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/30249-mut-dua-non-ben-tre.html">
                                    <h5>Mứt dừa non Bến Tre</h5>
                                 </a>
                                 <p>Mứt dừa non Bến Tre thơm ngon đặc biệt (0.5kg)</p>
                                 <div class="row row-none">
                                    <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">90.000<small>đ</small></span><span class="col-xs-24 col-none">90.000<small>đ</small></span></div>
                                    <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-0<small>%</small></span><input type="button" product-add-to-cart="30249" product-name="Mứt dừa non Bến Tre" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="item padding-5">
                           <a href="http://tayninhfood.com/trang-chu/chi-tiet/26018-banh-trang-muoi.html"> <img alt="Bánh tráng cuốn muối" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_ffb6aa717738523bdde52d0a99e79b00.jpg"/> </a> 
                           <div class="info">
                              <div class="padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/26018-banh-trang-muoi.html">
                                    <h5>Bánh tráng cuốn muối</h5>
                                 </a>
                                 <p>Bánh cuộn muối tôm và hành phi ngon tuyệt</p>
                                 <div class="row row-none">
                                    <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">6.000<small>đ</small></span><span class="col-xs-24 col-none">7.000<small>đ</small></span></div>
                                    <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-14<small>%</small></span><input type="button" product-add-to-cart="26018" product-name="Bánh tráng cuốn muối" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="item padding-5">
                           <a href="http://tayninhfood.com/trang-chu/chi-tiet/28512-banh-trang-tron.html"> <img alt="Bánh tráng trộn sa tế tắc" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_f065fe76a7a8fb50c2c50cb8b6bbd82a.jpg"/> </a> 
                           <div class="info">
                              <div class="padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/28512-banh-trang-tron.html">
                                    <h5>Bánh tráng trộn sa tế tắc...</h5>
                                 </a>
                                 <p>Bánh tráng trộn sa tế tắc cực ngon</p>
                                 <div class="row row-none">
                                    <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">10.000<small>đ</small></span><span class="col-xs-24 col-none">12.000<small>đ</small></span></div>
                                    <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-17<small>%</small></span><input type="button" product-add-to-cart="28512" product-name="Bánh tráng trộn sa tế tắc" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="item padding-5">
                           <a href="http://tayninhfood.com/trang-chu/chi-tiet/33135-banh-trang-lac.html"> <img alt="Bánh tráng lắc" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_fecc1c405f75b3b30c723f1915eb2278.jpg"/> </a> 
                           <div class="info">
                              <div class="padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/33135-banh-trang-lac.html">
                                    <h5>Bánh tráng lắc</h5>
                                 </a>
                                 <p>Vừa lắc vừa ăn, kèm phô mai ngon tuyệt</p>
                                 <div class="row row-none">
                                    <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">10.000<small>đ</small></span><span class="col-xs-24 col-none">10.000<small>đ</small></span></div>
                                    <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-0<small>%</small></span><input type="button" product-add-to-cart="33135" product-name="Bánh tráng lắc" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="item padding-5">
                           <a href="http://tayninhfood.com/trang-chu/chi-tiet/33572-banh-phoi-suong-cuon-cha-bong.html"> <img alt="Bánh phơi sương cuốn chà bông" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_31b87a879005fcfaf2ebf1fce68e22ec.jpg"/> </a> 
                           <div class="info">
                              <div class="padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/33572-banh-phoi-suong-cuon-cha-bong.html">
                                    <h5>Bánh phơi sương cuốn chà bông...</h5>
                                 </a>
                                 <p>Muối tôm, chà bông, hành phi, đậu phộng hòa quyện vào nhau ...ngon tuyệt</p>
                                 <div class="row row-none">
                                    <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">11.000<small>đ</small></span><span class="col-xs-24 col-none">11.000<small>đ</small></span></div>
                                    <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-0<small>%</small></span><input type="button" product-add-to-cart="33572" product-name="Bánh phơi sương cuốn chà bông" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="item padding-5">
                           <a href="http://tayninhfood.com/trang-chu/chi-tiet/28513-banh-deo-cay-sap.html"> <img alt="Bánh dẻo cay" class="img-responsive" src="http://tayninhfood.com/userfile/f2d695af/products/thumbnail_3_d422c604db9fc6c09b4d9c4dca170643.jpg"/> </a> 
                           <div class="info">
                              <div class="padding-5">
                                 <a href="http://tayninhfood.com/trang-chu/chi-tiet/28513-banh-deo-cay-sap.html">
                                    <h5>Bánh dẻo cay</h5>
                                 </a>
                                 <p>Dẻo cay sấp lớn 0.5kg, bánh này cực ngon, TNF độc quyền</p>
                                 <div class="row row-none">
                                    <div class="price col-sm-8 text-center col-none"><span class="col-xs-24 col-none">70.000<small>đ</small></span><span class="col-xs-24 col-none">75.000<small>đ</small></span></div>
                                    <div class="add-cart col-sm-16 col-none"><span class="hidden-xs col-sm-10">-7<small>%</small></span><input type="button" product-add-to-cart="28513" product-name="Bánh dẻo cay" class="btn btn-warning add-to-cart col-xs-24 col-sm-14" value="Mua" /></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="layout_footer">
         <div class="mod-default">
            <div class="m-paragraphs row">
               <div class="col-sm-12">
                  <div class="m-paragraphs">&nbsp;</div>
                  <div class="m-paragraphs"><span style="font-size: 14px;"><img src="http://24gio.vn/userfile/f2d695af/uploads/icon/local-icon.png" alt="" width="32" height="32" />&nbsp;&nbsp;Có thể mua hàng tại: 29 Bắc Hải, Quận 10 (bên cạnh công viên Lê Thị Riêng) &nbsp;</span></div>
                  <div class="m-paragraphs">&nbsp;</div>
                  <div class="m-paragraphs"><strong><img src="http://icons.iconarchive.com/icons/double-j-design/origami/32/clock-icon.png" alt="" />&nbsp;&nbsp;Giờ mở cửa</strong>: 8 giờ đến 21 giờ 00 phút (mở cửa tất cả các ngày trong tuần)</div>
                  <div class="m-paragraphs">&nbsp;</div>
                  <div class="m-paragraphs"><a href="http://tayninhfood.com/chinh-sach-quy-dinh-chung.html"><span style="font-size: 14px;"><img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-9/32/file-info-icon.png" alt="" width="28" height="28" /></span></a><span style="font-size: 14px;">&nbsp;&nbsp;</span><span style="color: #ffffff;"><strong><a style="color: #ffffff;" href="http://tayninhfood.com/chinh-sach-quy-dinh-chung.html"><span style="font-size: 14px;">Chính sách - Quy định chung</span></a></strong></span></div>
                  <div class="m-paragraphs">&nbsp;</div>
                  <div class="m-paragraphs"><a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=22434" target="_blank"><img src="http://online.gov.vn/PublicImages/2015/08/27/11/20150827110756-dathongbao.png" alt="" width="250" height="95" align="" /></a></div>
                  <div class="m-paragraphs">&nbsp;</div>
               </div>
               <div class="col-sm-12">
                  <div class="m-paragraphs"><strong><img src="http://24gio.vn/userfile/f2d695af/uploads/icon/delivery.png1_.png" alt="" width="32" height="32" />&nbsp;&nbsp;<span style="font-size: 14px;">Quy trình giao hàng</span></strong></div>
                  <div class="m-paragraphs">&nbsp;</div>
                  <div class="m-paragraphs">&nbsp;<img src="http://24gio.vn/userfile/f2d695af/uploads/icon/button-bubble-info-icon.png" alt="" width="16" height="16" />&nbsp;TNF giao miễn phí&nbsp;các Quận nội thành HCM đơn hàng từ 70.000 đ</div>
                  <div class="m-paragraphs">&nbsp;</div>
                  <div class="m-paragraphs">&nbsp;<img src="http://24gio.vn/userfile/f2d695af/uploads/icon/button-bubble-info-icon.png" alt="" width="16" height="16" />&nbsp;Tất cả các đơn hàng sau khi oder sẽ được giao hàng nhanh và ngay cho khách hàng trong giờ hành chính.</div>
                  <div class="m-paragraphs">&nbsp;</div>
                  <div class="m-paragraphs">&nbsp; <img src="http://24gio.vn/userfile/f2d695af/uploads/icon/button-bubble-info-icon.png" alt="" width="16" height="16" />&nbsp;Đơn hàng đặt trước 17 giờ sẽ được giao trong ngày, đơn hàng đặt sau 17 giờ sẽ chuyển qua ngày hôm sau.</div>
                  <div class="m-paragraphs">&nbsp;</div>
                  <div class="m-paragraphs"><strong><img src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/32/phone-icon.png" alt="" />&nbsp;&nbsp;Điện thoại</strong>: &nbsp; 0972 389 394 &nbsp;- &nbsp; 0942 877 444 &nbsp;</div>
                  <div class="m-paragraphs"><br /><img src="http://24gio.vn/userfile/f2d695af/uploads/2016/browser-icon.png" alt="" width="24" height="24" align="" />&nbsp; tayninhfood.com - <img src="http://24gio.vn/userfile/f2d695af/uploads/2016/social-facebook-button-blue-icon.png" alt="" width="24" height="24" align="" />: facebook.com/tayninhfood</div>
               </div>
            </div>
            <div class="m-paragraphs">
               <div class="m-paragraphs"><span style="font-size: 12px; color: #b8b6b6;">Người chịu trách nhiệm: Huỳnh Thị Mỹ Diễm</span></div>
               <div class="m-paragraphs"><span style="font-size: 12px; color: #b8b6b6;">Địa chỉ: 193/42/22 đường số 6, Bình Hưng Hòa B, Bình Tân</span></div>
               <div class="m-paragraphs"><span style="font-size: 12px; color: #b8b6b6;">Điện thoại: 0972389394</span></div>
               <div class="m-paragraphs"><span style="font-size: 12px; color: #b8b6b6;">Mã số thuế:&nbsp;8039677623</span></div>
               <div class="m-paragraphs"><span style="font-size: 12px; color: #b8b6b6;">Ngày cấp: 06/05/2015</span></div>
               <div class="m-paragraphs">&nbsp;</div>
            </div>
            <div class="m-paragraphs">&nbsp;</div>
         </div>
      </div>
      <script type="text/javascript" src="templates/system/js/jquery-2.2.4.js"></script><script type="text/javascript" src="http://tayninhfood.com/templates/system/js/zip/ga.js"></script><script type="text/javascript" src="http://tayninhfood.com/templates/system/js/zip/angular.js"></script><script type="text/javascript" src="http://tayninhfood.com/templates/shop/24gio_joli/js/app.js"></script><script type="text/javascript" src="http://tayninhfood.com/templates/system/js/zip/bootstrap.js"></script><script type="text/javascript" src="http://tayninhfood.com/templates/system/js/zip/ajax.js"></script><script type="text/javascript" src="http://tayninhfood.com/templates/system/js/zip/functions.js"></script><script type="text/javascript" src="http://tayninhfood.com/templates/shop/24gio_joli/js/product.js"></script><script type="text/javascript" src="http://tayninhfood.com/templates/system/js/zip/jquery.easing.js"></script><script type="text/javascript" src="http://tayninhfood.com/templates/system/js/zip/jquery.cookie.js"></script><script type="text/javascript">eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('$(B).Z(2(){0 8=y,3=p;$("#Y .X").n(2(){$(9).e(".f").3({g:(8+3)},o,"c")}).t(2(){$(9).e(".f").3({g:(8)},"i","c")});0 8=y,3=p;$("10#11 15").n(2(){$(9).e(".f").3({g:(8+3)},o,"c")}).t(2(){$(9).e(".f").3({g:(8)},"i","c")});P(B).T(2(7,C){0 a=$.S(C.U);v(a.A!=13&&a.1h!==k){$("6.5").1m("1l").17(a.A)}});0 j=$.z("d.4"),h=$.z("d.1");v(j!=x&&h!=x){$("6.5").3({4:D(j),1:D(h)},"i")}$("1r.1i-1b").1a(2(7){$(9).a("G",19);0 s=7.E;0 J=7.m;0 b=$("6.5").q();0 u=$(18).1c();b.1=b.1-u;$("1g").F("H",2(7){0 r=7.E;0 K=7.m;0 1e=$("6.5").q();0 4=b.4-(s-r);0 1=b.1-(J-K);$("6.5").L("4",4);$("6.5").L("1",1);$.I("d.4",4);$.I("d.1",1)}).F("1d",2(){$("6.5").a("G",k);$(9).1p("H")});1q k})});0 $1s="1o://1n.1j/",$1k="R",$Q="M+N+O==",$16="12+l+V/14+W+w/1f==";',62,91,'var|top|function|animate|right|m_showcart|div|event|d_b|this|data|offset_old|jswing|showcart|children|info|bottom|s_top|slow|s_right|false||clientY|mouseenter|400|60|offset|mouse_x|x_old|mouseleave|window_top|if||null|30|getCookie|total_items|document|request|parseInt|clientX|bind|down|mousemove|setCookie|y_old|mouse_y|css|qYSi2SbhFWiVkkbbTRDb6fMOfP|7mtJ9DsCJog|Ib9KTshR98PCDHqwsG2lkdYSIEgkP18inOIGPqOSnAhNy7g|jQuery|module|NULL|parseJSON|ajaxComplete|responseText|6Vkqs3Jzx|u7LUAk2q18uh3n|item|products|ready|ul|product_select_8306|6GTkPkloBW6kh8Bx|undefined|YQjc|li|action|text|window|true|mousedown|bar|scrollTop|mouseup|position|O4RAlPFF9bLmPtbRfnTi19zzsUnHHY2Nhyg|body|msg|drag|com|ajaxToken|span|find|tayninhfood|http|unbind|return|h3|ajaxUrl'.split('|'),0,{}))</script><!-- Google Code for Pixel Conversion Page --><script type="text/javascript">/* <![CDATA[ */var google_conversion_id = 931561818;var google_conversion_language = "en";var google_conversion_format = "3";var google_conversion_color = "ffffff";var google_conversion_label = "VKylCNfJzGIQ2oKavAM";var google_remarketing_only = false;/* ]]> */</script><script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
      <noscript>
         <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/931561818/?label=VKylCNfJzGIQ2oKavAM&amp;guid=ON&amp;script=0"/></div>
      </noscript>
      <!-- Google Code dành cho Thẻ tiếp thị lại --><script type="text/javascript">/* <![CDATA[ */var google_conversion_id = 931561818;var google_custom_params = window.google_tag_params;var google_remarketing_only = true;/* ]]> */</script><script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
      <noscript>
         <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/931561818/?value=0&amp;guid=ON&amp;script=0"/></div>
      </noscript>
   </body>
   <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js" async="1"></script> </body>
</html>

