<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Sản phẩm</title>
    <!--<base href="http://template1.websiteday.net/admin/">-->
    <base href=".">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <?php
    if (isset($this->cssLinks))
        foreach ($this->cssLinks as $css)
            echo "<link href=\"" . $css . "\" rel=\"stylesheet\" type=\"text/css\"/>";
    if (isset($this->jsLinks))
        foreach ($this->jsLinks as $js)
            echo "<script type=\"text/javascript\" src=\"" . $js . "\" ></script>";
    ?>


    
</head>

<body>
    <div id="container">
        <header id="header" class="navbar navbar-static-top">
            <div class="container-fluid">

                <div id="header-logo" class="navbar-header">
                    <a href="<?=BASE_URL?>/admin" class="navbar-brand"><img src="<?=IMAGE_URL?>/logo.png" alt="OpenCart" title="Trang quản lý"></a>
                </div>
                <a href="http://template1.websiteday.net/admin/#" id="button-menu" class="hidden-md hidden-lg"><span class="fa fa-bars"></span></a>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="http://template1.websiteday.net/admin/#" class="dropdown-toggle" data-toggle="dropdown"><img src="./register_files/profile-45x45.png" alt="Tuấn Hùng Computer" title="tanpn" id="user-profile" class="img-circle">Tuấn Hùng Computer <i class="fa fa-caret-down fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="http://template1.websiteday.net/admin/index.php?route=common/profile&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V"><i class="fa fa-user-circle-o fa-fw"></i> Hồ sơ của bạn</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Cửa hàng</li>
                            <li><a href="http://template1.websiteday.net/" target="_blank">Tuấn Hùng Computer</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Hỗ trợ</li>
                            <li><a href="http://www.opencart.com/" target="_blank"><i class="fa fa-opencart fa-fw"></i> Trang chủ OpenCart</a></li>
                            <li><a href="http://docs.opencart.com/" target="_blank"><i class="fa fa-file-text-o fa-fw"></i> Tài liệu</a></li>
                            <li><a href="http://forum.opencart.com/" target="_blank"><i class="fa fa-comments-o fa-fw"></i> Diễn đàn hỗ trợ</a></li>
                        </ul>
                    </li>
                    <li><a href="http://template1.websiteday.net/admin/index.php?route=common/logout&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V"><i class="fa fa-sign-out"></i> <span class="hidden-xs hidden-sm hidden-md">Đăng xuất</span></a></li>
                </ul>
            </div>
        </header>
        <nav id="column-left">
            <div id="navigation"><span class="fa fa-bars"></span> Đường dẫn</div>
            <ul id="menu" class="in">
                <li id="menu-dashboard" style="display:none"><a href="http://template1.websiteday.net/admin/index.php?route=common/dashboard&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V"><i class="fa fa-dashboard fw"></i> Bảng điều khiển</a>

                </li>
                <li id="menu-catalog" class="active"><a href="http://template1.websiteday.net/admin/#collapse1" data-toggle="collapse" class="parent collapsed"><i class="fa fa-tags fw"></i> Danh Mục</a>
                    <ul id="collapse1" class="collapse in">
                        <li> <a href="<?=BASE_URL?>/admin/category/">Danh Mục</a>
                        </li>
                        <li class="active"> <a href="<?=BASE_URL?>/admin/product/">Sản phẩm</a>
                        </li>
                        <li style="display:none"> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/recurring&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Recurring Profiles</a>
                        </li>
                        <li style="display:none"> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/filter&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Bộ lọc</a>
                        </li>
                        <li style="display:none"> <a href="http://template1.websiteday.net/admin/#collapse1-4" data-toggle="collapse" class="parent collapsed">Thuộc tính</a>
                            <ul id="collapse1-4" class="collapse">
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/attribute&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Thuộc tính</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/attribute_group&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Nhóm thuộc tính</a>
                                </li>
                            </ul>
                        </li>
                        <li style="display:none"> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/option&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Tùy chọn</a>
                        </li>
                        <li style="display:none"> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/manufacturer&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Nhà sản xuất</a>
                        </li>
                        <li style="display:none"> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/download&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Tải về</a>
                        </li>
                        <li style="display:none"> <a href="http://template1.websiteday.net/admin/index.php?route=catalog/review&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Đánh giá</a>
                        </li>
                        <li> <a href="<?=BASE_URL?>/admin/information/">Thông tin</a>
                        </li>
                    </ul>

                </li>
                <li id="menu-extension" style="display:none"><a href="http://template1.websiteday.net/admin/#collapse2" data-toggle="collapse" class="parent collapsed"><i class="fa fa-puzzle-piece fw"></i> Tiện ích mở rộng</a>
                    <ul id="collapse2" class="collapse">
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=marketplace/marketplace&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Marketplace</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=marketplace/installer&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Cài đặt</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=marketplace/extension&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Tiện ích mở rộng</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=marketplace/modification&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Sửa đổi</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=marketplace/event&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Sự kiện</a>
                        </li>
                    </ul>

                </li>
                <li id="menu-design"><a href="http://template1.websiteday.net/admin/#collapse3" data-toggle="collapse" class="parent collapsed"><i class="fa fa-television fw"></i> Thiết kế</a>
                    <ul id="collapse3" class="collapse">
                        <li style="display:none"> <a href="http://template1.websiteday.net/admin/index.php?route=design/layout&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Bố cục</a>
                        </li>
                        <li style="display:none"> <a href="http://template1.websiteday.net/admin/index.php?route=design/theme&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Chỉnh sửa giao diện</a>
                        </li>
                        <li style="display:none"> <a href="http://template1.websiteday.net/admin/index.php?route=design/translation&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Chỉnh sửa ngôn ngữ</a>
                        </li>
                        <li> <a href="<?=BASE_URL?>/admin/banner">Banners</a>
                        </li>
                        <li style="display:none"> <a href="http://template1.websiteday.net/admin/index.php?route=design/seo_url&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">SEO URL</a>
                        </li>
                    </ul>

                </li>
                <li id="menu-sale" style="display:none"><a href="http://template1.websiteday.net/admin/#collapse4" data-toggle="collapse" class="parent collapsed"><i class="fa fa-shopping-cart fw"></i> Bán hàng</a>
                    <ul id="collapse4" class="collapse">
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=sale/order&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Đơn hàng</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=sale/recurring&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Recurring Profiles</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=sale/return&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Trả về</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/#collapse4-3" data-toggle="collapse" class="parent collapsed">Phiếu quà tặng</a>
                            <ul id="collapse4-3" class="collapse">
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=sale/voucher&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Phiếu quà tặng</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=sale/voucher_theme&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Chủ đề phiếu mua hàng</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>
                <li id="menu-customer" style="display:none"><a href="http://template1.websiteday.net/admin/#collapse5" data-toggle="collapse" class="parent collapsed"><i class="fa fa-user fw"></i> Khách hàng</a>
                    <ul id="collapse5" class="collapse">
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=customer/customer&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Khách hàng</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=customer/customer_group&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Nhóm khách hàng</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=customer/customer_approval&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Phê duyệt của khách hàng</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=customer/custom_field&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Trường tùy chỉnh</a>
                        </li>
                    </ul>

                </li>
                <li id="menu-marketing" style="display:none"><a href="http://template1.websiteday.net/admin/#collapse6" data-toggle="collapse" class="parent collapsed"><i class="fa fa-share-alt fw"></i> Tiếp thị</a>
                    <ul id="collapse6" class="collapse">
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=marketing/marketing&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Tiếp thị</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=marketing/coupon&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Phiếu giảm giá</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=marketing/contact&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Địa chỉ Mail</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/#collapse6-3" data-toggle="collapse" class="parent collapsed">Google Shopping</a>
                            <ul id="collapse6-3" class="collapse">
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=extension/advertise/google&amp;store_id=0&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Tuấn Hùng Computer</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>
                <li id="menu-system" style="display:none"><a href="http://template1.websiteday.net/admin/#collapse7" data-toggle="collapse" class="parent collapsed"><i class="fa fa-cog fw"></i> Hệ thống</a>
                    <ul id="collapse7" class="collapse">
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=setting/store&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Settings</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/#collapse7-1" data-toggle="collapse" class="parent collapsed">Người dùng</a>
                            <ul id="collapse7-1" class="collapse">
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=user/user&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Người dùng</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=user/user_permission&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Nhóm người dùng</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=user/api&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">API</a>
                                </li>
                            </ul>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/#collapse7-2" data-toggle="collapse" class="parent collapsed">Vị trí</a>
                            <ul id="collapse7-2" class="collapse">
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=localisation/location&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Vị trí cửa hàng</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=localisation/language&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Ngôn ngữ</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=localisation/currency&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Tiền tệ</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=localisation/stock_status&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Tình trạng kho</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=localisation/order_status&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Tình trạng đơn hàng</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/#collapse-7-2-5" data-toggle="collapse" class="parent collapsed">Trả về</a>
                                    <ul id="collapse-7-2-5" class="collapse">
                                        <li><a href="http://template1.websiteday.net/admin/index.php?route=localisation/return_status&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Return Statuses</a></li>
                                        <li><a href="http://template1.websiteday.net/admin/index.php?route=localisation/return_action&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Return Actions</a></li>
                                        <li><a href="http://template1.websiteday.net/admin/index.php?route=localisation/return_reason&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Return Reasons</a></li>
                                    </ul>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=localisation/country&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Quốc gia</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=localisation/zone&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Khu vực</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=localisation/geo_zone&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Vùng địa lý</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/#collapse-7-2-9" data-toggle="collapse" class="parent collapsed">Thuế</a>
                                    <ul id="collapse-7-2-9" class="collapse">
                                        <li><a href="http://template1.websiteday.net/admin/index.php?route=localisation/tax_class&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Loại thuế</a></li>
                                        <li><a href="http://template1.websiteday.net/admin/index.php?route=localisation/tax_rate&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Thuế</a></li>
                                    </ul>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=localisation/length_class&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Chiều cao</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=localisation/weight_class&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Chiều ngang</a>
                                </li>
                            </ul>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/#collapse7-3" data-toggle="collapse" class="parent collapsed">Bảo trì</a>
                            <ul id="collapse7-3" class="collapse">
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=tool/backup&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Sao Lưu / Phục hồi</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=tool/upload&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Tải lên</a>
                                </li>
                                <li> <a href="http://template1.websiteday.net/admin/index.php?route=tool/log&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Nhật ký lỗi</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>
                <li id="menu-report" style="display:none"><a href="http://template1.websiteday.net/admin/#collapse8" data-toggle="collapse" class="parent collapsed"><i class="fa fa-bar-chart-o fw"></i> Báo cáo</a>
                    <ul id="collapse8" class="collapse">
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=report/report&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Báo cáo</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=report/online&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Những ai đang online</a>
                        </li>
                        <li> <a href="http://template1.websiteday.net/admin/index.php?route=report/statistics&amp;user_token=04QvNRC4NcnaK6CJkfKgU8t6Fmfp2x9V">Trạng thái</a>
                        </li>
                    </ul>

                </li>
            </ul>
            <div id="stats" style="display:none">
                <ul>
                    <li>
                        <div>Đơn đặt hàng đã hoàn thành <span class="pull-right">0%</span></div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only">0%</span></div>
                        </div>
                    </li>
                    <li>
                        <div>Xử lý đơn đặt hàng <span class="pull-right">0%</span></div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only">0%</span></div>
                        </div>
                    </li>
                    <li>
                        <div>Các trạng thái khác <span class="pull-right">0%</span></div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only">0%</span></div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <?=$this->content ?>
        <footer id="footer"><a href="https://websiteday.net/">Phiên bản tiếng việt thuộc bản quyền của WebsiteDay.net</a> © 2019-2019 All Rights Reserved.
            <br>Phiên bản 3.0.3.1</footer>
    </div>
    <div class="bootstrap-datetimepicker-widget dropdown-menu">
        <div class="datepicker">
            <div class="datepicker-days" style="display: block;">
                <table class="table-condensed">
                    <thead>
                        <tr>
                            <th class="prev">‹</th>
                            <th colspan="5" class="picker-switch">April 2019</th>
                            <th class="next">›</th>
                        </tr>
                        <tr>
                            <th class="dow">Mo</th>
                            <th class="dow">Tu</th>
                            <th class="dow">We</th>
                            <th class="dow">Th</th>
                            <th class="dow">Fr</th>
                            <th class="dow">Sa</th>
                            <th class="dow">Su</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="day old">25</td>
                            <td class="day old">26</td>
                            <td class="day old">27</td>
                            <td class="day old">28</td>
                            <td class="day old">29</td>
                            <td class="day old">30</td>
                            <td class="day old">31</td>
                        </tr>
                        <tr>
                            <td class="day">1</td>
                            <td class="day">2</td>
                            <td class="day">3</td>
                            <td class="day">4</td>
                            <td class="day">5</td>
                            <td class="day">6</td>
                            <td class="day">7</td>
                        </tr>
                        <tr>
                            <td class="day">8</td>
                            <td class="day">9</td>
                            <td class="day">10</td>
                            <td class="day">11</td>
                            <td class="day">12</td>
                            <td class="day">13</td>
                            <td class="day">14</td>
                        </tr>
                        <tr>
                            <td class="day">15</td>
                            <td class="day">16</td>
                            <td class="day">17</td>
                            <td class="day">18</td>
                            <td class="day">19</td>
                            <td class="day">20</td>
                            <td class="day">21</td>
                        </tr>
                        <tr>
                            <td class="day">22</td>
                            <td class="day">23</td>
                            <td class="day">24</td>
                            <td class="day">25</td>
                            <td class="day">26</td>
                            <td class="day active today">27</td>
                            <td class="day">28</td>
                        </tr>
                        <tr>
                            <td class="day">29</td>
                            <td class="day">30</td>
                            <td class="day new">1</td>
                            <td class="day new">2</td>
                            <td class="day new">3</td>
                            <td class="day new">4</td>
                            <td class="day new">5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="datepicker-months" style="display: none;">
                <table class="table-condensed">
                    <thead>
                        <tr>
                            <th class="prev">‹</th>
                            <th colspan="5" class="picker-switch">2019</th>
                            <th class="next">›</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span class="month">Mar</span><span class="month active">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month">Dec</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="datepicker-years" style="display: none;">
                <table class="table-condensed">
                    <thead>
                        <tr>
                            <th class="prev">‹</th>
                            <th colspan="5" class="picker-switch">2010-2019</th>
                            <th class="next">›</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span class="year">2011</span><span class="year">2012</span><span class="year">2013</span><span class="year">2014</span><span class="year">2015</span><span class="year">2016</span><span class="year">2017</span><span class="year">2018</span><span class="year active">2019</span><span class="year old">2020</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="bootstrap-datetimepicker-widget dropdown-menu">
        <div class="datepicker">
            <div class="datepicker-days" style="display: block;">
                <table class="table-condensed">
                    <thead>
                        <tr>
                            <th class="prev">‹</th>
                            <th colspan="5" class="picker-switch">April 2019</th>
                            <th class="next">›</th>
                        </tr>
                        <tr>
                            <th class="dow">Mo</th>
                            <th class="dow">Tu</th>
                            <th class="dow">We</th>
                            <th class="dow">Th</th>
                            <th class="dow">Fr</th>
                            <th class="dow">Sa</th>
                            <th class="dow">Su</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="day old">25</td>
                            <td class="day old">26</td>
                            <td class="day old">27</td>
                            <td class="day old">28</td>
                            <td class="day old">29</td>
                            <td class="day old">30</td>
                            <td class="day old">31</td>
                        </tr>
                        <tr>
                            <td class="day">1</td>
                            <td class="day">2</td>
                            <td class="day">3</td>
                            <td class="day">4</td>
                            <td class="day">5</td>
                            <td class="day">6</td>
                            <td class="day">7</td>
                        </tr>
                        <tr>
                            <td class="day">8</td>
                            <td class="day">9</td>
                            <td class="day">10</td>
                            <td class="day">11</td>
                            <td class="day">12</td>
                            <td class="day">13</td>
                            <td class="day">14</td>
                        </tr>
                        <tr>
                            <td class="day">15</td>
                            <td class="day">16</td>
                            <td class="day">17</td>
                            <td class="day">18</td>
                            <td class="day">19</td>
                            <td class="day">20</td>
                            <td class="day">21</td>
                        </tr>
                        <tr>
                            <td class="day">22</td>
                            <td class="day">23</td>
                            <td class="day">24</td>
                            <td class="day">25</td>
                            <td class="day">26</td>
                            <td class="day active today">27</td>
                            <td class="day">28</td>
                        </tr>
                        <tr>
                            <td class="day">29</td>
                            <td class="day">30</td>
                            <td class="day new">1</td>
                            <td class="day new">2</td>
                            <td class="day new">3</td>
                            <td class="day new">4</td>
                            <td class="day new">5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="datepicker-months" style="display: none;">
                <table class="table-condensed">
                    <thead>
                        <tr>
                            <th class="prev">‹</th>
                            <th colspan="5" class="picker-switch">2019</th>
                            <th class="next">›</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span class="month">Mar</span><span class="month active">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month">Dec</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="datepicker-years" style="display: none;">
                <table class="table-condensed">
                    <thead>
                        <tr>
                            <th class="prev">‹</th>
                            <th colspan="5" class="picker-switch">2010-2019</th>
                            <th class="next">›</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span class="year">2011</span><span class="year">2012</span><span class="year">2013</span><span class="year">2014</span><span class="year">2015</span><span class="year">2016</span><span class="year">2017</span><span class="year">2018</span><span class="year active">2019</span><span class="year old">2020</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="note-popover popover in note-image-popover bottom">
        <div class="arrow"></div>
        <div class="popover-content note-children-container">
            <div class="note-btn-group btn-group note-custom">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Image Attributes"><i class="note-icon-pencil"></i></button>
            </div>
            <div class="note-btn-group btn-group note-imagesize">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Resize Full"><span class="note-fontsize-10">100%</span></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Resize Half"><span class="note-fontsize-10">50%</span></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Resize Quarter"><span class="note-fontsize-10">25%</span></button>
            </div>
            <div class="note-btn-group btn-group note-float">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Float Left"><i class="note-icon-align-left"></i></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Float Right"><i class="note-icon-align-right"></i></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Float None"><i class="note-icon-align-justify"></i></button>
            </div>
            <div class="note-btn-group btn-group note-remove">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Remove Image"><i class="note-icon-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="note-popover popover in note-image-popover bottom">
        <div class="arrow"></div>
        <div class="popover-content note-children-container">
            <div class="note-btn-group btn-group note-custom">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Image Attributes"><i class="note-icon-pencil"></i></button>
            </div>
            <div class="note-btn-group btn-group note-imagesize">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Resize Full"><span class="note-fontsize-10">100%</span></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Resize Half"><span class="note-fontsize-10">50%</span></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Resize Quarter"><span class="note-fontsize-10">25%</span></button>
            </div>
            <div class="note-btn-group btn-group note-float">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Float Left"><i class="note-icon-align-left"></i></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Float Right"><i class="note-icon-align-right"></i></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Float None"><i class="note-icon-align-justify"></i></button>
            </div>
            <div class="note-btn-group btn-group note-remove">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Remove Image"><i class="note-icon-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="selection_bubble_root" style="display: none;"></div>
    <div class="note-popover popover in note-image-popover bottom">
        <div class="arrow"></div>
        <div class="popover-content note-children-container">
            <div class="note-btn-group btn-group note-custom">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Image Attributes"><i class="note-icon-pencil"></i></button>
            </div>
            <div class="note-btn-group btn-group note-imagesize">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Resize Full"><span class="note-fontsize-10">100%</span></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Resize Half"><span class="note-fontsize-10">50%</span></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Resize Quarter"><span class="note-fontsize-10">25%</span></button>
            </div>
            <div class="note-btn-group btn-group note-float">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Float Left"><i class="note-icon-align-left"></i></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Float Right"><i class="note-icon-align-right"></i></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Float None"><i class="note-icon-align-justify"></i></button>
            </div>
            <div class="note-btn-group btn-group note-remove">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Remove Image"><i class="note-icon-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="note-popover popover in note-image-popover bottom">
        <div class="arrow"></div>
        <div class="popover-content note-children-container">
            <div class="note-btn-group btn-group note-custom">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Image Attributes"><i class="note-icon-pencil"></i></button>
            </div>
            <div class="note-btn-group btn-group note-imagesize">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Resize Full"><span class="note-fontsize-10">100%</span></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Resize Half"><span class="note-fontsize-10">50%</span></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Resize Quarter"><span class="note-fontsize-10">25%</span></button>
            </div>
            <div class="note-btn-group btn-group note-float">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Float Left"><i class="note-icon-align-left"></i></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Float Right"><i class="note-icon-align-right"></i></button>
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Float None"><i class="note-icon-align-justify"></i></button>
            </div>
            <div class="note-btn-group btn-group note-remove">
                <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" data-original-title="Remove Image"><i class="note-icon-trash"></i></button>
            </div>
        </div>
    </div>
</body>

</html>
