<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#" class="js wf-roboto-n4-active wf-roboto-n7-active wf-dancingscript-n4-active wf-active">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

 <?php
    if (isset($this->cssLinks))
        foreach ($this->cssLinks as $css)
            echo "<link href=\"" . $css . "\" rel=\"stylesheet\" type=\"text/css\"/>";
    if (isset($this->jsLinks))
        foreach ($this->jsLinks as $js)
            echo "<script type=\"text/javascript\" src=\"" . $js . "\" ></script>";
    ?>


    <style>
        #uhchatbox {
            width: 320px;
            height: 305px;
            display: block;
            background: url("https://uhchat.net/themes/chat-17.png") no-repeat;
            text-align: center;
            padding-top: 45px;
            position: fixed;
            bottom: -320px;
            right: 20px;
            z-index: 99999999999999;
            box-sizing: content-box;
        }
        
        #uhchatbox iframe {
            border: none;
            width: 304px !important;
            height: 305px !important;
            margin: 0px !important;
            position: relative !important;
            display: inline !important;
        }
        
        #uhchatbox:hover {
            cursor: pointer;
        }
        
        @media screen and (max-width: 320px) {
            #uhchatbox {
                right: 0px !important;
            }
        }
        
        #panel_chat_vatgia {
            display: none !important;
        }
        
        .zopim {
            display: none !important;
        }
        
        .zchat {
            display: none !important;
        }
        
        .copyrightin {
            display: none !important;
        }
        
        #tawkchat-minified-box {
            display: none !important;
        }
        
        .embed-responsive {
            padding-bottom: 100% !important;
        }
        
        .sbzoff {
            display: none !important;
        }
        
        .sbzon {
            display: none !important;
        }
    </style>

    <style type="text/css">
        .fb_hidden {
            position: absolute;
            top: -10000px;
            z-index: 10001
        }
        
        .fb_reposition {
            overflow: hidden;
            position: relative
        }
        
        .fb_invisible {
            display: none
        }
        
        .fb_reset {
            background: none;
            border: 0;
            border-spacing: 0;
            color: #000;
            cursor: auto;
            direction: ltr;
            font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            margin: 0;
            overflow: visible;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-spacing: normal
        }
        
        .fb_reset>div {
            overflow: hidden
        }
        
        @keyframes fb_transform {
            from {
                opacity: 0;
                transform: scale(.95)
            }
            to {
                opacity: 1;
                transform: scale(1)
            }
        }
        
        .fb_animate {
            animation: fb_transform .3s forwards
        }
        
        .fb_dialog {
            background: rgba(82, 82, 82, .7);
            position: absolute;
            top: -10000px;
            z-index: 10001
        }
        
        .fb_dialog_advanced {
            border-radius: 8px;
            padding: 10px
        }
        
        .fb_dialog_content {
            background: #fff;
            color: #373737
        }
        
        .fb_dialog_close_icon {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
            cursor: pointer;
            display: block;
            height: 15px;
            position: absolute;
            right: 18px;
            top: 17px;
            width: 15px
        }
        
        .fb_dialog_mobile .fb_dialog_close_icon {
            left: 5px;
            right: auto;
            top: 5px
        }
        
        .fb_dialog_padding {
            background-color: transparent;
            position: absolute;
            width: 1px;
            z-index: -1
        }
        
        .fb_dialog_close_icon:hover {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
        }
        
        .fb_dialog_close_icon:active {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
        }
        
        .fb_dialog_iframe {
            line-height: 0
        }
        
        .fb_dialog_content .dialog_title {
            background: #6d84b4;
            border: 1px solid #365899;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin: 0
        }
        
        .fb_dialog_content .dialog_title>span {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
            float: left;
            padding: 5px 0 7px 26px
        }
        
        body.fb_hidden {
            height: 100%;
            left: 0;
            margin: 0;
            overflow: visible;
            position: absolute;
            top: -10000px;
            transform: none;
            width: 100%
        }
        
        .fb_dialog.fb_dialog_mobile.loading {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 10001
        }
        
        .fb_dialog.fb_dialog_mobile.loading.centered {
            background: none;
            height: auto;
            min-height: initial;
            min-width: initial;
            width: auto
        }
        
        .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
            width: 100%
        }
        
        .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
            background: none
        }
        
        .loading.centered #fb_dialog_loader_close {
            clear: both;
            color: #fff;
            display: block;
            font-size: 18px;
            padding-top: 20px
        }
        
        #fb-root #fb_dialog_ipad_overlay {
            background: rgba(0, 0, 0, .4);
            bottom: 0;
            left: 0;
            min-height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 10000
        }
        
        #fb-root #fb_dialog_ipad_overlay.hidden {
            display: none
        }
        
        .fb_dialog.fb_dialog_mobile.loading iframe {
            visibility: hidden
        }
        
        .fb_dialog_mobile .fb_dialog_iframe {
            position: sticky;
            top: 0
        }
        
        .fb_dialog_content .dialog_header {
            background: linear-gradient(from(#738aba), to(#2c4987));
            border-bottom: 1px solid;
            border-color: #1d3c78;
            box-shadow: white 0 1px 1px -1px inset;
            color: #fff;
            font: bold 14px Helvetica, sans-serif;
            text-overflow: ellipsis;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
            vertical-align: middle;
            white-space: nowrap
        }
        
        .fb_dialog_content .dialog_header table {
            height: 43px;
            width: 100%
        }
        
        .fb_dialog_content .dialog_header td.header_left {
            font-size: 12px;
            padding-left: 5px;
            vertical-align: middle;
            width: 60px
        }
        
        .fb_dialog_content .dialog_header td.header_right {
            font-size: 12px;
            padding-right: 5px;
            vertical-align: middle;
            width: 60px
        }
        
        .fb_dialog_content .touchable_button {
            background: linear-gradient(from(#4267B2), to(#2a4887));
            background-clip: padding-box;
            border: 1px solid #29487d;
            border-radius: 3px;
            display: inline-block;
            line-height: 18px;
            margin-top: 3px;
            max-width: 85px;
            padding: 4px 12px;
            position: relative
        }
        
        .fb_dialog_content .dialog_header .touchable_button input {
            background: none;
            border: none;
            color: #fff;
            font: bold 12px Helvetica, sans-serif;
            margin: 2px -12px;
            padding: 2px 6px 3px 6px;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
        }
        
        .fb_dialog_content .dialog_header .header_center {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            text-align: center;
            vertical-align: middle
        }
        
        .fb_dialog_content .dialog_content {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
            border: 1px solid #4a4a4a;
            border-bottom: 0;
            border-top: 0;
            height: 150px
        }
        
        .fb_dialog_content .dialog_footer {
            background: #f5f6f7;
            border: 1px solid #4a4a4a;
            border-top-color: #ccc;
            height: 40px
        }
        
        #fb_dialog_loader_close {
            float: left
        }
        
        .fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
        }
        
        .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
            visibility: hidden
        }
        
        #fb_dialog_loader_spinner {
            animation: rotateSpinner 1.2s linear infinite;
            background-color: transparent;
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px
        }
        
        @keyframes rotateSpinner {
            0% {
                transform: rotate(0deg)
            }
            100% {
                transform: rotate(360deg)
            }
        }
        
        .fb_iframe_widget {
            display: inline-block;
            position: relative
        }
        
        .fb_iframe_widget span {
            display: inline-block;
            position: relative;
            text-align: justify
        }
        
        .fb_iframe_widget iframe {
            position: absolute
        }
        
        .fb_iframe_widget_fluid_desktop,
        .fb_iframe_widget_fluid_desktop span,
        .fb_iframe_widget_fluid_desktop iframe {
            max-width: 100%
        }
        
        .fb_iframe_widget_fluid_desktop iframe {
            min-width: 220px;
            position: relative
        }
        
        .fb_iframe_widget_lift {
            z-index: 1
        }
        
        .fb_iframe_widget_fluid {
            display: inline
        }
        
        .fb_iframe_widget_fluid span {
            width: 100%
        }
    </style>
   
</head>

<body class="home page-template page-template-page-blank page-template-page-blank-php page page-id-10 header-shadow lightbox nav-dropdown-has-arrow wpb-js-composer js-comp-ver-5.1 vc_responsive">
   <div class="mfp-bg off-canvas off-canvas-left main-menu-overlay mfp-ready" id="mfp_content1" style="display:none"></div>
<div class="mfp-wrap mfp-auto-cursor off-canvas off-canvas-left mfp-ready" id="mfp_content2" tabindex="-1" style="overflow: hidden auto;display:none">
<div class="mfp-container mfp-s-ready mfp-inline-holder">
<div class="mfp-content" id="mfp_content3" style="display:none">
<div id="main-menu" class="mobile-sidebar no-scrollbar">
<div class="sidebar-menu no-scrollbar">
<ul class="nav nav-sidebar  nav-vertical nav-uppercase">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-10 current_page_item menu-item-30"><a href="<?=BASE_URL?>" class="nav-top-link">TRANG CHỦ</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14"><a href="<?=BASE_URL?>/ve-chung-toi.html" class="nav-top-link">GIỚI THIỆU</a></li>
<li id="dichvuleftmenu" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2298 has-child" aria-expanded="false"><a class="nav-top-link">DỊCH VỤ</a>
<button class="toggle"><i class="icon-angle-down"></i></button><ul class="children">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702"><a href="<?=BASE_URL?>/thiet-ke-web-wordpress/" style="display:none">Thiết kế web WordPress</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-357"><a href="<?=BASE_URL?>/thiet-ke-web-gia-re/" style="display:none">Thiết Kế Web Giá Rẻ</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a href="<?=BASE_URL?>/dich-vu/thiet-ke-web-ban-hang-1.html">Thiết kế web bán hàng</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a href="<?=BASE_URL?>/dich-vu/marketing-2.html">Marketing</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a href="<?=BASE_URL?>/dich-vu/email-google-3.html">Email Google</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a href="<?=BASE_URL?>/dich-vu/bang-gia-ten-mien-4.html">Bảng giá tên miền</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a href="<?=BASE_URL?>/dich-vu/bang-gia-hosting-5.html">Bảng giá Hosting</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a href="<?=BASE_URL?>/dich-vu/quan-tri-fanpace-facebook-6.html">Quản trị fanpace Facebook</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-280"><a href="<?=BASE_URL?>/thiet-ke-web-cong-ty/" style="display:none">Thiết kế web công ty</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-278"><a href="<?=BASE_URL?>/quan-tri-web/" style="display:none">Quản trị web</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-277"><a href="<?=BASE_URL?>/nang-cap-web-2/" style="display:none">Nâng cấp web</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-276"><a href="<?=BASE_URL?>/quang-ba-web-2/" style="display:none">Quảng bá web</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2352<?php if($this->pageType == "giaodien") {echo " active";}?>"><a href="<?=BASE_URL?>/giao-dien/" class="nav-top-link">KHO GIAO DIỆN</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2382" style="display:none"><a href="<?=BASE_URL?>/hoat-dong/" class="nav-top-link">HOẠT ĐỘNG</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16" style="display:none"><a href="<?=BASE_URL?>/tin-tuc-lien-quan-den-thiet-ke-web/" class="nav-top-link">TIN TỨC</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a href="<?=BASE_URL?>/lien-he/" class="nav-top-link">LIÊN HỆ</a></li>
<li class="account-item has-icon menu-item" style="display:none">
<a href="<?=BASE_URL?>/" class="nav-top-link nav-top-not-logged-in">
    <span class="header-account-title">
    Login  </span>
</a><!-- .account-login-link -->

</li>
<li class="header-newsletter-item has-icon">

  <a href="#header-newsletter-signup" class="tooltip tooltipstered" style="display:none">

    <i class="icon-envelop"></i>
    <span class="header-newsletter-title">
      Newsletter    </span>
  </a><!-- .newsletter-link -->

</li><li class="html header-social-icons ml-0">
	    <div class="social-icons follow-icons ">
    	    	    	<a href="https://www.facebook.com/Thi%E1%BA%BFt-K%E1%BA%BF-Website-B%C3%A1n-H%C3%A0ng-Chuy%C3%AAn-Nghi%E1%BB%87p-1615767751900008/" target="_blank" data-label="Facebook" rel="nofollow" class="icon plain facebook tooltip tooltipstered"><i class="icon-facebook"></i>    	</a>
						    <a style="display:none" href="http://url" target="_blank" rel="nofollow" data-label="Instagram" class="icon plain  instagram tooltip tooltipstered"><i class="icon-instagram"></i>		   </a>
							       <a style="display:none" href="http://url" target="_blank" data-label="Twitter" rel="nofollow" class="icon plain  twitter tooltip tooltipstered"><i class="icon-twitter"></i>	       </a>
						     <a href="mailto:info@websitday.net"  data-label="E-mail" rel="nofollow" class="icon plain  email tooltip tooltipstered"><i class="icon-envelop"></i>			</a>
																		     </div>

	</li>        </ul>
    </div><!-- inner -->
</div></div><div class="mfp-preloader">Loading...</div></div><button title="Close (Esc)" type="button" class="mfp-close" id="mfp_close">×</button></div>
    
    
    <style>
        #uhchatbox {
            width: 320px;
            height: 305px;
            display: block;
            background: url("https://uhchat.net/themes/chat-17.png") no-repeat;
            text-align: center;
            padding-top: 45px;
            position: fixed;
            bottom: -320px;
            right: 20px;
            z-index: 99999999999999;
            box-sizing: content-box;
        }
        
        #uhchatbox iframe {
            border: none;
            width: 304px !important;
            height: 305px !important;
            margin: 0px !important;
            position: relative !important;
            display: inline !important;
        }
        
        #uhchatbox:hover {
            cursor: pointer;
        }
        
        @media screen and (max-width: 320px) {
            #uhchatbox {
                right: 0px !important;
            }
        }
        
        #panel_chat_vatgia {
            display: none !important;
        }
        
        .zopim {
            display: none !important;
        }
        
        .zchat {
            display: none !important;
        }
        
        .copyrightin {
            display: none !important;
        }
        
        #tawkchat-minified-box {
            display: none !important;
        }
        
        .embed-responsive {
            padding-bottom: 100% !important;
        }
        
        .sbzoff {
            display: none !important;
        }
        
        .sbzon {
            display: none !important;
        }
    </style>
  
   
    <style type="text/css">
        .fb_hidden {
            position: absolute;
            top: -10000px;
            z-index: 10001
        }
        
        .fb_reposition {
            overflow: hidden;
            position: relative
        }
        
        .fb_invisible {
            display: none
        }
        
        .fb_reset {
            background: none;
            border: 0;
            border-spacing: 0;
            color: #000;
            cursor: auto;
            direction: ltr;
            font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            margin: 0;
            overflow: visible;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-spacing: normal
        }
        
        .fb_reset>div {
            overflow: hidden
        }
        
        @keyframes fb_transform {
            from {
                opacity: 0;
                transform: scale(.95)
            }
            to {
                opacity: 1;
                transform: scale(1)
            }
        }
        
        .fb_animate {
            animation: fb_transform .3s forwards
        }
        
        .fb_dialog {
            background: rgba(82, 82, 82, .7);
            position: absolute;
            top: -10000px;
            z-index: 10001
        }
        
        .fb_dialog_advanced {
            border-radius: 8px;
            padding: 10px
        }
        
        .fb_dialog_content {
            background: #fff;
            color: #373737
        }
        
        .fb_dialog_close_icon {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
            cursor: pointer;
            display: block;
            height: 15px;
            position: absolute;
            right: 18px;
            top: 17px;
            width: 15px
        }
        
        .fb_dialog_mobile .fb_dialog_close_icon {
            left: 5px;
            right: auto;
            top: 5px
        }
        
        .fb_dialog_padding {
            background-color: transparent;
            position: absolute;
            width: 1px;
            z-index: -1
        }
        
        .fb_dialog_close_icon:hover {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
        }
        
        .fb_dialog_close_icon:active {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
        }
        
        .fb_dialog_iframe {
            line-height: 0
        }
        
        .fb_dialog_content .dialog_title {
            background: #6d84b4;
            border: 1px solid #365899;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin: 0
        }
        
        .fb_dialog_content .dialog_title>span {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
            float: left;
            padding: 5px 0 7px 26px
        }
        
        body.fb_hidden {
            height: 100%;
            left: 0;
            margin: 0;
            overflow: visible;
            position: absolute;
            top: -10000px;
            transform: none;
            width: 100%
        }
        
        .fb_dialog.fb_dialog_mobile.loading {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 10001
        }
        
        .fb_dialog.fb_dialog_mobile.loading.centered {
            background: none;
            height: auto;
            min-height: initial;
            min-width: initial;
            width: auto
        }
        
        .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
            width: 100%
        }
        
        .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
            background: none
        }
        
        .loading.centered #fb_dialog_loader_close {
            clear: both;
            color: #fff;
            display: block;
            font-size: 18px;
            padding-top: 20px
        }
        
        #fb-root #fb_dialog_ipad_overlay {
            background: rgba(0, 0, 0, .4);
            bottom: 0;
            left: 0;
            min-height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 10000
        }
        
        #fb-root #fb_dialog_ipad_overlay.hidden {
            display: none
        }
        
        .fb_dialog.fb_dialog_mobile.loading iframe {
            visibility: hidden
        }
        
        .fb_dialog_mobile .fb_dialog_iframe {
            position: sticky;
            top: 0
        }
        
        .fb_dialog_content .dialog_header {
            background: linear-gradient(from(#738aba), to(#2c4987));
            border-bottom: 1px solid;
            border-color: #1d3c78;
            box-shadow: white 0 1px 1px -1px inset;
            color: #fff;
            font: bold 14px Helvetica, sans-serif;
            text-overflow: ellipsis;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
            vertical-align: middle;
            white-space: nowrap
        }
        
        .fb_dialog_content .dialog_header table {
            height: 43px;
            width: 100%
        }
        
        .fb_dialog_content .dialog_header td.header_left {
            font-size: 12px;
            padding-left: 5px;
            vertical-align: middle;
            width: 60px
        }
        
        .fb_dialog_content .dialog_header td.header_right {
            font-size: 12px;
            padding-right: 5px;
            vertical-align: middle;
            width: 60px
        }
        
        .fb_dialog_content .touchable_button {
            background: linear-gradient(from(#4267B2), to(#2a4887));
            background-clip: padding-box;
            border: 1px solid #29487d;
            border-radius: 3px;
            display: inline-block;
            line-height: 18px;
            margin-top: 3px;
            max-width: 85px;
            padding: 4px 12px;
            position: relative
        }
        
        .fb_dialog_content .dialog_header .touchable_button input {
            background: none;
            border: none;
            color: #fff;
            font: bold 12px Helvetica, sans-serif;
            margin: 2px -12px;
            padding: 2px 6px 3px 6px;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
        }
        
        .fb_dialog_content .dialog_header .header_center {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            text-align: center;
            vertical-align: middle
        }
        
        .fb_dialog_content .dialog_content {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
            border: 1px solid #4a4a4a;
            border-bottom: 0;
            border-top: 0;
            height: 150px
        }
        
        .fb_dialog_content .dialog_footer {
            background: #f5f6f7;
            border: 1px solid #4a4a4a;
            border-top-color: #ccc;
            height: 40px
        }
        
        #fb_dialog_loader_close {
            float: left
        }
        
        .fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
        }
        
        .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
            visibility: hidden
        }
        
        #fb_dialog_loader_spinner {
            animation: rotateSpinner 1.2s linear infinite;
            background-color: transparent;
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px
        }
        
        @keyframes rotateSpinner {
            0% {
                transform: rotate(0deg)
            }
            100% {
                transform: rotate(360deg)
            }
        }
        
        .fb_iframe_widget {
            display: inline-block;
            position: relative
        }
        
        .fb_iframe_widget span {
            display: inline-block;
            position: relative;
            text-align: justify
        }
        
        .fb_iframe_widget iframe {
            position: absolute
        }
        
        .fb_iframe_widget_fluid_desktop,
        .fb_iframe_widget_fluid_desktop span,
        .fb_iframe_widget_fluid_desktop iframe {
            max-width: 100%
        }
        
        .fb_iframe_widget_fluid_desktop iframe {
            min-width: 220px;
            position: relative
        }
        
        .fb_iframe_widget_lift {
            z-index: 1
        }
        
        .fb_iframe_widget_fluid {
            display: inline
        }
        
        .fb_iframe_widget_fluid span {
            width: 100%
        }
    </style>
    <script>
        (function(html) {
            html.className = html.className.replace(/\bno-js\b/, 'js')
        })(document.documentElement);
    </script>
    <title>Thiết kế web chuyên nghiệp</title>

    <!-- This site is optimized with the Yoast SEO plugin v5.4.2 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description" content="Thiết kế web chuyên nghiệp cung cấp dịch vụ thiết kế website uy tín với các gói thiết kế web công ty, thiết kế web bán hàng, thiết kế web wordpress">
    <meta name="keywords" content="Thiết kế web chuyên nghiệp, dịch vụ thiết kế website,thiết kế web công ty, thiết kế web bán hàng, thiết kế web wordpress, Thiết kế web giá rẻ, Thiết kế web đẹp">
    <link rel="canonical" href="<?=BASE_URL?>/">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Thiết kế web chuyên nghiệp">
    <meta property="og:description" content="Thiết kế web chuyên nghiệp cung cấp dịch vụ thiết kế website uy tín với các gói thiết kế web công ty, thiết kế web bán hàng, thiết kế web wordpress">
    <meta property="og:url" content="<?=BASE_URL?>/">
    <meta property="og:site_name" content="CÔNG TY TNHH TM-DV-QC THIÊN ĐƯỜNG KÝ GỬI">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Thiết kế web chuyên nghiệp cung cấp dịch vụ thiết kế website uy tín với các gói thiết kế web công ty, thiết kế web bán hàng, thiết kế web wordpress">
    <meta name="twitter:title" content="Thiết kế web chuyên nghiệp">

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
  
    <style id="rs-plugin-settings-inline-css" type="text/css">
        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }
        
        .tp-caption a:hover {
            color: #ffa902
        }
    </style>
   
    <style>
        .bg {
            opacity: 0;
            transition: opacity 1s;
            -webkit-transition: opacity 1s;
        }
        
        .bg-loaded {
            opacity: 1;
        }
    </style>
    <!--[if IE]><link rel="stylesheet" type="text/css" href="<?=BASE_URL?>/wp-content/themes/saigonweb/assets/css/ie-fallback.css"><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><script>var head = document.getElementsByTagName('head')[0],style = document.createElement('style');style.type = 'text/css';style.styleSheet.cssText = ':before,:after{content:none !important';head.appendChild(style);setTimeout(function(){head.removeChild(style);}, 0);</script><script src="<?=BASE_URL?>/wp-content/themes/saigonweb/assets/libs/ie-flexibility.js"></script><![endif]-->
    <script type="text/javascript">
        WebFontConfig = {
            google: {
                families: ["Roboto:regular,700", "Roboto:regular,regular", "Roboto:regular,700", "Dancing+Script", ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>

    <style id="custom-css" type="text/css">
        :root {
            --primary-color: #FFC43F;
        }
        /* Site Width */
        
        .full-width .ubermenu-nav,
        .container,
        .row {
            max-width: 1270px
        }
        
        .row.row-collapse {
            max-width: 1240px
        }
        
        .row.row-small {
            max-width: 1262.5px
        }
        
        .row.row-large {
            max-width: 1300px
        }
        
        .header-main {
            height: 85px
        }
        
        #logo img {
            max-height: 85px
        }
        
        #logo {
            width: 289px;
        }
        
        .header-top {
            min-height: 30px
        }
        
        .transparent .header-main {
            height: 163px
        }
        
        .transparent #logo img {
            max-height: 163px
        }
        
        .has-transparent + .page-title:first-of-type,
        .has-transparent + #main > .page-title,
        .has-transparent + #main > div > .page-title,
        .has-transparent + #main .page-header-wrapper:first-of-type .page-title {
            padding-top: 163px;
        }
        
        .header.show-on-scroll,
        .stuck .header-main {
            height: 70px!important
        }
        
        .stuck #logo img {
            max-height: 70px!important
        }
        
        .header-bg-color,
        .header-wrapper {
            background-color: rgba(255, 255, 255, 0.9)
        }
        
        .header-bottom {
            background-color: #f1f1f1
        }
        
        .header-main .nav > li > a {
            line-height: 48px
        }
        
        @media (max-width: 549px) {
            .header-main {
                height: 70px
            }
            #logo img {
                max-height: 70px
            }
        }
        
        .nav-dropdown-has-arrow li.has-dropdown:before {
            border-bottom-color: #9EB8C5;
        }
        
        .nav .nav-dropdown {
            border-color: #9EB8C5
        }
        
        .nav-dropdown {
            font-size: 100%
        }
        
        .nav-dropdown-has-arrow li.has-dropdown:after {
            border-bottom-color: #9EB8C5;
        }
        
        .nav .nav-dropdown {
            background-color: #9EB8C5
        }
        /* Color */
        
        .accordion-title.active,
        .has-icon-bg .icon .icon-inner,
        .logo a,
        .primary.is-underline,
        .primary.is-link,
        .badge-outline .badge-inner,
        .nav-outline > li.active> a,
        .nav-outline >li.active > a,
        .cart-icon strong,
        [data-color='primary'],
        .is-outline.primary {
            color: #FFC43F;
        }
        /* Color !important */
        
        [data-text-color="primary"] {
            color: #FFC43F!important;
        }
        /* Background */
        
        .scroll-to-bullets a,
        .featured-title,
        .label-new.menu-item > a:after,
        .nav-pagination > li > .current,
        .nav-pagination > li > span:hover,
        .nav-pagination > li > a:hover,
        .has-hover:hover .badge-outline .badge-inner,
        button[type="submit"],
        .button.wc-forward:not(.checkout):not(.checkout-button),
        .button.submit-button,
        .button.primary:not(.is-outline),
        .featured-table .title,
        .is-outline:hover,
        .has-icon:hover .icon-label,
        .nav-dropdown-bold .nav-column li > a:hover,
        .nav-dropdown.nav-dropdown-bold > li > a:hover,
        .nav-dropdown-bold.dark .nav-column li > a:hover,
        .nav-dropdown.nav-dropdown-bold.dark > li > a:hover,
        .is-outline:hover,
        .tagcloud a:hover,
        .grid-tools a,
        input[type='submit']:not(.is-form),
        .box-badge:hover .box-text,
        input.button.alt,
        .nav-box > li > a:hover,
        .nav-box > li.active > a,
        .nav-pills > li.active > a,
        .current-dropdown .cart-icon strong,
        .cart-icon:hover strong,
        .nav-line-bottom > li > a:before,
        .nav-line-grow > li > a:before,
        .nav-line > li > a:before,
        .banner,
        .header-top,
        .slider-nav-circle .flickity-prev-next-button:hover svg,
        .slider-nav-circle .flickity-prev-next-button:hover .arrow,
        .primary.is-outline:hover,
        .button.primary:not(.is-outline),
        input[type='submit'].primary,
        input[type='submit'].primary,
        input[type='reset'].button,
        input[type='button'].primary,
        .badge-inner {
            background-color: #FFC43F;
        }
        /* Border */
        
        .nav-vertical.nav-tabs > li.active > a,
        .scroll-to-bullets a.active,
        .nav-pagination > li > .current,
        .nav-pagination > li > span:hover,
        .nav-pagination > li > a:hover,
        .has-hover:hover .badge-outline .badge-inner,
        .accordion-title.active,
        .featured-table,
        .is-outline:hover,
        .tagcloud a:hover,
        blockquote,
        .has-border,
        .cart-icon strong:after,
        .cart-icon strong,
        .blockUI:before,
        .processing:before,
        .loading-spin,
        .slider-nav-circle .flickity-prev-next-button:hover svg,
        .slider-nav-circle .flickity-prev-next-button:hover .arrow,
        .primary.is-outline:hover {
            border-color: #FFC43F
        }
        
        .nav-tabs > li.active > a {
            border-top-color: #FFC43F
        }
        /* Fill */
        
        .slider .flickity-prev-next-button:hover svg,
        .slider .flickity-prev-next-button:hover .arrow {
            fill: #FFC43F;
        }
        /* Background Color */
        
        [data-icon-label]:after,
        .secondary.is-underline:hover,
        .secondary.is-outline:hover,
        .icon-label,
        .button.secondary:not(.is-outline),
        .button.alt:not(.is-outline),
        .badge-inner.on-sale,
        .button.checkout,
        .single_add_to_cart_button {
            background-color: #EFA856;
        }
        /* Color */
        
        .secondary.is-underline,
        .secondary.is-link,
        .secondary.is-outline,
        .stars a.active,
        .star-rating:before,
        .woocommerce-page .star-rating:before,
        .star-rating span:before,
        .color-secondary {
            color: #EFA856
        }
        /* Color !important */
        
        [data-text-color="secondary"] {
            color: #EFA856!important;
        }
        /* Border */
        
        .secondary.is-outline:hover {
            border-color: #EFA856
        }
        
        @media screen and (max-width: 549px) {
            body {
                font-size: 100%;
            }
        }
        
        body {
            font-family: "Roboto", sans-serif
        }
        
        body {
            font-weight: 0
        }
        
        .nav > li > a {
            font-family: "Roboto", sans-serif;
        }
        
        .nav > li > a {
            font-weight: 700;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .heading-font,
        .off-canvas-center .nav-sidebar.nav-vertical > li > a {
            font-family: "Roboto", sans-serif;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .heading-font,
        .banner h1,
        .banner h2 {
            font-weight: 700;
        }
        
        .alt-font {
            font-family: "Dancing Script", sans-serif;
        }
        
        .header:not(.transparent) .header-nav.nav > li > a:hover,
        .header:not(.transparent) .header-nav.nav > li.active > a,
        .header:not(.transparent) .header-nav.nav > li.current > a,
        .header:not(.transparent) .header-nav.nav > li > a.active,
        .header:not(.transparent) .header-nav.nav > li > a.current {
            color: #FFC53F;
        }
        
        .header-nav.nav-line-bottom > li > a:before,
        .header-nav.nav-line-grow > li > a:before,
        .header-nav.nav-line > li > a:before,
        .header-nav.nav-box > li > a:hover,
        .header-nav.nav-box > li.active > a,
        .header-nav.nav-pills > li > a:hover,
        .header-nav.nav-pills > li.active > a {
            color: #FFF!important;
            background-color: #FFC53F;
        }
        
        a {
            color: #5C88B5;
        }
        
        a:hover {
            color: ;
        }
        
        .tagcloud a:hover {
            border-color: ;
            background-color: ;
        }
        
        @media screen and (min-width: 550px) {
            .products .box-vertical .box-image {
                min-width: 300px!important;
                width: 300px!important;
            }
        }
        
       
        .footer-1 {
            background-color: #3D3D3D
        }
        
        .absolute-footer,
        html {
            background-color: #FFC43F
        }
      
        .tab span {
            font-size: 16px;
        }
        
        .nav-dark .cart-icon strong,
        .entry-image.relative,
        .entry-meta.uppercase.is-xsmall,
        p.price.product-page-price,
        .price-wrapper .price {
            display: none;
        }
        
        p.name.product-title {
            font-size: 18px;
            text-align: center;
        }
        
        .add-to-cart-button {
            text-align: center;
        }
        
        .image-none img {
            border: 1px solid #ccc;
        }
        
        .nav-uppercase>li>a {
            text-transform: capitalize;
        }
        
        .button.loading {
            opacity: 1 !important;
            position: relative;
            color: #fff;
            pointer-events: auto;
        }
        
        .label-new.menu-item > a:after {
            content: "New";
        }
        
        .label-hot.menu-item > a:after {
            content: "Hot";
        }
        
        .label-sale.menu-item > a:after {
            content: "Sale";
        }
        
        .label-popular.menu-item > a:after {
            content: "Popular";
        }
    </style>
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>

    <a class="skip-link screen-reader-text" href="<?=BASE_URL?>/#main">Skip to content</a>

    <div id="wrapper">

        <header id="header" class="header has-sticky sticky-jump" style="">
            <div class="header-wrapper">
                <div id="masthead" class="header-main ">
                    <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">

                        <!-- Logo -->
                        <div id="logo" class="flex-col logo">
                            <!-- Header logo -->
                            <a href="<?=BASE_URL?>" title="CÔNG TY TNHH TM-DV-QC THIÊN ĐƯỜNG KÝ GỬI" rel="home">
                                <img width="289" height="85" src="<?=IMAGE_URL?>/websiteday-logo.jpg" class="header_logo header-logo" alt="CÔNG TY TNHH TM-DV-QC THIÊN ĐƯỜNG KÝ GỬI"><img width="289" height="85" src="<?=IMAGE_URL?>/websiteday-logo.jpg" class="header-logo-dark" alt="CÔNG TY TNHH TM-DV-QC THIÊN ĐƯỜNG KÝ GỬI"></a>
                        </div>

                        <!-- Mobile Left Elements -->
                        <div class="flex-col show-for-medium flex-left">
                            <ul class="mobile-nav nav nav-left ">
                                <li class="nav-icon has-icon">
                                    <a id="main-menu" href="javascript:void(0);" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay" data-color="" class="is-small" aria-controls="main-menu" aria-expanded="false">
                                        <i class="icon-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Left Elements -->
                        <div class="flex-col hide-for-medium flex-left
            flex-grow">
                            <ul class="header-nav header-nav-main nav nav-left  nav-box nav-size-medium nav-spacing-medium nav-uppercase">
                                <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-10 current_page_item <?php if($this->pageType == "homePage") {echo " active";}?> menu-item-30"><a href="<?=BASE_URL?>" class="nav-top-link">TRANG CHỦ</a></li>
                                <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-14 <?php if($this->pageType == "vechungtoi") {echo " active";}?>"><a href="<?=BASE_URL?>/ve-chung-toi.html" class="nav-top-link">GIỚI THIỆU</a></li>
                                <li id="topmenudichvu" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-2298 has-dropdown"><a class="nav-top-link">DỊCH VỤ<i class="icon-angle-down"></i></a>
                                    <ul class="nav-dropdown nav-dropdown-default dark" style="">
                                        <li id="menu-item-702" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-702"><a href="<?=BASE_URL?>/thiet-ke-web-wordpress/" style="display:none">Thiết kế web WordPress</a></li>
                                        <li id="menu-item-357" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-357"><a href="<?=BASE_URL?>/thiet-ke-web-gia-re/" style="display:none">Thiết Kế Web Giá Rẻ</a></li>
                                        <li id="menu-item-279" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-279"><a href="<?=BASE_URL?>/dich-vu/thiet-ke-web-ban-hang-1.html" style="border-bottom: none;">Thiết kế web bán hàng</a></li>
                                        <li id="menu-item-279" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-279"><a href="<?=BASE_URL?>/dich-vu/marketing-2.html" style="border-bottom: none;">Marketing</a></li>
                                        <li id="menu-item-279" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-279"><a href="<?=BASE_URL?>/dich-vu/email-google-3.html" style="border-bottom: none;">Email Google</a></li>
                                        <li id="menu-item-279" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-279"><a href="<?=BASE_URL?>/dich-vu/bang-gia-ten-mien-4.html" style="border-bottom: none;">Bảng giá tên miền</a></li>
                                        <li id="menu-item-279" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-279"><a href="<?=BASE_URL?>/dich-vu/bang-gia-hosting-5.html" style="border-bottom: none;">Bảng giá Hosting</a></li>
                                        <li id="menu-item-279" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-279"><a href="<?=BASE_URL?>/dich-vu/quan-tri-fanpace-facebook-6.html" style="border-bottom: none;">Quản trị fanpace Facebook</a></li>
                                        <li id="menu-item-280" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-280"><a href="<?=BASE_URL?>/thiet-ke-web-cong-ty/" style="display:none">Thiết kế web công ty</a></li>
                                        <li id="menu-item-278" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-278"><a href="<?=BASE_URL?>/quan-tri-web/" style="display:none">Quản trị web</a></li>
                                        <li id="menu-item-277" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-277"><a href="<?=BASE_URL?>/nang-cap-web-2/" style="display:none">Nâng cấp web</a></li>
                                        <li id="menu-item-276" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-276"><a href="<?=BASE_URL?>/quang-ba-web-2/" style="display:none">Quảng bá web</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2352" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2352<?php if($this->pageType == "giaodien") {echo " active";}?>"><a href="<?=BASE_URL?>/giao-dien/" class="nav-top-link">KHO GIAO DIỆN</a></li>
                                <li id="menu-item-2382" class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-2382" style="display:none"><a href="<?=BASE_URL?>/hoat-dong/" class="nav-top-link">HOẠT ĐỘNG</a></li>
                                <li id="menu-item-16" class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-16" style="display:none"><a href="<?=BASE_URL?>/tin-tuc-lien-quan-den-thiet-ke-web/" class="nav-top-link">TIN TỨC</a></li>
                                <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-13"><a href="<?=BASE_URL?>/lien-he/" class="nav-top-link">LIÊN HỆ</a></li>
                            </ul>
                        </div>

                        <!-- Right Elements -->
                        <div class="flex-col hide-for-medium flex-right" style="display:none">
                            <ul class="header-nav header-nav-main nav nav-right  nav-box nav-size-medium nav-spacing-medium nav-uppercase">
                                <li class="header-search header-search-dropdown has-icon has-dropdown menu-item-has-children">
                                    <a href="<?=BASE_URL?>/#" class="is-small"><i class="icon-search"></i></a>
                                                                        <!-- .nav-dropdown -->
                                </li>
                            </ul>
                        </div>

                        <!-- Mobile Right Elements -->
                        <div class="flex-col show-for-medium flex-right">
                            <ul class="mobile-nav nav nav-right ">
                                <li class="cart-item has-icon" style="display:none">

                                    <a href="<?=BASE_URL?>/" class="header-cart-link off-canvas-toggle nav-top-link is-small" data-open="#cart-popup" data-class="off-canvas-cart" title="Cart" data-pos="right">

                                        <span class="cart-icon image-icon" style="display:none">
    <strong>0</strong>
  </span>
                                    </a>

                                    <!-- Cart Sidebar Popup -->
                                    <div id="cart-popup" class="mfp-hide widget_shopping_cart">
                                        <div class="cart-popup-inner inner-padding">
                                            <div class="cart-popup-title text-center">
                                                <h4 class="uppercase">Cart</h4>
                                                <div class="is-divider"></div>
                                            </div>
                                            <div class="widget_shopping_cart_content">

                                                <ul class="cart_list product_list_widget ">

                                                    <li class="empty">No products in the cart.</li>

                                                </ul>
                                                <!-- end product list -->

                                            </div>
                                            <div class="cart-sidebar-content relative"></div>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- .header-inner -->

                </div>
                <!-- .header-main -->
                <div class="header-bg-container fill">
                    <div class="header-bg-image fill"></div>
                    <div class="header-bg-color fill"></div>
                </div>
                <!-- .header-bg-container -->
            </div>
            <!-- header-wrapper-->
        </header>

        <main id="main" class="">
            <?=$this->content?>

        </main>
        <!-- #main -->

        <footer id="footer" class="footer-wrapper">

            <!-- FOOTER 1 -->
            <div class="footer-widgets footer footer-1">
                <div class="row dark large-columns-3 mb-0">
                    <div id="text-2" class="col pb-0 widget widget_text">
                        <h3 class="widget-title">LIÊN HỆ</h3>
                        <div class="is-divider small"></div>
                        <div class="textwidget">
                            <p>Đ/C: 861/48/12 Trần Xuân Soạn, P.Tân Hưng, Q.7, HCM</p>
                            <p><i class="icon-mobile"></i>&nbsp;Hotine: 0939.614.234</p>
                            <p><i class="icon-mail"></i>&nbsp;Email: info@websiteday.net</p>
                            <p><i class="icon-key"></i>&nbsp;Web: websiteday.net</p>
                        </div>
                    </div>
                    <div id="nav_menu-2" class="col pb-0 widget widget_nav_menu">
                        <h3 class="widget-title">KẾT NỐI</h3>
                        <div class="is-divider small"></div>
                        <div class="menu-social-media-container">
                            <ul id="menu-social-media" class="menu">
                                <li id="menu-item-122" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-122"><a href="https://www.facebook.com/Thi%E1%BA%BFt-K%E1%BA%BF-Website-B%C3%A1n-H%C3%A0ng-Chuy%C3%AAn-Nghi%E1%BB%87p-1615767751900008/">Facebook</a></li>
                        </div>
                    </div>
                    <div id="custom_html-2" class="widget_text col pb-0 widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FThi%25E1%25BA%25BFt-K%25E1%25BA%25BF-Website-B%25C3%25A1n-H%25C3%25A0ng-Chuy%25C3%25AAn-Nghi%25E1%25BB%2587p-1615767751900008%2F&tabs=timeline&width=360&height=230&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=594502227639828" width="360" height="230" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                            

                            
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- footer 1 -->

            <!-- FOOTER 2 -->

            <div class="absolute-footer dark medium-text-center small-text-center">
                <div class="container clearfix">

                    <div class="footer-primary pull-left">
                        <div class="copyright-footer">
                            Copyright <?php echo date("Y"); ?> © <strong>Websiteday.net</strong> </div>
                    </div>
                    <!-- .left -->
                </div>
                <!-- .container -->
            </div>
            <!-- .absolute-footer -->
            

        </footer>
        <!-- .footer-wrapper -->

    </div>
    <!-- #wrapper -->

    <!-- Mobile Sidebar -->
    <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
        <div class="sidebar-menu no-scrollbar ">
            <ul class="nav nav-sidebar  nav-vertical nav-uppercase">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-10 current_page_item menu-item-30"><a href="<?=BASE_URL?>/" class="nav-top-link">TRANG CHỦ</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14"><a href="<?=BASE_URL?>/ve-chung-toi.html" class="nav-top-link">GIỚI THIỆU</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2298 has-child" aria-expanded="false"><a class="nav-top-link">DỊCH VỤ</a>
                    <button class="toggle"><i class="icon-angle-down"></i></button>
                    <button class="toggle"><i class="icon-angle-down"></i></button>
                    <ul class="children">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702"><a href="<?=BASE_URL?>/thiet-ke-web-wordpress/" style="display:none">Thiết kế web WordPress</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-357"><a href="<?=BASE_URL?>/thiet-ke-web-gia-re/" style="display:none">Thiết Kế Web Giá Rẻ</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a href="<?=BASE_URL?>/dich-vu/thiet-ke-web-ban-hang-1.html">Thiết kế web bán hàng</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a href="<?=BASE_URL?>/dich-vu/marketing-2.html">Marketing</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a href="<?=BASE_URL?>/dich-vu/email-google-3.html">Email Google</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a href="<?=BASE_URL?>/dich-vu/bang-gia-ten-mien-4.html">Bảng giá tên miền</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a href="<?=BASE_URL?>/dich-vu/bang-gia-hosting-5.html">Bảng giá Hosting</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a href="<?=BASE_URL?>/dich-vu/quan-tri-fanpace-facebook-6.html">Quản trị fanpace Facebook</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-280"><a href="<?=BASE_URL?>/thiet-ke-web-cong-ty/" style="display:none">Thiết kế web công ty</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-278"><a href="<?=BASE_URL?>/quan-tri-web/" style="display:none">Quản trị web</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-277"><a href="<?=BASE_URL?>/nang-cap-web-2/" style="display:none">Nâng cấp web</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-276"><a href="<?=BASE_URL?>/quang-ba-web-2/" style="display:none">Quảng bá web</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2352<?php if($this->pageType == "giaodien") {echo " active";}?>"><a href="<?=BASE_URL?>/giao-dien/" class="nav-top-link">KHO GIAO DIỆN</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2382" style="display:none"><a href="<?=BASE_URL?>/hoat-dong/" class="nav-top-link">HOẠT ĐỘNG</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16" style="display:none"><a href="<?=BASE_URL?>/tin-tuc-lien-quan-den-thiet-ke-web/" class="nav-top-link">TIN TỨC</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a href="<?=BASE_URL?>/lien-he/" class="nav-top-link">LIÊN HỆ</a></li>
                <li class="account-item has-icon menu-item" style="display:none">
                    <a href="<?=BASE_URL?>/" class="nav-top-link nav-top-not-logged-in">
                        <span class="header-account-title">
    Login  </span>
                    </a>
                    <!-- .account-login-link -->

                </li>
                <li class="header-newsletter-item has-icon" style="display:none">

                    <a href="<?=BASE_URL?>/#header-newsletter-signup" class="tooltip tooltipstered">

                        <i class="icon-envelop"></i>
                        <span class="header-newsletter-title">
      Newsletter    </span>
                    </a>
                    <!-- .newsletter-link -->

                </li>
                <li class="html header-social-icons ml-0">
                    <div class="social-icons follow-icons ">
                        <a href="https://www.facebook.com/Thi%E1%BA%BFt-K%E1%BA%BF-Website-B%C3%A1n-H%C3%A0ng-Chuy%C3%AAn-Nghi%E1%BB%87p-1615767751900008/" target="_blank" data-label="Facebook" rel="nofollow" class="icon plain facebook tooltip tooltipstered"><i class="icon-facebook"></i>    	</a>
                        <a href="http://url/" target="_blank" rel="nofollow" data-label="Instagram" class="icon plain  instagram tooltip tooltipstered" style="display:none"><i class="icon-instagram"></i>		   </a>
                        <a href="http://url/" target="_blank" data-label="Twitter" rel="nofollow" class="icon plain  twitter tooltip tooltipstered" style="display:none"><i class="icon-twitter"></i>	       </a>
                        <a href="mailto:info@websiteday.net" data-label="E-mail" rel="nofollow" class="icon plain  email tooltip tooltipstered" style="display:none"><i class="icon-envelop"></i>			</a>
                    </div>

                </li>
            </ul>
        </div>
        <!-- inner -->
    </div>
    <!-- #mobile-menu -->
    <!-- Popups v1.7.1.1 - http://wordpress.org/plugins/social-popup/-->
    <style type="text/css">
        #spu-1050 {
            background-color: #ffffff;
            color: #333;
            border: 4px solid #db0404;
            width: 600px;
        }
        
        #spu-bg-1050 {
            opacity: 0.5;
        }
        /*
* Add custom CSS for this popup
* Be sure to start your rules with #spu-1050 { } and use !important when needed to override plugin rules
*/
    </style>
    <div class="spu-bg" id="spu-bg-1050"></div>
    <div class="spu-box  spu-centered spu-total- " id="spu-1050" data-box-id="1050" data-trigger="manual" data-trigger-number="5" data-spuanimation="fade" data-cookie="999" data-close-cookie="30" data-test-mode="0" data-auto-hide="0" data-close-on-conversion="1" data-bgopa="0.5" data-total="" style="display: none;" data-width="600">
        <div class="spu-content">
            <p style="text-align: center; margin-top: 0px; padding-top: 0px;"><span style="font-size: 18pt; color: #a10303;"><strong><span style="font-family: arial,helvetica,sans-serif;">ĐĂNG KÝ THIẾT KẾ WEB</span></strong>
                </span>
            </p>
            <p style="text-align: center;">Bạn sẽ nhận được Plugin hỗ trợ gọi lại MIỄN PHÍ</p>
            <p style="text-align: center;"></p>
            <div role="form" class="wpcf7" id="wpcf7-f1051-o1" lang="en-US" dir="ltr">
                <div class="screen-reader-response"></div>
                <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="1051">
                        <input type="hidden" name="_wpcf7_version" value="4.9">
                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1051-o1">
                        <input type="hidden" name="_wpcf7_container_post" value="0">
                    </div>
                    <p>
                        <label> Họ tên của bạn (*)
                            <br>
                            <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Tên của bạn"></span> </label>
                    </p>
                    <p>
                        <label>Email (*)
                            <br>
                            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email"></span> </label>
                    </p>
                    <p>
                        <label> Điện thoại
                            <br>
                            <span class="wpcf7-form-control-wrap tel-130"><input type="tel" name="tel-130" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Số điện thoại"></span> </label>
                        <br>
                        <label>
                            <br>
                            <span class="wpcf7-form-control-wrap textarea-699"><textarea name="textarea-699" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea cssrong" aria-invalid="false" placeholder="Ghi chú"></textarea></span></label>
                        <br>
                        <input type="submit" value="ĐĂNG KÝ" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span><span class="ajax-loader"></span></p>
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
            </div>
            <p></p>
        </div>
        <span class="spu-close spu-close-popup"><i class="spu-icon spu-icon-close"></i></span>
        <span class="spu-timer"></span>
    </div>
    <!-- / Popups Box -->
    <!-- Popups v1.7.1.1 - http://wordpress.org/plugins/social-popup/-->
    <style type="text/css">
        #spu-3053 {
            background-color: #eeeeee;
            color: #333;
            border: 8px solid #555;
            width: 600px;
        }
        
        #spu-bg-3053 {
            opacity: 0.5;
        }
        /*
* Add custom CSS for this popup
* Be sure to start your rules with #spu-3053 { } and use !important when needed to override plugin rules
*/
    </style>
    <div class="spu-bg" id="spu-bg-3053"></div>
    <div class="spu-box  spu-centered spu-total- " id="spu-3053" data-box-id="3053" data-trigger="manual" data-trigger-number="5" data-spuanimation="fade" data-cookie="999" data-close-cookie="30" data-test-mode="0" data-auto-hide="0" data-close-on-conversion="" data-bgopa="0.5" data-total="" style="display: none;" data-width="600">
        <div class="spu-content">
            <h2 style="text-align: center;"><strong>ĐĂNG KÝ THIẾT KẾ WEB THEO MẪU</strong></h2>
            <p style="text-align: center;"></p>
            <div role="form" class="wpcf7" id="wpcf7-f3052-o2" lang="en-US" dir="ltr">
                <div class="screen-reader-response"></div>
                <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="3052">
                        <input type="hidden" name="_wpcf7_version" value="4.9">
                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f3052-o2">
                        <input type="hidden" name="_wpcf7_container_post" value="0">
                    </div>
                    <p>
                        <label> Họ tên của bạn (*)
                            <br>
                            <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Tên của bạn"></span> </label>
                    </p>
                    <p>
                        <label>Email (*)
                            <br>
                            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email"></span> </label>
                    </p>
                    <p>
                        <label> Điện thoại
                            <br>
                            <span class="wpcf7-form-control-wrap tel-130"><input type="tel" name="tel-130" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Số điện thoại"></span> </label>
                    </p>
                    <p>
                        <label>
                            <br>
                            <span class="wpcf7-form-control-wrap textarea-699"><textarea name="textarea-699" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea cssrong" aria-invalid="false" placeholder="Ghi chú"></textarea></span></label>
                        <br>
                        <span class="wpcf7-form-control-wrap dynamichidden-356"><input type="hidden" name="dynamichidden-356" value="Trang chủ - THIẾT KẾ WEB CHUYÊN NGHIỆP" size="40" class="wpcf7-form-control wpcf7dtx-dynamictext wpcf7-dynamichidden" aria-invalid="false"></span>
                        <br>
                        <input type="submit" value="ĐĂNG KÝ" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span><span class="ajax-loader"></span></p>
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
            </div>
            <p style="margin-bottom: 0px; padding-bottom: 0px;"></p>
        </div>
        <span class="spu-close spu-close-popup"><i class="spu-icon spu-icon-close"></i></span>
        <span class="spu-timer"></span>
    </div>
    <!-- / Popups Box -->
    <div id="fb-root" class=" fb_reset"></div>
    <div id="login-form-popup" class="lightbox-content mfp-hide">

        <div class="account-container lightbox-inner">

            <div class="account-login-inner">

                <h3 class="uppercase">Login</h3>

                <form method="post" class="login">

                    <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                        <label for="username">Username or email address <span class="required">*</span></label>
                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" value="">
                    </p>

                    <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                        <label for="password">Password <span class="required">*</span></label>
                        <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password">
                    </p>

                    <p class="form-row">
                        <input type="hidden" id="_wpnonce" name="_wpnonce" value="48cd0553db">
                        <input type="hidden" name="_wp_http_referer" value="/">
                        <input type="submit" class="woocommerce-Button button" name="login" value="Login">
                        <label for="rememberme" class="inline">
                            <input class="woocommerce-Input woocommerce-Input--checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> Remember me </label>
                    </p>
                    <p class="woocommerce-LostPassword lost_password">
                        <a href="<?=BASE_URL?>/wp-login.php?action=lostpassword">Lost your password?</a>
                    </p>

                </form>
            </div>
            <!-- .login-inner -->

        </div>
        <!-- .account-login-container -->

    </div>
   
     <script>
        $(document).ready(function(){
          $('.icon-menu').click(function() {
             $('#mfp_content1').show();
             $('#mfp_content2').show();
             $('#mfp_content3').show();
          });
           $('#mfp_close').click(function() {
             $('#mfp_content1').hide();
             $('#mfp_content2').hide();
             $('#mfp_content3').hide();
          });
          
          $('#topmenudichvu').hover(function(){
             $('#topmenudichvu').addClass("current-dropdown");
          }).mouseleave(function(){
              $('#topmenudichvu').removeClass("current-dropdown");
          });
          
          $('#dichvuleftmenu').click(function() {
             var isHaveClassActive = $('#dichvuleftmenu').hasClass("active");
             if(isHaveClassActive == true) {
                 $('#dichvuleftmenu').removeClass("active");
             } else {
                 $('#dichvuleftmenu').addClass("active");
             }
          })
          
        });
      </script>

</body>

</html>