<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:groupon="http://groupon.com/ns/#" xmlns:fb="http://www.facebook.com/2008/fbml" class=" local-nav-header"><!--<![endif]--><head>

        <link rel="SHORTCUT ICON" href="http://assets2.grouponcdn.com/favicon.ico?rnb1Dk6i">

        <title>All St John's Deals | Groupon</title>
        <meta name="robots" content="noindex">

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="application/rss+xml" title="RSS" rel="alternate" href="http://feeds.feedburner.com/grouponst-johns">

    </head>
    <body style="background: url('<?=STATIC_DOMAIN?>/images/background/bg_green.jpg') no-repeat scroll center 0 #89B556" class="full_width grid-960 browse  og groupon-holiday js_enabled js_enabled">
        <div id="global_container" class="clearfix default">
        </div>
        <div id="drawer">
        <div id="drawer_inner">
          <div id="follow_drawer" data-bhw="PushdownSubscriptionForm" data-bhw-path="PushdownSubscriptionForm">
                <a id="hide_follow" class="hide division" href="#">Đóng [x]</a>
                <div id="follow_drawer_inner">
                  <div class="follow_container clearfix">
                    <div class="follow_desc">Đăng ký nhận email thông báo giảm giá:</div>
                    <form method="post" class="new_subscription groupon_form" action="http://www.groupon.com/subscriptions"><div style="margin:0;padding:0"><input type="hidden" value="bhr8WwvkoiRiS5Ge2jx8lrcLub24VDBSGZLVjpi7lbE=" name="authenticity_token"></div>
                      <input type="hidden" value="true" name="subscribed_from_drawer" id="subscribed_from_drawer">
                      <input type="hidden" value="" name="redirect_to" id="redirect_to">
                      <ul class="subscribe clearfix">
                        <li class="label">
                          <div class="field subscription_email_address text"><input type="text" title="Enter your email address" size="30" name="subscription[email_address]" id="subscription_email_address" data-bhw="PushdownSubscriptionFormEmailInputField" class="email text_field prompting_field validate-email required input prompting" data-bhw-path="PushdownSubscriptionForm|PushdownSubscriptionFormEmailInputField"></div>
                        </li>
                        <li>
                          <input type="submit" value="Gửi" data-bhw="PushdownSubscriptionFormSubmitSubscriptionButton" class="button cta_btn small G_event E-Subscribe_Email_Header disabled_on_submit" data-bhw-path="PushdownSubscriptionForm|PushdownSubscriptionFormSubmitSubscriptionButton">
                        </li>
                      </ul>
                      </form>
                  </div>
                </div>
              </div>
          <div id="personalize_wizard_call_to_action"></div>
        </div>
      </div>
        <div id="header_container">
            <div id="header" data-bhw="Header" data-bhw-path="Header">
                <div id="vip_tophat"></div>
                <div id="header_inner">
                    <h1 id="logo">
                        <a title="Groupon: Collective Buying Power" data-track="{&quot;event&quot;:&quot;click&quot;,&quot;t&quot;:&quot;logo_click&quot;}" data-bhw="Logo" class="G_event E-LogoNH_click_grouponLogo" href="<?=BASE_URL?>" data-bhw-path="Header|Logo">Groupon: Collective Buying Power</a>
                    </h1>
                    <div id="deal_tag_notification">
                        <div class="heart"></div>
                        <div class="message"></div>
                        <div class="bottom"></div>
                    </div>
                    <div class="layer2 clearfix">
                        <ul class="account_links">
                            <li class="sign_in"><a data-bhw="SignIn" class="G_event E-GobalTopNavNH_click_signIn" href="www.groupon.com/login" data-bhw-path="Header|SignIn">Đăng nhập</a></li>
                            <li><a data-bhw="SignUp" class="G_event E-GobalTopNavNH_click_signUp" href="www.groupon.com/users/new" data-bhw-path="Header|SignUp">Đăng ký</a></li>
                        </ul>
                    </div>
                    <div class="grouponicus-banner"></div>
                    <div id="groupo">
                        <div class="speech-bubble">
                            Join me, Groupo the Deal Bird, in celebrating <a href="http://www.groupon.com/pages/groupos-workshop">Grouponicus</a>&mdash;the
                            holiday that's all about gifting. Check out the gift deals below that 
                            I'm stuffing in my terrifying beak and delivering to my followers this 
                            season.
                            <div class="tip"></div>
                        </div>
                    </div>
                </div>
                <div id="header_subnav"><div><ul data-bhw="CategoryNavigation" class="categories" data-bhw-path="Header|CategoryNavigation">
                            <li class="category">
                                <a data-bhc="category:all-deals" class="push selected" href="http://www.groupon.com/browse/st-johns" data-bhc-path="Header|CategoryNavigation|category:all-deals">Tất cả Deal</a>
                            </li>
                            <li class="category">
                                <a data-bhc="category:all-deals" class="push" href="http://www.groupon.com/browse/st-johns" data-bhc-path="Header|CategoryNavigation|category:all-deals">Thời trang nữ</a>
                            </li>
                            <li class="category">
                                <a data-bhc="category:all-deals" class="push" href="http://www.groupon.com/browse/st-johns" data-bhc-path="Header|CategoryNavigation|category:all-deals">Thời trang nam</a>
                            </li>
                            <li class="category">
                                <a data-bhc="category:all-deals" class="push" href="http://www.groupon.com/browse/st-johns" data-bhc-path="Header|CategoryNavigation|category:all-deals">Mẹ & Bé</a>
                            </li>

                        </ul></div></div>
            </div>
            
        </div>
        <div class="clouds">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <div id="alerts_content">

        </div>


        <?= $this->content ?>

        <div id="footer" data-bhw="Footer" data-bhw-path="Footer">
            <div class="footer_wrapper_top">
                <div class="footer">
                    <div class="bottom clearfix">
                        <ul>
                            <li>
                                <dl>
                                    <dt>Trợ giúp</dt>
                                    <dd><a href="http://www.groupon.com/"><?= SITE_NAME ?> là gì?</a></dd>
                                    <dd><a href="http://www.groupon.com/about">Hỏi đáp</a></dd>
                                    <dd><a href="http://www.groupon.com/blog">Hướng dẫn mua hàng</a></dd>
                                    <dd><a href="http://www.groupon.com/press">Chính sách đổi trả</a></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Nhận tin</dt>
                                    <dd><a href="http://www.groupon.com/faq">Đăng ký nhận mail</a></dd>
                                    <dd><a href="http://www.groupon.com/helpcenter">Đăng ký nhận tin RSS</a></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Hợp tác</dt>
                                    <dd><a href="http://www.groupon.com/faq">Hợp tác kinh doanh</a></dd>
                                    <dd><a href="http://www.groupon.com/helpcenter">Liên hệ hợp tác</a></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Công ty</dt>
                                    <dd><a href="http://www.groupon.com/faq">Về chúng tôi</a></dd>
                                    <dd><a href="http://www.groupon.com/helpcenter">Liên hệ</a></dd>
                                    <dd><a href="http://www.groupon.com/helpcenter">Quy chế</a></dd>
                                </dl>
                            </li>
                            <li style="background:-webkit-gradient(linear,left top,left bottom,from(#CA333A),to(#B92E35)); padding-top: 12px; background: -moz-linear-gradient(center top , rgb(202, 51, 58), rgb(185, 46, 53)) repeat scroll 0pt 0pt transparent; color: white; border-radius: 10px 10px 10px 10px; box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8); margin-top: 10px;">
                                <dl style="padding:10px;padding-top: 0px">
                                    <dt style="font-weight: bold;">Hotline: <?= HOT_LINE ?></dt>
                                    <dd>T2 - T7: </a></dd>
                                    <dd>+ Sáng: 8g - 12g</dd>
                                    <dd>+ Chiều: 13g - 20g</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_wrapper_bottom">
            <div class="footer" style="text-align: center">
                <div class="bottom clearfix">
                    <p>&copy;<span>2013</span>&nbsp;<?=SITE_NAME?> Cùng mua chung theo nhóm, mua deal giá rẻ&nbsp;-&nbsp;Phát triển bởi <a style="color:#c40000" target="_blank" href="http://www.vinabook.com/?utm_campaign=logotaihotdeal&amp;utm_medium=logo&amp;utm_source=hotdeal&amp;utm_content=logo">MSoft.com</a></p>
                    <p>CÔNG TY  TNHH TRUSTDEAL<br/>
                        LẦU 8, 110  CMT8 PHƯỜNG 7, QUẬN 3, TP HCM<br>
                        Mã số doanh  nghiệp/Mã số thuế: 0310955176 do Sở Kế hoạch đầu tư TP HCM cấp ngày 29/06/2011<br>
                        ĐT:  08.73055707 &ndash; Fax: 08.39330658<br>
                        Email: <a href="mailto:kinhdoanh@hotdeal.vn">kinhdoanh@trustdeal.vn</a>
                        <br>
                        <a href="http://dangkywebsite.gov.vn/vn/websites/79/index.html"><img src="http://dangkywebsite.gov.vn/seals/cdRtWmJEUO0queDLWxyQGA==.jpgx" title="" alt=""></a>&nbsp;
                    </p>


                </div>
            </div>
        </div>

    </div>

    <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0pt; width: 0pt;"><div></div></div><div style="position: absolute; top: -10000px; height: 0pt; width: 0pt;"><div></div></div></div>

    <div style="display: none" class="inserted_tracking_container">

        <img class="finch-tracking" src="st-johns_files/experiment_002.gif" style="height: 1px; width: 1px;"><img src="st-johns_files/view.gif" class="tracking-pixel" style="height: 1px; width: 1px;"><img src="st-johns_files/view_002.gif" class="tracking-pixel" style="height: 1px; width: 1px;"><img class="finch-tracking" src="st-johns_files/experiment_004.gif" style="height: 1px; width: 1px;"><img class="finch-tracking" src="st-johns_files/experiment_003.gif" style="height: 1px; width: 1px;"><img height="1" width="1" src="st-johns_files/view_003.gif"/>
        <img height="0" width="0" style="display: none;" src="http://widget.criteo.com/pgi/display.js?resptype=gif&amp;t1=sendEvent&amp;p1=v%3D2%26pt1%3D3%26wi%3D7723917%26i1%3Dbulls-on-wall-street-12%26i2%3Dnail-secret%26i3%3Dheads-up-puzzle-llc-7">
        <img class="finch-tracking" src="st-johns_files/experiment.gif" style="height: 1px; width: 1px;"/>
</body>
</html>
