<html>
    <head>
        <meta name="keywords" content="<?= KEY_WORD ?>"/>
        <meta name="description" content="<?= DESCRIPTION ?>" >
        <meta name="ROBOTS" content="INDEX,FOLLOW"/>
        <meta name="resource-type" content="document"/>
        <meta name="author" content="<?= AUTHOR ?>"/>
        <meta name="copyright" content="<?= COPYRIGHT ?>"/>
        <meta name="distribution" content="Global">
        <meta name="googlebot" content="index,follow"/>
        <meta name="googlebot" content="ARCHIVE"/>
        <title><?= SITE_NAME ?></title>                      
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <?php  //var_dump($this->subcat);exit;
        if (isset($this->cssLinks))
            foreach ($this->cssLinks as $css)
                echo "<link href=\"" . $css . "\" rel=\"stylesheet\" type=\"text/css\"/>";
        if (isset($this->jsLinks))
            foreach ($this->jsLinks as $js)
                echo "<script type=\"text/javascript\" src=\"" . $js . "\" ></script>";
        ?>
        <link href='<?=STATIC_DOMAIN?>/css/boxy.css' rel='stylesheet' type='text/css'/>;
        
         <link href='<?=STATIC_DOMAIN?>/css/nivo-slider.css' rel='stylesheet' type='text/css'/>;
         <script type="text/javascript" src="<?=STATIC_DOMAIN?>/js/jquery.nivo.slider.js" ></script>";
        <script type="text/javascript" src="<?=STATIC_DOMAIN?>/js/jquery.boxy.js" ></script>";
        <script type="text/javascript">
            var baseUrl = "<?= BASE_URL ?>";
            var selprod = "<?=SEL_PRODUCT?>";
        </script>
    </head>
    <body>
        <div id="idFeedback" class="skin feedback">
            <!--like button-->
            <table style="width: 100px">
                    <tr>
                        <td>
                            <a href="<?=BASE_URL?>/support/huongdanmua"><span class="BUTTON_SUPPORT"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="javascript:void(0);" onclick="api.showBoxy(-1);"><span class="button_request"></span></a>
                        </td>
                    </tr>
                    <?php
                        if(ENABLE_LIKE_GOOGLE==true){
                    ?>
                    <tr>
                        <td>
                            <!-- Đặt thẻ này ở nơi bạn muốn nút +1 hiển thị -->
                            <g:plusone size="medium" ></g:plusone>

                            <!-- Đặt cuộc gọi hiển thị này ở nơi thích hợp -->
                            <script type="text/javascript">
                              window.___gcfg = {lang: 'vi'};

                              (function() {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                              })();
                            </script>
                        </td>
                      <tr/>
                      <?php
                      }
                      if(ENABLE_LIKE_FACEBOOK){
                      ?>
                      <tr>
                        <td>
                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>
                            <div class="fb-like" data-href="<?=BASE_URL?>" data-send="false" data-layout="button_count" data-width="30" data-show-faces="true" data-font="arial"></div>
                        </td>
                    </tr>
                    <?}?>
                </table>
            <!--end line button-->
        </div>
        <div id="peter">
            <div id="jessie">
                <div style="height: 74px;">
                    <div style="float: right; color: white;">
                        
                        <div style="float: right">
                            <a href="<?=BASE_URL?>/product/card" title="Xem giỏ hàng" style="color: white">
                                <img width="20px" height="20px" src="<?=STATIC_DOMAIN?>/images/cart.png"/>
                                Giỏ hàng có (<span id="sumcard">0</span>) sản phẩm
                            </a>
                        </div>
                        
                        <div class="boxlogin" style="font-weight: bold;font-size: 14px;padding-top: 2px">|</div>
                        
                        <div class="boxlogin">
                            <?php
                                $islogin=$this->islogin;
                                if($islogin==false){
                            ?>
                                <a href="javascript:void(0);" onclick="api.login();" >Đăng nhập</a> | <a href="<?=BASE_URL?>/auth/signin">Đăng ký</a>
                            <?}else{
                                $auth=$this->auth;
                                echo "Xin chào <a href='".BASE_URL."/product/history' title='' style='text-decoration:underline'>".  $auth['uname']."</a> | <a href='".BASE_URL."/auth/logout' title='Thoát'>Thoát</a>"; 
//                                echo "Xin chào <a href='".BASE_URL."/product/user' title='Click vào để biết thông tin' style='text-decoration:underline'>".  $auth['uname']."</a>"; 
                            }?>
                        </div>
                        
                    </div>
                    
                </div>
                <div style="height: 35px;">
                    <table cellspacing="0" cellpadding="0" align="right" height="35" style="padding-right: 10px;" valign="top">
                        <tbody>
                            <tr>
                                <td class="menu1" id ="menu1">
                                    <a href="<?=BASE_URL?>">Trang chủ</a>
                                </td>
                                <?php 
                                     $menu = Product_Business::getInstance()->getMenu();
                                     $bottom="";
                                     $menuitem=0;
                                     foreach($menu as $item){
                                         $subitems = $item["subitems"];
                                         echo 
                                         "<td height='35' width='2'>".
                                            "<img height='20' width='2' vertical-align='middle' src='".STATIC_DOMAIN."/images/line.jpg'/>".
                                         "</td>".
                                        "<td class='menu1' id='mnu_".$menuitem."'>".
                                            "<a href='".BASE_URL."/cat?id=".$item["id"]."&name=".urlencode($item["name"])."#bm' title='".$item["name"]."' >".$item["name"]."</a>";
                                            if(count($subitems)>0)
                                            {
                                                echo "<ul id='sub_".$menuitem."' class='main_nav' style='border:1px solid;border-top:none; width:255px;display: none;z-index:2147483647;position:absolute;margin-left:-10px'>";
                                                foreach($subitems as $it) {
                                                    echo "<li><a href='".BASE_URL."/product?cat=".$it["id"]."&name=".urlencode($it["name"])."'>".$it["name"]."</a></li>";
                                                }                                        
                                                echo "</ul>";
                                            }                                            
                                         echo "</td>";
                                         
                                         $bottom.= "<a href='".BASE_URL."/cat?id=".$item["id"]."&name=".urlencode($item["name"])."#bm'>".$item["name"]."</a><span>|</span>";
                                         $menuitem++;        
                                     }
                                ?>
                                
                                <td height="35" width="2">
                                    <img height="20" width="2" vertical-align="middle" src="<?=STATIC_DOMAIN?>/images/line.jpg"/>
                                </td>
                                <td class="menu1"id ="menu1"><a href="<?=BASE_URL?>/support/contact">Liên hệ</a></td>
                                <td width="1%"></td>

                                <td align="left" valign="middle">
                                    
                                    <input id="keyword"  type="text" style="padding-left: 3px; width: 190px;" value="Tìm kiếm..." onkeypress="api.keypresssearch(event)" />
                                        
                                    </td>
                                <td width="1%"></td>
                                <td><input onclick="api.search();" type="image" src="<?=STATIC_DOMAIN?>/images/tim.jpg" name="Submit"/></td>
                            </tr></tbody></table></div>
                <div style="height: 10px;"><!-- PETER --></div>

                <div id="box">
                    <table cellspacing="0" cellpadding="0" width="980" style="font-size: 11px">
                        <tbody><tr>
                                <td width="10"><!-- PETER --></td>
                                <td align="left" height="260" width="750" valign="top">
                                     <div id="slider">
            <?php
            $slide= Product_Business::getInstance()->getSlider(); //Util_Data::$slideshow;
            foreach($slide as $item){
            ?>
                <a href="<?=BASE_URL?>/product/detail?id=<?=$item["id"]."&cat=".$item["cat"]."&name=".$item["name"]?>">
                    <img src="<?=STATIC_DOMAIN?>/images/slider/<?=$item["image"]?>" alt="image_sld" title="<?=$item["desc"]?>" />
                </a>                       
           <?}?>


            
    </div><!--END #slider-->
     
                                </td>

                                <td width="10"><!-- PETER --></td>
                                <td align="center" height="260" width="160" valign="top" style="line-height: 150%;" class="support">
                                    <div id="support_ct">
            <div class="tt_support_center"><h2>Tư vấn - <span class="support_ct">Hỗ trợ</span></h2></div>
            <ul class="padding_support">
                <li class="padding_support">
                    <a href = 'ymsgr:sendim?<?=YAHOO1?>'>
                                                <img src="http://opi.yahoo.com/online?u=<?=YAHOO1?>&m=g&t=0" border=0 onerror="this.src='<?=STATIC_DOMAIN?>/images/<?=ON_ERROR_YAHOO1?>'" />
					 Hỗ trợ mua hàng </a>
                </li>
                <li class="padding_support">
                    <a href = 'ymsgr:sendim?<?=YAHOO2?>'>
                            <img src="http://opi.yahoo.com/online?u=<?=YAHOO2?>&m=g&t=0" border=0 onerror="this.src='<?=STATIC_DOMAIN?>/images/<?=ON_ERROR_YAHOO2?>'"/>
                                             Tư vấn chọn hàng </a>
                </li>
            </ul>
            
            <label>HOTLINE: <span><?= "0". Common::numberFormat(HOT_LINE)?></span></label>
            
           
            
        </div>
                                </td>
                                <td width="10"><!-- PETER --></td>
                            </tr>
                        </tbody></table>
                    <div style="height: 22px;"><!-- PETER --></div>
                    <table cellspacing="0" cellpadding="0" width="980" style="font-size: 12px">

                        <tbody>
                            <tr>			
                                <td width="210" valign="top">
                                    <div class="right">
                                        <div class="menu">SHOP CATEGORY<a name="bm"></a></div>
                                    </div>
                                    <div style="background-color: #ffffff" class="block_right">
                                        <ul style="padding: 10px">
                                            <?php if(isset ($this->supcat)){?>
                                            <li style="padding-bottom: 10px"><a href="javascript:void(0);" style="cursor: default" title="<?=$this->supcat["name"]?>" class="ct_center_sidebar"><?=$this->supcat["name"]?></a></li>
                                            <?php }//var_dump($this->supcat);exit;
                                            $subcat=$this->subcat;
                                            if(isset ($subcat)){
                                            foreach($subcat as $item){
                                            ?>
                                                <li style="padding-bottom: 10px;margin-left: 10px">
                                                    <a href="<?=BASE_URL?>/product?cat=<?=$item["id"]?>&name=<?=  urlencode($item["name"])?>#bm" title="<?=$item["name"]?>"><?=$item["name"]?></a>
                                                </li>
                                            <?php    
                                            }}
                                            $pk=Product_Business::getInstance()->getSubCat(ID_PHU_KIEN);
                                            if(count($pk)>0){
                                            ?>
                                                <li style="padding-bottom: 10px"><a href="javascript:void(0);" style="cursor: default" class="ct_center_sidebar">Phụ kiện</a></li>
                                              <?php 
                                            }
                                              foreach($pk as $item){
                                            ?>
                                                <li style="padding-bottom: 10px;margin-left: 10px">
                                                    <a href="<?=BASE_URL?>/product?cat=<?=$item["id"]?>&name=<?=  urlencode($item["name"])?>#bm" title="<?=$item["name"]?>"><?=$item["name"]?></a>
                                                </li>
                                            <?php    
                                            }
                                              ?>
                                              
                                                
                                            </ul>
                                        <div style="height:7px"><!-- PETER --></div>
                                    </div>
                                    <div style="height:9px"><!-- PETER --></div>
                                     <div class="right">
                                        <div class="menu">Thông tin hướng dẫn</div>
                                    </div>
                                    <div style="background-color: #ffffff" class="block_right">
                                        <ul style="padding: 10px">
                                            <li style="padding-bottom: 10px"><a href="<?=BASE_URL?>/support/huongdanmua#bm" title="Hướng dẫn mua hàng">Mua hàng</a></li>
                                              <li style="padding-bottom: 10px"><a href="<?=BASE_URL?>/support/topcauhoi#bm" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                                              <li style="padding-bottom: 10px"><a href="<?=BASE_URL?>/support/ptgiaonhan#bm" title="Phương thức giao nhận hàng">Giao nhận hàng</a></li>
                                              <li style="padding-bottom: 10px"><a href="<?=BASE_URL?>/support/ptthanhtoanatm#bm" title="Phương thức thanh toán ATM">Thanh toán ATM</a></li>
                                              <li style="padding-bottom: 10px"><a href="<?=BASE_URL?>/support/ptthanhtoancod#bm" title="Thanh toán trực tiếp">Thanh toán trực tiếp</a></li>
                                              <li style="padding-bottom: 10px"><a href="<?=BASE_URL?>/support/changeprod#bm" title="Đổi / Trả hàng">Đổi / Trả hàng</a></li>
                                            </ul>
                                        <div style="height:7px"><!-- PETER --></div>
                                    </div>
                                    
                                    <div style="height:9px"><!-- PETER --></div>
                                     <div class="right">
                                        <div class="menu">Câu hỏi thường gặp </div>
                                    </div>
                                    <div style="background-color: #ffffff" class="block_right">
                                        <ul style="padding: 10px">
                                              <li style="padding-bottom: 10px"><a href="<?=BASE_URL?>/support/topcauhoi#bm" title="Câu hỏi thường gặp">Mua hàng</a></li>
                                              <li style="padding-bottom: 10px"><a href="<?=BASE_URL?>/support/topthanhtoan#bm" title="Phương thức giao nhận hàng">Thanh toán</a></li>
                                              <li style="padding-bottom: 10px"><a href="<?=BASE_URL?>/support/topgiaonhan#bm" title="Phương thức thanh toán ATM">Giao nhận hàng</a></li>
                                              <li style="padding-bottom: 10px"><a href="<?=BASE_URL?>/support/tophuydoi#bm" title="Thanh toán trực tiếp">Hủy đổi hàng</a></li>
                                            </ul>
                                        <div style="height:7px"><!-- PETER --></div>
                                    </div>
                                    
                                </td>
                                
                                 <td width="10"><!-- PETER --></td>
                                
                                <td width="760" valign="top">                                    
                                    
                                    <?=$this->content?>                                    
                                    
                                </td>
                               
                                
                            </tr>
                            <tr height="10"><td height="10" width="100%" colspan="5"></td></tr>
                        </tbody></table> 
                </div>
            </div>

        </div>
        <div style="width: 100%; height: 10px; clear:both;"><!-- PETER --></div>
        <div id="bdh_ft">
            <div class="footer">
                <div class="footer_menu">
                    <a href="<?=BASE_URL?>">Trang chủ</a><span>|</span>
                    <?=$bottom?>
                    <a href="<?=BASE_URL?>/support/contact">Liên hệ</a>
                </div>
                <div class="copyright">
                    
                    <div style="margin:20px 0px; display:block">
                        <div class="address" style="text-align: left"> 
        <p>Copyright &copy; 2011 bởi <a  href="<?=SHOP_URL?>" title="<?=SHOP_NAME?>" target="_blank"><?=AUTHOR?></a>  <br/>
          Phát triển và lập trình bởi <a  href="<?=COMPANY_WEBSITE?>" title="<?=COMPANY_NAME?>" target="_blank"><?=COMPANY_NAME?></a> <br>
        </p>        
      </div>
                        <ul class="text" style="text-align: left;padding-right: 20px">
                            <p>Giới thiệu <a href="<?=SHOP_URL?>" title="<?=SHOP_NAME?>" target="_blank"> <?=SHOP_URL_SHORT?></a></p>
                        <li><a href="<?=BASE_URL?>/support/intro" title="Giới thiệu" title="Giới thiệu">Giới thiệu</a></li>
                        <li><a href="<?=BASE_URL?>/support/sitemap" title="Sitemap" >Sitemap</a></li>
                      </ul>
                      <ul class="text" style="text-align: left;padding-right: 20px;width: 145px">
                        <p> Hướng dẫn</p>
                        <li><a rel="nofollow" href="<?=BASE_URL?>/support/huongdanmua">Hướng dẫn mua hàng</a></li>
                        <li><a rel="nofollow" href="<?=BASE_URL?>/support/topcauhoi">Câu hỏi thường gặp</a></li>
                      </ul>
                      <ul class="text2" style="text-align: left;">
                        <p> Liên hệ</p>
                        <li class="icon-contact7">Hotline: <?=HOT_LINE?>  </li>
                        <li class="icon-contact2">Email: <a href="mailto:<?=SHOP_EMAIL?>" ><?=SHOP_EMAIL?></a></li>                
                      </ul>
                      </div>
                    
                </div>
               
            </div>
        </div>
        
        <div id="top_back" style="display: block;color: white;display: none">Đầu trang</div>
        <script type="text/javascript">
			var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-34552805-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
        api.showMenu(<?=$menuitem?>);
            $(window).load(function() {
                $('#slider').nivoSlider();
                api.sumcard();
                $("#keyword").click(function () {
                    this.focus();			
                }).focus(function () {
                    if (this.value == "Tìm kiếm...") {
                        this.value = "";
                    }
                }).blur(function () {
                    if (this.value == "") {
                        this.value = "Tìm kiếm...";
                }
            });
            

            // hide #back-top first
            //$("#top_back").hide();

            // fade in #back-top
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 100) {
                        $('#top_back').fadeIn();
                    } else {
                        $('#top_back').fadeOut();
                    }
                });

                // scroll body to 0px on click
                $('#top_back').click(function () {
                    $('body,html').animate({
                        scrollTop: 0
                    }, 800);
                    return false;
                });
            });


            
		});
        </script>
        
    </body>
</html>
