<html class="font" lang="vi">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <?php

$themes = $this->themes;
$theme = $themes[0];
$link = Product_Business::buildLinkDemoTheme($theme["name"], $theme["id"]);
//var_dump("<pre>",$theme,$link);exit;
         if (isset($this->cssLinks))
            foreach ($this->cssLinks as $css)
                echo "<link href=\"" . $css . "\" rel=\"stylesheet\" type=\"text/css\"/>";
         if (isset($this->jsLinks))
            foreach ($this->jsLinks as $js)
                echo "<script type=\"text/javascript\" src=\"" . $js . "\" ></script>";
         ?>
      <meta http-equiv="x-dns-prefetch-control" content="on">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
      <title>Demo cho webiste <?=$theme["name"]?> #<?=$theme["id"]?></title>
      <meta name="description" content="<?=$theme["short_desc"]?>">
      <meta property="og:url" content="<?=$link?>">
      <meta property="og:title" content="Demo cho webiste <?=$theme["name"]?> #<?=$theme["id"]?>">
      <meta property="og:description" content="<?=$theme["short_desc"]?>">
      <meta property="og:image" content="<?=IMAGE_URL?>/<?=$theme["image"]?>295x380.jpg">
      <meta property="og:type" content="product">
      <link rel="canonical" href="<?=$link?>"/>
   </head>
   <body>
      <div id="PlasmaPromotionWrapper-14"></div>
      <?=$this->content?>
      <div class="page" id="page"></div>
      <div class="selection_bubble_root" style="display: none;"></div>
      <div style="display: none; visibility: hidden;">
      </div>
   </body>
</html>