<html>
    <head>
        <meta name="keywords" content="<?= KEY_WORD ?>"/>
        <meta name="description" content="<?= DESCRIPTION ?>" >
        <meta name="ROBOTS" content="INDEX,FOLLOW"/>
        <meta name="resource-type" content="document"/>
        <meta name="author" content="<?= AUTHOR ?>"/>
        <meta name="copyright" content="<?= COPYRIGHT ?>"/>
        <meta name="distribution" content="Global">
        <meta name="googlebot" content="index,follow"/>
        <meta name="googlebot" content="ARCHIVE"/>
        <title><?= SITE_NAME ?></title>                      
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <?php
        if (isset($this->cssLinks))
            foreach ($this->cssLinks as $css)
                echo "<link href=\"" . $css . "\" rel=\"stylesheet\" type=\"text/css\"/>";
        if (isset($this->jsLinks))
            foreach ($this->jsLinks as $js)
                echo "<script type=\"text/javascript\" src=\"" . $js . "\" ></script>";
        ?>

        <script type="text/javascript">
            var baseUrl = "<?= BASE_URL ?>";
        </script>
    </head>
    <body>
        <div id="peter">
            <div id="jessie">
                <div style="height: 90px;"><!-- PETER --></div>
                <div style="height: 35px;">
                    <table cellspacing="0" cellpadding="0" align="right" height="35" style="padding-right: 10px;" valign="top">
                        <tbody>
                            <tr>
                                <td class="menu1">
                                    <a href="<?=BASE_URL?>">Trang chủ</a>
                                </td>
                                <?php 
                                     $cat=Product_Business::getInstance()->getCategories(1,1);
                                     $bottom="";
                                     foreach($cat as $item){
                                         echo 
                                         "<td height='35' width='2'>".
                                            "<img height='20' width='2' vertical-align='middle' src='".STATIC_DOMAIN."/images/line.jpg'/>".
                                         "</td>".
                                        "<td class='menu1'>".
                                            "<a href='".BASE_URL."/product?cat=".$item["id"]."&name=".$item["name"]."'>".$item["name"]."</a>".
                                        "</td>";
                                         
                                         $bottom.= "<a href='".BASE_URL."/product?cat=".$item["id"]."&name=".$item["name"]."'>".$item["name"]."</a><span>|</span>";
                                                 
                                     }
                                ?>
                                
                                <td height="35" width="2">
                                    <img height="20" width="2" vertical-align="middle" src="<?=STATIC_DOMAIN?>/images/line.jpg"/>
                                </td>
                                <td class="menu1"><a href="<?=BASE_URL?>/index/contact">Liên hệ</a></td>
                                <td width="1%"></td>

                                <td align="left" valign="middle">
                                    
                                    <input id="keyword"  type="text" style="padding-left: 3px; width: 130px;" value="Tìm kiếm..." onkeypress="api.keypresssearch(event)" />
                                        
                                    </td>
                                <td width="1%"></td>
                                <td><input onclick="api.search();" type="image" src="<?=STATIC_DOMAIN?>/images/tim.jpg" name="Submit"/></td>
                            </tr></tbody></table></div>
                <div style="height: 10px;"><!-- PETER --></div>

                <div id="box">
                    <table cellspacing="0" cellpadding="0" width="980" style="font-size: 11px">
                        <tbody><tr>
                                <td width="10"><!-- PETER --></td>
                                <td align="left" height="260" width="750" valign="top">
                                    <div id="banner_slide"><embed height="260" width="750" flashvars="file=index.php?nas=s&amp;width=750&amp;height=260&amp;shownavigation=false" wmode="transparent" allowfullscreen="false" quality="high" name="rotator" id="rotator" style="undefined" src="images/slide.swf" type="application/x-shockwave-flash"></div>
                                  
                                </td>

                                <td width="10"><!-- PETER --></td>
                                <td align="center" height="260" width="160" valign="top" style="line-height: 150%;" class="support">
                                    <div style="margin-top: 60px; color: #fe0000;"><p>
                                            
                                            <a href = 'ymsgr:sendim?<?=YAHOO1?>'>
                                                <img src="http://opi.yahoo.com/online?u=<?=YAHOO1?>&m=g&t=2" border=0 onerror="this.src='<?=STATIC_DOMAIN?>/images/<?=ON_ERROR_YAHOO1?>'" />
					</a>
                                            
                                    <br><b></b><br></p><p><br><br>
                                            
                                              <a href = 'ymsgr:sendim?<?=YAHOO2?>'>
	  					<img src="http://opi.yahoo.com/online?u=<?=YAHOO2?>&m=g&t=2" border=0 onerror="this.src='<?=STATIC_DOMAIN?>/images/<?=ON_ERROR_YAHOO2?>'"/>
                                            
                                            <br><b></b><br></p></div>
                                </td>
                                <td width="10"><!-- PETER --></td>
                            </tr>
                        </tbody></table>
                    <div style="height: 22px;"><!-- PETER --></div>
                    <table cellspacing="0" cellpadding="0" width="980" style="font-size: 12px">

                        <tbody>
                            <tr>			
                                <td width="760" valign="top">                                    
                                    
                                    <?=$this->content?>                                    
                                    
                                </td>
                            </tr>
                            <tr height="10">
                                <td height="10" width="100%" colspan="5"></td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>

        </div>
        <div id="bdh_ft">
            <div class="footer">
                <div class="footer_menu">
                    <a href="<?=BASE_URL?>">Trang chủ</a><span>|</span>
                    <?=$bottom?>
                    <a href="<?=BASE_URL?>/index/contact">Liên hệ</a>
                </div>
                <div class="copyright">
                    Bản quyền &copy; 2011 bởi <?=AUTHOR?>. Giữ toàn quyền<br>
                    Phát triển và lập trình bởi <a  href="<?=COMPANY_WEBSITE?>"><?=COMPANY_NAME?></a>
                </div>
            </div>
        </div>
   
        <script type="text/javascript">
            $("#keyword").click(function () {
                this.focus();			
            }).focus(function () {
                if (this.value == "Tìm kiếm...") {
                    this.value = "";
                }
            }).blur(function () {
                if (this.value == "") {
                    this.value = "Tìm kiếm...";
                }
		});
        </script>
        
    </body>
</html>
