<!DOCTYPE html>
<html lang="#" xmlns:fb="http://www.facebook.com/2008/fbml" style="display: block;"><head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <meta charset="utf-8">

        <title>LivingSocial</title>

        </head>

    <body class="external www external-www auth auth-login full-width">
        <div class="default-background" id="background-image"></div>



        <div id="background">
            <div class="stripe"></div>
            <div class="fader"></div>
        </div>
        
        <?=$this->content?>

        <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0pt; width: 0pt;"><div><iframe id="fb_xdm_frame_https" name="fb_xdm_frame_https" src="LivingSocial_files/xd_arbiter.html"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0pt; width: 0pt;"><div><iframe style="display: none;" id="f75fa710855748" name="f75fa710855748" src="LivingSocial_files/oauth.html"></iframe></div></div></div>











    </body></html>